<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1496},{214,282}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,196},{214,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,788},{234,294}}</string>
                <key>offset</key>
                <string>{13,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,184},{234,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,492},{242,312}}</string>
                <key>offset</key>
                <string>{16,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,166},{242,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,272},{244,312}}</string>
                <key>offset</key>
                <string>{19,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,166},{244,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{246,312}}</string>
                <key>offset</key>
                <string>{23,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,166},{246,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,246},{246,312}}</string>
                <key>offset</key>
                <string>{23,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,166},{246,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{246,316}}</string>
                <key>offset</key>
                <string>{24,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,163},{246,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,734},{246,306}}</string>
                <key>offset</key>
                <string>{24,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,173},{246,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1022},{246,290}}</string>
                <key>offset</key>
                <string>{24,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,189},{246,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1058},{246,282}}</string>
                <key>offset</key>
                <string>{24,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,197},{246,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1250},{246,282}}</string>
                <key>offset</key>
                <string>{23,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,197},{246,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1268},{246,282}}</string>
                <key>offset</key>
                <string>{24,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,197},{246,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1304},{246,282}}</string>
                <key>offset</key>
                <string>{23,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,197},{246,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1514},{244,280}}</string>
                <key>offset</key>
                <string>{23,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,198},{244,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1758},{268,274}}</string>
                <key>offset</key>
                <string>{11,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,204},{268,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,980},{290,270}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,208},{290,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{306,270}}</string>
                <key>offset</key>
                <string>{-10,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,208},{306,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{312,272}}</string>
                <key>offset</key>
                <string>{-14,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,207},{312,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{312,272}}</string>
                <key>offset</key>
                <string>{-19,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,207},{312,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,516},{308,272}}</string>
                <key>offset</key>
                <string>{-33,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,207},{308,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1550},{278,270}}</string>
                <key>offset</key>
                <string>{-56,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,209},{278,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{294,270}}</string>
                <key>offset</key>
                <string>{-57,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,208},{294,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1820},{206,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1758},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2974a8f4639a9be5f1d600f87d4aca6e:b141967cbb04f4f0c85c8c85caf738b6:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
