<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1476},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,326},{236,260}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,210},{236,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1254},{272,256}}</string>
                <key>offset</key>
                <string>{1,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,214},{272,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{306,248}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,220},{306,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,972},{306,230}}</string>
                <key>offset</key>
                <string>{-1,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,238},{306,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,946},{268,212}}</string>
                <key>offset</key>
                <string>{-1,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,256},{268,212}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,0},{220,202}}</string>
                <key>offset</key>
                <string>{0,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,265},{220,202}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1524},{178,198}}</string>
                <key>offset</key>
                <string>{0,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,268},{178,198}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1044},{176,198}}</string>
                <key>offset</key>
                <string>{0,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,268},{176,198}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1856},{178,214}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,253},{178,214}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1738},{200,262}}</string>
                <key>offset</key>
                <string>{0,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,225},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,666},{224,280}}</string>
                <key>offset</key>
                <string>{1,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,223},{224,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1582},{196,274}}</string>
                <key>offset</key>
                <string>{-3,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,229},{196,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1856},{180,158}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,205},{180,158}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1888},{190,158}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,191},{190,158}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1322},{202,172}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,166},{202,172}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,846},{242,210}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,127},{242,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1214},{262,218}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,117},{262,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,972},{282,210}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,112},{282,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1584},{304,154}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,116},{304,154}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1278},{306,148}}</string>
                <key>offset</key>
                <string>{0,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,118},{306,148}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1278},{304,154}}</string>
                <key>offset</key>
                <string>{1,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,119},{304,154}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{290,328}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,90},{290,328}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,338}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,100},{280,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{278,326}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,130},{278,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1526},{262,266}}</string>
                <key>offset</key>
                <string>{5,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,208},{262,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,326},{248,250}}</string>
                <key>offset</key>
                <string>{4,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,226},{248,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{234,244}}</string>
                <key>offset</key>
                <string>{4,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,231},{234,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,576},{218,236}}</string>
                <key>offset</key>
                <string>{2,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,238},{218,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1088},{214,234}}</string>
                <key>offset</key>
                <string>{1,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,239},{214,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,812},{210,232}}</string>
                <key>offset</key>
                <string>{1,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,239},{210,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,244},{206,230}}</string>
                <key>offset</key>
                <string>{1,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,238},{206,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,480},{206,232}}</string>
                <key>offset</key>
                <string>{1,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,236},{206,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,244},{206,236}}</string>
                <key>offset</key>
                <string>{1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,232},{206,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{206,250}}</string>
                <key>offset</key>
                <string>{1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,220},{206,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1792},{206,256}}</string>
                <key>offset</key>
                <string>{1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,214},{206,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,586},{208,260}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,211},{208,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:243470986ad4030dafdd6e3f8ab70df6:71341c10251f7a56908e6e45cf0ced01:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
