<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1346},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{222,268}}</string>
                <key>offset</key>
                <string>{2,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,204},{222,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1128},{252,278}}</string>
                <key>offset</key>
                <string>{5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,197},{252,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,868},{280,286}}</string>
                <key>offset</key>
                <string>{5,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,192},{280,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{286,290}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,189},{286,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{278,290}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,188},{278,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{266,288}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,189},{266,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,580},{238,286}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,188},{238,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,290},{224,284}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,188},{224,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{212,284}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,188},{212,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,0},{206,282}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1154},{206,282}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{206,282}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1718},{206,282}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1154},{206,282}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1430},{204,282}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,189},{204,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1712},{204,282}}</string>
                <key>offset</key>
                <string>{4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,189},{204,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1430},{204,282}}</string>
                <key>offset</key>
                <string>{4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,189},{204,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1148},{204,282}}</string>
                <key>offset</key>
                <string>{4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,189},{204,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,866},{206,282}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1436},{206,282}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1718},{206,282}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1148},{206,282}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{208,282}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,189},{208,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,866},{206,282}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,846},{204,282}}</string>
                <key>offset</key>
                <string>{-1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,189},{204,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,564},{206,282}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,189},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,282},{208,282}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,189},{208,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1712},{206,280}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,191},{206,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1430},{206,280}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,191},{206,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1710},{206,278}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,193},{206,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1406},{206,276}}</string>
                <key>offset</key>
                <string>{1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,195},{206,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1682},{206,272}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,199},{206,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,282},{206,270}}</string>
                <key>offset</key>
                <string>{1,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,201},{206,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,552},{206,266}}</string>
                <key>offset</key>
                <string>{1,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,205},{206,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1082},{206,264}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,207},{206,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,818},{208,264}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,207},{208,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,818},{208,264}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,207},{208,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:383a41fcb5e8203f06a9140502a7e31e:cb41a0df258306841941c961aacf8761:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
