<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1060},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1370},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1370},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1060},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1370},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1370},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1370},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1124},{246,264}}</string>
                <key>offset</key>
                <string>{-26,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,207},{246,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{250,266}}</string>
                <key>offset</key>
                <string>{-35,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,205},{250,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,212},{254,266}}</string>
                <key>offset</key>
                <string>{-43,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,205},{254,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{258,266}}</string>
                <key>offset</key>
                <string>{-47,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,205},{258,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,0},{218,266}}</string>
                <key>offset</key>
                <string>{-26,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,205},{218,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,938},{186,266}}</string>
                <key>offset</key>
                <string>{-8,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,205},{186,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,266},{214,264}}</string>
                <key>offset</key>
                <string>{-18,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,207},{214,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1198},{230,264}}</string>
                <key>offset</key>
                <string>{-23,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,207},{230,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{246,264}}</string>
                <key>offset</key>
                <string>{-22,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,207},{246,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{264,264}}</string>
                <key>offset</key>
                <string>{2,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,207},{264,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,950},{248,264}}</string>
                <key>offset</key>
                <string>{12,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,207},{248,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,478},{234,266}}</string>
                <key>offset</key>
                <string>{16,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,205},{234,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,708},{230,266}}</string>
                <key>offset</key>
                <string>{19,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,205},{230,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{230,266}}</string>
                <key>offset</key>
                <string>{22,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,205},{230,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,738},{212,266}}</string>
                <key>offset</key>
                <string>{16,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,205},{212,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{212,268}}</string>
                <key>offset</key>
                <string>{17,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,203},{212,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,268}}</string>
                <key>offset</key>
                <string>{25,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,203},{228,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,258},{246,266}}</string>
                <key>offset</key>
                <string>{33,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,205},{246,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,466},{242,266}}</string>
                <key>offset</key>
                <string>{29,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,205},{242,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,504},{234,266}}</string>
                <key>offset</key>
                <string>{21,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,205},{234,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,530},{226,266}}</string>
                <key>offset</key>
                <string>{14,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,205},{226,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,796},{208,264}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,207},{208,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1370},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1370},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1322},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f9b9baaa5e060a79e00f4cd3c84e1cc:797a025dcc1158342464c26f80847c1f:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
