<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1110},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,754},{210,264}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,207},{210,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,760},{210,264}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,207},{210,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{206,264}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,207},{206,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,964},{186,264}}</string>
                <key>offset</key>
                <string>{-1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,208},{186,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,454},{170,270}}</string>
                <key>offset</key>
                <string>{-1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,207},{170,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,604},{156,274}}</string>
                <key>offset</key>
                <string>{-3,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,206},{156,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,454},{150,276}}</string>
                <key>offset</key>
                <string>{-6,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,207},{150,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{150,276}}</string>
                <key>offset</key>
                <string>{-6,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,207},{150,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{150,274}}</string>
                <key>offset</key>
                <string>{-6,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,209},{150,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1150},{150,258}}</string>
                <key>offset</key>
                <string>{-6,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,226},{150,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1468},{148,252}}</string>
                <key>offset</key>
                <string>{-6,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,232},{148,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1616},{148,248}}</string>
                <key>offset</key>
                <string>{-6,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,236},{148,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,970},{150,264}}</string>
                <key>offset</key>
                <string>{-6,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,219},{150,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,454},{150,284}}</string>
                <key>offset</key>
                <string>{-6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,199},{150,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{150,302}}</string>
                <key>offset</key>
                <string>{-6,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,181},{150,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,0},{152,330}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,151},{152,330}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,336}}</string>
                <key>offset</key>
                <string>{-6,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,145},{152,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{152,334}}</string>
                <key>offset</key>
                <string>{-6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,147},{152,334}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{152,328}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,154},{152,328}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,152},{152,322}}</string>
                <key>offset</key>
                <string>{-6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,160},{152,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,152},{152,316}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,166},{152,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,304},{150,302}}</string>
                <key>offset</key>
                <string>{-6,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,181},{150,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,304},{150,294}}</string>
                <key>offset</key>
                <string>{-6,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,189},{150,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{150,286}}</string>
                <key>offset</key>
                <string>{-6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,197},{150,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,604},{150,270}}</string>
                <key>offset</key>
                <string>{-6,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,213},{150,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1318},{150,260}}</string>
                <key>offset</key>
                <string>{-6,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,224},{150,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1600},{148,248}}</string>
                <key>offset</key>
                <string>{-6,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,236},{148,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1452},{148,250}}</string>
                <key>offset</key>
                <string>{-6,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,233},{148,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1300},{152,256}}</string>
                <key>offset</key>
                <string>{-5,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,226},{152,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1328},{160,254}}</string>
                <key>offset</key>
                <string>{-2,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,226},{160,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1488},{186,248}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,225},{186,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1490},{198,248}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,224},{198,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,724},{204,250}}</string>
                <key>offset</key>
                <string>{1,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,222},{204,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1234},{210,256}}</string>
                <key>offset</key>
                <string>{1,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,215},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,974},{210,260}}</string>
                <key>offset</key>
                <string>{1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,211},{210,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1120},{208,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:593633d0cf8f5c5dea226b43929499b8:1a5c8e2370fa85f42966497897998482:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
