<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1090},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1392},{210,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,209},{210,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1712},{214,262}}</string>
                <key>offset</key>
                <string>{-1,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,208},{214,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,266},{232,258}}</string>
                <key>offset</key>
                <string>{-8,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,211},{232,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,0},{238,256}}</string>
                <key>offset</key>
                <string>{-11,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,212},{238,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1654},{240,254}}</string>
                <key>offset</key>
                <string>{-13,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,214},{240,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1352},{238,254}}</string>
                <key>offset</key>
                <string>{-14,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,215},{238,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1088},{238,254}}</string>
                <key>offset</key>
                <string>{-14,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,215},{238,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,538},{244,258}}</string>
                <key>offset</key>
                <string>{-14,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,210},{244,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1766},{282,268}}</string>
                <key>offset</key>
                <string>{-22,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,198},{282,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{288,270}}</string>
                <key>offset</key>
                <string>{-27,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,197},{288,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,296},{238,290}}</string>
                <key>offset</key>
                <string>{-28,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,197},{238,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,304}}</string>
                <key>offset</key>
                <string>{-25,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,199},{222,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{264,294}}</string>
                <key>offset</key>
                <string>{8,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,199},{264,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{296,300}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,199},{296,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{240,296}}</string>
                <key>offset</key>
                <string>{16,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,197},{240,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,604},{230,292}}</string>
                <key>offset</key>
                <string>{10,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,197},{230,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1764},{214,278}}</string>
                <key>offset</key>
                <string>{-13,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,197},{214,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1480},{226,284}}</string>
                <key>offset</key>
                <string>{-14,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,198},{226,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1194},{238,286}}</string>
                <key>offset</key>
                <string>{-20,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,199},{238,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{228,296}}</string>
                <key>offset</key>
                <string>{-10,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,197},{228,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1480},{196,286}}</string>
                <key>offset</key>
                <string>{10,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,199},{196,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1194},{194,278}}</string>
                <key>offset</key>
                <string>{12,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,198},{194,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1472},{186,276}}</string>
                <key>offset</key>
                <string>{9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,199},{186,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,586},{208,272}}</string>
                <key>offset</key>
                <string>{-22,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,199},{208,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,858},{210,270}}</string>
                <key>offset</key>
                <string>{-28,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,201},{210,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1440},{214,272}}</string>
                <key>offset</key>
                <string>{-27,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,199},{214,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1748},{216,272}}</string>
                <key>offset</key>
                <string>{-27,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,200},{216,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1168},{216,272}}</string>
                <key>offset</key>
                <string>{-26,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,200},{216,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,896},{218,272}}</string>
                <key>offset</key>
                <string>{-25,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,200},{218,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{234,270}}</string>
                <key>offset</key>
                <string>{-22,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,202},{234,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,288},{248,270}}</string>
                <key>offset</key>
                <string>{-19,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,202},{248,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,558},{258,268}}</string>
                <key>offset</key>
                <string>{-15,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,204},{258,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,270},{256,268}}</string>
                <key>offset</key>
                <string>{-7,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,205},{256,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,0},{244,266}}</string>
                <key>offset</key>
                <string>{-4,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,206},{244,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1128},{228,264}}</string>
                <key>offset</key>
                <string>{-1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,208},{228,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,826},{210,264}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,208},{210,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,826},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c678bda163e1ac07a9e5a267e52c8225:3258eeafcbae0980a97e706dc3778bb9:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
