<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1104},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,892},{212,262}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,208},{212,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1182},{222,258}}</string>
                <key>offset</key>
                <string>{3,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,210},{222,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1040},{224,242}}</string>
                <key>offset</key>
                <string>{2,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,221},{224,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,594},{204,230}}</string>
                <key>offset</key>
                <string>{-2,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,231},{204,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,824},{178,216}}</string>
                <key>offset</key>
                <string>{-5,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,243},{178,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,0},{148,194}}</string>
                <key>offset</key>
                <string>{-7,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,263},{148,194}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,194},{144,192}}</string>
                <key>offset</key>
                <string>{-6,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,264},{144,192}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,194},{144,192}}</string>
                <key>offset</key>
                <string>{-6,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,264},{144,192}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,876},{252,256}}</string>
                <key>offset</key>
                <string>{-11,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,217},{252,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,290},{316,300}}</string>
                <key>offset</key>
                <string>{3,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,202},{316,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,0},{314,300}}</string>
                <key>offset</key>
                <string>{3,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,203},{314,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,590},{310,302}}</string>
                <key>offset</key>
                <string>{2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,201},{310,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{304,302}}</string>
                <key>offset</key>
                <string>{1,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,201},{304,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,0},{298,302}}</string>
                <key>offset</key>
                <string>{1,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,201},{298,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,592},{294,300}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,202},{294,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,300},{298,300}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,202},{298,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,0},{302,300}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,202},{302,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,292},{314,300}}</string>
                <key>offset</key>
                <string>{2,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,203},{314,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{318,298}}</string>
                <key>offset</key>
                <string>{3,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,204},{318,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,582},{316,298}}</string>
                <key>offset</key>
                <string>{3,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,204},{316,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,300},{296,298}}</string>
                <key>offset</key>
                <string>{3,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,204},{296,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,594},{282,296}}</string>
                <key>offset</key>
                <string>{2,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,204},{282,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,596},{270,296}}</string>
                <key>offset</key>
                <string>{1,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,204},{270,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,866},{262,294}}</string>
                <key>offset</key>
                <string>{-1,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,204},{262,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,598},{278,294}}</string>
                <key>offset</key>
                <string>{1,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,204},{278,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,298},{302,296}}</string>
                <key>offset</key>
                <string>{2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,204},{302,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{318,292}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,204},{318,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{322,290}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,203},{322,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{328,284}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,203},{328,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,876},{274,270}}</string>
                <key>offset</key>
                <string>{1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,206},{274,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,886},{224,264}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,208},{224,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1104},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1104},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1104},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1104},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1104},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1104},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da67db1dd1c655143c65959f9e3f3927:a6218827d1d70bc9e4ae66527844e201:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
