<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,790},{218,264}}</string>
                <key>offset</key>
                <string>{7,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,207},{218,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{266,264}}</string>
                <key>offset</key>
                <string>{33,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,207},{266,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,530},{246,266}}</string>
                <key>offset</key>
                <string>{25,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,205},{246,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,782},{218,266}}</string>
                <key>offset</key>
                <string>{11,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,205},{218,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1000},{216,266}}</string>
                <key>offset</key>
                <string>{13,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,205},{216,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,776},{230,266}}</string>
                <key>offset</key>
                <string>{20,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,205},{230,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{252,266}}</string>
                <key>offset</key>
                <string>{31,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,205},{252,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{282,266}}</string>
                <key>offset</key>
                <string>{45,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,205},{282,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{272,266}}</string>
                <key>offset</key>
                <string>{41,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,205},{272,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,528},{254,266}}</string>
                <key>offset</key>
                <string>{29,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,205},{254,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1032},{212,264}}</string>
                <key>offset</key>
                <string>{7,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,207},{212,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1054},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,528},{222,262}}</string>
                <key>offset</key>
                <string>{-11,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,209},{222,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,0},{270,264}}</string>
                <key>offset</key>
                <string>{-38,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,207},{270,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1006},{234,264}}</string>
                <key>offset</key>
                <string>{-22,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,207},{234,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1216},{220,264}}</string>
                <key>offset</key>
                <string>{-15,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,207},{220,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,782},{250,264}}</string>
                <key>offset</key>
                <string>{-28,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,207},{250,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,264},{270,264}}</string>
                <key>offset</key>
                <string>{-37,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,207},{270,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,266},{266,264}}</string>
                <key>offset</key>
                <string>{-34,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,207},{266,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1240},{214,262}}</string>
                <key>offset</key>
                <string>{-4,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,209},{214,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1244},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1244},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1244},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1316},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1244},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1452},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1452},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1244},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1244},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1244},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ed3171a8c851933e63642e6bf2c9e0c:6f479f4b6f6d1443d433da2dc9258493:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
