<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{188,278}}</string>
                <key>offset</key>
                <string>{14,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,200},{188,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{190,280}}</string>
                <key>offset</key>
                <string>{15,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,198},{190,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggCrack0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df9bde220b0be522c6f76f01956b4b9a:e2d1015570857848e246ef4c424240a8:113fa1bacec080125b10efa84cd86d6b$</string>
            <key>textureFileName</key>
            <string>eggCrack0.png</string>
        </dict>
    </dict>
</plist>
