<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{194,280}}</string>
                <key>offset</key>
                <string>{14,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,198},{194,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggCrack1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:797fc250b27c097fafcc5da55d9d316f:64bf275fd072f8c1345d399170ecad97:247589ac5f015b9eccf612e6cee399ad$</string>
            <key>textureFileName</key>
            <string>eggCrack1.png</string>
        </dict>
    </dict>
</plist>
