<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{206,262}}</string>
                <key>offset</key>
                <string>{3,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,208},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{198,256}}</string>
                <key>offset</key>
                <string>{7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,210},{198,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{154,238}}</string>
                <key>offset</key>
                <string>{-2,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,220},{154,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,256},{146,226}}</string>
                <key>offset</key>
                <string>{-6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,229},{146,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,256},{146,220}}</string>
                <key>offset</key>
                <string>{-6,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,234},{146,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,482},{146,224}}</string>
                <key>offset</key>
                <string>{-6,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,231},{146,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,776},{146,228}}</string>
                <key>offset</key>
                <string>{-6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,228},{146,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,786},{146,234}}</string>
                <key>offset</key>
                <string>{-6,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,223},{146,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,778},{154,246}}</string>
                <key>offset</key>
                <string>{-9,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,215},{154,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,524},{162,252}}</string>
                <key>offset</key>
                <string>{-8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,211},{162,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,524},{172,254}}</string>
                <key>offset</key>
                <string>{-6,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,211},{172,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{194,260}}</string>
                <key>offset</key>
                <string>{-2,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,209},{194,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,262},{202,262}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,208},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{208,262}}</string>
                <key>offset</key>
                <string>{2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d829fca6c955113bd062ad288c6f0f:6c658d5e9ef10fb44e8296decaae1942:c1cf761d005800c04dbc6a7cacdce7d7$</string>
            <key>textureFileName</key>
            <string>exit.png</string>
        </dict>
    </dict>
</plist>
