<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,854},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1060},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1064},{208,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,852},{208,264}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,207},{208,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,800},{210,264}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,207},{210,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{210,264}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,208},{210,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,642},{210,266}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,206},{210,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,430},{212,266}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,206},{212,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{212,266}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,206},{212,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,216},{214,266}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,206},{214,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,216},{214,266}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,206},{214,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,268},{214,266}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,206},{214,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{216,268}}</string>
                <key>offset</key>
                <string>{1,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,204},{216,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{216,268}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,205},{216,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{216,268}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,205},{216,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{216,268}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,205},{216,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{216,268}}</string>
                <key>offset</key>
                <string>{1,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,204},{216,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,430},{214,266}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,206},{214,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,534},{212,266}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,206},{212,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,644},{210,264}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,208},{210,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{208,264}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,208},{208,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{208,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,854},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f486f9a89405220d9767a224a0c75f7d:f5ef2f1ae5368f8a14e95dad7d698786:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
