<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1732},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1676},{208,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1414},{210,262}}</string>
                <key>offset</key>
                <string>{3,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,209},{210,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1152},{212,262}}</string>
                <key>offset</key>
                <string>{7,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,209},{212,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,670},{218,262}}</string>
                <key>offset</key>
                <string>{19,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,209},{218,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,264},{222,264}}</string>
                <key>offset</key>
                <string>{25,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,207},{222,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{224,264}}</string>
                <key>offset</key>
                <string>{29,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,208},{224,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{224,264}}</string>
                <key>offset</key>
                <string>{33,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,208},{224,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{224,264}}</string>
                <key>offset</key>
                <string>{33,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,208},{224,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,0},{224,264}}</string>
                <key>offset</key>
                <string>{33,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,208},{224,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{224,264}}</string>
                <key>offset</key>
                <string>{32,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,208},{224,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,224},{224,264}}</string>
                <key>offset</key>
                <string>{31,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,208},{224,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,224},{224,264}}</string>
                <key>offset</key>
                <string>{30,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,207},{224,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{222,264}}</string>
                <key>offset</key>
                <string>{29,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,207},{222,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,448},{222,264}}</string>
                <key>offset</key>
                <string>{27,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,207},{222,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,448},{220,264}}</string>
                <key>offset</key>
                <string>{26,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,207},{220,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,528},{220,264}}</string>
                <key>offset</key>
                <string>{23,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,207},{220,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,792},{218,264}}</string>
                <key>offset</key>
                <string>{22,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,207},{218,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,668},{220,264}}</string>
                <key>offset</key>
                <string>{20,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,207},{220,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,670},{216,264}}</string>
                <key>offset</key>
                <string>{17,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,207},{216,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,886},{216,264}}</string>
                <key>offset</key>
                <string>{15,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,207},{216,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,888},{214,264}}</string>
                <key>offset</key>
                <string>{14,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,207},{214,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,888},{214,264}}</string>
                <key>offset</key>
                <string>{10,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,207},{214,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1056},{212,264}}</string>
                <key>offset</key>
                <string>{9,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,207},{212,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1102},{212,264}}</string>
                <key>offset</key>
                <string>{7,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,207},{212,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1102},{210,264}}</string>
                <key>offset</key>
                <string>{5,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,207},{210,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1312},{210,264}}</string>
                <key>offset</key>
                <string>{4,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,207},{210,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1314},{210,264}}</string>
                <key>offset</key>
                <string>{3,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,207},{210,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1320},{208,264}}</string>
                <key>offset</key>
                <string>{2,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,207},{208,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1522},{208,264}}</string>
                <key>offset</key>
                <string>{2,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,207},{208,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1524},{208,264}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,207},{208,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1528},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1730},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1732},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1730},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1732},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1732},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e94217602ee0f0fee25d2fff298882f:dbadc2e20465f2a5a51c15008a4e0688:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
