<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,410},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{208,262}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,416},{206,262}}</string>
                <key>offset</key>
                <string>{-7,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1228},{200,262}}</string>
                <key>offset</key>
                <string>{-18,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1228},{200,262}}</string>
                <key>offset</key>
                <string>{-20,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1230},{200,262}}</string>
                <key>offset</key>
                <string>{-21,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1310},{200,262}}</string>
                <key>offset</key>
                <string>{-22,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1572},{200,262}}</string>
                <key>offset</key>
                <string>{-22,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1834},{200,262}}</string>
                <key>offset</key>
                <string>{-22,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1428},{200,262}}</string>
                <key>offset</key>
                <string>{-23,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,824},{202,262}}</string>
                <key>offset</key>
                <string>{-24,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,209},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,786},{202,262}}</string>
                <key>offset</key>
                <string>{-24,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,209},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{202,264}}</string>
                <key>offset</key>
                <string>{-24,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,208},{202,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,826},{202,262}}</string>
                <key>offset</key>
                <string>{-24,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,209},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{202,264}}</string>
                <key>offset</key>
                <string>{-24,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,208},{202,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{202,262}}</string>
                <key>offset</key>
                <string>{-23,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,209},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1430},{200,262}}</string>
                <key>offset</key>
                <string>{-22,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1628},{200,262}}</string>
                <key>offset</key>
                <string>{-22,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1828},{200,262}}</string>
                <key>offset</key>
                <string>{-19,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1572},{200,262}}</string>
                <key>offset</key>
                <string>{-18,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1630},{200,262}}</string>
                <key>offset</key>
                <string>{-17,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,209},{200,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1026},{202,262}}</string>
                <key>offset</key>
                <string>{-15,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,209},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1028},{202,262}}</string>
                <key>offset</key>
                <string>{-13,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,209},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1048},{202,262}}</string>
                <key>offset</key>
                <string>{-12,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,209},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,622},{204,262}}</string>
                <key>offset</key>
                <string>{-9,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,209},{204,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,822},{204,262}}</string>
                <key>offset</key>
                <string>{-7,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,209},{204,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,616},{206,262}}</string>
                <key>offset</key>
                <string>{-6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{206,262}}</string>
                <key>offset</key>
                <string>{-3,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,524},{206,262}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{208,262}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{208,262}}</string>
                <key>offset</key>
                <string>{-1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,202},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,208},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,262},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,262},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,410},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,410},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0034bad6fc4dc73a4d773bea90867473:5b2ad9b516df64e702266f590227d82d:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
