<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{206,262}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,208},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,262},{206,262}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,208},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,262},{204,260}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,209},{204,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1572},{202,260}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,208},{202,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1048},{200,258}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,209},{200,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1832},{200,256}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,210},{200,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1822},{198,254}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,211},{198,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1562},{198,254}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,211},{198,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,524},{198,254}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,211},{198,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,522},{198,254}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,211},{198,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,786},{198,254}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,211},{198,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1040},{198,254}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,211},{198,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1310},{198,256}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,210},{198,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1566},{198,256}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,210},{198,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1306},{198,256}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,210},{198,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1562},{198,256}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,211},{198,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1818},{198,256}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,211},{198,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1306},{198,256}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,211},{198,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1048},{198,258}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,210},{198,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1570},{200,258}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,210},{200,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1828},{200,258}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,210},{200,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,262},{200,260}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,209},{200,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1310},{200,260}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,209},{200,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1310},{202,262}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,208},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1048},{202,262}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,208},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,786},{202,262}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,208},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1048},{204,262}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,208},{204,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,786},{204,262}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,208},{204,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,524},{204,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,209},{204,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{206,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,524},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,262},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,0},{206,262}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,209},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a92153d0cf03b0396f88ea9b236437b:4d3547278a25de9b2882811a26dc68b6:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
