<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{208,262}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{208,262}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,210},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{208,260}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,214},{208,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{208,256}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,221},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,208},{208,256}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,221},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,208},{208,256}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,221},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,256},{208,256}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,221},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,512},{208,256}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,221},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,768},{208,256}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,221},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{208,260}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,215},{208,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{208,260}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,213},{208,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Sausalito0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{208,262}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,210},{208,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a281ba0cf8761efc399afeeb39d85a:86250b41bbdd64b95bfef5d46c3fece6:36433d9218bc56245200a984765d893d$</string>
            <key>textureFileName</key>
            <string>reaction3.png</string>
        </dict>
    </dict>
</plist>
