<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>0</real>
	<key>angleVariance</key>
	<real>180.3699951171875</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>duration</key>
	<real>0.05000000074505806</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>0</real>
	<key>finishColorBlue</key>
	<real>0.3499999940395355</real>
	<key>finishColorGreen</key>
	<real>0.7099999785423279</real>
	<key>finishColorRed</key>
	<real>0.5899999737739563</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>1</real>
	<key>finishColorVarianceGreen</key>
	<real>1</real>
	<key>finishColorVarianceRed</key>
	<real>1</real>
	<key>finishParticleSize</key>
	<real>0</real>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>0</real>
	<key>gravityy</key>
	<real>-65.37999725341797</real>
	<key>maxParticles</key>
	<real>600</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>1.5</real>
	<key>particleLifespanVariance</key>
	<real>0.4359000027179718</real>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<real>-181.5399932861328</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>7</real>
	<key>sourcePositionVariancey</key>
	<real>7</real>
	<key>sourcePositionx</key>
	<real>150.7299957275391</real>
	<key>sourcePositiony</key>
	<real>199.9299926757812</real>
	<key>speed</key>
	<real>215.4600067138672</real>
	<key>speedVariance</key>
	<real>77.97000122070312</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.699999988079071</real>
	<key>startColorGreen</key>
	<real>0.8999999761581421</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0.3499999940395355</real>
	<key>startColorVarianceGreen</key>
	<real>0.05000000074505806</real>
	<key>startColorVarianceRed</key>
	<real>0.449999988079071</real>
	<key>startParticleSize</key>
	<integer>100</integer>
	<key>startParticleSizeVariance</key>
	<integer>20</integer>
	<key>tangentialAccelVariance</key>
	<integer>120</integer>
	<key>tangentialAcceleration</key>
	<integer>0</integer>
	<key>textureFileName</key>
	<string>fireworkTexture.png</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAA+sM8HPn5ZLiYmBg4PX0cAkC0h4gzMEGJEPfbnYHUozFQe5ODOvOybxkYGDS8nRxDKlgfHvDV9slUOZ4YfjE9k8RXnJhb3JENbUVs2/e+KCW88Q24maEd+SNGxWMYhETl+RMeXNlQquI5P36uRffmn0qeG852XJ/8P53M62fz6v+P//dXGNjXt4soQkNLCoKjJweDkzYmA+0G4t27nFJ219l/+rvgS8Tq4v8pBYfWxFmo/F7yaWw1b2dZfJap0Ult+9Nvi2l67GrQOGX58mDS8xfvyy8+E3Q0mP1kl/+X34vat14iDHCszHkdZ4rZ4uL8Ey1/qshQb/jXupP2HYhwPOEcFAC9/PZCpf1JufUB3+Rfqx/wtCy8PZrFc9TX/aavHdYUFL4NPtIwDFPY81NtgY3NQ23+G6Q655z57e4YfnBbSH+ExcVnlk0+8zEb4sKcz4p9O7WULQ+En6bL6jj/GSFZPkT7XIt32Zc/j35weVnxXlcmerqrEqSO/qPf/s8q7lcY8X0GNGGkiMy+yMZm6//ei4cdMNg4/3I+tzpMhmrF38Pm5w+/eqzaaeeFYeUi2UdXcU5oVnzKcOmpbYeq1UvZPRxNdvEldX+F9Xoss5QOS4rwhowz10nakH5u1XOm14k1d6enntW5/PXn7IntJZa/M795qP1tu0cm+Qprxt23+/x3i6RPtG3dvb1EEuPuBN6MxXv/3ublHwnwvpYn+xq6Qk5iiLXHas2/a7/datPda697PpCAhEFYRZx1jBkrn53TMPH9howCTF4uvq5rHNKaAIAr9Cw6XACAAA=</string>
</dict>
</plist>
