<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1640},{274,344}}</string>
                <key>offset</key>
                <string>{38,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,326},{274,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1762},{280,354}}</string>
                <key>offset</key>
                <string>{38,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,318},{280,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1350},{290,362}}</string>
                <key>offset</key>
                <string>{35,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,312},{290,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1032},{304,372}}</string>
                <key>offset</key>
                <string>{32,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,303},{304,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1032},{318,382}}</string>
                <key>offset</key>
                <string>{29,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,295},{318,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,700},{332,390}}</string>
                <key>offset</key>
                <string>{26,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,287},{332,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,356},{344,398}}</string>
                <key>offset</key>
                <string>{23,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,279},{344,398}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,0},{356,408}}</string>
                <key>offset</key>
                <string>{20,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,269},{356,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1308},{356,414}}</string>
                <key>offset</key>
                <string>{20,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,263},{356,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,0},{356,422}}</string>
                <key>offset</key>
                <string>{20,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,255},{356,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,432},{354,428}}</string>
                <key>offset</key>
                <string>{20,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,249},{354,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,442},{354,434}}</string>
                <key>offset</key>
                <string>{20,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,243},{354,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,890},{354,438}}</string>
                <key>offset</key>
                <string>{20,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,239},{354,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1338},{354,444}}</string>
                <key>offset</key>
                <string>{20,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,233},{354,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{354,446}}</string>
                <key>offset</key>
                <string>{20,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,231},{354,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,892},{354,446}}</string>
                <key>offset</key>
                <string>{20,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,231},{354,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,446},{354,444}}</string>
                <key>offset</key>
                <string>{20,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,233},{354,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,876},{366,432}}</string>
                <key>offset</key>
                <string>{12,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,246},{366,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{396,432}}</string>
                <key>offset</key>
                <string>{-5,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,244},{396,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1328},{410,434}}</string>
                <key>offset</key>
                <string>{-25,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,241},{410,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{384,442}}</string>
                <key>offset</key>
                <string>{-58,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,239},{384,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{374,446}}</string>
                <key>offset</key>
                <string>{-53,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,237},{374,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1762},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,860},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e027224ee1826358b71bb732ffdbfb60:3de548652f4350a98c00dfeebcde6fc5:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
