<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2216},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2144},{280,412}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,235},{280,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2330},{286,410}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,236},{286,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{298,424}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,221},{298,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,458},{314,438}}</string>
                <key>offset</key>
                <string>{-9,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,207},{314,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{322,438}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,207},{322,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,226},{330,438}}</string>
                <key>offset</key>
                <string>{-11,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,209},{330,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,216},{336,438}}</string>
                <key>offset</key>
                <string>{-12,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,212},{336,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,552},{340,436}}</string>
                <key>offset</key>
                <string>{-12,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,214},{340,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,562},{346,430}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,219},{346,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1202},{358,416}}</string>
                <key>offset</key>
                <string>{-12,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,229},{358,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,1600},{356,416}}</string>
                <key>offset</key>
                <string>{-13,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,229},{356,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1184},{352,416}}</string>
                <key>offset</key>
                <string>{-14,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,229},{352,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,864},{338,426}}</string>
                <key>offset</key>
                <string>{-9,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,229},{338,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,452}}</string>
                <key>offset</key>
                <string>{1,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,225},{240,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{226,446}}</string>
                <key>offset</key>
                <string>{17,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,222},{226,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,892},{306,420}}</string>
                <key>offset</key>
                <string>{18,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,223},{306,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1422},{278,418}}</string>
                <key>offset</key>
                <string>{-26,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,224},{278,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,0},{216,434}}</string>
                <key>offset</key>
                <string>{-20,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,226},{216,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,0},{194,444}}</string>
                <key>offset</key>
                <string>{-18,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,226},{194,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{216,444}}</string>
                <key>offset</key>
                <string>{-21,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,227},{216,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,194},{264,440}}</string>
                <key>offset</key>
                <string>{-17,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,227},{264,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,556},{308,432}}</string>
                <key>offset</key>
                <string>{-6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,228},{308,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,772},{334,420}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,230},{334,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{346,416}}</string>
                <key>offset</key>
                <string>{9,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,229},{346,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1552},{342,416}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,230},{342,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1506},{328,416}}</string>
                <key>offset</key>
                <string>{8,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,231},{328,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1106},{316,418}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,232},{316,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1198},{308,418}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,231},{308,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1834},{310,416}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,231},{310,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2018},{312,414}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,232},{312,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2016},{314,414}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,232},{314,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1560},{318,416}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,231},{318,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1700},{318,416}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,231},{318,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1894},{334,414}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,233},{334,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1878},{338,414}}</string>
                <key>offset</key>
                <string>{8,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,232},{338,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,772},{298,412}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,234},{298,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2228},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c762e581cf74937ed8713652a3c613d:37746fe8e62c3a451968dffa0a6d18c2:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
