<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,624},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,622},{284,416}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,232},{284,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,346},{280,418}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,229},{280,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,344},{278,422}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,224},{278,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,344},{280,422}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,223},{280,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,0},{304,422}}</string>
                <key>offset</key>
                <string>{-14,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,223},{304,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,0},{346,422}}</string>
                <key>offset</key>
                <string>{-27,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,224},{346,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,808},{342,414}}</string>
                <key>offset</key>
                <string>{-10,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,234},{342,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,906},{324,400}}</string>
                <key>offset</key>
                <string>{20,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,249},{324,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1216},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,970},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1230},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1498},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1558},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,0},{344,428}}</string>
                <key>offset</key>
                <string>{36,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,221},{344,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{348,450}}</string>
                <key>offset</key>
                <string>{44,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,207},{348,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{344,440}}</string>
                <key>offset</key>
                <string>{42,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,210},{344,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,626},{344,414}}</string>
                <key>offset</key>
                <string>{28,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,235},{344,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1222},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1312},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1572},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1840},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1900},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1564},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1654},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1914},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2182},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2242},{342,394}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,255},{342,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,422},{334,386}}</string>
                <key>offset</key>
                <string>{18,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,262},{334,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1996},{316,372}}</string>
                <key>offset</key>
                <string>{18,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,274},{316,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2524},{304,364}}</string>
                <key>offset</key>
                <string>{18,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,281},{304,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2256},{312,368}}</string>
                <key>offset</key>
                <string>{10,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,277},{312,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1906},{322,382}}</string>
                <key>offset</key>
                <string>{-6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,263},{322,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1180},{318,396}}</string>
                <key>offset</key>
                <string>{-17,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,249},{318,396}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{304,406}}</string>
                <key>offset</key>
                <string>{-14,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,239},{304,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{286,412}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,234},{286,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,902},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2872d6c3625d9bc335b221d6588c074c:7e8078877417255a6b5aa58a90d8d859:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
