<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,840},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1114},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,422}}</string>
                <key>offset</key>
                <string>{21,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,230},{292,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,556},{272,414}}</string>
                <key>offset</key>
                <string>{19,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,233},{272,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1958},{260,408}}</string>
                <key>offset</key>
                <string>{19,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,237},{260,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{292,422}}</string>
                <key>offset</key>
                <string>{22,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,230},{292,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,274},{278,416}}</string>
                <key>offset</key>
                <string>{21,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,232},{278,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1972},{260,408}}</string>
                <key>offset</key>
                <string>{19,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,237},{260,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1118},{276,412}}</string>
                <key>offset</key>
                <string>{20,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,234},{276,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,258},{298,420}}</string>
                <key>offset</key>
                <string>{21,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,230},{298,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,412},{310,414}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,231},{310,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1438},{270,412}}</string>
                <key>offset</key>
                <string>{-13,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,234},{270,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1708},{264,412}}</string>
                <key>offset</key>
                <string>{-28,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,238},{264,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,0},{258,422}}</string>
                <key>offset</key>
                <string>{-35,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,239},{258,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{274,422}}</string>
                <key>offset</key>
                <string>{-37,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,240},{274,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{274,416}}</string>
                <key>offset</key>
                <string>{-38,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,244},{274,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1938},{262,408}}</string>
                <key>offset</key>
                <string>{-36,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,249},{262,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1234},{252,400}}</string>
                <key>offset</key>
                <string>{-36,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,255},{252,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,292},{264,416}}</string>
                <key>offset</key>
                <string>{-37,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,242},{264,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1486},{274,404}}</string>
                <key>offset</key>
                <string>{-38,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,256},{274,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1890},{264,406}}</string>
                <key>offset</key>
                <string>{-37,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,252},{264,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1934},{252,410}}</string>
                <key>offset</key>
                <string>{-36,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,245},{252,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{284,412}}</string>
                <key>offset</key>
                <string>{-37,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,242},{284,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,826},{290,408}}</string>
                <key>offset</key>
                <string>{-25,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,239},{290,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1394},{270,412}}</string>
                <key>offset</key>
                <string>{-13,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,234},{270,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1664},{270,412}}</string>
                <key>offset</key>
                <string>{-13,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,234},{270,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,556},{284,412}}</string>
                <key>offset</key>
                <string>{-18,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,234},{284,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,566},{310,412}}</string>
                <key>offset</key>
                <string>{-26,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,234},{310,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,0},{324,412}}</string>
                <key>offset</key>
                <string>{-30,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,234},{324,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,828},{310,412}}</string>
                <key>offset</key>
                <string>{-26,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,234},{310,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,830},{284,412}}</string>
                <key>offset</key>
                <string>{-18,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,234},{284,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1668},{270,412}}</string>
                <key>offset</key>
                <string>{-13,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,234},{270,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1688},{270,412}}</string>
                <key>offset</key>
                <string>{-12,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,234},{270,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1416},{272,412}}</string>
                <key>offset</key>
                <string>{-9,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,234},{272,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1392},{276,412}}</string>
                <key>offset</key>
                <string>{-7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,235},{276,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,552},{278,414}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,233},{278,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1138},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3124ce1fb67a87b64e95960ee9ec343d:7b2fb40284f68a26d9d70ea61bb25cd2:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
