<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1548},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2230},{324,406}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,237},{324,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2590},{388,376}}</string>
                <key>offset</key>
                <string>{-9,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,265},{388,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2684},{384,358}}</string>
                <key>offset</key>
                <string>{-9,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,281},{384,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2402},{394,390}}</string>
                <key>offset</key>
                <string>{-10,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,252},{394,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1090},{410,470}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,181},{410,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{408,544}}</string>
                <key>offset</key>
                <string>{-10,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,148},{408,544}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,0},{388,540}}</string>
                <key>offset</key>
                <string>{-10,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,152},{388,540}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,0},{370,534}}</string>
                <key>offset</key>
                <string>{-11,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,158},{370,534}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,370},{362,526}}</string>
                <key>offset</key>
                <string>{-14,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,165},{362,526}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,388},{358,520}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,170},{358,520}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,408},{356,512}}</string>
                <key>offset</key>
                <string>{-14,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,177},{356,512}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,732},{350,504}}</string>
                <key>offset</key>
                <string>{-14,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,183},{350,504}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,746},{344,496}}</string>
                <key>offset</key>
                <string>{-14,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,190},{344,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{336,490}}</string>
                <key>offset</key>
                <string>{-13,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,195},{336,490}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1082},{332,482}}</string>
                <key>offset</key>
                <string>{-14,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,202},{332,482}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,908},{326,474}}</string>
                <key>offset</key>
                <string>{-13,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,208},{326,474}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1100},{320,468}}</string>
                <key>offset</key>
                <string>{-13,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,213},{320,468}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1420},{318,462}}</string>
                <key>offset</key>
                <string>{-11,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,218},{318,462}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1234},{314,456}}</string>
                <key>offset</key>
                <string>{-9,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,222},{314,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1414},{312,450}}</string>
                <key>offset</key>
                <string>{-8,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,227},{312,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1500},{308,442}}</string>
                <key>offset</key>
                <string>{-6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,233},{308,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,602},{306,434}}</string>
                <key>offset</key>
                <string>{-6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,239},{306,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,0},{304,428}}</string>
                <key>offset</key>
                <string>{-6,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,243},{304,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,304},{298,418}}</string>
                <key>offset</key>
                <string>{-5,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,249},{298,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2296},{294,408}}</string>
                <key>offset</key>
                <string>{-6,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,255},{294,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2382},{302,404}}</string>
                <key>offset</key>
                <string>{-6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,253},{302,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1826},{312,404}}</string>
                <key>offset</key>
                <string>{-6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,245},{312,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2284},{306,404}}</string>
                <key>offset</key>
                <string>{-6,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,244},{306,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2590},{302,404}}</string>
                <key>offset</key>
                <string>{-6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,242},{302,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2086},{296,408}}</string>
                <key>offset</key>
                <string>{-6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,239},{296,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2112},{290,408}}</string>
                <key>offset</key>
                <string>{-6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,239},{290,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1826},{286,410}}</string>
                <key>offset</key>
                <string>{-6,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,236},{286,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2004},{280,410}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,236},{280,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1738},{280,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,234},{280,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1726},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1808},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2018},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b102b3465db04f7e7edeef66da17f47:e6fee297dff8ad285fd1e02df89b66ff:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
