<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,664},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,668},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{316,414}}</string>
                <key>offset</key>
                <string>{6,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,233},{316,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,0},{364,410}}</string>
                <key>offset</key>
                <string>{17,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,236},{364,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,410},{340,406}}</string>
                <key>offset</key>
                <string>{20,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,240},{340,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1800},{310,406}}</string>
                <key>offset</key>
                <string>{36,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,240},{310,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1226},{300,402}}</string>
                <key>offset</key>
                <string>{42,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,244},{300,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2110},{300,404}}</string>
                <key>offset</key>
                <string>{41,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,242},{300,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1806},{308,406}}</string>
                <key>offset</key>
                <string>{37,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,240},{308,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1842},{308,406}}</string>
                <key>offset</key>
                <string>{35,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,240},{308,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,1934},{304,406}}</string>
                <key>offset</key>
                <string>{38,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,240},{304,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2114},{296,404}}</string>
                <key>offset</key>
                <string>{42,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,242},{296,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2080},{302,406}}</string>
                <key>offset</key>
                <string>{39,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,240},{302,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1526},{310,408}}</string>
                <key>offset</key>
                <string>{34,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,238},{310,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1532},{310,408}}</string>
                <key>offset</key>
                <string>{31,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,238},{310,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1224},{308,410}}</string>
                <key>offset</key>
                <string>{31,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,237},{308,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1780},{300,408}}</string>
                <key>offset</key>
                <string>{34,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,238},{300,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1508},{298,410}}</string>
                <key>offset</key>
                <string>{34,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,237},{298,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1498},{302,410}}</string>
                <key>offset</key>
                <string>{31,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,237},{302,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1472},{308,410}}</string>
                <key>offset</key>
                <string>{27,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,237},{308,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,816},{312,410}}</string>
                <key>offset</key>
                <string>{25,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,237},{312,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,358},{310,412}}</string>
                <key>offset</key>
                <string>{29,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,235},{310,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,316},{312,412}}</string>
                <key>offset</key>
                <string>{37,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,235},{312,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{328,412}}</string>
                <key>offset</key>
                <string>{36,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,235},{328,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,316},{348,412}}</string>
                <key>offset</key>
                <string>{25,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,234},{348,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,0},{358,412}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,234},{358,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{346,414}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,232},{346,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,0},{316,414}}</string>
                <key>offset</key>
                <string>{-7,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,232},{316,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,628},{288,412}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,234},{288,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,916},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,942},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,952},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,946},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1194},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1220},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1230},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed56495b88f48b0f419a74b05574f5ff:240f541417fd49e180b7fa6b280fa519:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
