<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2304},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2252},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,0},{290,400}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,245},{290,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2750},{358,382}}</string>
                <key>offset</key>
                <string>{-6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,264},{358,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2582},{368,380}}</string>
                <key>offset</key>
                <string>{-2,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,275},{368,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2582},{334,380}}</string>
                <key>offset</key>
                <string>{4,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,280},{334,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2378},{372,384}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,271},{372,384}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2530},{370,394}}</string>
                <key>offset</key>
                <string>{-7,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,251},{370,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1586},{290,422}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,220},{290,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1390},{266,460}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,179},{266,460}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1406},{260,496}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,141},{260,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1350},{378,514}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,122},{378,514}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1326},{260,518}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,118},{260,518}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1088},{318,522}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,114},{318,522}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,950},{376,526}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,112},{376,526}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1030},{320,526}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,111},{320,526}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{268,532}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,106},{268,532}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,688},{342,536}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,104},{342,536}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{422,540}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,102},{422,540}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,316},{372,546}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,98},{372,546}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{316,548}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,99},{316,548}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{398,548}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,101},{398,548}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,0},{482,546}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,104},{482,546}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,482},{468,538}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,114},{468,538}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,290},{394,518}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,134},{394,518}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1666},{314,480}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,170},{314,480}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1114},{276,444}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,205},{276,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1728},{282,422}}</string>
                <key>offset</key>
                <string>{-6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,225},{282,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1980},{312,418}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,229},{312,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1656},{310,418}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,228},{310,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,808},{306,416}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,230},{306,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1876},{302,416}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,230},{302,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2010},{294,416}}</string>
                <key>offset</key>
                <string>{-6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,230},{294,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2292},{290,416}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,231},{290,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1966},{286,414}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,233},{286,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1966},{280,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,234},{280,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2178},{280,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,234},{280,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2458},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6915699d23c8554f08f25b10b3c89e1:a7ce05813a814276d2153b56c1e4e580:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
