<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,322},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{278,412}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1868},{284,406}}</string>
                <key>offset</key>
                <string>{-14,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,240},{284,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,810},{290,402}}</string>
                <key>offset</key>
                <string>{-21,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,246},{290,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1742},{288,406}}</string>
                <key>offset</key>
                <string>{-21,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,244},{288,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1822},{298,408}}</string>
                <key>offset</key>
                <string>{-26,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,242},{298,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1200},{310,410}}</string>
                <key>offset</key>
                <string>{-31,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,240},{310,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,864},{320,410}}</string>
                <key>offset</key>
                <string>{-34,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,239},{320,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,872},{328,410}}</string>
                <key>offset</key>
                <string>{-36,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,239},{328,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,600},{330,410}}</string>
                <key>offset</key>
                <string>{-34,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,237},{330,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,594},{328,410}}</string>
                <key>offset</key>
                <string>{-31,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,236},{328,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{322,412}}</string>
                <key>offset</key>
                <string>{-26,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,234},{322,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,930},{316,410}}</string>
                <key>offset</key>
                <string>{-19,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,236},{316,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1184},{306,410}}</string>
                <key>offset</key>
                <string>{-4,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,236},{306,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1558},{304,408}}</string>
                <key>offset</key>
                <string>{10,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,238},{304,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1246},{312,408}}</string>
                <key>offset</key>
                <string>{19,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,239},{312,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1800},{324,406}}</string>
                <key>offset</key>
                <string>{27,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,240},{324,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2182},{334,404}}</string>
                <key>offset</key>
                <string>{32,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,242},{334,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,406},{336,404}}</string>
                <key>offset</key>
                <string>{35,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,243},{336,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2124},{336,404}}</string>
                <key>offset</key>
                <string>{36,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,243},{336,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,0},{336,406}}</string>
                <key>offset</key>
                <string>{35,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,241},{336,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1100},{332,406}}</string>
                <key>offset</key>
                <string>{33,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,241},{332,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1540},{328,406}}</string>
                <key>offset</key>
                <string>{30,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,241},{328,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1862},{320,406}}</string>
                <key>offset</key>
                <string>{26,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,241},{320,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2120},{314,406}}</string>
                <key>offset</key>
                <string>{22,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,240},{314,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1510},{312,408}}</string>
                <key>offset</key>
                <string>{20,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,239},{312,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1230},{310,408}}</string>
                <key>offset</key>
                <string>{19,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,239},{310,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1432},{310,408}}</string>
                <key>offset</key>
                <string>{18,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,239},{310,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1490},{310,408}}</string>
                <key>offset</key>
                <string>{17,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,238},{310,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,922},{308,410}}</string>
                <key>offset</key>
                <string>{16,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,239},{308,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{306,412}}</string>
                <key>offset</key>
                <string>{15,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,237},{306,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,0},{304,412}}</string>
                <key>offset</key>
                <string>{13,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,237},{304,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,0},{300,412}}</string>
                <key>offset</key>
                <string>{10,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,235},{300,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,300},{294,412}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,235},{294,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{288,414}}</string>
                <key>offset</key>
                <string>{1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,233},{288,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,304},{282,412}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{282,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,586},{278,412}}</string>
                <key>offset</key>
                <string>{-4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b659bc3c5108b2dffb101f5e01fdba5d:adac4a0726184285f27b2b0df5136f28:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
