<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{272,338}}</string>
                <key>offset</key>
                <string>{37,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,331},{272,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggCrack1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2d4982ef4d9bc24cb1235863152888e:afa318d7c699e119258fff16132050ba:247589ac5f015b9eccf612e6cee399ad$</string>
            <key>textureFileName</key>
            <string>eggCrack1.png</string>
        </dict>
    </dict>
</plist>
