<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,824},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,840},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,842},{278,412}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,233},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,282},{280,412}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,233},{280,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,412},{280,412}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,233},{280,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,560},{280,412}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,233},{280,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,0},{282,412}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,233},{282,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1664},{284,414}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,232},{284,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,832},{284,416}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,230},{284,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{286,416}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,231},{286,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{286,418}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,229},{286,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,836},{288,416}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,230},{288,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1252},{288,416}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,230},{288,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1668},{288,416}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,230},{288,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{286,418}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,229},{286,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,416},{286,416}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,230},{286,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1248},{284,416}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,231},{284,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,0},{282,416}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,231},{282,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,0},{280,414}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,232},{280,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,280},{280,414}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,232},{280,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,562},{280,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,234},{280,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1118},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1120},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d62c1c593f5177b2650be2d13b6004ad:a816757c66708e9dffb402833b12ef94:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
