<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,0},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1726},{278,414}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,231},{278,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1738},{278,416}}</string>
                <key>offset</key>
                <string>{-7,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,228},{278,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,0},{272,420}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,225},{272,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,842},{256,426}}</string>
                <key>offset</key>
                <string>{-13,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,224},{256,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{226,436}}</string>
                <key>offset</key>
                <string>{-9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,224},{226,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{212,442}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,225},{212,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{210,442}}</string>
                <key>offset</key>
                <string>{7,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,229},{210,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,884},{210,440}}</string>
                <key>offset</key>
                <string>{17,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,234},{210,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{212,436}}</string>
                <key>offset</key>
                <string>{28,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,241},{212,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1304},{214,432}}</string>
                <key>offset</key>
                <string>{37,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,249},{214,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1268},{218,428}}</string>
                <key>offset</key>
                <string>{42,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,255},{218,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1268},{220,426}}</string>
                <key>offset</key>
                <string>{44,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,258},{220,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,412},{220,428}}</string>
                <key>offset</key>
                <string>{44,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,256},{220,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,866},{220,430}}</string>
                <key>offset</key>
                <string>{44,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,254},{220,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1296},{218,430}}</string>
                <key>offset</key>
                <string>{44,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,254},{218,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,870},{216,434}}</string>
                <key>offset</key>
                <string>{44,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,250},{216,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,436},{216,436}}</string>
                <key>offset</key>
                <string>{43,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,248},{216,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1324},{216,438}}</string>
                <key>offset</key>
                <string>{43,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,246},{216,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1326},{214,440}}</string>
                <key>offset</key>
                <string>{43,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,244},{214,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{214,442}}</string>
                <key>offset</key>
                <string>{43,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,242},{214,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,442},{216,438}}</string>
                <key>offset</key>
                <string>{43,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,246},{216,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1304},{218,434}}</string>
                <key>offset</key>
                <string>{43,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,250},{218,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,412},{218,430}}</string>
                <key>offset</key>
                <string>{44,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,254},{218,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,852},{220,426}}</string>
                <key>offset</key>
                <string>{44,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,258},{220,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,632},{220,428}}</string>
                <key>offset</key>
                <string>{43,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,258},{220,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,0},{226,432}}</string>
                <key>offset</key>
                <string>{44,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,257},{226,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,436},{228,434}}</string>
                <key>offset</key>
                <string>{43,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,256},{228,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,880},{226,436}}</string>
                <key>offset</key>
                <string>{42,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,254},{226,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{226,434}}</string>
                <key>offset</key>
                <string>{41,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,255},{226,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1316},{222,434}}</string>
                <key>offset</key>
                <string>{39,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,254},{222,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,870},{220,434}}</string>
                <key>offset</key>
                <string>{32,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,252},{220,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,434},{232,432}}</string>
                <key>offset</key>
                <string>{10,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,246},{232,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,420},{260,422}}</string>
                <key>offset</key>
                <string>{-11,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,242},{260,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1762},{284,414}}</string>
                <key>offset</key>
                <string>{-8,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,237},{284,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1766},{282,412}}</string>
                <key>offset</key>
                <string>{-6,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,235},{282,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,0},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:692bc2d7cf5fcdb674a944c9d3dbcfee:61a9c11515735b6a197f59dcdfb793a7:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
