<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2248},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1970},{278,414}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,231},{278,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1968},{282,418}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,227},{282,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1684},{286,420}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,224},{286,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,978},{292,420}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,225},{292,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1382},{298,426}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,224},{298,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1380},{304,432}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,225},{304,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{304,438}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,226},{304,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,276},{296,440}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,232},{296,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,548},{288,438}}</string>
                <key>offset</key>
                <string>{11,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,239},{288,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,832},{278,436}}</string>
                <key>offset</key>
                <string>{15,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,247},{278,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,852},{272,434}}</string>
                <key>offset</key>
                <string>{17,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,253},{272,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1108},{272,434}}</string>
                <key>offset</key>
                <string>{16,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,254},{272,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1116},{272,434}}</string>
                <key>offset</key>
                <string>{16,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,254},{272,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,836},{272,436}}</string>
                <key>offset</key>
                <string>{16,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,252},{272,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,572},{272,438}}</string>
                <key>offset</key>
                <string>{16,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,250},{272,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{272,442}}</string>
                <key>offset</key>
                <string>{17,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,246},{272,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,274},{274,444}}</string>
                <key>offset</key>
                <string>{16,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,244},{274,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{274,446}}</string>
                <key>offset</key>
                <string>{16,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,242},{274,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{276,448}}</string>
                <key>offset</key>
                <string>{15,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,240},{276,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{276,448}}</string>
                <key>offset</key>
                <string>{15,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,240},{276,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,0},{274,446}}</string>
                <key>offset</key>
                <string>{16,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,242},{274,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,274},{274,442}}</string>
                <key>offset</key>
                <string>{16,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,246},{274,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,844},{272,436}}</string>
                <key>offset</key>
                <string>{17,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,252},{272,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1124},{272,434}}</string>
                <key>offset</key>
                <string>{16,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,254},{272,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1110},{272,434}}</string>
                <key>offset</key>
                <string>{12,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,255},{272,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,548},{284,436}}</string>
                <key>offset</key>
                <string>{-2,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,253},{284,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1388},{290,432}}</string>
                <key>offset</key>
                <string>{-10,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,253},{290,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1678},{290,430}}</string>
                <key>offset</key>
                <string>{-10,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,253},{290,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,548},{292,430}}</string>
                <key>offset</key>
                <string>{-11,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,252},{292,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1396},{294,430}}</string>
                <key>offset</key>
                <string>{-11,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,250},{294,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1690},{300,426}}</string>
                <key>offset</key>
                <string>{-11,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,250},{300,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1398},{304,424}}</string>
                <key>offset</key>
                <string>{-11,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,247},{304,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1680},{304,420}}</string>
                <key>offset</key>
                <string>{-10,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,243},{304,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1990},{298,414}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,240},{298,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1822},{288,412}}</string>
                <key>offset</key>
                <string>{-7,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,238},{288,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1984},{280,412}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,235},{280,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bfaa42048c1c2d2e8fdc0ad4dd9501e:78fe42685850b74cc413049a034cf3ec:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
