<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2458},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2106},{278,414}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,231},{278,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2150},{284,418}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,227},{284,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1818},{292,420}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,225},{292,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1068},{300,422}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,224},{300,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,362},{312,426}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,224},{312,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,0},{324,428}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,225},{324,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,362},{334,426}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,230},{334,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,724},{344,424}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,235},{344,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1798},{352,420}}</string>
                <key>offset</key>
                <string>{-13,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,241},{352,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,1268},{356,418}}</string>
                <key>offset</key>
                <string>{-20,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,249},{356,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1686},{358,420}}</string>
                <key>offset</key>
                <string>{-26,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,254},{358,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2100},{358,418}}</string>
                <key>offset</key>
                <string>{-28,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,257},{358,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2110},{360,418}}</string>
                <key>offset</key>
                <string>{-29,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,257},{360,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1438},{360,420}}</string>
                <key>offset</key>
                <string>{-29,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,255},{360,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1458},{360,420}}</string>
                <key>offset</key>
                <string>{-29,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,254},{360,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,362},{362,424}}</string>
                <key>offset</key>
                <string>{-30,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,250},{362,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{362,426}}</string>
                <key>offset</key>
                <string>{-30,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,248},{362,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,0},{362,428}}</string>
                <key>offset</key>
                <string>{-30,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,245},{362,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{362,432}}</string>
                <key>offset</key>
                <string>{-30,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,242},{362,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{362,430}}</string>
                <key>offset</key>
                <string>{-30,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,243},{362,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,0},{362,428}}</string>
                <key>offset</key>
                <string>{-30,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,245},{362,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,674},{360,424}}</string>
                <key>offset</key>
                <string>{-29,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,250},{360,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1740},{360,420}}</string>
                <key>offset</key>
                <string>{-29,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,255},{360,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2132},{358,418}}</string>
                <key>offset</key>
                <string>{-28,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,257},{358,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1772},{360,420}}</string>
                <key>offset</key>
                <string>{-29,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,256},{360,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1406},{366,420}}</string>
                <key>offset</key>
                <string>{-32,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,257},{366,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{372,422}}</string>
                <key>offset</key>
                <string>{-36,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,255},{372,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,696},{374,422}}</string>
                <key>offset</key>
                <string>{-37,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,255},{374,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1034},{372,422}}</string>
                <key>offset</key>
                <string>{-36,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,254},{372,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1368},{372,420}}</string>
                <key>offset</key>
                <string>{-36,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,255},{372,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1070},{368,422}}</string>
                <key>offset</key>
                <string>{-32,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,253},{368,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1096},{362,422}}</string>
                <key>offset</key>
                <string>{-26,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,251},{362,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,428},{346,422}}</string>
                <key>offset</key>
                <string>{-17,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,245},{346,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,850},{324,418}}</string>
                <key>offset</key>
                <string>{-9,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,241},{324,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2434},{302,416}}</string>
                <key>offset</key>
                <string>{-5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,237},{302,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2470},{284,414}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,234},{284,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2458},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc5db6f3fbdd9d7fc105ef66070a4b40:c3434769148eea3c317e55d81403d64a:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
