<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{278,412}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,234},{278,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{272,406}}</string>
                <key>offset</key>
                <string>{-4,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,238},{272,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1380},{274,402}}</string>
                <key>offset</key>
                <string>{-7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,242},{274,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,552},{276,402}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,242},{276,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,824},{276,402}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,242},{276,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,828},{276,402}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,242},{276,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1100},{276,402}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,242},{276,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1104},{276,402}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,242},{276,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1376},{276,402}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,242},{276,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1652},{276,402}}</string>
                <key>offset</key>
                <string>{-8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,241},{276,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,278},{274,406}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,237},{274,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>LeBlob0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{274,410}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,235},{274,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:845e3b34e2adc3ec33cc5d79d6c7fcf0:9084ec9c99fe5840da9a2614ac8d0ce4:27ef85eb9c95ff93a5a6326e38d271d1$</string>
            <key>textureFileName</key>
            <string>reaction2.png</string>
        </dict>
    </dict>
</plist>
