<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2032},{246,316}}</string>
                <key>offset</key>
                <string>{4,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,342},{246,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2020},{248,334}}</string>
                <key>offset</key>
                <string>{4,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,335},{248,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1740},{292,338}}</string>
                <key>offset</key>
                <string>{-4,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,335},{292,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1740},{362,348}}</string>
                <key>offset</key>
                <string>{10,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,329},{362,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1364},{386,374}}</string>
                <key>offset</key>
                <string>{17,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,323},{386,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1330},{396,424}}</string>
                <key>offset</key>
                <string>{13,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,312},{396,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1692},{418,448}}</string>
                <key>offset</key>
                <string>{17,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,302},{418,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1316},{424,458}}</string>
                <key>offset</key>
                <string>{18,-146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,292},{424,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,914},{416,464}}</string>
                <key>offset</key>
                <string>{12,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,286},{416,464}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1280},{412,468}}</string>
                <key>offset</key>
                <string>{20,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,282},{412,468}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,914},{402,470}}</string>
                <key>offset</key>
                <string>{29,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,280},{402,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{460,470}}</string>
                <key>offset</key>
                <string>{-1,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,280},{460,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,0},{458,470}}</string>
                <key>offset</key>
                <string>{-3,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,280},{458,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,460},{454,470}}</string>
                <key>offset</key>
                <string>{-4,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,280},{454,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,912},{452,470}}</string>
                <key>offset</key>
                <string>{-6,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,280},{452,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{454,470}}</string>
                <key>offset</key>
                <string>{-5,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,280},{454,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,458},{454,470}}</string>
                <key>offset</key>
                <string>{-4,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,280},{454,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,458},{456,470}}</string>
                <key>offset</key>
                <string>{-5,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,280},{456,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,0},{458,470}}</string>
                <key>offset</key>
                <string>{-8,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,280},{458,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{462,470}}</string>
                <key>offset</key>
                <string>{-12,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,280},{462,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{364,470}}</string>
                <key>offset</key>
                <string>{32,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,279},{364,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1364},{306,376}}</string>
                <key>offset</key>
                <string>{-7,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,280},{306,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1726},{294,374}}</string>
                <key>offset</key>
                <string>{-16,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,280},{294,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1738},{302,368}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,280},{302,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f53a24e28b7c551422d56cdea897f284:e1ccbc4ea048e340bde8d6dbdc733e89:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
