<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,724},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1026},{306,368}}</string>
                <key>offset</key>
                <string>{-5,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,282},{306,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1332},{318,364}}</string>
                <key>offset</key>
                <string>{-5,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,286},{318,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1480},{338,362}}</string>
                <key>offset</key>
                <string>{-1,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,285},{338,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1246},{364,362}}</string>
                <key>offset</key>
                <string>{2,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,283},{364,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,610},{388,366}}</string>
                <key>offset</key>
                <string>{6,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,280},{388,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,0},{408,370}}</string>
                <key>offset</key>
                <string>{9,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,278},{408,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{422,374}}</string>
                <key>offset</key>
                <string>{10,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,276},{422,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{426,374}}</string>
                <key>offset</key>
                <string>{8,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,276},{426,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{418,372}}</string>
                <key>offset</key>
                <string>{2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,277},{418,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,374},{376,376}}</string>
                <key>offset</key>
                <string>{-4,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,276},{376,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,768},{322,388}}</string>
                <key>offset</key>
                <string>{20,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,277},{322,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,370},{240,400}}</string>
                <key>offset</key>
                <string>{59,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,277},{240,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,224},{298,372}}</string>
                <key>offset</key>
                <string>{42,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,278},{298,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,372},{396,352}}</string>
                <key>offset</key>
                <string>{-9,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,278},{396,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,522},{246,380}}</string>
                <key>offset</key>
                <string>{-53,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,277},{246,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{272,384}}</string>
                <key>offset</key>
                <string>{-19,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,276},{272,384}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1818},{200,346}}</string>
                <key>offset</key>
                <string>{48,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,279},{200,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1572},{170,352}}</string>
                <key>offset</key>
                <string>{-13,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,276},{170,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1700},{168,346}}</string>
                <key>offset</key>
                <string>{24,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,279},{168,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1742},{160,350}}</string>
                <key>offset</key>
                <string>{-11,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,277},{160,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1554},{146,352}}</string>
                <key>offset</key>
                <string>{6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,278},{146,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,1454},{178,348}}</string>
                <key>offset</key>
                <string>{30,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,281},{178,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1388},{166,352}}</string>
                <key>offset</key>
                <string>{-7,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,278},{166,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1608},{152,350}}</string>
                <key>offset</key>
                <string>{4,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,279},{152,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1090},{178,364}}</string>
                <key>offset</key>
                <string>{16,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,280},{178,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1700},{160,348}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,281},{160,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1354},{218,364}}</string>
                <key>offset</key>
                <string>{-37,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,278},{218,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,0},{224,374}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,279},{224,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{244,372}}</string>
                <key>offset</key>
                <string>{-20,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,279},{244,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,976},{270,370}}</string>
                <key>offset</key>
                <string>{-12,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,280},{270,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,890},{288,370}}</string>
                <key>offset</key>
                <string>{-6,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,279},{288,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1090},{298,368}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,279},{298,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1052},{302,368}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,279},{302,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1178},{302,368}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,279},{302,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,750},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,750},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,750},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39e34d9152c93b40f55b0272b8155d6:d64d4e8be1c24219108334e3c819e425:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
