<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1504},{300,368}}</string>
                <key>offset</key>
                <string>{-51,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,279},{300,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1112},{314,364}}</string>
                <key>offset</key>
                <string>{-62,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,269},{314,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,738},{312,364}}</string>
                <key>offset</key>
                <string>{-53,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,270},{312,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1476},{304,362}}</string>
                <key>offset</key>
                <string>{-42,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,272},{304,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,458},{278,360}}</string>
                <key>offset</key>
                <string>{-33,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,274},{278,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,0},{246,366}}</string>
                <key>offset</key>
                <string>{-25,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,275},{246,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1504},{222,370}}</string>
                <key>offset</key>
                <string>{-12,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,277},{222,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,758},{282,374}}</string>
                <key>offset</key>
                <string>{-21,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,274},{282,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,374},{310,370}}</string>
                <key>offset</key>
                <string>{-37,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,275},{310,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{246,378}}</string>
                <key>offset</key>
                <string>{11,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,281},{246,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1534},{198,374}}</string>
                <key>offset</key>
                <string>{27,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,280},{198,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,380},{200,378}}</string>
                <key>offset</key>
                <string>{29,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,281},{200,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{190,388}}</string>
                <key>offset</key>
                <string>{24,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,281},{190,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,392}}</string>
                <key>offset</key>
                <string>{20,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,282},{184,392}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{190,380}}</string>
                <key>offset</key>
                <string>{23,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,281},{190,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,238},{220,364}}</string>
                <key>offset</key>
                <string>{38,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,281},{220,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1476},{210,364}}</string>
                <key>offset</key>
                <string>{34,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,282},{210,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,370},{194,368}}</string>
                <key>offset</key>
                <string>{25,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,281},{194,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,752},{194,372}}</string>
                <key>offset</key>
                <string>{26,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,281},{194,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1158},{194,376}}</string>
                <key>offset</key>
                <string>{26,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,279},{194,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{188,378}}</string>
                <key>offset</key>
                <string>{26,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,278},{188,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1158},{186,378}}</string>
                <key>offset</key>
                <string>{20,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,276},{186,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1536},{204,376}}</string>
                <key>offset</key>
                <string>{0,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,274},{204,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{216,374}}</string>
                <key>offset</key>
                <string>{-19,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,271},{216,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,744},{226,368}}</string>
                <key>offset</key>
                <string>{-36,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,270},{226,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,0},{238,364}}</string>
                <key>offset</key>
                <string>{-43,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,269},{238,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,730},{244,362}}</string>
                <key>offset</key>
                <string>{-47,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,270},{244,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1102},{248,362}}</string>
                <key>offset</key>
                <string>{-49,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,270},{248,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,366},{250,364}}</string>
                <key>offset</key>
                <string>{-50,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,269},{250,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,458},{250,360}}</string>
                <key>offset</key>
                <string>{-49,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,273},{250,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1062},{250,356}}</string>
                <key>offset</key>
                <string>{-48,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,279},{250,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,818},{244,362}}</string>
                <key>offset</key>
                <string>{-45,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,279},{244,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,0},{238,364}}</string>
                <key>offset</key>
                <string>{-43,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,280},{238,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1124},{232,368}}</string>
                <key>offset</key>
                <string>{-41,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,279},{232,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,378},{238,374}}</string>
                <key>offset</key>
                <string>{-33,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,279},{238,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1132},{272,372}}</string>
                <key>offset</key>
                <string>{-14,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,280},{272,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a86cb6090fd47f9582ec375e4e77bb00:ab442eb6c610694f35588805efc1d121:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
