<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2036},{334,364}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,281},{334,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1800},{366,354}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,284},{366,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{384,344}}</string>
                <key>offset</key>
                <string>{-10,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,288},{384,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1146},{370,338}}</string>
                <key>offset</key>
                <string>{-29,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,294},{370,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2154},{334,358}}</string>
                <key>offset</key>
                <string>{-52,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,274},{334,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1810},{300,366}}</string>
                <key>offset</key>
                <string>{-68,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,266},{300,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1742},{294,368}}</string>
                <key>offset</key>
                <string>{-67,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,264},{294,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,344},{290,378}}</string>
                <key>offset</key>
                <string>{-30,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,254},{290,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,0},{278,380}}</string>
                <key>offset</key>
                <string>{62,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,252},{278,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1500},{286,370}}</string>
                <key>offset</key>
                <string>{91,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,262},{286,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,574},{280,378}}</string>
                <key>offset</key>
                <string>{82,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,255},{280,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{288,378}}</string>
                <key>offset</key>
                <string>{42,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,254},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,638},{298,376}}</string>
                <key>offset</key>
                <string>{-17,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,256},{298,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,856},{292,374}}</string>
                <key>offset</key>
                <string>{-58,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,258},{292,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1786},{294,368}}</string>
                <key>offset</key>
                <string>{-67,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,264},{294,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,0},{296,378}}</string>
                <key>offset</key>
                <string>{-33,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,254},{296,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,296},{282,378}}</string>
                <key>offset</key>
                <string>{59,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,253},{282,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1514},{286,370}}</string>
                <key>offset</key>
                <string>{91,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,262},{286,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,936},{284,374}}</string>
                <key>offset</key>
                <string>{88,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,258},{284,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,634},{278,378}}</string>
                <key>offset</key>
                <string>{80,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,255},{278,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,574},{282,378}}</string>
                <key>offset</key>
                <string>{59,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,253},{282,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,854},{292,376}}</string>
                <key>offset</key>
                <string>{29,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,256},{292,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,578},{296,376}}</string>
                <key>offset</key>
                <string>{-4,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,256},{296,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,278},{296,378}}</string>
                <key>offset</key>
                <string>{-33,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,254},{296,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,912},{292,374}}</string>
                <key>offset</key>
                <string>{-55,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,258},{292,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1450},{292,370}}</string>
                <key>offset</key>
                <string>{-65,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,262},{292,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1220},{294,370}}</string>
                <key>offset</key>
                <string>{-67,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,262},{294,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,280},{294,378}}</string>
                <key>offset</key>
                <string>{-34,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,254},{294,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{280,380}}</string>
                <key>offset</key>
                <string>{57,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,251},{280,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1222},{286,370}}</string>
                <key>offset</key>
                <string>{91,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,262},{286,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1204},{296,370}}</string>
                <key>offset</key>
                <string>{91,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,262},{296,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1484},{326,368}}</string>
                <key>offset</key>
                <string>{77,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,264},{326,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,874},{372,348}}</string>
                <key>offset</key>
                <string>{46,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,284},{372,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{388,350}}</string>
                <key>offset</key>
                <string>{18,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,285},{388,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2080},{360,360}}</string>
                <key>offset</key>
                <string>{3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,283},{360,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1508},{322,366}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,281},{322,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1148},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b576b5c62b7e64dfe336ceba8dc5d31b:e33347ed0a982fd147efa7a650c7bf43:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
