<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1014},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1038},{296,368}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,281},{296,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{272,366}}</string>
                <key>offset</key>
                <string>{3,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,283},{272,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1334},{232,364}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,285},{232,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1584},{198,360}}</string>
                <key>offset</key>
                <string>{5,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,289},{198,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1334},{182,356}}</string>
                <key>offset</key>
                <string>{2,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,293},{182,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,458},{170,352}}</string>
                <key>offset</key>
                <string>{0,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,298},{170,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1584},{162,350}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,300},{162,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1334},{160,346}}</string>
                <key>offset</key>
                <string>{1,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,304},{160,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1576},{158,342}}</string>
                <key>offset</key>
                <string>{2,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,308},{158,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1494},{156,340}}</string>
                <key>offset</key>
                <string>{2,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,310},{156,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,0},{156,338}}</string>
                <key>offset</key>
                <string>{2,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,312},{156,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1062},{162,350}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,300},{162,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1584},{204,368}}</string>
                <key>offset</key>
                <string>{17,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,278},{204,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,772},{266,386}}</string>
                <key>offset</key>
                <string>{27,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,262},{266,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,700},{362,390}}</string>
                <key>offset</key>
                <string>{20,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,256},{362,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,0},{418,382}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,254},{418,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{430,374}}</string>
                <key>offset</key>
                <string>{-9,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,252},{430,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{426,376}}</string>
                <key>offset</key>
                <string>{-13,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,250},{426,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{436,378}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,251},{436,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,374},{426,380}}</string>
                <key>offset</key>
                <string>{-13,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,251},{426,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{426,398}}</string>
                <key>offset</key>
                <string>{-9,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,252},{426,398}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,382},{390,402}}</string>
                <key>offset</key>
                <string>{8,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,254},{390,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,398},{302,400}}</string>
                <key>offset</key>
                <string>{25,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,258},{302,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,800},{214,384}}</string>
                <key>offset</key>
                <string>{26,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,266},{214,384}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1584},{164,360}}</string>
                <key>offset</key>
                <string>{9,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,287},{164,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,156},{150,336}}</string>
                <key>offset</key>
                <string>{4,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,314},{150,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,306},{152,322}}</string>
                <key>offset</key>
                <string>{4,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,328},{152,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1650},{156,318}}</string>
                <key>offset</key>
                <string>{4,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,334},{156,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1412},{160,340}}</string>
                <key>offset</key>
                <string>{5,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,309},{160,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1240},{160,342}}</string>
                <key>offset</key>
                <string>{6,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,307},{160,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1230},{162,346}}</string>
                <key>offset</key>
                <string>{8,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,303},{162,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1062},{168,348}}</string>
                <key>offset</key>
                <string>{11,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,301},{168,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,628},{172,350}}</string>
                <key>offset</key>
                <string>{11,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,299},{172,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1062},{178,356}}</string>
                <key>offset</key>
                <string>{3,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,294},{178,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{218,364}}</string>
                <key>offset</key>
                <string>{-7,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,286},{218,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1316},{268,368}}</string>
                <key>offset</key>
                <string>{-8,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,282},{268,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1014},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa4d617d770752d7f64be83fe007f13:c44a6e072f4b72df6bfbd786182af162:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
