<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{278,366}}</string>
                <key>offset</key>
                <string>{-5,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,284},{278,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1464},{246,362}}</string>
                <key>offset</key>
                <string>{-3,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,292},{246,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1464},{212,356}}</string>
                <key>offset</key>
                <string>{-1,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,302},{212,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{182,348}}</string>
                <key>offset</key>
                <string>{2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,309},{182,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,692},{166,342}}</string>
                <key>offset</key>
                <string>{4,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,312},{166,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,342},{156,336}}</string>
                <key>offset</key>
                <string>{5,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,314},{156,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1358},{148,332}}</string>
                <key>offset</key>
                <string>{6,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,314},{148,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,0},{146,330}}</string>
                <key>offset</key>
                <string>{4,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,314},{146,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1720},{146,328}}</string>
                <key>offset</key>
                <string>{3,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,314},{146,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,334},{148,332}}</string>
                <key>offset</key>
                <string>{5,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,313},{148,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{162,342}}</string>
                <key>offset</key>
                <string>{5,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,310},{162,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1084},{220,346}}</string>
                <key>offset</key>
                <string>{6,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,309},{220,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{250,346}}</string>
                <key>offset</key>
                <string>{2,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,312},{250,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1430},{234,344}}</string>
                <key>offset</key>
                <string>{-3,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,314},{234,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,688},{192,336}}</string>
                <key>offset</key>
                <string>{-6,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,318},{192,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{162,334}}</string>
                <key>offset</key>
                <string>{5,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,318},{162,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,666},{158,330}}</string>
                <key>offset</key>
                <string>{6,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,317},{158,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,332},{150,330}}</string>
                <key>offset</key>
                <string>{4,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,314},{150,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,0},{146,332}}</string>
                <key>offset</key>
                <string>{1,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,312},{146,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1024},{146,334}}</string>
                <key>offset</key>
                <string>{1,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,310},{146,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1034},{150,338}}</string>
                <key>offset</key>
                <string>{1,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,311},{150,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,346},{166,342}}</string>
                <key>offset</key>
                <string>{5,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,311},{166,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,346},{196,346}}</string>
                <key>offset</key>
                <string>{16,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,310},{196,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,370},{232,348}}</string>
                <key>offset</key>
                <string>{15,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,309},{232,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,736},{248,348}}</string>
                <key>offset</key>
                <string>{12,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,310},{248,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1820},{228,348}}</string>
                <key>offset</key>
                <string>{10,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,309},{228,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,692},{174,344}}</string>
                <key>offset</key>
                <string>{8,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,310},{174,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1380},{156,340}}</string>
                <key>offset</key>
                <string>{7,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,310},{156,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1706},{150,334}}</string>
                <key>offset</key>
                <string>{7,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,310},{150,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1706},{152,334}}</string>
                <key>offset</key>
                <string>{9,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,311},{152,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1372},{156,334}}</string>
                <key>offset</key>
                <string>{9,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,311},{156,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1036},{162,344}}</string>
                <key>offset</key>
                <string>{6,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,307},{162,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1102},{182,352}}</string>
                <key>offset</key>
                <string>{2,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,304},{182,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1826},{222,356}}</string>
                <key>offset</key>
                <string>{0,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,301},{222,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1102},{262,362}}</string>
                <key>offset</key>
                <string>{-2,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,292},{262,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{292,366}}</string>
                <key>offset</key>
                <string>{-4,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,284},{292,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a08cca6529561d024c0badc867eb692:4445a9a77c6976045da03b7ef2094430:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
