<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{306,364}}</string>
                <key>offset</key>
                <string>{11,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,282},{306,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,996},{304,356}}</string>
                <key>offset</key>
                <string>{45,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,288},{304,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1660},{310,346}}</string>
                <key>offset</key>
                <string>{65,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,294},{310,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1970},{312,340}}</string>
                <key>offset</key>
                <string>{72,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,300},{312,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2058},{306,340}}</string>
                <key>offset</key>
                <string>{73,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,301},{306,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1706},{314,340}}</string>
                <key>offset</key>
                <string>{69,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,300},{314,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1724},{334,344}}</string>
                <key>offset</key>
                <string>{60,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,292},{334,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1374},{350,350}}</string>
                <key>offset</key>
                <string>{53,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,284},{350,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,350},{354,352}}</string>
                <key>offset</key>
                <string>{51,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,280},{354,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,0},{358,350}}</string>
                <key>offset</key>
                <string>{51,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,283},{358,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,0},{362,350}}</string>
                <key>offset</key>
                <string>{35,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,285},{362,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1030},{344,354}}</string>
                <key>offset</key>
                <string>{-6,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,291},{344,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1362},{298,352}}</string>
                <key>offset</key>
                <string>{-57,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,297},{298,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2020},{296,338}}</string>
                <key>offset</key>
                <string>{-72,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,302},{296,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2282},{292,338}}</string>
                <key>offset</key>
                <string>{-72,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,303},{292,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2286},{302,340}}</string>
                <key>offset</key>
                <string>{-67,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,299},{302,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1644},{322,350}}</string>
                <key>offset</key>
                <string>{-59,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,285},{322,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1054},{336,352}}</string>
                <key>offset</key>
                <string>{-53,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,280},{336,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1300},{344,352}}</string>
                <key>offset</key>
                <string>{-51,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,281},{344,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1044},{338,352}}</string>
                <key>offset</key>
                <string>{-39,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,285},{338,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,702},{342,352}}</string>
                <key>offset</key>
                <string>{10,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,293},{342,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1390},{316,346}}</string>
                <key>offset</key>
                <string>{62,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,298},{316,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1728},{312,338}}</string>
                <key>offset</key>
                <string>{72,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,303},{312,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2364},{306,336}}</string>
                <key>offset</key>
                <string>{72,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,305},{306,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1966},{320,340}}</string>
                <key>offset</key>
                <string>{66,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,299},{320,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,1382},{346,348}}</string>
                <key>offset</key>
                <string>{54,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,287},{346,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,702},{354,352}}</string>
                <key>offset</key>
                <string>{51,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,280},{354,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1010},{354,352}}</string>
                <key>offset</key>
                <string>{52,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,280},{354,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,350},{356,352}}</string>
                <key>offset</key>
                <string>{52,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,280},{356,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,658},{356,352}}</string>
                <key>offset</key>
                <string>{52,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,280},{356,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,678},{356,352}}</string>
                <key>offset</key>
                <string>{48,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,280},{356,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{358,352}}</string>
                <key>offset</key>
                <string>{40,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,280},{358,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,306},{360,352}}</string>
                <key>offset</key>
                <string>{30,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,280},{360,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,324},{354,358}}</string>
                <key>offset</key>
                <string>{21,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,281},{354,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{342,364}}</string>
                <key>offset</key>
                <string>{10,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,280},{342,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{324,366}}</string>
                <key>offset</key>
                <string>{2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,280},{324,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eea250f5c0206d8c3a912a421339dcd:88760369b8eab0b4b9c3d2ee2e8ae07a:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
