<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1666},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,392},{304,366}}</string>
                <key>offset</key>
                <string>{-7,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,283},{304,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1174},{300,360}}</string>
                <key>offset</key>
                <string>{-14,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,290},{300,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,758},{284,352}}</string>
                <key>offset</key>
                <string>{-16,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,299},{284,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,364},{258,346}}</string>
                <key>offset</key>
                <string>{-15,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,306},{258,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,344},{238,342}}</string>
                <key>offset</key>
                <string>{-16,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,310},{238,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,0},{236,344}}</string>
                <key>offset</key>
                <string>{-25,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,306},{236,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1174},{232,364}}</string>
                <key>offset</key>
                <string>{-26,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,284},{232,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,834},{210,404}}</string>
                <key>offset</key>
                <string>{-16,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,241},{210,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{196,420}}</string>
                <key>offset</key>
                <string>{-7,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,224},{196,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1236},{218,390}}</string>
                <key>offset</key>
                <string>{-20,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,255},{218,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,0},{232,340}}</string>
                <key>offset</key>
                <string>{-23,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,307},{232,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,230},{222,336}}</string>
                <key>offset</key>
                <string>{-14,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,312},{222,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1534},{222,334}}</string>
                <key>offset</key>
                <string>{-12,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,313},{222,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1110},{224,332}}</string>
                <key>offset</key>
                <string>{-12,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,314},{224,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,0},{230,336}}</string>
                <key>offset</key>
                <string>{-19,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,309},{230,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{216,392}}</string>
                <key>offset</key>
                <string>{-13,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,251},{216,392}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,420}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,222},{200,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{202,414}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,227},{202,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,414},{206,394}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,247},{206,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1538},{206,364}}</string>
                <key>offset</key>
                <string>{-3,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,276},{206,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,686},{202,332}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,309},{202,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,452},{200,330}}</string>
                <key>offset</key>
                <string>{7,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,314},{200,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,452},{200,330}}</string>
                <key>offset</key>
                <string>{12,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,315},{200,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,782},{200,330}}</string>
                <key>offset</key>
                <string>{16,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,316},{200,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,686},{204,332}}</string>
                <key>offset</key>
                <string>{17,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,316},{204,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1534},{202,336}}</string>
                <key>offset</key>
                <string>{19,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,313},{202,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1668},{192,372}}</string>
                <key>offset</key>
                <string>{22,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,272},{192,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,834},{180,402}}</string>
                <key>offset</key>
                <string>{21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,234},{180,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1256},{176,412}}</string>
                <key>offset</key>
                <string>{20,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,220},{176,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{190,414}}</string>
                <key>offset</key>
                <string>{17,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,218},{190,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{214,416}}</string>
                <key>offset</key>
                <string>{17,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,216},{214,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,420},{246,414}}</string>
                <key>offset</key>
                <string>{15,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,218},{246,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1256},{280,410}}</string>
                <key>offset</key>
                <string>{8,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,226},{280,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,0},{338,364}}</string>
                <key>offset</key>
                <string>{-19,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,278},{338,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,808},{334,366}}</string>
                <key>offset</key>
                <string>{-18,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,280},{334,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1626},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9632fee8cd7fa53836fcab7e8332254a:2db87e688a608710a665d4dbfb77a17e:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
