<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{350,362}}</string>
                <key>offset</key>
                <string>{-5,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,284},{350,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{364,346}}</string>
                <key>offset</key>
                <string>{4,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,295},{364,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1438},{268,346}}</string>
                <key>offset</key>
                <string>{27,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,295},{268,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{208,336}}</string>
                <key>offset</key>
                <string>{28,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,307},{208,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1698},{198,334}}</string>
                <key>offset</key>
                <string>{21,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,309},{198,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1364},{200,334}}</string>
                <key>offset</key>
                <string>{16,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,309},{200,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,334},{202,334}}</string>
                <key>offset</key>
                <string>{13,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,309},{202,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1030},{204,334}}</string>
                <key>offset</key>
                <string>{15,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,309},{204,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,0},{206,334}}</string>
                <key>offset</key>
                <string>{20,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,309},{206,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,696},{208,334}}</string>
                <key>offset</key>
                <string>{25,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,309},{208,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1434},{208,336}}</string>
                <key>offset</key>
                <string>{28,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,307},{208,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,336},{208,334}}</string>
                <key>offset</key>
                <string>{24,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,309},{208,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1392},{206,334}}</string>
                <key>offset</key>
                <string>{17,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,309},{206,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,0},{202,334}}</string>
                <key>offset</key>
                <string>{14,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,309},{202,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,670},{204,334}}</string>
                <key>offset</key>
                <string>{16,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,308},{204,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,668},{208,330}}</string>
                <key>offset</key>
                <string>{20,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,308},{208,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1726},{208,322}}</string>
                <key>offset</key>
                <string>{26,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,308},{208,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,0},{208,320}}</string>
                <key>offset</key>
                <string>{28,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,307},{208,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,334},{206,328}}</string>
                <key>offset</key>
                <string>{16,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,303},{206,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1090},{202,348}}</string>
                <key>offset</key>
                <string>{2,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,288},{202,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,362},{212,356}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,282},{212,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,718},{222,340}}</string>
                <key>offset</key>
                <string>{-6,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,298},{222,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1806},{228,332}}</string>
                <key>offset</key>
                <string>{-7,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,306},{228,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,362},{212,356}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,282},{212,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1450},{218,348}}</string>
                <key>offset</key>
                <string>{-5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,290},{218,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1784},{226,334}}</string>
                <key>offset</key>
                <string>{-7,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,304},{226,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1798},{228,332}}</string>
                <key>offset</key>
                <string>{-7,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,306},{228,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,356},{222,340}}</string>
                <key>offset</key>
                <string>{-6,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,298},{222,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{212,356}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,282},{212,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1004},{226,332}}</string>
                <key>offset</key>
                <string>{-7,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,306},{226,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1058},{218,334}}</string>
                <key>offset</key>
                <string>{-4,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,304},{218,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1090},{204,344}}</string>
                <key>offset</key>
                <string>{1,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,294},{204,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1450},{212,356}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,282},{212,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,734},{264,356}}</string>
                <key>offset</key>
                <string>{-13,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,281},{264,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1094},{356,350}}</string>
                <key>offset</key>
                <string>{7,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,292},{356,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{336,360}}</string>
                <key>offset</key>
                <string>{3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,284},{336,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8bd84ea323df2480c1cece37b925060:0285b4a9a73410362a7cbcfc382788a1:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
