<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{252,290}}</string>
                <key>offset</key>
                <string>{1,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,359},{252,290}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,290}}</string>
                <key>offset</key>
                <string>{1,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,359},{254,290}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggCrack0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d53285497e945ad2964d8cf349cdc43:58823367e9cdfe63dc402fd8ce042ea5:113fa1bacec080125b10efa84cd86d6b$</string>
            <key>textureFileName</key>
            <string>eggCrack0.png</string>
        </dict>
    </dict>
</plist>
