<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{300,368}}</string>
                <key>offset</key>
                <string>{-4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,281},{300,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,300},{292,368}}</string>
                <key>offset</key>
                <string>{-6,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,281},{292,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,194},{280,366}}</string>
                <key>offset</key>
                <string>{-9,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,283},{280,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{266,362}}</string>
                <key>offset</key>
                <string>{-14,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,287},{266,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{246,356}}</string>
                <key>offset</key>
                <string>{-18,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,292},{246,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,592},{228,348}}</string>
                <key>offset</key>
                <string>{-22,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,298},{228,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{220,338}}</string>
                <key>offset</key>
                <string>{-21,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,306},{220,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,820},{212,328}}</string>
                <key>offset</key>
                <string>{-20,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,314},{212,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,752},{206,312}}</string>
                <key>offset</key>
                <string>{-19,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,326},{206,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,958},{200,300}}</string>
                <key>offset</key>
                <string>{-18,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,337},{200,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1032},{196,292}}</string>
                <key>offset</key>
                <string>{-18,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,346},{196,292}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{194,284}}</string>
                <key>offset</key>
                <string>{-18,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,355},{194,284}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,560},{192,280}}</string>
                <key>offset</key>
                <string>{-18,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,360},{192,280}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1034},{190,278}}</string>
                <key>offset</key>
                <string>{-18,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,363},{190,278}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf124651538b7bd2508dc8be31a7ae97:278eb85ce05ce89614c1c228095197fc:c1cf761d005800c04dbc6a7cacdce7d7$</string>
            <key>textureFileName</key>
            <string>exit.png</string>
        </dict>
    </dict>
</plist>
