<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,370},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1116},{304,370}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,278},{304,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1486},{304,370}}</string>
                <key>offset</key>
                <string>{-3,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,277},{304,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,740},{302,370}}</string>
                <key>offset</key>
                <string>{-2,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,277},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1110},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,277},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1122},{300,372}}</string>
                <key>offset</key>
                <string>{-2,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,275},{300,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,374}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,274},{300,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{300,374}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,274},{300,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1494},{298,372}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,275},{298,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,748},{296,374}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,273},{296,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1122},{296,374}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,273},{296,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1496},{294,374}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,273},{294,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1496},{294,374}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,273},{294,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,748},{294,374}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,273},{294,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{296,372}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,275},{296,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,372},{296,372}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,275},{296,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,744},{296,372}}</string>
                <key>offset</key>
                <string>{-3,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,276},{296,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,0},{298,370}}</string>
                <key>offset</key>
                <string>{-4,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,277},{298,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,370},{298,368}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,279},{298,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,0},{300,370}}</string>
                <key>offset</key>
                <string>{-4,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,278},{300,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1480},{302,370}}</string>
                <key>offset</key>
                <string>{-4,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,0},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e17992110c0a9daf845a2f5cbec6af4:3f6879b4ac7465a1215cd0d57887d39d:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
