<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1166},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1166},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1468},{304,368}}</string>
                <key>offset</key>
                <string>{-5,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,282},{304,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,856},{310,362}}</string>
                <key>offset</key>
                <string>{-10,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,289},{310,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1454},{312,352}}</string>
                <key>offset</key>
                <string>{-15,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,298},{312,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1806},{302,340}}</string>
                <key>offset</key>
                <string>{-17,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,306},{302,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,404},{282,336}}</string>
                <key>offset</key>
                <string>{-13,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,308},{282,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,298},{260,346}}</string>
                <key>offset</key>
                <string>{-10,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,299},{260,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2856},{238,376}}</string>
                <key>offset</key>
                <string>{-10,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,277},{238,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,3240},{222,408}}</string>
                <key>offset</key>
                <string>{-12,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,253},{222,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2428},{220,428}}</string>
                <key>offset</key>
                <string>{-20,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,237},{220,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2712},{222,430}}</string>
                <key>offset</key>
                <string>{-27,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,232},{222,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2712},{220,430}}</string>
                <key>offset</key>
                <string>{-33,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,230},{220,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,3142},{218,428}}</string>
                <key>offset</key>
                <string>{-37,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,229},{218,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,3360},{216,424}}</string>
                <key>offset</key>
                <string>{-40,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,230},{216,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,3576},{216,422}}</string>
                <key>offset</key>
                <string>{-40,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,230},{216,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,3576},{220,420}}</string>
                <key>offset</key>
                <string>{-37,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,231},{220,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2484},{228,418}}</string>
                <key>offset</key>
                <string>{-32,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,232},{228,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,3648},{234,416}}</string>
                <key>offset</key>
                <string>{-26,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,233},{234,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2072},{246,412}}</string>
                <key>offset</key>
                <string>{-20,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,235},{246,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3648},{258,410}}</string>
                <key>offset</key>
                <string>{-16,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,236},{258,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3240},{268,408}}</string>
                <key>offset</key>
                <string>{-13,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,237},{268,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2834},{280,406}}</string>
                <key>offset</key>
                <string>{-11,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,239},{280,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2428},{290,406}}</string>
                <key>offset</key>
                <string>{-10,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,238},{290,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2024},{302,404}}</string>
                <key>offset</key>
                <string>{-7,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,239},{302,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1620},{310,404}}</string>
                <key>offset</key>
                <string>{-3,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,239},{310,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1216},{320,404}}</string>
                <key>offset</key>
                <string>{-2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,240},{320,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,812},{330,404}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,243},{330,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{336,406}}</string>
                <key>offset</key>
                <string>{-11,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,247},{336,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{338,406}}</string>
                <key>offset</key>
                <string>{-17,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,253},{338,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{336,404}}</string>
                <key>offset</key>
                <string>{-22,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,259},{336,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,686},{326,394}}</string>
                <key>offset</key>
                <string>{-22,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,271},{326,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1080},{316,374}}</string>
                <key>offset</key>
                <string>{-16,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,286},{316,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2108},{304,354}}</string>
                <key>offset</key>
                <string>{-8,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,300},{304,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,558},{298,344}}</string>
                <key>offset</key>
                <string>{-3,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,307},{298,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,0},{298,350}}</string>
                <key>offset</key>
                <string>{-3,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,300},{298,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1772},{300,362}}</string>
                <key>offset</key>
                <string>{-3,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,287},{300,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1166},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be0d195b5b015ca9900d8d53fa92bb3:8a9a50255c8306b296318deb2c75efc7:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
