<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,694},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1444},{306,366}}</string>
                <key>offset</key>
                <string>{-5,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,283},{306,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1772},{312,360}}</string>
                <key>offset</key>
                <string>{-8,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,290},{312,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1750},{314,348}}</string>
                <key>offset</key>
                <string>{-12,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,299},{314,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,0},{308,338}}</string>
                <key>offset</key>
                <string>{-17,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,306},{308,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2142},{292,334}}</string>
                <key>offset</key>
                <string>{-19,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,309},{292,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2084},{276,344}}</string>
                <key>offset</key>
                <string>{-19,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,300},{276,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1510},{262,374}}</string>
                <key>offset</key>
                <string>{-15,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,277},{262,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,832},{254,406}}</string>
                <key>offset</key>
                <string>{-12,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,254},{254,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,0},{250,426}}</string>
                <key>offset</key>
                <string>{-10,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,238},{250,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{252,428}}</string>
                <key>offset</key>
                <string>{-12,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,234},{252,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{252,428}}</string>
                <key>offset</key>
                <string>{-15,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,232},{252,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,428}}</string>
                <key>offset</key>
                <string>{-19,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,231},{254,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,250},{256,424}}</string>
                <key>offset</key>
                <string>{-21,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,233},{256,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,252},{262,420}}</string>
                <key>offset</key>
                <string>{-22,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,234},{262,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{270,418}}</string>
                <key>offset</key>
                <string>{-18,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,235},{270,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{280,416}}</string>
                <key>offset</key>
                <string>{-12,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,235},{280,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,514},{294,416}}</string>
                <key>offset</key>
                <string>{-4,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,234},{294,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,252},{306,416}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,233},{306,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{316,414}}</string>
                <key>offset</key>
                <string>{13,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,233},{316,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,506},{326,412}}</string>
                <key>offset</key>
                <string>{18,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,234},{326,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,558},{334,410}}</string>
                <key>offset</key>
                <string>{21,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,235},{334,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,808},{342,408}}</string>
                <key>offset</key>
                <string>{19,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,235},{342,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{350,406}}</string>
                <key>offset</key>
                <string>{15,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,236},{350,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,892},{354,404}}</string>
                <key>offset</key>
                <string>{10,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,237},{354,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1150},{360,400}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,240},{360,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,996},{366,396}}</string>
                <key>offset</key>
                <string>{-4,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,243},{366,396}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1470},{368,394}}</string>
                <key>offset</key>
                <string>{-11,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,248},{368,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1246},{366,390}}</string>
                <key>offset</key>
                <string>{-16,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,254},{366,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1086},{358,392}}</string>
                <key>offset</key>
                <string>{-15,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,260},{358,392}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,308},{340,386}}</string>
                <key>offset</key>
                <string>{-11,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,270},{340,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1362},{320,368}}</string>
                <key>offset</key>
                <string>{-7,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,287},{320,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1838},{304,352}}</string>
                <key>offset</key>
                <string>{-4,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,301},{304,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1912},{298,344}}</string>
                <key>offset</key>
                <string>{-3,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,307},{298,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,1682},{298,350}}</string>
                <key>offset</key>
                <string>{-3,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,300},{298,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1612},{300,362}}</string>
                <key>offset</key>
                <string>{-3,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,287},{300,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,694},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e055a121278f0f0329b1464c8003168d:6d52267732dd428bf80fe6c9a022729d:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
