<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1274},{302,368}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,280},{302,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1576},{306,366}}</string>
                <key>offset</key>
                <string>{-3,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,282},{306,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1682},{312,356}}</string>
                <key>offset</key>
                <string>{-4,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,290},{312,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1912},{316,346}}</string>
                <key>offset</key>
                <string>{-8,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,298},{316,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2186},{310,338}}</string>
                <key>offset</key>
                <string>{-17,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,305},{310,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2200},{294,332}}</string>
                <key>offset</key>
                <string>{-26,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,310},{294,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1994},{278,344}}</string>
                <key>offset</key>
                <string>{-32,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,299},{278,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1662},{270,370}}</string>
                <key>offset</key>
                <string>{-30,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,279},{270,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,936},{282,402}}</string>
                <key>offset</key>
                <string>{-17,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,254},{282,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{292,420}}</string>
                <key>offset</key>
                <string>{-6,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,239},{292,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{298,422}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,236},{298,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{308,422}}</string>
                <key>offset</key>
                <string>{14,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,234},{308,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,0},{318,418}}</string>
                <key>offset</key>
                <string>{24,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,235},{318,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,292},{324,412}}</string>
                <key>offset</key>
                <string>{32,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,239},{324,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,608},{328,410}}</string>
                <key>offset</key>
                <string>{33,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,239},{328,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{328,410}}</string>
                <key>offset</key>
                <string>{30,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,239},{328,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,620},{322,408}}</string>
                <key>offset</key>
                <string>{23,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,239},{322,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,616},{312,410}}</string>
                <key>offset</key>
                <string>{14,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,237},{312,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{302,412}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,234},{302,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,318},{302,412}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,233},{302,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,298},{310,412}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,233},{310,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,928},{316,408}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,235},{316,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,698},{322,408}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,234},{322,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,942},{332,406}}</string>
                <key>offset</key>
                <string>{-11,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,236},{332,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,1020},{340,404}}</string>
                <key>offset</key>
                <string>{-14,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,237},{340,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1218},{352,400}}</string>
                <key>offset</key>
                <string>{-17,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,239},{352,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,938},{360,400}}</string>
                <key>offset</key>
                <string>{-18,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,242},{360,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,0},{366,396}}</string>
                <key>offset</key>
                <string>{-18,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,249},{366,396}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1298},{364,396}}</string>
                <key>offset</key>
                <string>{-14,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,254},{364,396}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1244},{358,394}}</string>
                <key>offset</key>
                <string>{-10,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,259},{358,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1570},{342,382}}</string>
                <key>offset</key>
                <string>{-5,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,271},{342,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,1360},{322,366}}</string>
                <key>offset</key>
                <string>{-3,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,286},{322,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1882},{304,352}}</string>
                <key>offset</key>
                <string>{-3,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,300},{304,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1932},{298,344}}</string>
                <key>offset</key>
                <string>{-3,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,307},{298,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1902},{298,350}}</string>
                <key>offset</key>
                <string>{-3,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,300},{298,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1602},{300,362}}</string>
                <key>offset</key>
                <string>{-3,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,287},{300,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,396},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7372a027ca616cb1409de1b9eddb5cb:321267061638bfe4be538f07801d5e6d:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
