<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{306,370}}</string>
                <key>offset</key>
                <string>{-1,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{306,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,608},{300,366}}</string>
                <key>offset</key>
                <string>{-2,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,278},{300,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,0},{274,364}}</string>
                <key>offset</key>
                <string>{-13,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,278},{274,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,908},{258,366}}</string>
                <key>offset</key>
                <string>{-20,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,276},{258,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1092},{264,364}}</string>
                <key>offset</key>
                <string>{-18,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,278},{264,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,364},{274,364}}</string>
                <key>offset</key>
                <string>{-13,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,278},{274,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,728},{286,364}}</string>
                <key>offset</key>
                <string>{-7,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,278},{286,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{298,364}}</string>
                <key>offset</key>
                <string>{-2,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,280},{298,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,608},{304,368}}</string>
                <key>offset</key>
                <string>{-1,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,279},{304,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{304,370}}</string>
                <key>offset</key>
                <string>{-1,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,279},{304,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,304},{304,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,279},{304,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Pom0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{302,370}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,279},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f20d8c3d53720bb81cddb5d4053a699d:3fa6d0b6fc4c12272243530626c93605:27ef85eb9c95ff93a5a6326e38d271d1$</string>
            <key>textureFileName</key>
            <string>reaction2.png</string>
        </dict>
    </dict>
</plist>
