<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laser0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,904},{478,264}}</string>
                <key>offset</key>
                <string>{11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,24},{478,264}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1217},{474,272}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,24},{474,272}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,908},{456,304}}</string>
                <key>offset</key>
                <string>{-31,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,25},{456,304}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1169},{408,350}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,24},{408,350}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1169},{402,350}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,24},{402,350}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,288},{552,338}}</string>
                <key>offset</key>
                <string>{57,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,24},{552,338}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{666,286}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{666,286}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,280},{666,276}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{666,276}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,557},{534,346}}</string>
                <key>offset</key>
                <string>{-66,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{534,346}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,557},{394,350}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,24},{394,350}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1564},{478,264}}</string>
                <key>offset</key>
                <string>{14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,24},{478,264}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1564},{396,350}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,24},{396,350}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,627},{532,350}}</string>
                <key>offset</key>
                <string>{67,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,24},{532,350}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1},{666,286}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{666,286}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1},{666,278}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{666,278}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,288},{562,340}}</string>
                <key>offset</key>
                <string>{-52,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{562,340}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1213},{440,350}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,24},{440,350}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1564},{422,350}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,24},{422,350}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,904},{490,312}}</string>
                <key>offset</key>
                <string>{46,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,24},{490,312}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,629},{480,274}}</string>
                <key>offset</key>
                <string>{29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,25},{480,274}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>laser0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1564},{478,264}}</string>
                <key>offset</key>
                <string>{16,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,25},{478,264}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45ea61cae36b17e9f834d053cec9f288:e28ec355bf456973111164d019905223:70bc5ecc2974f393155290b4a30d2595$</string>
            <key>textureFileName</key>
            <string>laser.png</string>
        </dict>
    </dict>
</plist>
