<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1609},{580,302}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{580,302}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1304},{580,304}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{580,304}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1245},{582,302}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{582,302}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1557},{580,298}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{580,298}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1258},{582,298}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{582,298}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1557},{580,302}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{580,302}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,912},{608,332}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{608,332}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,376},{666,364}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{666,364}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{666,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,374}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,376},{666,350}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,350}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,741},{666,166}}</string>
                <key>offset</key>
                <string>{0,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,166}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,741},{666,92}}</string>
                <key>offset</key>
                <string>{0,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,92}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,908},{666,86}}</string>
                <key>offset</key>
                <string>{0,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,86}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,834},{666,92}}</string>
                <key>offset</key>
                <string>{0,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,92}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,727},{666,184}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,184}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1},{666,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,374}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1},{666,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,374}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,376},{666,364}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{666,364}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,927},{606,330}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{606,330}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,995},{582,308}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{582,308}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
            <key>light0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1557},{580,302}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{580,302}}</string>
                <key>sourceSize</key>
                <string>{666,374}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f907d3298594e6465be703d7b3a65b7:8d19a8eebb5dd8e10ad1b5247d5ae708:b2addeb3122b9af095fd97312ef00a86$</string>
            <key>textureFileName</key>
            <string>light.png</string>
        </dict>
    </dict>
</plist>
