<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1864},{180,210}}</string>
                <key>offset</key>
                <string>{-2,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,232},{180,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,600},{216,232}}</string>
                <key>offset</key>
                <string>{-4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,211},{216,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1762},{234,244}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,202},{234,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1764},{248,254}}</string>
                <key>offset</key>
                <string>{12,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,192},{248,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1764},{274,280}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,165},{274,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,600},{312,290}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,156},{312,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,988},{352,296}}</string>
                <key>offset</key>
                <string>{-34,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,153},{352,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1376},{386,300}}</string>
                <key>offset</key>
                <string>{-35,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,153},{386,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1376},{388,296}}</string>
                <key>offset</key>
                <string>{-32,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,158},{388,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,988},{388,298}}</string>
                <key>offset</key>
                <string>{-31,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,157},{388,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,300},{388,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,157},{388,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,300},{388,300}}</string>
                <key>offset</key>
                <string>{-30,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,157},{388,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,300},{388,300}}</string>
                <key>offset</key>
                <string>{-30,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,157},{388,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,600},{388,300}}</string>
                <key>offset</key>
                <string>{-30,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,157},{388,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1084},{390,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,157},{390,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1474},{390,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,157},{390,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,300},{390,300}}</string>
                <key>offset</key>
                <string>{-30,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,157},{390,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{392,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,157},{392,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,0},{392,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,157},{392,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,0},{392,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,157},{392,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{392,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,157},{392,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,692},{392,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,157},{392,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{394,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,157},{394,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{394,300}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,157},{394,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fec774e1e77f8c05622be36d81bbc625:73871e425cc7a127e368b79de63402ea:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
