<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1662},{266,298}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,158},{266,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1008},{264,298}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,159},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,742},{262,292}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,164},{262,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1594},{352,274}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,181},{352,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1128},{342,264}}</string>
                <key>offset</key>
                <string>{11,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,191},{342,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1594},{350,282}}</string>
                <key>offset</key>
                <string>{16,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,172},{350,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,0},{284,312}}</string>
                <key>offset</key>
                <string>{11,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,141},{284,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,316},{258,316}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,136},{258,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,498},{244,300}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,153},{244,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1362},{244,300}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,154},{244,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,328},{244,320}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,135},{244,320}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,352},{246,330}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,125},{246,330}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,352},{250,346}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,109},{250,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1194},{266,350}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,105},{266,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{274,352}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,103},{274,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,698},{268,336}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,119},{268,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,0},{260,328}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,127},{260,328}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,0},{250,310}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,145},{250,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,0},{260,316}}</string>
                <key>offset</key>
                <string>{11,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,139},{260,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,682},{276,326}}</string>
                <key>offset</key>
                <string>{16,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,129},{276,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1544},{286,344}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,112},{286,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,404},{296,376}}</string>
                <key>offset</key>
                <string>{20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,81},{296,376}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1202},{296,392}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,65},{296,392}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{290,404}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,53},{290,404}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{270,402}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,55},{270,402}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{268,396}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,61},{268,396}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,806},{266,388}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,69},{266,388}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{258,362}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,94},{258,362}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,780},{254,348}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,108},{254,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1034},{252,328}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,127},{252,328}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1008},{244,300}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,155},{244,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,250},{248,302}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,153},{248,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1004},{284,288}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,167},{284,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1308},{298,266}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,190},{298,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1306},{272,276}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,180},{272,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1606},{262,286}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,171},{262,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,742},{264,298}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,158},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1662},{266,298}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,158},{266,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a26b6199ba4671db1e09344ea131f7aa:f849c48d6dc158717bc63953b81375b5:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
