<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,690},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,990},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2564},{266,298}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,158},{266,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2532},{266,300}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2910},{264,298}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,158},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2830},{264,298}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,158},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2798},{266,298}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,158},{266,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2626},{284,298}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,157},{284,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2264},{306,300}}</string>
                <key>offset</key>
                <string>{-16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,155},{306,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2326},{316,300}}</string>
                <key>offset</key>
                <string>{-22,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,155},{316,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1636},{298,304}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,151},{298,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2030},{296,328}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,126},{296,328}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1938},{290,340}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,113},{290,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1644},{294,348}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,104},{294,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1290},{276,346}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,106},{276,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1940},{324,338}}</string>
                <key>offset</key>
                <string>{-39,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,115},{324,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,730},{376,358}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,96},{376,358}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,338},{382,352}}</string>
                <key>offset</key>
                <string>{26,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,102},{382,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1304},{362,340}}</string>
                <key>offset</key>
                <string>{36,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,115},{362,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{270,354}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,101},{270,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1016},{288,368}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,87},{288,368}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,690},{326,378}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,79},{326,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{378,372}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,85},{378,372}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{416,358}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,99},{416,358}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{406,338}}</string>
                <key>offset</key>
                <string>{18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,120},{406,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1088},{364,364}}</string>
                <key>offset</key>
                <string>{64,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,94},{364,364}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1722},{344,308}}</string>
                <key>offset</key>
                <string>{52,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,150},{344,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2228},{324,304}}</string>
                <key>offset</key>
                <string>{39,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,153},{324,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,3328},{256,298}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,158},{256,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,3358},{258,296}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,159},{258,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,3616},{260,294}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,161},{260,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3438},{260,296}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,160},{260,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3698},{260,296}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,160},{260,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,3698},{260,296}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,160},{260,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,3064},{264,298}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,159},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3174},{264,298}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,159},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,3094},{264,298}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,158},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7289c223126332212120e3db44ef5eb:e4bbd7b39e5ed604e50a32155f9b507a:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
