<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,520},{266,298}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,158},{266,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1544},{266,298}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,158},{266,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1560},{266,302}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{266,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,628},{268,308}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,149},{268,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1580},{270,310}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,147},{270,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,316},{268,308}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,148},{268,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1574},{268,306}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,149},{268,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,308},{268,304}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,150},{268,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1242},{266,302}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,153},{266,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,304},{266,300}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,155},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1218},{262,298}}</string>
                <key>offset</key>
                <string>{7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,157},{262,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,266},{254,300}}</string>
                <key>offset</key>
                <string>{7,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,156},{254,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,316},{244,312}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,149},{244,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1266},{244,316}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,145},{244,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{256,316}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,141},{256,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,0},{262,308}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,146},{262,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,936},{248,306}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,150},{248,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,624},{238,306}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,153},{238,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{266,316}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,139},{266,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{268,316}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,143},{268,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,634},{250,312}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,148},{250,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1582},{256,314}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,142},{256,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,318}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,136},{266,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1266},{254,314}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,141},{254,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1254},{254,306}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,151},{254,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,946},{270,308}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,149},{270,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,950},{254,314}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,144},{254,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,0},{248,304}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,153},{248,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,910},{260,296}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,156},{260,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,612},{258,304}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,149},{258,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,950},{248,316}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,144},{248,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1264},{252,310}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,148},{252,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,304},{256,304}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,151},{256,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{266,304}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,154},{266,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,916},{266,302}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{266,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,608},{266,302}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{266,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daa5a1738b6f25f59d721d3833f2b125:c391c0e9362b9ea8124dae512228a86d:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
