<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,248},{266,298}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,158},{266,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,554},{266,300}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,546},{264,298}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,548},{262,300}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{262,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,248},{250,306}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,151},{250,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,560},{246,310}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,149},{246,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,0},{248,312}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,148},{248,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1598},{246,316}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,142},{246,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1282},{256,316}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,141},{256,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,648},{264,318}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,137},{264,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,326},{270,322}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,133},{270,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,326},{262,326}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,131},{262,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1692},{252,332}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,127},{252,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1366},{254,340}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,123},{254,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1706},{256,340}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,122},{256,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1366},{260,340}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,121},{260,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1706},{272,338}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,119},{272,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,684},{276,340}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,117},{276,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{278,340}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,118},{278,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,342}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,117},{278,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{278,342}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,117},{278,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{276,342}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,117},{276,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1024},{268,338}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,119},{268,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1362},{262,338}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,121},{262,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1706},{256,340}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,122},{256,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1024},{248,336}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,126},{248,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1360},{254,332}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,127},{254,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{264,326}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,130},{264,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,0},{268,318}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,137},{268,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,966},{258,316}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,140},{258,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1598},{246,316}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,142},{246,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,248},{248,312}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,147},{248,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{248,308}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,150},{248,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,870},{252,304}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,152},{252,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,854},{264,300}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,155},{264,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,248},{266,300}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,156},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1174},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1174},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db06fc7e04a1ff6b973e8f454c4f5687:70072a5784e4c24c50cca02cfa69c1b1:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
