<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,986},{266,298}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,158},{266,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{264,292}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,164},{264,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,936},{258,276}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,179},{258,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,562},{252,254}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,200},{252,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,816},{244,214}}</string>
                <key>offset</key>
                <string>{5,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,238},{244,214}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1858},{240,190}}</string>
                <key>offset</key>
                <string>{5,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,262},{240,190}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1728},{248,236}}</string>
                <key>offset</key>
                <string>{5,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,217},{248,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1576},{252,282}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,173},{252,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1328},{254,300}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,155},{254,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,672},{252,314}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,141},{252,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1012},{252,316}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,139},{252,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{254,306}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,149},{254,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1284},{254,292}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,163},{254,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,268},{250,254}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,199},{250,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1132},{248,236}}</string>
                <key>offset</key>
                <string>{5,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,217},{248,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,254},{240,188}}</string>
                <key>offset</key>
                <string>{5,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,263},{240,188}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1476},{252,252}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,203},{252,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,0},{250,268}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,187},{250,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1284},{242,282}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,172},{242,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,324},{228,314}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,145},{228,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{228,324}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,133},{228,324}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,680},{240,332}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,123},{240,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{244,340}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,115},{244,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{230,340}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,118},{230,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,340},{226,332}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,128},{226,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,306},{240,294}}</string>
                <key>offset</key>
                <string>{6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,161},{240,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,600},{248,274}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,179},{248,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,0},{250,254}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,199},{250,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1858},{240,190}}</string>
                <key>offset</key>
                <string>{4,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,262},{240,190}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,816},{244,216}}</string>
                <key>offset</key>
                <string>{5,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,236},{244,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,522},{242,236}}</string>
                <key>offset</key>
                <string>{6,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,217},{242,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,874},{230,258}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,199},{230,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1212},{250,264}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,189},{250,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,292},{252,270}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,182},{252,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1576},{242,290}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,167},{242,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1628},{256,292}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,163},{256,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,638},{264,298}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,158},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90adeb8207b60aee40a46463ed4a6b8:03bf8575130420b6b43cef544316304c:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
