<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,266},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,920},{266,302}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,154},{266,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,942},{266,306}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,150},{266,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,634},{266,310}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,145},{266,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1592},{266,312}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,143},{266,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1592},{266,312}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,143},{266,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1584},{266,310}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,146},{266,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,942},{266,308}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,149},{266,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1552},{266,302}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{266,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1222},{266,302}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{266,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1524},{266,302}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{266,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1556},{266,304}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,153},{266,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1250},{268,306}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,150},{268,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,964},{268,310}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,145},{268,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1274},{268,310}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,145},{268,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,634},{268,308}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,147},{268,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,532},{264,294}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,160},{264,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,0},{262,290}}</string>
                <key>offset</key>
                <string>{6,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,163},{262,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,266},{264,294}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,161},{264,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,266},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1248},{266,304}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,153},{266,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{268,308}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,149},{268,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,964},{270,314}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,144},{270,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,318},{270,316}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,142},{270,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{272,318}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,140},{272,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{270,318}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,137},{270,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{270,322}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,132},{270,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,324}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,130},{270,324}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1278},{270,314}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,140},{270,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,308},{268,308}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,147},{268,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,616},{268,304}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,152},{268,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d303977683aab1e6c241dfa1c627f6d1:16e2bd5a5ba2b96129bcd389027d30bf:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
