<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{266,300}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,157},{266,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{266,298}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,159},{266,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,266},{264,298}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,159},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,266},{264,298}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,159},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,530},{264,298}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,160},{264,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{264,296}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,162},{264,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,530},{264,296}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,163},{264,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,794},{264,294}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,165},{264,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,796},{264,292}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,166},{264,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,794},{262,292}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,166},{262,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1056},{262,288}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,170},{262,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1058},{262,286}}</string>
                <key>offset</key>
                <string>{5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,172},{262,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Guac0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1060},{262,284}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,174},{262,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c04e41733e953423e8207aa9c82814d:1c945e44c7628ae181953604a3a9d192:c1cf761d005800c04dbc6a7cacdce7d7$</string>
            <key>textureFileName</key>
            <string>exit.png</string>
        </dict>
    </dict>
</plist>
