<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1826},{172,220}}</string>
                <key>offset</key>
                <string>{2,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,236},{172,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1816},{172,232}}</string>
                <key>offset</key>
                <string>{3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,232},{172,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1304},{204,236}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,231},{204,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1566},{250,242}}</string>
                <key>offset</key>
                <string>{7,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,228},{250,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,630},{268,260}}</string>
                <key>offset</key>
                <string>{11,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,223},{268,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{276,296}}</string>
                <key>offset</key>
                <string>{9,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,215},{276,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,318},{290,312}}</string>
                <key>offset</key>
                <string>{12,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,208},{290,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,0},{294,318}}</string>
                <key>offset</key>
                <string>{13,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,202},{294,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,326},{288,322}}</string>
                <key>offset</key>
                <string>{8,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,198},{288,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,978},{286,326}}</string>
                <key>offset</key>
                <string>{14,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,194},{286,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,978},{280,326}}</string>
                <key>offset</key>
                <string>{20,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,194},{280,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,326}}</string>
                <key>offset</key>
                <string>{-1,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,194},{320,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{318,326}}</string>
                <key>offset</key>
                <string>{-2,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,194},{318,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1304},{316,326}}</string>
                <key>offset</key>
                <string>{-3,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,194},{316,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1304},{314,326}}</string>
                <key>offset</key>
                <string>{-4,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,194},{314,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1630},{314,326}}</string>
                <key>offset</key>
                <string>{-3,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,194},{314,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,652},{314,326}}</string>
                <key>offset</key>
                <string>{-3,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,194},{314,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1630},{316,326}}</string>
                <key>offset</key>
                <string>{-4,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,194},{316,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,978},{318,326}}</string>
                <key>offset</key>
                <string>{-6,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,194},{318,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{320,326}}</string>
                <key>offset</key>
                <string>{-8,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,194},{320,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{254,326}}</string>
                <key>offset</key>
                <string>{22,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,193},{254,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1304},{212,262}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,193},{212,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1566},{204,260}}</string>
                <key>offset</key>
                <string>{-11,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,194},{204,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1826},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:342708e9b5c52887f93a6a6501ddf0e8:e1ccbc4ea048e340bde8d6dbdc733e89:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
