<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,856},{210,254}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,196},{210,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,942},{208,250}}</string>
                <key>offset</key>
                <string>{-9,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,201},{208,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1042},{196,244}}</string>
                <key>offset</key>
                <string>{-11,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,207},{196,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,508},{180,240}}</string>
                <key>offset</key>
                <string>{-11,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,212},{180,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1066},{166,238}}</string>
                <key>offset</key>
                <string>{-12,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,214},{166,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1232},{164,238}}</string>
                <key>offset</key>
                <string>{-17,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,213},{164,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,882},{160,252}}</string>
                <key>offset</key>
                <string>{-18,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,198},{160,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,290},{146,282}}</string>
                <key>offset</key>
                <string>{-11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,166},{146,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,292}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,155},{138,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,436},{152,272}}</string>
                <key>offset</key>
                <string>{-14,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,176},{152,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,272},{162,236}}</string>
                <key>offset</key>
                <string>{-16,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,213},{162,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1150},{154,234}}</string>
                <key>offset</key>
                <string>{-10,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,216},{154,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1162},{156,232}}</string>
                <key>offset</key>
                <string>{-9,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,217},{156,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1304},{156,232}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,216},{156,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1002},{160,234}}</string>
                <key>offset</key>
                <string>{-13,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,214},{160,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,0},{150,272}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,174},{150,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{138,292}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,153},{138,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,150},{140,286}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,158},{140,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,504},{142,274}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,170},{142,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,798},{144,254}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,190},{144,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1396},{140,230}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,214},{140,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1458},{138,230}}</string>
                <key>offset</key>
                <string>{5,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,217},{138,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1318},{140,230}}</string>
                <key>offset</key>
                <string>{8,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,218},{140,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1460},{138,228}}</string>
                <key>offset</key>
                <string>{11,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,220},{138,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1380},{140,232}}</string>
                <key>offset</key>
                <string>{12,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,218},{140,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1238},{142,234}}</string>
                <key>offset</key>
                <string>{13,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,216},{142,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,516},{134,258}}</string>
                <key>offset</key>
                <string>{15,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,189},{134,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,392},{124,278}}</string>
                <key>offset</key>
                <string>{15,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,163},{124,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,270},{122,286}}</string>
                <key>offset</key>
                <string>{14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,153},{122,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,138},{132,288}}</string>
                <key>offset</key>
                <string>{12,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,151},{132,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{150,290}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,149},{150,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{172,288}}</string>
                <key>offset</key>
                <string>{10,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,151},{172,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{194,284}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,157},{194,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,748},{234,254}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,192},{234,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,650},{232,254}}</string>
                <key>offset</key>
                <string>{-12,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,194},{232,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,588},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dd35433e6fadee9bb045342844c44cc:2db87e688a608710a665d4dbfb77a17e:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
