<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{212,252}}</string>
                <key>offset</key>
                <string>{7,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,196},{212,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1498},{212,246}}</string>
                <key>offset</key>
                <string>{31,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,200},{212,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,990},{216,240}}</string>
                <key>offset</key>
                <string>{45,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,204},{216,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,240},{216,236}}</string>
                <key>offset</key>
                <string>{50,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,208},{216,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,0},{214,236}}</string>
                <key>offset</key>
                <string>{50,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,208},{214,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,486},{218,236}}</string>
                <key>offset</key>
                <string>{48,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,208},{218,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,246},{232,240}}</string>
                <key>offset</key>
                <string>{42,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,201},{232,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1744},{242,244}}</string>
                <key>offset</key>
                <string>{37,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,196},{242,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,760},{246,244}}</string>
                <key>offset</key>
                <string>{35,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,195},{246,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1012},{248,244}}</string>
                <key>offset</key>
                <string>{36,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,195},{248,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,252},{250,242}}</string>
                <key>offset</key>
                <string>{25,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,198},{250,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,0},{238,246}}</string>
                <key>offset</key>
                <string>{-4,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,202},{238,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1006},{208,244}}</string>
                <key>offset</key>
                <string>{-40,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,206},{208,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1496},{206,236}}</string>
                <key>offset</key>
                <string>{-50,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,208},{206,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,722},{202,234}}</string>
                <key>offset</key>
                <string>{-50,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,210},{202,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1742},{210,236}}</string>
                <key>offset</key>
                <string>{-47,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,207},{210,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,494},{224,242}}</string>
                <key>offset</key>
                <string>{-41,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,198},{224,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1252},{234,246}}</string>
                <key>offset</key>
                <string>{-37,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,193},{234,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1498},{238,244}}</string>
                <key>offset</key>
                <string>{-35,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,195},{238,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1252},{236,244}}</string>
                <key>offset</key>
                <string>{-28,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,197},{236,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1006},{238,246}}</string>
                <key>offset</key>
                <string>{7,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,202},{238,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{220,240}}</string>
                <key>offset</key>
                <string>{43,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,206},{220,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1230},{216,234}}</string>
                <key>offset</key>
                <string>{50,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,210},{216,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,972},{212,234}}</string>
                <key>offset</key>
                <string>{50,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,210},{212,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,736},{222,236}}</string>
                <key>offset</key>
                <string>{46,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,207},{222,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,748},{240,242}}</string>
                <key>offset</key>
                <string>{38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,198},{240,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,502},{246,244}}</string>
                <key>offset</key>
                <string>{35,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,195},{246,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,248},{246,244}}</string>
                <key>offset</key>
                <string>{36,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,195},{246,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1260},{248,244}}</string>
                <key>offset</key>
                <string>{36,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,195},{248,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1508},{248,244}}</string>
                <key>offset</key>
                <string>{35,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,195},{248,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1756},{248,244}}</string>
                <key>offset</key>
                <string>{33,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,195},{248,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,762},{250,244}}</string>
                <key>offset</key>
                <string>{27,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,195},{250,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,510},{250,244}}</string>
                <key>offset</key>
                <string>{21,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,195},{250,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{246,248}}</string>
                <key>offset</key>
                <string>{14,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,195},{246,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{238,252}}</string>
                <key>offset</key>
                <string>{7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,194},{238,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{224,254}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,194},{224,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5295a0aff15e50dbe6697f9b931866bc:88760369b8eab0b4b9c3d2ee2e8ae07a:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
