<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,728},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,850},{210,256}}</string>
                <key>offset</key>
                <string>{-36,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,193},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{218,252}}</string>
                <key>offset</key>
                <string>{-43,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,187},{218,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,684},{216,254}}</string>
                <key>offset</key>
                <string>{-37,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,186},{216,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1108},{210,252}}</string>
                <key>offset</key>
                <string>{-29,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,188},{210,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1400},{194,250}}</string>
                <key>offset</key>
                <string>{-23,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,190},{194,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,938},{170,254}}</string>
                <key>offset</key>
                <string>{-17,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,190},{170,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,636},{156,258}}</string>
                <key>offset</key>
                <string>{-9,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,191},{156,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,440},{196,258}}</string>
                <key>offset</key>
                <string>{-15,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,191},{196,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,252},{216,258}}</string>
                <key>offset</key>
                <string>{-26,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,190},{216,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,0},{172,262}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,195},{172,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,302},{138,260}}</string>
                <key>offset</key>
                <string>{19,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,194},{138,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{140,262}}</string>
                <key>offset</key>
                <string>{20,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,195},{140,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{132,270}}</string>
                <key>offset</key>
                <string>{16,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,194},{132,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,272}}</string>
                <key>offset</key>
                <string>{14,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,195},{128,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{132,264}}</string>
                <key>offset</key>
                <string>{16,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,195},{132,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1074},{152,254}}</string>
                <key>offset</key>
                <string>{27,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,194},{152,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1108},{146,254}}</string>
                <key>offset</key>
                <string>{23,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,194},{146,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,938},{136,256}}</string>
                <key>offset</key>
                <string>{17,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,194},{136,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{136,258}}</string>
                <key>offset</key>
                <string>{18,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,195},{136,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,402},{136,260}}</string>
                <key>offset</key>
                <string>{18,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,194},{136,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,172},{130,262}}</string>
                <key>offset</key>
                <string>{18,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,193},{130,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,274},{128,262}}</string>
                <key>offset</key>
                <string>{14,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,191},{128,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,132},{142,262}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,189},{142,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{150,258}}</string>
                <key>offset</key>
                <string>{-13,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,189},{150,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,952},{156,254}}</string>
                <key>offset</key>
                <string>{-24,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,188},{156,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1398},{166,252}}</string>
                <key>offset</key>
                <string>{-30,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,187},{166,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1254},{170,252}}</string>
                <key>offset</key>
                <string>{-33,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,186},{170,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1226},{172,252}}</string>
                <key>offset</key>
                <string>{-34,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,187},{172,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1226},{174,252}}</string>
                <key>offset</key>
                <string>{-35,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,187},{174,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1318},{174,250}}</string>
                <key>offset</key>
                <string>{-34,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,189},{174,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,510},{174,246}}</string>
                <key>offset</key>
                <string>{-33,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,194},{174,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1424},{170,250}}</string>
                <key>offset</key>
                <string>{-31,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,194},{170,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1060},{166,254}}</string>
                <key>offset</key>
                <string>{-30,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,193},{166,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,792},{160,256}}</string>
                <key>offset</key>
                <string>{-28,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,193},{160,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{164,260}}</string>
                <key>offset</key>
                <string>{-23,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,193},{164,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,538},{190,258}}</string>
                <key>offset</key>
                <string>{-10,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,194},{190,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,728},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14688193e8db0d11ffdd0e694a86eb37:ab442eb6c610694f35588805efc1d121:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
