<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,794},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,990},{206,256}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,194},{206,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,738},{188,254}}</string>
                <key>offset</key>
                <string>{3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,196},{188,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1056},{162,252}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,198},{162,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1196},{138,250}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,200},{138,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{126,246}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,204},{126,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1218},{118,246}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,205},{118,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1334},{112,242}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,209},{112,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1336},{110,240}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,211},{110,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1446},{110,238}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,213},{110,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1446},{108,236}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,215},{108,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1520},{108,236}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,215},{108,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1294},{114,244}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,207},{114,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1004},{140,256}}</string>
                <key>offset</key>
                <string>{12,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,192},{140,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,536},{186,268}}</string>
                <key>offset</key>
                <string>{18,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,182},{186,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{252,270}}</string>
                <key>offset</key>
                <string>{14,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,178},{252,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{290,266}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,175},{290,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{300,260}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,174},{300,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,276},{296,260}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,174},{296,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,262}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,174},{302,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,260},{296,264}}</string>
                <key>offset</key>
                <string>{-9,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,174},{296,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{296,276}}</string>
                <key>offset</key>
                <string>{-6,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,175},{296,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,524},{270,278}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,177},{270,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{210,276}}</string>
                <key>offset</key>
                <string>{17,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,180},{210,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,722},{148,268}}</string>
                <key>offset</key>
                <string>{18,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,183},{148,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1110},{114,250}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,199},{114,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1556},{104,234}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,217},{104,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1450},{106,224}}</string>
                <key>offset</key>
                <string>{3,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,227},{106,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1554},{108,220}}</string>
                <key>offset</key>
                <string>{3,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,232},{108,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1338},{112,236}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,214},{112,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1408},{112,238}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,212},{112,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1224},{114,240}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,210},{114,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,992},{118,242}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,208},{118,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,494},{120,244}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,206},{120,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,246},{124,248}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,203},{124,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1144},{150,252}}</string>
                <key>offset</key>
                <string>{-4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,199},{150,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,870},{186,256}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,195},{186,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,794},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27802d8505167ac40c15b5ae87870062:c44a6e072f4b72df6bfbd786182af162:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
