<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{242,252}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,196},{242,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{254,240}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,204},{254,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,532},{188,240}}</string>
                <key>offset</key>
                <string>{18,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,204},{188,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,694},{144,234}}</string>
                <key>offset</key>
                <string>{19,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,212},{144,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1124},{138,232}}</string>
                <key>offset</key>
                <string>{14,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,214},{138,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1140},{138,232}}</string>
                <key>offset</key>
                <string>{11,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,214},{138,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1020},{140,232}}</string>
                <key>offset</key>
                <string>{9,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,214},{140,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,890},{142,232}}</string>
                <key>offset</key>
                <string>{10,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,214},{142,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,838},{144,232}}</string>
                <key>offset</key>
                <string>{14,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,214},{144,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,854},{144,232}}</string>
                <key>offset</key>
                <string>{18,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,214},{144,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,710},{144,234}}</string>
                <key>offset</key>
                <string>{19,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,212},{144,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,876},{144,232}}</string>
                <key>offset</key>
                <string>{17,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,214},{144,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,982},{142,232}}</string>
                <key>offset</key>
                <string>{12,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,214},{142,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1032},{140,232}}</string>
                <key>offset</key>
                <string>{10,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,214},{140,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,998},{142,232}}</string>
                <key>offset</key>
                <string>{11,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,213},{142,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1278},{144,228}}</string>
                <key>offset</key>
                <string>{14,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,214},{144,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1330},{144,224}}</string>
                <key>offset</key>
                <string>{18,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,213},{144,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1420},{144,222}}</string>
                <key>offset</key>
                <string>{19,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,213},{144,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1318},{144,228}}</string>
                <key>offset</key>
                <string>{11,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,210},{144,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,416},{140,242}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,199},{140,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,240},{146,246}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,196},{146,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,540},{154,236}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,206},{154,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1160},{158,230}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,212},{158,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,386},{146,246}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,196},{146,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,390},{150,242}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,200},{150,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,720},{156,232}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,210},{156,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1172},{158,230}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,212},{158,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,556},{154,236}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,206},{154,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{146,246}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,196},{146,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1262},{158,230}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,212},{158,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{152,232}}</string>
                <key>offset</key>
                <string>{-3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,210},{152,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{140,238}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,204},{140,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,244},{146,246}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,196},{146,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,234},{182,248}}</string>
                <key>offset</key>
                <string>{-9,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,194},{182,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{248,244}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,201},{248,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{234,250}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,196},{234,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1df392684c5c58b58b4ce6605cf1a36:0285b4a9a73410362a7cbcfc382788a1:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
