<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,608},{232,252}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,195},{232,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,670},{254,246}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,196},{254,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{266,240}}</string>
                <key>offset</key>
                <string>{-7,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,199},{266,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{256,236}}</string>
                <key>offset</key>
                <string>{-20,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,203},{256,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,916},{232,250}}</string>
                <key>offset</key>
                <string>{-36,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,189},{232,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,906},{208,254}}</string>
                <key>offset</key>
                <string>{-47,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,185},{208,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,478},{204,256}}</string>
                <key>offset</key>
                <string>{-46,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,183},{204,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{202,264}}</string>
                <key>offset</key>
                <string>{-21,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,175},{202,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,0},{194,264}}</string>
                <key>offset</key>
                <string>{42,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,174},{194,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,644},{198,258}}</string>
                <key>offset</key>
                <string>{63,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,181},{198,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,264},{194,262}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,177},{194,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{200,264}}</string>
                <key>offset</key>
                <string>{29,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,175},{200,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,194},{206,262}}</string>
                <key>offset</key>
                <string>{-11,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,177},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,402},{202,260}}</string>
                <key>offset</key>
                <string>{-40,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,179},{202,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,606},{204,256}}</string>
                <key>offset</key>
                <string>{-46,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,183},{204,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,196},{206,262}}</string>
                <key>offset</key>
                <string>{-23,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,177},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,0},{196,264}}</string>
                <key>offset</key>
                <string>{41,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{196,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,798},{198,258}}</string>
                <key>offset</key>
                <string>{63,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,181},{198,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,408},{198,260}}</string>
                <key>offset</key>
                <string>{61,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,179},{198,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,398},{194,262}}</string>
                <key>offset</key>
                <string>{55,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,177},{194,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,0},{196,264}}</string>
                <key>offset</key>
                <string>{41,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{196,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,196},{202,262}}</string>
                <key>offset</key>
                <string>{20,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,177},{202,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,200},{206,262}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,177},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,202},{206,262}}</string>
                <key>offset</key>
                <string>{-23,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,177},{206,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,406},{202,260}}</string>
                <key>offset</key>
                <string>{-38,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,179},{202,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,604},{202,258}}</string>
                <key>offset</key>
                <string>{-45,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,181},{202,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,526},{204,258}}</string>
                <key>offset</key>
                <string>{-46,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,181},{204,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,240},{204,262}}</string>
                <key>offset</key>
                <string>{-24,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,177},{204,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,0},{194,264}}</string>
                <key>offset</key>
                <string>{40,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,174},{194,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,842},{198,258}}</string>
                <key>offset</key>
                <string>{63,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,181},{198,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,592},{206,258}}</string>
                <key>offset</key>
                <string>{63,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,181},{206,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,444},{226,256}}</string>
                <key>offset</key>
                <string>{54,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,183},{226,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,400},{258,244}}</string>
                <key>offset</key>
                <string>{32,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,195},{258,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{268,242}}</string>
                <key>offset</key>
                <string>{13,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,198},{268,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,810},{250,250}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,196},{250,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{224,254}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,195},{224,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,784},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:461d25c70cc2c0106c075a34ac3185cb:e33347ed0a982fd147efa7a650c7bf43:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
