<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{208,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,194},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{204,256}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,194},{204,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{196,254}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,196},{196,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,768},{184,252}}</string>
                <key>offset</key>
                <string>{-9,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,198},{184,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,512},{172,248}}</string>
                <key>offset</key>
                <string>{-13,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,202},{172,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,256},{158,242}}</string>
                <key>offset</key>
                <string>{-15,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{158,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{154,236}}</string>
                <key>offset</key>
                <string>{-15,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,211},{154,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{148,226}}</string>
                <key>offset</key>
                <string>{-14,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,219},{148,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,226},{142,216}}</string>
                <key>offset</key>
                <string>{-13,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,226},{142,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,442},{140,208}}</string>
                <key>offset</key>
                <string>{-13,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,234},{140,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,226},{136,202}}</string>
                <key>offset</key>
                <string>{-12,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,240},{136,202}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{134,196}}</string>
                <key>offset</key>
                <string>{-12,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,247},{134,196}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,650},{132,194}}</string>
                <key>offset</key>
                <string>{-12,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,250},{132,194}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,844},{132,192}}</string>
                <key>offset</key>
                <string>{-12,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,252},{132,192}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f11380e2c3df0458e9b739abaa4d6ab3:278eb85ce05ce89614c1c228095197fc:c1cf761d005800c04dbc6a7cacdce7d7$</string>
            <key>textureFileName</key>
            <string>exit.png</string>
        </dict>
    </dict>
</plist>
