<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,258},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{210,258}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,192},{210,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,204},{210,258}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,192},{210,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,514},{210,256}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,193},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,408},{210,258}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,191},{210,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{210,258}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,191},{210,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,414},{208,258}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,191},{208,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,618},{208,258}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,191},{208,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{208,258}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,191},{208,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,826},{206,258}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,191},{206,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,260}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,189},{206,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{204,260}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,189},{204,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{204,260}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,189},{204,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,204},{204,260}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,189},{204,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{204,260}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,189},{204,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1032},{204,258}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,191},{204,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,828},{206,258}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,191},{206,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,830},{206,258}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,191},{206,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1034},{208,256}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,193},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1026},{208,256}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,193},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,622},{208,258}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,192},{208,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,770},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,258},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cf7c2885e0369b91238398da0bf3363:3f6879b4ac7465a1215cd0d57887d39d:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
