<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1142},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,844},{212,254}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,196},{212,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,260},{216,250}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,201},{216,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1398},{218,242}}</string>
                <key>offset</key>
                <string>{-8,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,207},{218,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,510},{214,234}}</string>
                <key>offset</key>
                <string>{-12,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,212},{214,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,244},{204,232}}</string>
                <key>offset</key>
                <string>{-14,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,214},{204,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,802},{192,238}}</string>
                <key>offset</key>
                <string>{-13,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,208},{192,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,0},{182,260}}</string>
                <key>offset</key>
                <string>{-11,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,192},{182,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1472},{176,282}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,176},{176,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,298},{174,296}}</string>
                <key>offset</key>
                <string>{-7,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,165},{174,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{174,298}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,161},{174,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,298}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,160},{176,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{176,296}}</string>
                <key>offset</key>
                <string>{-13,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,161},{176,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{178,294}}</string>
                <key>offset</key>
                <string>{-14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,161},{178,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,892},{182,292}}</string>
                <key>offset</key>
                <string>{-15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,162},{182,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{188,290}}</string>
                <key>offset</key>
                <string>{-13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,163},{188,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,294},{196,290}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,162},{196,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,594},{204,290}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,161},{204,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1184},{212,288}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,162},{212,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,0},{220,288}}</string>
                <key>offset</key>
                <string>{9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,161},{220,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,584},{226,286}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,162},{226,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,884},{232,286}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{232,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,288},{238,284}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,162},{238,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,0},{242,282}}</string>
                <key>offset</key>
                <string>{11,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,163},{242,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1754},{246,280}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,164},{246,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1472},{250,278}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,166},{250,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1170},{254,274}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,169},{254,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1750},{256,274}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,171},{256,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,870},{254,272}}</string>
                <key>offset</key>
                <string>{-11,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,175},{254,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,572},{248,272}}</string>
                <key>offset</key>
                <string>{-10,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,180},{248,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,282},{236,268}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,187},{236,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1444},{222,256}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,198},{222,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,0},{212,244}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,209},{212,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1098},{208,238}}</string>
                <key>offset</key>
                <string>{-3,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,213},{208,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1700},{208,244}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,207},{208,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,550},{208,252}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,198},{208,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1142},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93c733d225611aec8a5da87c919e40f8:6d52267732dd428bf80fe6c9a022729d:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
