<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,742},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,742},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,680},{212,256}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,195},{212,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,854},{216,250}}</string>
                <key>offset</key>
                <string>{-7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,201},{216,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,892},{216,244}}</string>
                <key>offset</key>
                <string>{-10,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,207},{216,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1108},{210,236}}</string>
                <key>offset</key>
                <string>{-12,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,212},{210,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1476},{196,232}}</string>
                <key>offset</key>
                <string>{-9,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,214},{196,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1824},{180,240}}</string>
                <key>offset</key>
                <string>{-7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,208},{180,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1738},{166,260}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,193},{166,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1738},{156,284}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,175},{156,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1434},{154,296}}</string>
                <key>offset</key>
                <string>{-14,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,165},{154,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1488},{154,298}}</string>
                <key>offset</key>
                <string>{-19,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,161},{154,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1280},{154,298}}</string>
                <key>offset</key>
                <string>{-23,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,159},{154,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1550},{152,296}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,159},{152,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1588},{150,296}}</string>
                <key>offset</key>
                <string>{-28,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,158},{150,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1846},{150,294}}</string>
                <key>offset</key>
                <string>{-28,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,158},{150,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1672},{152,292}}</string>
                <key>offset</key>
                <string>{-25,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,160},{152,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1318},{158,290}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,161},{158,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1260},{164,290}}</string>
                <key>offset</key>
                <string>{-18,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,160},{164,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,286},{170,286}}</string>
                <key>offset</key>
                <string>{-14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,163},{170,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{180,286}}</string>
                <key>offset</key>
                <string>{-12,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{180,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,866},{186,284}}</string>
                <key>offset</key>
                <string>{-9,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,164},{186,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,672},{194,284}}</string>
                <key>offset</key>
                <string>{-8,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,164},{194,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,572},{202,282}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,164},{202,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{210,280}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,166},{210,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,456},{216,280}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,166},{216,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,234},{222,280}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,166},{222,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,232},{228,280}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,169},{228,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{234,282}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,171},{234,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{236,282}}</string>
                <key>offset</key>
                <string>{-12,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,175},{236,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,0},{232,280}}</string>
                <key>offset</key>
                <string>{-15,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,180},{232,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{226,274}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,187},{226,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,460},{220,260}}</string>
                <key>offset</key>
                <string>{-11,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,198},{220,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1070},{210,244}}</string>
                <key>offset</key>
                <string>{-5,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,209},{210,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1250},{208,238}}</string>
                <key>offset</key>
                <string>{-3,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,213},{208,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1052},{208,244}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,207},{208,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,998},{208,252}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,198},{208,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,742},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc9569799ed3cd3e37ef9bfa2ca01b28:8a9a50255c8306b296318deb2c75efc7:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
