<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{208,254}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,195},{208,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,766},{204,254}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,194},{204,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{196,250}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,195},{196,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,510},{188,248}}</string>
                <key>offset</key>
                <string>{-6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,195},{188,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,758},{184,246}}</string>
                <key>offset</key>
                <string>{-6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,196},{184,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,250},{186,246}}</string>
                <key>offset</key>
                <string>{-6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,196},{186,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,510},{190,248}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,196},{190,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{196,252}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,194},{196,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,256},{202,254}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,194},{202,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,766},{206,254}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,195},{206,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{208,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,194},{208,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Pom0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,256}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,194},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4967dab6d24d389d5733c87098a8c126:7976208392708a05e2b7825d8e9d96fc:e154f91947ef6b31e473f0aec4f73f4e$</string>
            <key>textureFileName</key>
            <string>reaction1.png</string>
        </dict>
    </dict>
</plist>
