<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1448},{180,226}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,204},{180,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1656},{190,234}}</string>
                <key>offset</key>
                <string>{13,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,199},{190,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1764},{200,240}}</string>
                <key>offset</key>
                <string>{17,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,195},{200,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1764},{204,240}}</string>
                <key>offset</key>
                <string>{14,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,194},{204,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1764},{222,250}}</string>
                <key>offset</key>
                <string>{4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,186},{222,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1764},{272,278}}</string>
                <key>offset</key>
                <string>{9,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,173},{272,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1684},{306,308}}</string>
                <key>offset</key>
                <string>{23,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,160},{306,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1412},{308,328}}</string>
                <key>offset</key>
                <string>{29,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,152},{308,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,792},{360,346}}</string>
                <key>offset</key>
                <string>{54,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,141},{360,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,404},{388,368}}</string>
                <key>offset</key>
                <string>{56,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,126},{388,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1656},{396,382}}</string>
                <key>offset</key>
                <string>{52,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,113},{396,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1378},{402,386}}</string>
                <key>offset</key>
                <string>{49,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,101},{402,386}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,0},{404,386}}</string>
                <key>offset</key>
                <string>{48,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{404,386}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,362},{404,386}}</string>
                <key>offset</key>
                <string>{48,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,95},{404,386}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,684},{404,384}}</string>
                <key>offset</key>
                <string>{48,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,97},{404,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{404,378}}</string>
                <key>offset</key>
                <string>{48,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,103},{404,378}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{406,370}}</string>
                <key>offset</key>
                <string>{47,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,111},{406,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,0},{438,362}}</string>
                <key>offset</key>
                <string>{31,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,119},{438,362}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{452,354}}</string>
                <key>offset</key>
                <string>{24,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,127},{452,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{440,346}}</string>
                <key>offset</key>
                <string>{30,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,135},{440,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,346},{408,338}}</string>
                <key>offset</key>
                <string>{46,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,143},{408,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,386},{404,328}}</string>
                <key>offset</key>
                <string>{48,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,152},{404,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,714},{404,320}}</string>
                <key>offset</key>
                <string>{48,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,160},{404,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,748},{404,316}}</string>
                <key>offset</key>
                <string>{48,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,164},{404,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,0},{404,314}}</string>
                <key>offset</key>
                <string>{48,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,166},{404,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1034},{404,312}}</string>
                <key>offset</key>
                <string>{48,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,168},{404,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1064},{404,310}}</string>
                <key>offset</key>
                <string>{48,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,170},{404,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1068},{404,310}}</string>
                <key>offset</key>
                <string>{48,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,170},{404,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1102},{404,310}}</string>
                <key>offset</key>
                <string>{48,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,170},{404,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1138},{404,310}}</string>
                <key>offset</key>
                <string>{48,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,170},{404,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1346},{404,310}}</string>
                <key>offset</key>
                <string>{48,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,170},{404,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1374},{404,310}}</string>
                <key>offset</key>
                <string>{48,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,170},{404,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e658207852dad5b987335f448009ebc8:641f703e9213641dceeeca259f42f50e:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
