<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1714},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1722},{220,258}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{220,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1782},{216,258}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{216,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1762},{218,258}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,170},{218,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1724},{220,258}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,171},{220,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1430},{222,262}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,171},{222,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1450},{226,272}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,170},{226,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1502},{234,280}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,170},{234,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1478},{244,284}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,171},{244,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,0},{254,286}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,171},{254,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,292},{262,286}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,170},{262,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1430},{268,284}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,171},{268,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1450},{274,282}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,171},{274,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,554},{280,282}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,171},{280,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,856},{294,284}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,170},{294,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{314,286}}</string>
                <key>offset</key>
                <string>{-15,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,169},{314,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{328,280}}</string>
                <key>offset</key>
                <string>{-23,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,169},{328,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,328},{316,276}}</string>
                <key>offset</key>
                <string>{-15,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,168},{316,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,562},{298,286}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,168},{298,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,290}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,167},{296,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{296,288}}</string>
                <key>offset</key>
                <string>{7,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,168},{296,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,600},{296,290}}</string>
                <key>offset</key>
                <string>{5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,167},{296,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1140},{290,288}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,167},{290,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,566},{294,280}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,167},{294,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,0},{314,276}}</string>
                <key>offset</key>
                <string>{-16,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,167},{314,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,286},{314,282}}</string>
                <key>offset</key>
                <string>{-16,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,169},{314,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,608},{306,286}}</string>
                <key>offset</key>
                <string>{-10,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,169},{306,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,914},{296,284}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,169},{296,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1210},{292,282}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,170},{292,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,860},{298,284}}</string>
                <key>offset</key>
                <string>{-6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,169},{298,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,276},{310,286}}</string>
                <key>offset</key>
                <string>{-11,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,168},{310,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{318,280}}</string>
                <key>offset</key>
                <string>{-16,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,168},{318,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,608},{308,276}}</string>
                <key>offset</key>
                <string>{-8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,167},{308,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,846},{290,286}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,167},{290,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,0},{292,290}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,166},{292,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,276},{294,290}}</string>
                <key>offset</key>
                <string>{8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,166},{294,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,566},{294,290}}</string>
                <key>offset</key>
                <string>{7,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,167},{294,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1156},{294,290}}</string>
                <key>offset</key>
                <string>{5,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,167},{294,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1186},{292,290}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,167},{292,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1212},{292,290}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,166},{292,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1158},{292,284}}</string>
                <key>offset</key>
                <string>{-3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,167},{292,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,890},{296,276}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,168},{296,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,860},{296,270}}</string>
                <key>offset</key>
                <string>{-14,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,168},{296,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,0},{290,264}}</string>
                <key>offset</key>
                <string>{-15,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,168},{290,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1504},{276,260}}</string>
                <key>offset</key>
                <string>{-12,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,169},{276,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,292},{260,260}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,169},{260,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1780},{244,260}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,169},{244,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1132},{232,258}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,170},{232,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1692},{224,258}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,170},{224,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1714},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d78732bd37207b941cfaf4399ba6e6d:b586297bbeba27389bf26f0aa1fc4e01:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
