<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1650},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1820},{256,258}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,170},{256,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,1388},{310,262}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,166},{310,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{334,264}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,164},{334,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,790},{330,264}}</string>
                <key>offset</key>
                <string>{-11,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,164},{330,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,784},{326,262}}</string>
                <key>offset</key>
                <string>{-10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,167},{326,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1046},{318,258}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,171},{318,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1308},{310,254}}</string>
                <key>offset</key>
                <string>{-6,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,176},{310,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1546},{302,254}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,176},{302,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1818},{296,256}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,174},{296,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1822},{294,256}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,174},{294,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1566},{302,256}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,174},{302,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,872},{320,254}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,176},{320,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,788},{340,258}}</string>
                <key>offset</key>
                <string>{-13,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,171},{340,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,264},{352,262}}</string>
                <key>offset</key>
                <string>{-16,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,166},{352,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{358,264}}</string>
                <key>offset</key>
                <string>{-18,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,164},{358,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,264},{352,264}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,164},{352,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,528},{340,260}}</string>
                <key>offset</key>
                <string>{-13,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,169},{340,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1292},{318,254}}</string>
                <key>offset</key>
                <string>{-7,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,176},{318,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1564},{300,256}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,174},{300,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1558},{292,256}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,174},{292,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,616},{298,256}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,174},{298,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1304},{312,254}}</string>
                <key>offset</key>
                <string>{-6,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,176},{312,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1054},{328,256}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,173},{328,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,524},{344,260}}</string>
                <key>offset</key>
                <string>{-15,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,169},{344,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,0},{356,262}}</string>
                <key>offset</key>
                <string>{-18,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,166},{356,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{358,264}}</string>
                <key>offset</key>
                <string>{-19,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,164},{358,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,0},{356,264}}</string>
                <key>offset</key>
                <string>{-18,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,164},{356,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0528.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,264},{348,262}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,167},{348,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0529.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,526},{334,256}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,173},{334,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0530.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1038},{320,254}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,176},{320,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0531.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1310},{308,256}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,174},{308,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0532.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1562},{304,256}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,174},{304,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0533.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1308},{308,256}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,174},{308,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0534.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1054},{320,254}}</string>
                <key>offset</key>
                <string>{-9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,176},{320,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0535.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,782},{334,256}}</string>
                <key>offset</key>
                <string>{-12,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,173},{334,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0536.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,264},{346,260}}</string>
                <key>offset</key>
                <string>{-15,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,169},{346,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0537.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{354,262}}</string>
                <key>offset</key>
                <string>{-17,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,166},{354,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0538.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{358,264}}</string>
                <key>offset</key>
                <string>{-18,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,164},{358,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0539.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,0},{356,264}}</string>
                <key>offset</key>
                <string>{-18,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,164},{356,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0540.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{352,264}}</string>
                <key>offset</key>
                <string>{-17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,164},{352,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0541.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,526},{342,264}}</string>
                <key>offset</key>
                <string>{-14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,164},{342,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0542.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1046},{330,262}}</string>
                <key>offset</key>
                <string>{-11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,166},{330,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0543.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1126},{316,262}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,166},{316,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0544.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,356},{296,260}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,168},{296,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0545.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1800},{276,258}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,170},{276,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0546.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2074},{256,258}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,170},{256,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0547.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2078},{238,258}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,170},{238,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0548.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2316},{226,258}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{226,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0549.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1650},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:763065f6292090d3194e8a4d2217d0fa:824528ee9c2f12e347421905fa05a71a:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
