<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0550.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,0},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,274},{226,258}}</string>
                <key>offset</key>
                <string>{7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,170},{226,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,258},{236,256}}</string>
                <key>offset</key>
                <string>{16,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,172},{236,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0553.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,566},{250,258}}</string>
                <key>offset</key>
                <string>{29,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,171},{250,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0554.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1734},{266,256}}</string>
                <key>offset</key>
                <string>{42,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,173},{266,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0555.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,912},{280,256}}</string>
                <key>offset</key>
                <string>{51,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,173},{280,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0556.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{292,252}}</string>
                <key>offset</key>
                <string>{55,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,176},{292,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0557.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,326},{296,250}}</string>
                <key>offset</key>
                <string>{54,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,178},{296,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0558.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,964},{290,248}}</string>
                <key>offset</key>
                <string>{48,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,180},{290,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0559.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,0},{274,254}}</string>
                <key>offset</key>
                <string>{39,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,173},{274,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0560.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1730},{250,264}}</string>
                <key>offset</key>
                <string>{29,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,162},{250,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0561.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,582},{238,278}}</string>
                <key>offset</key>
                <string>{23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,149},{238,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0562.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1310},{232,292}}</string>
                <key>offset</key>
                <string>{25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,138},{232,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0563.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1000},{230,310}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,134},{230,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0564.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,336},{212,326}}</string>
                <key>offset</key>
                <string>{41,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,127},{212,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0565.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,670},{202,330}}</string>
                <key>offset</key>
                <string>{34,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,123},{202,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0566.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,336}}</string>
                <key>offset</key>
                <string>{9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,120},{188,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0567.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{176,334}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,122},{176,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0568.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{212,326}}</string>
                <key>offset</key>
                <string>{-20,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,128},{212,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0569.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,662},{236,302}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,139},{236,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0570.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,860},{226,274}}</string>
                <key>offset</key>
                <string>{-19,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,151},{226,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0571.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,566},{200,270}}</string>
                <key>offset</key>
                <string>{-13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,160},{200,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0572.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1466},{168,268}}</string>
                <key>offset</key>
                <string>{-11,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,167},{168,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0573.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,836},{134,264}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,172},{134,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0574.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,836},{130,260}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,176},{130,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0575.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1096},{134,256}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,178},{134,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0576.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1892},{150,252}}</string>
                <key>offset</key>
                <string>{6,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,181},{150,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0577.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,0},{166,246}}</string>
                <key>offset</key>
                <string>{7,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,184},{166,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0578.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,0},{190,240}}</string>
                <key>offset</key>
                <string>{17,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,187},{190,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0579.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1828},{212,236}}</string>
                <key>offset</key>
                <string>{26,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,190},{212,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0580.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1078},{232,234}}</string>
                <key>offset</key>
                <string>{36,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,190},{232,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0581.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,256},{250,234}}</string>
                <key>offset</key>
                <string>{45,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,190},{250,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0582.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1134},{264,236}}</string>
                <key>offset</key>
                <string>{53,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,188},{264,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0583.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1192},{274,236}}</string>
                <key>offset</key>
                <string>{60,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,189},{274,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0584.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1536},{282,238}}</string>
                <key>offset</key>
                <string>{65,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,188},{282,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0585.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1254},{288,240}}</string>
                <key>offset</key>
                <string>{68,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,187},{288,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0586.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,292},{290,240}}</string>
                <key>offset</key>
                <string>{70,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,187},{290,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0587.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{290,240}}</string>
                <key>offset</key>
                <string>{71,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,188},{290,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0588.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1602},{290,240}}</string>
                <key>offset</key>
                <string>{71,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,188},{290,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0589.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,622},{290,242}}</string>
                <key>offset</key>
                <string>{70,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,186},{290,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0590.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1542},{286,244}}</string>
                <key>offset</key>
                <string>{67,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,184},{286,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0591.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1254},{282,248}}</string>
                <key>offset</key>
                <string>{63,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,180},{282,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0592.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,290},{276,250}}</string>
                <key>offset</key>
                <string>{57,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,178},{276,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0593.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1466},{264,252}}</string>
                <key>offset</key>
                <string>{50,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,176},{264,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0594.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,514},{252,252}}</string>
                <key>offset</key>
                <string>{42,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,176},{252,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0595.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,824},{240,254}}</string>
                <key>offset</key>
                <string>{33,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,174},{240,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0596.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1818},{228,256}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,172},{228,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0597.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,0},{224,256}}</string>
                <key>offset</key>
                <string>{14,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,172},{224,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0598.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1398},{222,256}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,172},{222,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0599.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,0},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fabb9cb0abf4fc6dbff612eee3d150ab:df544ed01117ab9336da213447e437ad:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
