<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1688},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1408},{218,258}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,170},{218,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1688},{220,258}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,171},{220,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1148},{224,258}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,171},{224,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1148},{230,258}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,172},{230,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1408},{236,262}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,171},{236,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1408},{240,266}}</string>
                <key>offset</key>
                <string>{-8,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,171},{240,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1408},{248,266}}</string>
                <key>offset</key>
                <string>{-10,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,172},{248,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,530},{256,266}}</string>
                <key>offset</key>
                <string>{-15,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{256,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,0},{266,268}}</string>
                <key>offset</key>
                <string>{-23,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,173},{266,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,786},{278,272}}</string>
                <key>offset</key>
                <string>{-29,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,173},{278,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1680},{288,274}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,172},{288,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,874},{290,274}}</string>
                <key>offset</key>
                <string>{-37,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,173},{290,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1118},{292,274}}</string>
                <key>offset</key>
                <string>{-38,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,171},{292,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,0},{294,274}}</string>
                <key>offset</key>
                <string>{-38,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,170},{294,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,274},{294,274}}</string>
                <key>offset</key>
                <string>{-36,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,170},{294,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1128},{290,274}}</string>
                <key>offset</key>
                <string>{-32,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,169},{290,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1134},{290,274}}</string>
                <key>offset</key>
                <string>{-31,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,169},{290,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,852},{292,276}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,169},{292,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,574},{294,278}}</string>
                <key>offset</key>
                <string>{-33,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,169},{294,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{294,280}}</string>
                <key>offset</key>
                <string>{-34,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,168},{294,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,576},{292,280}}</string>
                <key>offset</key>
                <string>{-33,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,169},{292,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,294},{292,282}}</string>
                <key>offset</key>
                <string>{-31,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,168},{292,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,838},{292,280}}</string>
                <key>offset</key>
                <string>{-28,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,170},{292,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1064},{290,280}}</string>
                <key>offset</key>
                <string>{-24,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,170},{290,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1354},{288,280}}</string>
                <key>offset</key>
                <string>{-20,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,170},{288,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,856},{290,278}}</string>
                <key>offset</key>
                <string>{-17,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,172},{290,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,0},{294,278}}</string>
                <key>offset</key>
                <string>{-18,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,172},{294,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,294},{294,280}}</string>
                <key>offset</key>
                <string>{-17,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,170},{294,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{294,280}}</string>
                <key>offset</key>
                <string>{-15,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,170},{294,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,570},{292,282}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,168},{292,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{290,282}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,169},{290,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,852},{290,284}}</string>
                <key>offset</key>
                <string>{-9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,168},{290,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1402},{288,286}}</string>
                <key>offset</key>
                <string>{-7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,168},{288,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1392},{288,288}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,168},{288,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,586},{288,290}}</string>
                <key>offset</key>
                <string>{-7,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,169},{288,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,278},{292,292}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,169},{292,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,292},{294,294}}</string>
                <key>offset</key>
                <string>{-9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,170},{294,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{296,294}}</string>
                <key>offset</key>
                <string>{-10,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,171},{296,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{298,294}}</string>
                <key>offset</key>
                <string>{-13,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,171},{298,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,294}}</string>
                <key>offset</key>
                <string>{-15,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,169},{300,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{298,292}}</string>
                <key>offset</key>
                <string>{-17,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,168},{298,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,548},{292,290}}</string>
                <key>offset</key>
                <string>{-18,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,165},{292,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1642},{288,286}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,162},{288,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1688},{278,278}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,162},{278,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,266},{264,268}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,163},{264,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1688},{246,264}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,165},{246,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1148},{230,260}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,168},{230,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1408},{222,258}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1688},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5983b85e0d5d92c821bdbe8ccd7a912:eb18c3b11f4f6be83d449c4d69f41634:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
