<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0600.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1490},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2204},{216,254}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,174},{216,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2246},{212,244}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,183},{212,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2308},{212,238}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,197},{212,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,236},{214,232}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,207},{214,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1748},{220,230}}</string>
                <key>offset</key>
                <string>{2,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,212},{220,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,0},{232,236}}</string>
                <key>offset</key>
                <string>{1,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,208},{232,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,450},{244,246}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,201},{244,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1754},{260,260}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,190},{260,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1490},{278,278}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,175},{278,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1272},{294,298}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,158},{294,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,696},{312,316}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,142},{312,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1400},{332,334}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,125},{332,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1140},{350,350}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,110},{350,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1036},{372,364}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,96},{372,364}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,664},{396,372}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,88},{396,372}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,898},{426,374}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,85},{426,374}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,0},{446,368}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,88},{446,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{458,360}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,93},{458,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{460,348}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,101},{460,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0620.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{456,336}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{456,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0621.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{452,322}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,120},{452,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0622.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,322},{446,310}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,131},{446,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0623.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,368},{440,296}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,142},{440,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0624.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,360},{436,282}}</string>
                <key>offset</key>
                <string>{17,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,153},{436,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0625.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,632},{436,268}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,164},{436,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0626.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,642},{434,256}}</string>
                <key>offset</key>
                <string>{10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,174},{434,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0627.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{430,246}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,183},{430,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0628.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,930},{422,242}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,187},{422,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0629.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1172},{406,240}}</string>
                <key>offset</key>
                <string>{-7,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,189},{406,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0630.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,900},{380,240}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,188},{380,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0631.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1254},{348,242}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,186},{348,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0632.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1008},{316,246}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,182},{316,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0633.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1412},{284,250}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,178},{284,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0634.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1768},{258,252}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,176},{258,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0635.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1986},{238,256}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,172},{238,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0636.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1918},{226,258}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{226,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0637.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1490},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0638.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1978},{226,258}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,171},{226,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0639.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1496},{236,258}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,171},{236,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0640.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2144},{248,256}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,173},{248,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0641.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1732},{262,254}}</string>
                <key>offset</key>
                <string>{6,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,176},{262,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0642.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1662},{272,256}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,176},{272,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0643.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1566},{276,256}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,178},{276,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0644.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1496},{272,256}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,176},{272,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0645.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1752},{262,254}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,175},{262,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0646.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2058},{250,256}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,173},{250,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0647.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1822},{236,258}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,171},{236,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0648.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2020},{226,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,170},{226,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0649.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1490},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d88bd50045c53b0e287dbf74c1bbae2:e7690b3cffba4f0fc1698b631a83d5fd:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
