<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,1834},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,1600},{234,258}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,170},{234,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1228},{266,258}}</string>
                <key>offset</key>
                <string>{-16,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,171},{266,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1080},{302,276}}</string>
                <key>offset</key>
                <string>{-23,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,169},{302,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{328,300}}</string>
                <key>offset</key>
                <string>{-17,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,167},{328,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1122},{322,308}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,165},{322,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,796},{284,304}}</string>
                <key>offset</key>
                <string>{11,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,164},{284,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,922},{244,306}}</string>
                <key>offset</key>
                <string>{10,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,152},{244,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1430},{228,306}}</string>
                <key>offset</key>
                <string>{10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,148},{228,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1116},{242,308}}</string>
                <key>offset</key>
                <string>{11,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,147},{242,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1150},{286,306}}</string>
                <key>offset</key>
                <string>{17,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,152},{286,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,534},{352,288}}</string>
                <key>offset</key>
                <string>{16,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,168},{352,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{414,268}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,172},{414,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{426,268}}</string>
                <key>offset</key>
                <string>{-16,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,171},{426,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,280},{372,304}}</string>
                <key>offset</key>
                <string>{-21,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,171},{372,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,684},{202,328}}</string>
                <key>offset</key>
                <string>{22,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,172},{202,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1436},{246,276}}</string>
                <key>offset</key>
                <string>{51,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,175},{246,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,796},{210,262}}</string>
                <key>offset</key>
                <string>{17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,177},{210,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1922},{192,254}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,177},{192,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1890},{194,254}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,177},{194,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1058},{210,262}}</string>
                <key>offset</key>
                <string>{-12,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,176},{210,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1682},{208,262}}</string>
                <key>offset</key>
                <string>{-30,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,176},{208,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,1320},{222,280}}</string>
                <key>offset</key>
                <string>{-23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,175},{222,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1020},{276,304}}</string>
                <key>offset</key>
                <string>{-39,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,176},{276,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,564},{330,292}}</string>
                <key>offset</key>
                <string>{-27,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,167},{330,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,856},{326,294}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,143},{326,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,886},{230,322}}</string>
                <key>offset</key>
                <string>{10,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,129},{230,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,532},{152,332}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,126},{152,332}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,600},{168,322}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,129},{168,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1356},{226,300}}</string>
                <key>offset</key>
                <string>{21,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,137},{226,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1582},{254,282}}</string>
                <key>offset</key>
                <string>{16,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,147},{254,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1560},{296,276}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,157},{296,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1358},{298,270}}</string>
                <key>offset</key>
                <string>{-39,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,169},{298,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1494},{256,286}}</string>
                <key>offset</key>
                <string>{-53,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,170},{256,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,584},{212,316}}</string>
                <key>offset</key>
                <string>{-27,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,169},{212,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,268},{170,332}}</string>
                <key>offset</key>
                <string>{9,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,168},{170,332}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,526},{204,328}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,170},{204,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,730},{290,314}}</string>
                <key>offset</key>
                <string>{3,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,171},{290,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,268},{356,296}}</string>
                <key>offset</key>
                <string>{4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,172},{356,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,0},{392,280}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,171},{392,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{402,268}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,169},{402,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,0},{400,262}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,169},{400,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,262},{386,264}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,167},{386,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{364,266}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,167},{364,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,268},{336,264}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,168},{336,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1296},{300,264}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,167},{300,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1658},{268,264}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,167},{268,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1628},{244,262}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,168},{244,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1750},{228,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,169},{228,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1872},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62946f677d0aaa06fb70fe390175ba3a:0ed3f9d3f3407581c3c9ef01d783c6af:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
