<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0650.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,776},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0651.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,518},{236,258}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{236,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0652.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1550},{266,258}}</string>
                <key>offset</key>
                <string>{27,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,170},{266,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0653.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1300},{294,258}}</string>
                <key>offset</key>
                <string>{42,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,171},{294,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0654.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1296},{308,258}}</string>
                <key>offset</key>
                <string>{49,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,171},{308,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0655.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1300},{310,258}}</string>
                <key>offset</key>
                <string>{51,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,171},{310,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0656.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1552},{308,260}}</string>
                <key>offset</key>
                <string>{52,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,169},{308,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0657.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1558},{306,258}}</string>
                <key>offset</key>
                <string>{51,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,170},{306,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0658.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1554},{288,260}}</string>
                <key>offset</key>
                <string>{44,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,168},{288,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0659.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2068},{266,260}}</string>
                <key>offset</key>
                <string>{32,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,168},{266,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0660.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2074},{258,260}}</string>
                <key>offset</key>
                <string>{28,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,168},{258,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0661.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2328},{258,260}}</string>
                <key>offset</key>
                <string>{29,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,168},{258,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0662.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1808},{258,260}}</string>
                <key>offset</key>
                <string>{29,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,168},{258,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0663.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1814},{260,258}}</string>
                <key>offset</key>
                <string>{29,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,170},{260,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0664.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2066},{260,258}}</string>
                <key>offset</key>
                <string>{29,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,170},{260,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0665.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1558},{264,258}}</string>
                <key>offset</key>
                <string>{29,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,171},{264,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0666.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1816},{282,258}}</string>
                <key>offset</key>
                <string>{22,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,171},{282,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0667.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1038},{318,258}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,171},{318,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0668.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,516},{350,260}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,169},{350,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0669.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,0},{370,258}}</string>
                <key>offset</key>
                <string>{-17,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,170},{370,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0670.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,258},{378,260}}</string>
                <key>offset</key>
                <string>{-19,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,168},{378,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0671.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{380,260}}</string>
                <key>offset</key>
                <string>{-18,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,168},{380,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0672.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{378,262}}</string>
                <key>offset</key>
                <string>{-16,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,166},{378,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0673.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,0},{362,262}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,166},{362,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0674.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,518},{342,262}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,166},{342,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0675.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,776},{334,262}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,166},{334,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0676.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,778},{334,262}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,166},{334,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0677.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,776},{330,262}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,166},{330,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0678.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1038},{320,262}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,166},{320,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0679.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1034},{312,262}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,166},{312,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0680.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1040},{308,260}}</string>
                <key>offset</key>
                <string>{7,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,168},{308,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0681.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1292},{320,260}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,168},{320,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0682.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,518},{346,260}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,168},{346,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0683.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,258},{360,258}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,170},{360,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0684.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{332,258}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,170},{332,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0685.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1550},{308,258}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,170},{308,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0686.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1292},{312,258}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,170},{312,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0687.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1034},{330,258}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,170},{330,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0688.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,518},{346,258}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,170},{346,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0689.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,262},{352,256}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,171},{352,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0690.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,780},{324,256}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,171},{324,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0691.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1296},{304,254}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,173},{304,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0692.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1812},{306,256}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,171},{306,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0693.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1036},{324,256}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,171},{324,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0694.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{346,256}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,171},{346,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0695.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,260},{354,258}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,170},{354,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0696.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{396,258}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,170},{396,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0697.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{384,258}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,170},{384,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0698.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1808},{284,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,170},{284,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0699.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,776},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b148d0ce5bf122af1cc7970507849d39:c9653cf534c74441648dae0d515b9f15:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
