<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{164,222}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,205},{164,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{166,224}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,203},{166,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,224}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,204},{170,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggCrack.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef69e078c103c62afa1e17894f360ea9:90b6c791683cca209f14bfd20e6084ff:9b9a4458a058f694d21d1a70a0dea311$</string>
            <key>textureFileName</key>
            <string>eggCrack.png</string>
        </dict>
    </dict>
</plist>
