<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,169},{222,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{220,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,169},{220,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{220,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,169},{220,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,220},{220,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,169},{220,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{220,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,169},{220,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,220},{218,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,169},{218,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,438},{218,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,169},{218,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,440},{218,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,169},{218,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{218,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,169},{218,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,656},{218,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,169},{218,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,874},{216,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,876},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1090},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1548},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1548},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1306},{214,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,169},{214,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1808},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1548},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1808},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1548},{216,260}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,169},{216,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,658},{218,260}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,168},{218,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1290},{218,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,170},{218,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1808},{218,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,170},{218,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,516},{220,258}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{220,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,774},{220,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,170},{220,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1032},{220,258}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{220,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{222,258}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,258},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d279e270ae095c4ca2f843e94f1804bf:0762111f1deb29159add9f6300880608:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
