<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,450},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,226},{224,260}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,168},{224,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1648},{226,264}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,165},{226,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1170},{228,280}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,161},{228,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,296},{224,294}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,158},{224,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1516},{220,300}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,157},{220,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,590},{218,292}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,161},{218,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,558},{228,274}}</string>
                <key>offset</key>
                <string>{10,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,166},{228,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,832},{238,268}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,163},{238,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,0},{244,276}}</string>
                <key>offset</key>
                <string>{14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,158},{244,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,282},{244,282}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,156},{244,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1728},{244,274}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,161},{244,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,0},{240,266}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,165},{240,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1712},{232,270}}</string>
                <key>offset</key>
                <string>{12,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,164},{232,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,882},{218,290}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,158},{218,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{210,302}}</string>
                <key>offset</key>
                <string>{10,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,156},{210,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{210,302}}</string>
                <key>offset</key>
                <string>{10,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{210,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,294},{208,290}}</string>
                <key>offset</key>
                <string>{10,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,166},{208,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,564},{222,280}}</string>
                <key>offset</key>
                <string>{11,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,163},{222,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1122},{240,274}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,157},{240,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1730},{246,278}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,155},{246,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,564},{246,276}}</string>
                <key>offset</key>
                <string>{14,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,161},{246,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1806},{242,266}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,165},{242,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,276},{232,272}}</string>
                <key>offset</key>
                <string>{13,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,163},{232,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1510},{212,296}}</string>
                <key>offset</key>
                <string>{9,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,158},{212,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,308}}</string>
                <key>offset</key>
                <string>{10,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,155},{210,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{210,296}}</string>
                <key>offset</key>
                <string>{10,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,160},{210,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,844},{220,278}}</string>
                <key>offset</key>
                <string>{11,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,165},{220,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,548},{238,268}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,163},{238,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,282},{246,276}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,157},{246,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{248,282}}</string>
                <key>offset</key>
                <string>{14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,155},{248,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1438},{244,274}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,160},{244,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1382},{240,266}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,165},{240,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,0},{232,272}}</string>
                <key>offset</key>
                <string>{13,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,163},{232,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,590},{216,290}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,158},{216,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{210,302}}</string>
                <key>offset</key>
                <string>{10,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,156},{210,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1214},{208,302}}</string>
                <key>offset</key>
                <string>{10,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,160},{208,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,880},{208,290}}</string>
                <key>offset</key>
                <string>{10,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,166},{208,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1450},{222,280}}</string>
                <key>offset</key>
                <string>{11,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,163},{222,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,840},{240,274}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,157},{240,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1450},{246,278}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,155},{246,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1160},{244,278}}</string>
                <key>offset</key>
                <string>{14,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,160},{244,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1114},{240,268}}</string>
                <key>offset</key>
                <string>{14,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,166},{240,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,272},{238,268}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,163},{238,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{232,280}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,159},{232,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{222,294}}</string>
                <key>offset</key>
                <string>{4,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,157},{222,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1214},{224,296}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,159},{224,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,880},{228,280}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,164},{228,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,0},{226,262}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,167},{226,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Meep0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,450},{222,258}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,170},{222,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:648bcd66bcc844bdc8dd8a023cb41676:a5cdcfe901f399d55bcb7ac7a11904f1:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
