<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1728},{190,240}}</string>
                <key>offset</key>
                <string>{26,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,225},{190,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1728},{194,246}}</string>
                <key>offset</key>
                <string>{26,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,220},{194,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1724},{202,252}}</string>
                <key>offset</key>
                <string>{24,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,215},{202,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1512},{212,258}}</string>
                <key>offset</key>
                <string>{22,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,210},{212,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1508},{220,266}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,204},{220,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1406},{230,270}}</string>
                <key>offset</key>
                <string>{18,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,200},{230,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1272},{240,278}}</string>
                <key>offset</key>
                <string>{16,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,192},{240,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1260},{248,284}}</string>
                <key>offset</key>
                <string>{14,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,186},{248,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{246,288}}</string>
                <key>offset</key>
                <string>{14,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,182},{246,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1014},{246,294}}</string>
                <key>offset</key>
                <string>{14,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,176},{246,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,776},{246,298}}</string>
                <key>offset</key>
                <string>{14,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,172},{246,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,512},{246,302}}</string>
                <key>offset</key>
                <string>{14,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,168},{246,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,246},{246,306}}</string>
                <key>offset</key>
                <string>{14,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,164},{246,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{246,308}}</string>
                <key>offset</key>
                <string>{14,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,162},{246,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{246,310}}</string>
                <key>offset</key>
                <string>{14,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,160},{246,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{246,310}}</string>
                <key>offset</key>
                <string>{14,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,160},{246,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,506},{246,308}}</string>
                <key>offset</key>
                <string>{14,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,162},{246,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,758},{256,300}}</string>
                <key>offset</key>
                <string>{8,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{256,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{274,300}}</string>
                <key>offset</key>
                <string>{-3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,169},{274,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,492},{284,302}}</string>
                <key>offset</key>
                <string>{-17,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,166},{284,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,246},{266,308}}</string>
                <key>offset</key>
                <string>{-40,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,164},{266,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{260,310}}</string>
                <key>offset</key>
                <string>{-37,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,164},{260,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1022},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1214},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b03c468972ddabf93b92d0a48f4d274a:3de548652f4350a98c00dfeebcde6fc5:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
