<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,288},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1746},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{202,294}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,158},{202,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1462},{188,288}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,161},{188,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,860},{180,284}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,164},{180,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,294}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,158},{204,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{194,290}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,160},{194,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1146},{182,284}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,164},{182,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1746},{192,286}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,882},{208,292}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,159},{208,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{214,288}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,160},{214,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1156},{188,286}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,162},{188,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1146},{184,286}}</string>
                <key>offset</key>
                <string>{-20,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,165},{184,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{180,294}}</string>
                <key>offset</key>
                <string>{-25,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,165},{180,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,588},{190,292}}</string>
                <key>offset</key>
                <string>{-26,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,167},{190,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{190,290}}</string>
                <key>offset</key>
                <string>{-26,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,168},{190,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,0},{182,282}}</string>
                <key>offset</key>
                <string>{-25,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,173},{182,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1430},{176,276}}</string>
                <key>offset</key>
                <string>{-25,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,178},{176,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1750},{184,288}}</string>
                <key>offset</key>
                <string>{-26,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,168},{184,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1716},{190,280}}</string>
                <key>offset</key>
                <string>{-26,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,178},{190,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,286},{184,282}}</string>
                <key>offset</key>
                <string>{-26,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,174},{184,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,572},{176,284}}</string>
                <key>offset</key>
                <string>{-25,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,170},{176,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1460},{198,286}}</string>
                <key>offset</key>
                <string>{-26,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,167},{198,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1432},{200,284}}</string>
                <key>offset</key>
                <string>{-17,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,165},{200,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,860},{188,286}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,162},{188,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,574},{188,286}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,162},{188,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,880},{196,286}}</string>
                <key>offset</key>
                <string>{-12,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,162},{196,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1462},{216,286}}</string>
                <key>offset</key>
                <string>{-18,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,162},{216,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1750},{224,286}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,162},{224,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1174},{216,286}}</string>
                <key>offset</key>
                <string>{-18,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,162},{216,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,584},{196,286}}</string>
                <key>offset</key>
                <string>{-12,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,162},{196,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,286},{188,286}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,162},{188,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{188,286}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{188,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{190,286}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{190,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,870},{192,286}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,163},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1174},{192,288}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,161},{192,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,574},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,288},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efbee50ee83f89ded0e98a9373f0fecc:7b2fb40284f68a26d9d70ea61bb25cd2:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
