<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,314},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,286},{226,282}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,164},{226,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,0},{268,262}}</string>
                <key>offset</key>
                <string>{-6,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,182},{268,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1712},{268,248}}</string>
                <key>offset</key>
                <string>{-7,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,195},{268,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,280},{274,272}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,173},{274,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,718},{286,326}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,126},{286,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{284,378}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,102},{284,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{270,374}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,106},{270,374}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{258,370}}</string>
                <key>offset</key>
                <string>{-8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,110},{258,370}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1122},{252,366}}</string>
                <key>offset</key>
                <string>{-10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,114},{252,366}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1488},{250,362}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,117},{250,362}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1488},{246,356}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,122},{246,356}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1122},{242,350}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,126},{242,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,752},{238,346}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,130},{238,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,378},{234,340}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,135},{234,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{230,334}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,140},{230,334}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1098},{226,330}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,143},{226,330}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,334},{222,324}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,148},{222,324}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{220,322}}</string>
                <key>offset</key>
                <string>{-8,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,150},{220,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,322},{218,316}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,154},{218,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{216,314}}</string>
                <key>offset</key>
                <string>{-6,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,156},{216,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1428},{214,308}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,160},{214,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1736},{212,302}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,165},{212,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1428},{210,296}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,169},{210,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1724},{206,290}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,173},{206,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1844},{204,284}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,176},{204,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,884},{210,280}}</string>
                <key>offset</key>
                <string>{-4,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,175},{210,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1210},{216,280}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,170},{216,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,0},{212,280}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,169},{212,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,568},{208,280}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,168},{208,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,0},{206,282}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,167},{206,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,600},{202,284}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{202,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1850},{198,284}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,164},{198,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1044},{196,286}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{196,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,638},{194,286}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,162},{194,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,0},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,924},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1426},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ee725fa945ec307192dc84db2f1a70:e6fee297dff8ad285fd1e02df89b66ff:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
