<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1718},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,286},{194,286}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{194,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1414},{198,282}}</string>
                <key>offset</key>
                <string>{-10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,166},{198,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,282},{202,280}}</string>
                <key>offset</key>
                <string>{-15,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,170},{202,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1696},{202,282}}</string>
                <key>offset</key>
                <string>{-15,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,169},{202,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1414},{208,282}}</string>
                <key>offset</key>
                <string>{-18,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,169},{208,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,854},{214,284}}</string>
                <key>offset</key>
                <string>{-21,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,167},{214,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1432},{224,284}}</string>
                <key>offset</key>
                <string>{-24,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,166},{224,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{228,286}}</string>
                <key>offset</key>
                <string>{-25,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,164},{228,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{230,286}}</string>
                <key>offset</key>
                <string>{-24,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,163},{230,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{228,286}}</string>
                <key>offset</key>
                <string>{-22,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,162},{228,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,860},{222,286}}</string>
                <key>offset</key>
                <string>{-18,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,162},{222,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1146},{220,286}}</string>
                <key>offset</key>
                <string>{-13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,162},{220,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,284},{212,284}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,164},{212,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,0},{210,284}}</string>
                <key>offset</key>
                <string>{7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,164},{210,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1716},{216,284}}</string>
                <key>offset</key>
                <string>{13,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,165},{216,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,0},{224,282}}</string>
                <key>offset</key>
                <string>{19,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,166},{224,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,850},{232,280}}</string>
                <key>offset</key>
                <string>{22,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,168},{232,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1132},{234,280}}</string>
                <key>offset</key>
                <string>{24,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,169},{234,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,566},{232,280}}</string>
                <key>offset</key>
                <string>{25,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,169},{232,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,568},{232,282}}</string>
                <key>offset</key>
                <string>{25,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,167},{232,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,284},{230,282}}</string>
                <key>offset</key>
                <string>{23,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,167},{230,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{226,282}}</string>
                <key>offset</key>
                <string>{21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,167},{226,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,850},{222,282}}</string>
                <key>offset</key>
                <string>{18,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,167},{222,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1132},{218,282}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,166},{218,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,286},{216,284}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,165},{216,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{216,284}}</string>
                <key>offset</key>
                <string>{13,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,165},{216,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,570},{216,284}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,165},{216,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1138},{214,284}}</string>
                <key>offset</key>
                <string>{12,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,164},{214,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1432},{214,286}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,164},{214,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1718},{214,286}}</string>
                <key>offset</key>
                <string>{10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,164},{214,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1432},{212,286}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,164},{212,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1146},{208,286}}</string>
                <key>offset</key>
                <string>{7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,163},{208,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,860},{204,286}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,163},{204,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,288}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,161},{200,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,574},{196,286}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,162},{196,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1718},{194,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,162},{194,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c1b9e46964e60317a5985c4c8e05513:adac4a0726184285f27b2b0df5136f28:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
