<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,290},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,0},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,576},{202,278}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,170},{202,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1156},{250,266}}</string>
                <key>offset</key>
                <string>{-5,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,182},{250,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,854},{256,264}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,190},{256,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,560},{232,264}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,193},{232,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,0},{258,266}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,188},{258,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,286},{256,274}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,174},{256,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,686},{202,292}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,153},{202,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,366},{184,320}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,123},{184,320}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1492},{180,344}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,98},{180,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1136},{264,356}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,85},{264,356}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1496},{180,360}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,81},{180,360}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1516},{222,362}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,79},{222,362}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1516},{262,364}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,78},{262,364}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{222,366}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,76},{222,366}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,378},{188,368}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,74},{188,368}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,378},{236,372}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,72},{236,372}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1140},{294,376}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,69},{294,376}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,762},{258,378}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{258,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,382}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,67},{220,382}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{276,380}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,70},{276,380}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{336,378}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,73},{336,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,762},{324,374}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,78},{324,374}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1136},{274,360}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,92},{274,360}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,746},{218,334}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,117},{218,334}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1856},{192,308}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,142},{192,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{196,294}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,155},{196,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,294},{216,290}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,159},{216,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,0},{216,290}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,158},{216,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1836},{212,290}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,158},{212,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,978},{210,290}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,158},{210,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1268},{204,288}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,160},{204,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1472},{202,288}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,161},{202,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1472},{198,288}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,161},{198,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1760},{196,286}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{196,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,584},{194,286}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,162},{194,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,870},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:635400929b0ecc1a7cab51e8f29d8d2b:a7ce05813a814276d2153b56c1e4e580:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
