<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1492},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,908},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,916},{196,290}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,160},{196,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,618},{196,290}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,159},{196,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1210},{194,292}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,156},{194,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1210},{194,294}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,154},{194,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{212,294}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,154},{212,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1504},{240,292}}</string>
                <key>offset</key>
                <string>{-19,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,156},{240,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1502},{238,288}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,162},{238,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1764},{226,278}}</string>
                <key>offset</key>
                <string>{14,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,172},{226,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,588},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,274},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,862},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{238,298}}</string>
                <key>offset</key>
                <string>{25,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,152},{238,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,312}}</string>
                <key>offset</key>
                <string>{30,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,143},{242,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{240,306}}</string>
                <key>offset</key>
                <string>{29,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,145},{240,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1796},{240,288}}</string>
                <key>offset</key>
                <string>{19,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,162},{240,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,548},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,274},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,0},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1136},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,822},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,548},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,274},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,0},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1410},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1096},{238,274}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{238,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1778},{232,268}}</string>
                <key>offset</key>
                <string>{13,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,182},{232,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1790},{220,258}}</string>
                <key>offset</key>
                <string>{12,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,190},{220,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,274},{210,254}}</string>
                <key>offset</key>
                <string>{13,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,194},{210,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,548},{216,256}}</string>
                <key>offset</key>
                <string>{7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,192},{216,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,822},{224,266}}</string>
                <key>offset</key>
                <string>{-4,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,182},{224,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,312},{222,276}}</string>
                <key>offset</key>
                <string>{-12,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,172},{222,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1480},{212,284}}</string>
                <key>offset</key>
                <string>{-10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,164},{212,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1206},{198,286}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,162},{198,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1194},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:576a6b657d67f7226056651b8419d916:7e8078877417255a6b5aa58a90d8d859:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
