<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1436},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1436},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,860},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{220,288}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,161},{220,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{252,284}}</string>
                <key>offset</key>
                <string>{12,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,164},{252,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,284},{236,282}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,166},{236,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{216,282}}</string>
                <key>offset</key>
                <string>{24,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,166},{216,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,0},{208,278}}</string>
                <key>offset</key>
                <string>{29,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,170},{208,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,566},{208,280}}</string>
                <key>offset</key>
                <string>{28,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,168},{208,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1430},{212,282}}</string>
                <key>offset</key>
                <string>{26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,166},{212,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1716},{214,282}}</string>
                <key>offset</key>
                <string>{24,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,166},{214,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1142},{210,282}}</string>
                <key>offset</key>
                <string>{27,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,166},{210,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,282},{206,280}}</string>
                <key>offset</key>
                <string>{29,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,168},{206,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,856},{210,282}}</string>
                <key>offset</key>
                <string>{27,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,166},{210,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1432},{214,284}}</string>
                <key>offset</key>
                <string>{24,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,164},{214,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1722},{216,284}}</string>
                <key>offset</key>
                <string>{21,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,164},{216,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1146},{214,284}}</string>
                <key>offset</key>
                <string>{21,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,165},{214,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,858},{208,284}}</string>
                <key>offset</key>
                <string>{24,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,164},{208,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,572},{206,284}}</string>
                <key>offset</key>
                <string>{24,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,165},{206,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1722},{210,286}}</string>
                <key>offset</key>
                <string>{22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,163},{210,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1722},{214,286}}</string>
                <key>offset</key>
                <string>{19,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,163},{214,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,574},{218,286}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,163},{218,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1150},{216,286}}</string>
                <key>offset</key>
                <string>{20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,163},{216,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{216,286}}</string>
                <key>offset</key>
                <string>{26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,163},{216,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{228,286}}</string>
                <key>offset</key>
                <string>{25,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,163},{228,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,288},{242,286}}</string>
                <key>offset</key>
                <string>{17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,162},{242,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,864},{250,286}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,162},{250,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,288}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,160},{240,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,576},{220,288}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,160},{220,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1150},{200,286}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,162},{200,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,574},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,286},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1146},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,860},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,572},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,286},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc689a8bad77fcd7943992d69a23173c:240f541417fd49e180b7fa6b280fa519:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
