<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1464},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2616},{192,284}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,164},{192,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1270},{194,286}}</string>
                <key>offset</key>
                <string>{-11,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,163},{194,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{208,286}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,163},{208,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,588},{218,286}}</string>
                <key>offset</key>
                <string>{-30,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,164},{218,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{228,288}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,165},{228,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2808},{236,280}}</string>
                <key>offset</key>
                <string>{-23,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,177},{236,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3044},{242,266}}</string>
                <key>offset</key>
                <string>{-17,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,196},{242,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3522},{242,248}}</string>
                <key>offset</key>
                <string>{-11,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,217},{242,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3764},{244,230}}</string>
                <key>offset</key>
                <string>{-8,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,226},{244,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1406},{230,226}}</string>
                <key>offset</key>
                <string>{-4,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,226},{230,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2158},{202,234}}</string>
                <key>offset</key>
                <string>{9,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,227},{202,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,3204},{166,246}}</string>
                <key>offset</key>
                <string>{10,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,228},{166,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,3756},{188,248}}</string>
                <key>offset</key>
                <string>{-5,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,229},{188,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,3518},{250,238}}</string>
                <key>offset</key>
                <string>{4,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,230},{250,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,874},{280,222}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,231},{280,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2960},{230,244}}</string>
                <key>offset</key>
                <string>{14,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,232},{230,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,3370},{148,254}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,234},{148,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1910},{202,248}}</string>
                <key>offset</key>
                <string>{-30,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,237},{202,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2678},{282,228}}</string>
                <key>offset</key>
                <string>{-29,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,243},{282,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,210}}</string>
                <key>offset</key>
                <string>{-27,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,246},{300,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,848},{288,214}}</string>
                <key>offset</key>
                <string>{-20,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,236},{288,214}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3286},{254,236}}</string>
                <key>offset</key>
                <string>{-10,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,220},{254,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1154},{226,252}}</string>
                <key>offset</key>
                <string>{-7,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,206},{226,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,298},{218,290}}</string>
                <key>offset</key>
                <string>{-16,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,167},{218,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{214,292}}</string>
                <key>offset</key>
                <string>{-20,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,161},{214,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{208,298}}</string>
                <key>offset</key>
                <string>{-11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,151},{208,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{196,292}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,154},{196,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1464},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1636},{204,274}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,175},{204,274}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1464},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1656},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1848},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2040},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2232},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2392},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2424},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{512,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea1ab288f30bb987cef2005ade13272:060ac1634f67a2eae99926c32011e3da:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
