<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,288},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,0},{194,288}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,161},{194,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{196,294}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,158},{196,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,300},{198,298}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,158},{198,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{194,302}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,161},{194,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{186,304}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,166},{186,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,306}}</string>
                <key>offset</key>
                <string>{-15,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,172},{186,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{184,302}}</string>
                <key>offset</key>
                <string>{-22,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,181},{184,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,602},{184,300}}</string>
                <key>offset</key>
                <string>{-27,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,187},{184,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,302},{186,300}}</string>
                <key>offset</key>
                <string>{-29,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,188},{186,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,302},{186,300}}</string>
                <key>offset</key>
                <string>{-29,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,188},{186,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{186,300}}</string>
                <key>offset</key>
                <string>{-29,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,188},{186,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,302},{186,300}}</string>
                <key>offset</key>
                <string>{-29,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,188},{186,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{186,300}}</string>
                <key>offset</key>
                <string>{-29,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,188},{186,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{186,300}}</string>
                <key>offset</key>
                <string>{-29,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,188},{186,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53487e44bbb9c6cba52bf8753354846f:5f8a0ceab7fbd09c8815a0e54da3aace:c1cf761d005800c04dbc6a7cacdce7d7$</string>
            <key>textureFileName</key>
            <string>exit.png</string>
        </dict>
    </dict>
</plist>
