<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1720},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1720},{192,288}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,160},{192,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1528},{192,290}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,157},{192,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1520},{188,292}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,156},{188,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1218},{178,296}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,155},{178,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,296},{158,302}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,155},{158,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{146,308}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,155},{146,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,0},{146,306}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,159},{146,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{146,304}}</string>
                <key>offset</key>
                <string>{12,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,163},{146,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,612},{148,302}}</string>
                <key>offset</key>
                <string>{19,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,168},{148,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,912},{148,300}}</string>
                <key>offset</key>
                <string>{26,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,172},{148,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,918},{152,298}}</string>
                <key>offset</key>
                <string>{29,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,176},{152,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1212},{154,296}}</string>
                <key>offset</key>
                <string>{30,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,178},{154,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1222},{154,296}}</string>
                <key>offset</key>
                <string>{30,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,178},{154,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1066},{152,298}}</string>
                <key>offset</key>
                <string>{31,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,176},{152,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1060},{152,298}}</string>
                <key>offset</key>
                <string>{30,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,176},{152,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,914},{152,300}}</string>
                <key>offset</key>
                <string>{30,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,174},{152,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,610},{150,302}}</string>
                <key>offset</key>
                <string>{30,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,172},{150,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,146},{150,304}}</string>
                <key>offset</key>
                <string>{30,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,170},{150,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{150,306}}</string>
                <key>offset</key>
                <string>{29,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,168},{150,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{150,306}}</string>
                <key>offset</key>
                <string>{29,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,168},{150,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,150},{150,304}}</string>
                <key>offset</key>
                <string>{30,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,170},{150,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,760},{152,300}}</string>
                <key>offset</key>
                <string>{30,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,174},{152,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1070},{152,298}}</string>
                <key>offset</key>
                <string>{30,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,176},{152,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1366},{154,296}}</string>
                <key>offset</key>
                <string>{30,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,178},{154,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1376},{152,296}}</string>
                <key>offset</key>
                <string>{30,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,179},{152,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,760},{158,300}}</string>
                <key>offset</key>
                <string>{30,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,178},{158,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,300},{158,302}}</string>
                <key>offset</key>
                <string>{30,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,177},{158,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{158,302}}</string>
                <key>offset</key>
                <string>{29,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,176},{158,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,454},{156,302}}</string>
                <key>offset</key>
                <string>{29,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,176},{156,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,458},{154,302}}</string>
                <key>offset</key>
                <string>{27,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,175},{154,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{152,302}}</string>
                <key>offset</key>
                <string>{22,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,174},{152,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{162,300}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,170},{162,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1396},{180,294}}</string>
                <key>offset</key>
                <string>{-8,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,167},{180,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1576},{198,288}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,164},{198,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1774},{196,286}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,163},{196,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1720},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19015d26fadc76e1911ccb96a544b45d:61a9c11515735b6a197f59dcdfb793a7:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
