<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,294},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1190},{192,288}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,160},{192,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1496},{196,290}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,158},{196,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1496},{198,290}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,156},{198,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,898},{202,292}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,156},{202,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,602},{208,296}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,155},{208,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1834},{212,300}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,155},{212,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,306},{210,304}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,157},{210,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1548},{206,306}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,160},{206,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{200,304}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,166},{200,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1854},{194,304}}</string>
                <key>offset</key>
                <string>{10,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,170},{194,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{188,302}}</string>
                <key>offset</key>
                <string>{12,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,174},{188,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,304},{188,302}}</string>
                <key>offset</key>
                <string>{12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{188,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{188,302}}</string>
                <key>offset</key>
                <string>{12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{188,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1532},{188,302}}</string>
                <key>offset</key>
                <string>{12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{188,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,926},{188,304}}</string>
                <key>offset</key>
                <string>{12,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,173},{188,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{188,306}}</string>
                <key>offset</key>
                <string>{12,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,171},{188,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1240},{190,308}}</string>
                <key>offset</key>
                <string>{11,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,169},{190,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{190,310}}</string>
                <key>offset</key>
                <string>{11,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,167},{190,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,310}}</string>
                <key>offset</key>
                <string>{10,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,167},{192,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{192,310}}</string>
                <key>offset</key>
                <string>{10,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,167},{192,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,930},{190,310}}</string>
                <key>offset</key>
                <string>{11,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,167},{190,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,620},{190,306}}</string>
                <key>offset</key>
                <string>{11,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,171},{190,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1228},{188,302}}</string>
                <key>offset</key>
                <string>{12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{188,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1530},{188,302}}</string>
                <key>offset</key>
                <string>{12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{188,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,926},{190,302}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,176},{190,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1230},{196,302}}</string>
                <key>offset</key>
                <string>{-1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,176},{196,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,606},{202,300}}</string>
                <key>offset</key>
                <string>{-7,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,175},{202,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,302},{202,300}}</string>
                <key>offset</key>
                <string>{-7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,174},{202,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{202,300}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,173},{202,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,906},{204,298}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,174},{204,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,300},{208,296}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,173},{208,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,0},{210,294}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,171},{210,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1204},{210,292}}</string>
                <key>offset</key>
                <string>{-7,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,168},{210,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1786},{206,288}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,166},{206,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,898},{200,286}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,165},{200,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,596},{194,286}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,163},{194,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:501433bf23f8ead62f239ce72aaf52d1:78fe42685850b74cc413049a034cf3ec:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
