<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,292},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,970},{194,288}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,160},{194,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1192},{198,290}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,158},{198,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,754},{202,292}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,156},{202,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,744},{208,292}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,156},{208,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{216,296}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,155},{216,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1488},{224,296}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,157},{224,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1488},{232,296}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,159},{232,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,0},{238,294}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,163},{238,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,508},{244,292}}</string>
                <key>offset</key>
                <string>{-9,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{244,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,718},{248,292}}</string>
                <key>offset</key>
                <string>{-14,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,171},{248,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,752},{248,290}}</string>
                <key>offset</key>
                <string>{-18,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,177},{248,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,952},{248,290}}</string>
                <key>offset</key>
                <string>{-19,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,178},{248,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,484},{250,290}}</string>
                <key>offset</key>
                <string>{-20,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,178},{250,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,0},{250,292}}</string>
                <key>offset</key>
                <string>{-20,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,176},{250,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,258},{250,292}}</string>
                <key>offset</key>
                <string>{-20,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,176},{250,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{250,294}}</string>
                <key>offset</key>
                <string>{-20,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,173},{250,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1192},{252,296}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,171},{252,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,298}}</string>
                <key>offset</key>
                <string>{-21,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,169},{252,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{252,298}}</string>
                <key>offset</key>
                <string>{-21,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,169},{252,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{252,298}}</string>
                <key>offset</key>
                <string>{-21,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,169},{252,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,894},{252,298}}</string>
                <key>offset</key>
                <string>{-21,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,169},{252,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,216},{250,294}}</string>
                <key>offset</key>
                <string>{-20,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,173},{250,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,494},{250,292}}</string>
                <key>offset</key>
                <string>{-20,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,176},{250,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,956},{248,290}}</string>
                <key>offset</key>
                <string>{-19,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,178},{248,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,504},{250,292}}</string>
                <key>offset</key>
                <string>{-20,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,177},{250,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,250},{254,292}}</string>
                <key>offset</key>
                <string>{-22,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,178},{254,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1784},{258,294}}</string>
                <key>offset</key>
                <string>{-25,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,176},{258,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1784},{260,294}}</string>
                <key>offset</key>
                <string>{-26,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,176},{260,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{258,294}}</string>
                <key>offset</key>
                <string>{-25,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,175},{258,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,0},{258,292}}</string>
                <key>offset</key>
                <string>{-25,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,176},{258,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,238},{256,292}}</string>
                <key>offset</key>
                <string>{-22,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,176},{256,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,466},{252,292}}</string>
                <key>offset</key>
                <string>{-18,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,174},{252,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,258},{240,294}}</string>
                <key>offset</key>
                <string>{-12,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,169},{240,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,966},{226,290}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,167},{226,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1200},{210,288}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,165},{210,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,774},{196,288}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,162},{196,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>LeBlob0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,292},{192,286}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,162},{192,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7dcb86f498a34b65a9e5ff151e9f8b3:c3434769148eea3c317e55d81403d64a:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
