<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,228},{198,226}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,202},{198,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{210,228}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,200},{210,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1814},{218,238}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,190},{218,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2842},{222,254}}</string>
                <key>offset</key>
                <string>{3,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,174},{222,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2576},{222,266}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,164},{222,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2032},{222,274}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{220,278}}</string>
                <key>offset</key>
                <string>{16,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,152},{220,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,494},{220,278}}</string>
                <key>offset</key>
                <string>{18,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,152},{220,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,936},{220,276}}</string>
                <key>offset</key>
                <string>{18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,154},{220,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{222,276}}</string>
                <key>offset</key>
                <string>{17,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,154},{222,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,996},{224,274}}</string>
                <key>offset</key>
                <string>{16,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,155},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1270},{224,272}}</string>
                <key>offset</key>
                <string>{16,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,156},{224,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{220,276}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,155},{220,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2882},{220,272}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,157},{220,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,3096},{220,270}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,158},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3102},{220,270}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,158},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3322},{220,270}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,158},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,3366},{220,270}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,158},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3542},{220,270}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,158},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,3636},{220,270}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,158},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3762},{220,270}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,158},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2306},{222,270}}</string>
                <key>offset</key>
                <string>{17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,158},{222,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,726},{226,270}}</string>
                <key>offset</key>
                <string>{15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,158},{226,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,454},{232,272}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,157},{232,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1542},{238,272}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,157},{238,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2638},{244,272}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,157},{244,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2388},{250,272}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,157},{250,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1910},{256,274}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,156},{256,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1646},{264,274}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,156},{264,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1376},{270,274}}</string>
                <key>offset</key>
                <string>{-7,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,156},{270,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,274}}</string>
                <key>offset</key>
                <string>{-22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,156},{300,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2166},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{512,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7012c64fa6ef20e8980d71d2d9a805b:3ba937530b1c7d3cb48c9343112a7336:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
