<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0600.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,554},{222,272}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,158},{222,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1080},{220,268}}</string>
                <key>offset</key>
                <string>{8,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,162},{220,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1104},{220,266}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,164},{220,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1288},{220,264}}</string>
                <key>offset</key>
                <string>{12,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,166},{220,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1064},{224,270}}</string>
                <key>offset</key>
                <string>{18,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,160},{224,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,826},{240,278}}</string>
                <key>offset</key>
                <string>{29,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,152},{240,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{260,284}}</string>
                <key>offset</key>
                <string>{44,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,146},{260,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,558},{280,282}}</string>
                <key>offset</key>
                <string>{56,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,148},{280,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,0},{290,280}}</string>
                <key>offset</key>
                <string>{64,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,150},{290,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{292,278}}</string>
                <key>offset</key>
                <string>{68,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,152},{292,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,280},{290,278}}</string>
                <key>offset</key>
                <string>{69,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,152},{290,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0620.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,280},{290,278}}</string>
                <key>offset</key>
                <string>{67,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,152},{290,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0621.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,280},{288,278}}</string>
                <key>offset</key>
                <string>{64,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,152},{288,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0622.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,558},{286,278}}</string>
                <key>offset</key>
                <string>{58,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,152},{286,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0623.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,562},{284,280}}</string>
                <key>offset</key>
                <string>{49,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,150},{284,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0624.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,558},{282,280}}</string>
                <key>offset</key>
                <string>{40,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,150},{282,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0625.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,560},{284,282}}</string>
                <key>offset</key>
                <string>{27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,148},{284,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0626.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,278},{302,282}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,148},{302,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0627.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{324,282}}</string>
                <key>offset</key>
                <string>{-19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,148},{324,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0628.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{332,280}}</string>
                <key>offset</key>
                <string>{-36,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,150},{332,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0629.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{322,280}}</string>
                <key>offset</key>
                <string>{-43,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,150},{322,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0630.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,0},{314,278}}</string>
                <key>offset</key>
                <string>{-47,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,152},{314,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0631.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,0},{308,280}}</string>
                <key>offset</key>
                <string>{-48,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,150},{308,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0632.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,282},{302,280}}</string>
                <key>offset</key>
                <string>{-45,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,150},{302,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0633.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,0},{290,280}}</string>
                <key>offset</key>
                <string>{-36,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,150},{290,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0634.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,836},{268,280}}</string>
                <key>offset</key>
                <string>{-22,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,150},{268,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0635.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,838},{242,278}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,152},{242,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0636.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,838},{226,274}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,156},{226,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0637.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0638.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0639.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0640.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0641.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0642.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0643.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0644.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0645.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0646.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0647.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0648.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0649.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,280},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52d44aa322c1c59945c4545ca31e2847:18db8fb9df8e82f01578ff98cb6f89c1:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
