<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0550.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,834},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0551.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,560},{222,274}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0552.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,560},{226,274}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,156},{226,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0553.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,286},{230,274}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,156},{230,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0554.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,0},{228,274}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,156},{228,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0555.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1108},{222,274}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0556.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1602},{210,276}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,155},{210,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0557.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,868},{196,282}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,156},{196,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0558.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1602},{180,288}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,155},{180,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0559.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1312},{170,290}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,156},{170,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0560.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,622},{166,294}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,154},{166,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0561.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1312},{166,294}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,155},{166,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0562.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1606},{166,292}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,156},{166,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0563.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{166,286}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,162},{166,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0564.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1150},{164,280}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,168},{164,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0565.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,834},{164,274}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,174},{164,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0566.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1106},{164,270}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,177},{164,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0567.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1878},{164,276}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,172},{164,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0568.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,584},{166,284}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,164},{166,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0569.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,324},{166,298}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,151},{166,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0570.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1010},{168,314}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,136},{168,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0571.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,682},{170,328}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,123},{170,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0572.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{170,338}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,113},{170,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0573.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,342}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,109},{172,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0574.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{172,340}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,111},{172,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0575.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1020},{170,338}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,113},{170,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0576.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1358},{170,334}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,117},{170,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0577.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1692},{170,330}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,121},{170,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0578.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{170,324}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,126},{170,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0579.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,324},{168,320}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,130},{168,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0580.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1324},{168,314}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,136},{168,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0581.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1638},{168,306}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,143},{168,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0582.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1010},{168,302}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,147},{168,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0583.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{166,296}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,153},{166,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0584.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,296},{166,288}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,160},{166,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0585.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1602},{164,280}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,168},{164,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0586.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1872},{164,270}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,177},{164,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0587.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1858},{164,266}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,181},{164,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0588.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1882},{166,272}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,174},{166,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0589.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1430},{172,276}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,168},{172,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0590.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1600},{184,272}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,168},{184,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0591.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1590},{198,268}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,168},{198,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0592.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1380},{210,262}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,168},{210,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0593.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1382},{218,262}}</string>
                <key>offset</key>
                <string>{6,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,168},{218,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0594.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,228},{224,264}}</string>
                <key>offset</key>
                <string>{6,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,166},{224,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0595.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,0},{228,266}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,164},{228,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0596.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1590},{226,268}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,162},{226,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0597.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1108},{224,272}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,158},{224,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0598.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,834},{222,272}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,158},{222,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0599.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,834},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b75db2b8b39eae2585ad005a9321ba8c:b5aa06bad698375823d49f1b84763d82:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
