<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,240},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2048},{226,272}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,157},{226,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,3518},{238,268}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,158},{238,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3558},{248,264}}</string>
                <key>offset</key>
                <string>{9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,159},{248,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3806},{244,256}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,163},{244,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,3806},{218,246}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,170},{218,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,3756},{188,234}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,179},{188,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,3896},{164,220}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,191},{164,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,3600},{152,212}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,197},{152,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,3600},{148,208}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,200},{148,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,3748},{148,208}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,200},{148,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,3600},{148,208}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,200},{148,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1776},{290,272}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,159},{290,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{368,324}}</string>
                <key>offset</key>
                <string>{12,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,156},{368,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1256},{364,324}}</string>
                <key>offset</key>
                <string>{12,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,156},{364,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1284},{362,326}}</string>
                <key>offset</key>
                <string>{11,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,154},{362,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1904},{358,326}}</string>
                <key>offset</key>
                <string>{9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,155},{358,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1936},{354,328}}</string>
                <key>offset</key>
                <string>{6,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{354,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2608},{346,326}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,154},{346,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2590},{342,326}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,154},{342,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2954},{340,326}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,153},{340,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2872},{342,326}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,153},{342,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2264},{350,326}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,153},{350,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1610},{360,326}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,153},{360,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,958},{366,326}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,154},{366,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,300},{372,324}}</string>
                <key>offset</key>
                <string>{11,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,155},{372,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{370,324}}</string>
                <key>offset</key>
                <string>{13,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,155},{370,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1580},{362,324}}</string>
                <key>offset</key>
                <string>{14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,155},{362,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0528.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2550},{348,322}}</string>
                <key>offset</key>
                <string>{14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,156},{348,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0529.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2916},{338,322}}</string>
                <key>offset</key>
                <string>{9,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,154},{338,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0530.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,3198},{334,320}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,154},{334,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0531.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3238},{328,320}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,153},{328,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0532.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,3280},{328,320}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,153},{328,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0533.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2274},{334,318}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,154},{334,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0534.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2230},{352,320}}</string>
                <key>offset</key>
                <string>{13,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,155},{352,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0535.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,938},{368,318}}</string>
                <key>offset</key>
                <string>{11,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,155},{368,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0536.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,624},{370,314}}</string>
                <key>offset</key>
                <string>{9,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,155},{370,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0537.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{374,310}}</string>
                <key>offset</key>
                <string>{7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,153},{374,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0538.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{374,300}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,154},{374,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0539.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1424},{352,290}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,155},{352,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0540.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,684},{296,282}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,155},{296,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0541.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{240,276}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,156},{240,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0542.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,240},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0543.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,462},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0544.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,980},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0545.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1202},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0546.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,240},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0547.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,240},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0548.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,240},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0549.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,240},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:008667bc81b562485b3b1ade1a27459b:69935ca9887790d88290c89b11a1f4f6:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
