<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,276},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,852},{224,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,156},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,0},{228,272}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,157},{228,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1422},{236,270}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,158},{236,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,228},{246,270}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,158},{246,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,834},{252,268}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,158},{252,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,720},{254,266}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,159},{254,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1692},{250,266}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,159},{250,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,550},{248,268}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,159},{248,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,474},{246,268}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,160},{246,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1126},{258,268}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,157},{258,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,0},{282,274}}</string>
                <key>offset</key>
                <string>{-11,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,150},{282,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{310,276}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,148},{310,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{308,278}}</string>
                <key>offset</key>
                <string>{-29,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,147},{308,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,310},{242,304}}</string>
                <key>offset</key>
                <string>{-30,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,146},{242,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,326}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,147},{206,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{220,318}}</string>
                <key>offset</key>
                <string>{-12,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,147},{220,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1254},{286,292}}</string>
                <key>offset</key>
                <string>{27,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,150},{286,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1256},{302,300}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,148},{302,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,614},{280,298}}</string>
                <key>offset</key>
                <string>{-22,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,148},{280,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,952},{246,302}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,147},{246,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,952},{226,304}}</string>
                <key>offset</key>
                <string>{13,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,148},{226,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1546},{238,292}}</string>
                <key>offset</key>
                <string>{-14,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,146},{238,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1838},{208,290}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,149},{208,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,912},{228,290}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,150},{228,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,0},{244,288}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,149},{244,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1558},{242,294}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,147},{242,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,310},{192,296}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,146},{192,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,606},{204,290}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,146},{204,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1852},{192,282}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,147},{192,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1852},{184,284}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,149},{184,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,896},{204,284}}</string>
                <key>offset</key>
                <string>{-13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,150},{204,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1768},{226,280}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,150},{226,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,570},{240,282}}</string>
                <key>offset</key>
                <string>{-29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,149},{240,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,864},{246,282}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,149},{246,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1462},{250,282}}</string>
                <key>offset</key>
                <string>{-25,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,149},{250,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1744},{250,282}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,149},{250,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1202},{252,284}}</string>
                <key>offset</key>
                <string>{-23,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,148},{252,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1180},{256,282}}</string>
                <key>offset</key>
                <string>{-22,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,150},{256,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1486},{262,282}}</string>
                <key>offset</key>
                <string>{-19,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,150},{262,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,288},{274,282}}</string>
                <key>offset</key>
                <string>{-16,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,150},{274,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,294},{288,282}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,150},{288,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{294,280}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,152},{294,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1558},{294,280}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,152},{294,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,582},{282,278}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,154},{282,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,282},{264,278}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,154},{264,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{246,276}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,156},{246,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1146},{232,276}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{232,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,560},{224,274}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,157},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,0},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18fe527b872e2acf5071de038c445130:178b35734ad6f3b3b30ed39fb178c329:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
