<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,226},{172,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{172,222}}</string>
                <key>offset</key>
                <string>{6,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,205},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,448},{172,222}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,205},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{172,224}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,204},{172,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{174,226}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,203},{174,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{172,224}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,205},{172,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{172,224}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,205},{172,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,670},{172,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{172,222}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{172,222}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{172,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,172},{172,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,226},{172,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,226},{172,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,226},{172,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggIdle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea9bdc4f634574ed74820a8df1616ccc:7ce4abed4d45205ba87192949776a779:5fe1c8f2c7fd33eabd49e5faa65fc238$</string>
            <key>textureFileName</key>
            <string>eggIdle.png</string>
        </dict>
    </dict>
</plist>
