<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1286},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1008},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1508},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1782},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1508},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1230},{222,274}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,454},{224,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,156},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1562},{224,276}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,155},{224,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1010},{224,276}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,155},{224,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,228},{226,276}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,155},{226,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,784},{226,276}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,155},{226,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1010},{226,276}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,155},{226,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{228,278}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,153},{228,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,278},{228,278}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,154},{228,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{230,278}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,154},{230,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1350},{230,278}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,154},{230,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1580},{230,278}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,154},{230,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,280}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,152},{230,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{230,280}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,152},{230,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{230,280}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,152},{230,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{230,280}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,152},{230,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1810},{230,278}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,154},{230,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,556},{228,278}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,154},{228,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{228,276}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,155},{228,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1286},{226,276}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,155},{226,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,784},{224,276}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,155},{224,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{224,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,156},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1786},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,274},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1286},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08fe2f539abeba4c15fb3702fd386af0:d78f806fd95611294d8cd708bcddfc25:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
