<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1644},{220,274}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1644},{220,274}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{218,274}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{218,274}}</string>
                <key>offset</key>
                <string>{-11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,220},{218,274}}</string>
                <key>offset</key>
                <string>{-13,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,220},{218,274}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,274},{218,274}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,438},{218,274}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,438},{218,274}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,492},{218,274}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,440},{218,274}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{220,274}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,494},{218,274}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{220,274}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,0},{220,274}}</string>
                <key>offset</key>
                <string>{-18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,0},{220,274}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{220,274}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,0},{220,274}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,440},{218,274}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,274},{220,274}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,656},{218,274}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,656},{218,274}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,710},{218,274}}</string>
                <key>offset</key>
                <string>{-13,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,658},{218,274}}</string>
                <key>offset</key>
                <string>{-12,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,768},{218,274}}</string>
                <key>offset</key>
                <string>{-11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,658},{218,274}}</string>
                <key>offset</key>
                <string>{-11,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,874},{218,274}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,874},{218,274}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,928},{218,274}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1146},{218,274}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1420},{218,274}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,548},{220,274}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,822},{220,274}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1096},{220,274}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1370},{220,274}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1644},{220,274}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,220},{220,274}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{222,274}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,220},{220,274}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{222,274}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1096},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1370},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a3a334f610ba6a564afd4935bd33308:d91e26a285709f337ad77d3153c596e9:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
