<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,982},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,516},{240,274}}</string>
                <key>offset</key>
                <string>{15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,156},{240,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{282,274}}</string>
                <key>offset</key>
                <string>{38,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,156},{282,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{278,274}}</string>
                <key>offset</key>
                <string>{39,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,156},{278,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,750},{232,274}}</string>
                <key>offset</key>
                <string>{19,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,156},{232,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1204},{218,274}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,756},{228,274}}</string>
                <key>offset</key>
                <string>{21,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,156},{228,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,274},{242,274}}</string>
                <key>offset</key>
                <string>{29,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,156},{242,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,516},{234,274}}</string>
                <key>offset</key>
                <string>{24,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,156},{234,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{224,274}}</string>
                <key>offset</key>
                <string>{17,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,156},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1206},{218,274}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,156},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,984},{222,274}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,274},{242,274}}</string>
                <key>offset</key>
                <string>{21,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,156},{242,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{280,274}}</string>
                <key>offset</key>
                <string>{39,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,156},{280,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{280,274}}</string>
                <key>offset</key>
                <string>{37,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,156},{280,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{238,274}}</string>
                <key>offset</key>
                <string>{15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,156},{238,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Sausalito0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1010},{222,274}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34587c49ff67b6a1e289ffc39016bc61:55eaa879d857f6db1d14f7a6dfb39463:27ef85eb9c95ff93a5a6326e38d271d1$</string>
            <key>textureFileName</key>
            <string>reaction2.png</string>
        </dict>
    </dict>
</plist>
