<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1146},{180,216}}</string>
                <key>offset</key>
                <string>{8,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,234},{180,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,964},{190,220}}</string>
                <key>offset</key>
                <string>{7,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,231},{190,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,954},{192,232}}</string>
                <key>offset</key>
                <string>{-6,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,222},{192,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,954},{226,236}}</string>
                <key>offset</key>
                <string>{-15,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,225},{226,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,920},{296,236}}</string>
                <key>offset</key>
                <string>{-14,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,231},{296,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,626},{350,262}}</string>
                <key>offset</key>
                <string>{-25,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,212},{350,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,680},{376,284}}</string>
                <key>offset</key>
                <string>{-38,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,194},{376,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,670},{376,306}}</string>
                <key>offset</key>
                <string>{-50,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,177},{376,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,0},{384,328}}</string>
                <key>offset</key>
                <string>{-51,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,159},{384,328}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{388,344}}</string>
                <key>offset</key>
                <string>{-49,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,145},{388,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{388,350}}</string>
                <key>offset</key>
                <string>{-49,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,139},{388,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{394,350}}</string>
                <key>offset</key>
                <string>{-45,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,139},{394,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,0},{386,348}}</string>
                <key>offset</key>
                <string>{-49,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,142},{386,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,344},{384,344}}</string>
                <key>offset</key>
                <string>{-48,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,147},{384,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,328},{382,342}}</string>
                <key>offset</key>
                <string>{-48,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,151},{382,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,348},{382,332}}</string>
                <key>offset</key>
                <string>{-48,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,162},{382,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{366,300}}</string>
                <key>offset</key>
                <string>{-54,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,187},{366,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,350},{358,276}}</string>
                <key>offset</key>
                <string>{-46,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,209},{358,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,650},{342,270}}</string>
                <key>offset</key>
                <string>{-45,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,217},{342,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,688},{330,266}}</string>
                <key>offset</key>
                <string>{-48,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,218},{330,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,888},{314,240}}</string>
                <key>offset</key>
                <string>{-46,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,219},{314,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,964},{202,216}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,217},{202,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{196,220}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,213},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1128},{196,222}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,211},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00dbb3d2e974b7d3312f2a72a49b8750:f6159f99285b3efb9e8b8320239e6b68:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
