<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,662},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{224,220}}</string>
                <key>offset</key>
                <string>{18,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,212},{224,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,442},{256,220}}</string>
                <key>offset</key>
                <string>{35,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,212},{256,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{260,220}}</string>
                <key>offset</key>
                <string>{39,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,212},{260,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,442},{258,220}}</string>
                <key>offset</key>
                <string>{39,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,212},{258,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{246,222}}</string>
                <key>offset</key>
                <string>{34,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,210},{246,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1332},{222,222}}</string>
                <key>offset</key>
                <string>{23,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,210},{222,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,884},{216,222}}</string>
                <key>offset</key>
                <string>{20,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,210},{216,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1554},{216,222}}</string>
                <key>offset</key>
                <string>{20,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,211},{216,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1108},{218,222}}</string>
                <key>offset</key>
                <string>{20,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,210},{218,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1776},{220,220}}</string>
                <key>offset</key>
                <string>{20,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,211},{220,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{224,218}}</string>
                <key>offset</key>
                <string>{20,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,213},{224,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,662},{244,218}}</string>
                <key>offset</key>
                <string>{11,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,213},{244,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,218},{280,220}}</string>
                <key>offset</key>
                <string>{-6,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,211},{280,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{300,220}}</string>
                <key>offset</key>
                <string>{-15,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,211},{300,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{306,222}}</string>
                <key>offset</key>
                <string>{-16,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{306,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{304,222}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,209},{304,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,218},{280,224}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,208},{280,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,220},{268,224}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,207},{268,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,220},{268,222}}</string>
                <key>offset</key>
                <string>{7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,209},{268,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,438},{262,222}}</string>
                <key>offset</key>
                <string>{7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,209},{262,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,658},{252,222}}</string>
                <key>offset</key>
                <string>{7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,209},{252,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,662},{248,222}}</string>
                <key>offset</key>
                <string>{7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,209},{248,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,0},{264,220}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,211},{264,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{284,220}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,211},{284,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,222},{264,220}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,211},{264,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,660},{250,220}}</string>
                <key>offset</key>
                <string>{4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,211},{250,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,660},{256,220}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,211},{256,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,444},{272,218}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,212},{272,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,0},{282,218}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,213},{282,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,662},{250,218}}</string>
                <key>offset</key>
                <string>{4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,212},{250,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,442},{254,218}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,212},{254,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,220},{270,218}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,213},{270,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,0},{282,218}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,213},{282,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{330,220}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,211},{330,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,438},{276,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,212},{276,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,662},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,662},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90513b77708fa85ce8db9eb841cee007:7d56d29018274048386468f4a850cc41:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
