<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,620},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1012},{188,216}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,217},{188,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1434},{192,212}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,221},{192,212}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1218},{200,214}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,219},{200,214}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,824},{206,218}}</string>
                <key>offset</key>
                <string>{3,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,214},{206,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,412},{208,222}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,209},{208,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,204},{208,228}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,203},{208,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,204},{210,228}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,203},{210,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1012},{206,216}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,219},{206,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1238},{206,212}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,223},{206,212}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1830},{208,208}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,227},{208,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1818},{206,208}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,227},{206,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1612},{206,210}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,226},{206,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1032},{206,214}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,225},{206,214}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,620},{206,220}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,221},{206,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{208,222}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,220},{208,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,412},{206,224}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,218},{206,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{206,224}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,218},{206,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,414},{206,222}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,219},{206,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,826},{206,218}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,221},{206,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1200},{206,214}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,223},{206,214}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1444},{208,210}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,225},{208,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1624},{206,210}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,225},{206,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,618},{206,222}}</string>
                <key>offset</key>
                <string>{3,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,224},{206,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,204},{208,238}}</string>
                <key>offset</key>
                <string>{2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,221},{208,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,242}}</string>
                <key>offset</key>
                <string>{2,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,217},{206,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{204,240}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,215},{204,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{204,242}}</string>
                <key>offset</key>
                <string>{1,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,217},{204,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{204,242}}</string>
                <key>offset</key>
                <string>{2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,219},{204,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{206,230}}</string>
                <key>offset</key>
                <string>{3,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,221},{206,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1030},{206,218}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,223},{206,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1406},{206,212}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,225},{206,212}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1418},{206,212}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,225},{206,212}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1626},{206,208}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,227},{206,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1830},{204,210}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,224},{204,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1236},{198,214}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,220},{198,214}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,826},{186,220}}</string>
                <key>offset</key>
                <string>{3,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,213},{186,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,816},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7cc6e2104fbeefd6f08795370912086:5b038cb90d553aef610529f8ead25da2:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
