<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,722},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,3498},{212,224}}</string>
                <key>offset</key>
                <string>{-6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,211},{212,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2562},{246,238}}</string>
                <key>offset</key>
                <string>{-20,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,212},{246,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1592},{266,250}}</string>
                <key>offset</key>
                <string>{-20,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,210},{266,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2800},{238,244}}</string>
                <key>offset</key>
                <string>{-5,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,209},{238,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,478},{190,244}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,196},{190,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2122},{174,248}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,189},{174,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2852},{184,242}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,194},{184,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,3264},{234,234}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,203},{234,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1140},{310,222}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,212},{310,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{320,228}}</string>
                <key>offset</key>
                <string>{-9,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,212},{320,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1842},{218,262}}</string>
                <key>offset</key>
                <string>{2,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,214},{218,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1166},{188,254}}</string>
                <key>offset</key>
                <string>{33,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,216},{188,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,258},{186,220}}</string>
                <key>offset</key>
                <string>{17,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,217},{186,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,3710},{156,216}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,218},{156,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,3852},{170,220}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,218},{170,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3852},{168,222}}</string>
                <key>offset</key>
                <string>{-22,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,218},{168,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3208},{220,236}}</string>
                <key>offset</key>
                <string>{-30,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,218},{220,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2332},{254,230}}</string>
                <key>offset</key>
                <string>{-19,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,209},{254,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1912},{210,248}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,187},{210,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2060},{130,260}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,179},{130,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2190},{142,256}}</string>
                <key>offset</key>
                <string>{4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,183},{142,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2664},{188,246}}</string>
                <key>offset</key>
                <string>{15,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,188},{188,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,3036},{228,238}}</string>
                <key>offset</key>
                <string>{-7,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,196},{228,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3428},{220,232}}</string>
                <key>offset</key>
                <string>{-29,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,207},{220,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3038},{170,238}}</string>
                <key>offset</key>
                <string>{-25,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,212},{170,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2296},{138,256}}</string>
                <key>offset</key>
                <string>{6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,212},{138,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{178,258}}</string>
                <key>offset</key>
                <string>{-6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,212},{178,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1646},{266,246}}</string>
                <key>offset</key>
                <string>{-5,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,213},{266,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{316,234}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,213},{316,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{330,226}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,211},{330,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{326,224}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,210},{326,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{312,228}}</string>
                <key>offset</key>
                <string>{-4,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,211},{312,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1362},{286,230}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,211},{286,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2434},{254,230}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,211},{254,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1420},{226,226}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,211},{226,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3648},{204,222}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,211},{204,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,944},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{512,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7f90adf8d110c5e3188c039162743aa:d93ed15418c2e9a1d57d30ce47645844:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
