<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1192},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,960},{186,218}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,217},{186,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1100},{180,214}}</string>
                <key>offset</key>
                <string>{3,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,231},{180,214}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1222},{180,202}}</string>
                <key>offset</key>
                <string>{3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,248},{180,202}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,962},{188,196}}</string>
                <key>offset</key>
                <string>{3,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,255},{188,196}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1388},{198,200}}</string>
                <key>offset</key>
                <string>{3,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,250},{198,200}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,976},{214,216}}</string>
                <key>offset</key>
                <string>{3,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,235},{214,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,794},{228,234}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,216},{228,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,506},{242,256}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,193},{242,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,268},{254,278}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,170},{254,278}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,0},{268,296}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,149},{268,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{284,308}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,133},{284,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,496},{298,310}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,127},{298,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,254},{314,304}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,130},{314,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,0},{322,294}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,138},{322,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,212},{324,284}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,148},{324,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{324,270}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,161},{324,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,0},{324,254}}</string>
                <key>offset</key>
                <string>{9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,177},{324,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,226},{324,240}}</string>
                <key>offset</key>
                <string>{12,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,191},{324,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{334,226}}</string>
                <key>offset</key>
                <string>{11,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,207},{334,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{344,212}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,221},{344,212}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{348,206}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,229},{348,206}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{338,206}}</string>
                <key>offset</key>
                <string>{-3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,231},{338,206}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,466},{312,208}}</string>
                <key>offset</key>
                <string>{-3,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,229},{312,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,294},{278,212}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,226},{278,212}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,558},{244,216}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,220},{244,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,748},{218,218}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,217},{218,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,900},{200,220}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,213},{200,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1192},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,774},{202,220}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,213},{202,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,746},{216,224}}</string>
                <key>offset</key>
                <string>{6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,215},{216,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,522},{232,226}}</string>
                <key>offset</key>
                <string>{6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,219},{232,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,674},{238,226}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,221},{238,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{234,226}}</string>
                <key>offset</key>
                <string>{6,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,220},{234,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,522},{224,226}}</string>
                <key>offset</key>
                <string>{6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,216},{224,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,748},{212,222}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,214},{212,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1022},{200,220}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,213},{200,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1192},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cabe1c70ca20ac62b715d29bd177090c:8d3f1ee71de44eb7a120dcd43654db38:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
