<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,730},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,0},{246,224}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,209},{246,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,446},{284,228}}</string>
                <key>offset</key>
                <string>{-10,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,205},{284,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,228},{284,226}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,207},{284,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,454},{278,224}}</string>
                <key>offset</key>
                <string>{-8,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,210},{278,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,668},{270,220}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,214},{270,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,888},{264,216}}</string>
                <key>offset</key>
                <string>{-4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,218},{264,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,672},{258,218}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,217},{258,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,902},{254,218}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,217},{254,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,678},{270,216}}</string>
                <key>offset</key>
                <string>{-4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,218},{270,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,226},{294,224}}</string>
                <key>offset</key>
                <string>{-12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,210},{294,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{304,226}}</string>
                <key>offset</key>
                <string>{-15,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,207},{304,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,224},{296,226}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,207},{296,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,448},{282,220}}</string>
                <key>offset</key>
                <string>{-8,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,214},{282,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1102},{262,216}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,218},{262,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1104},{254,218}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,217},{254,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,888},{258,216}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,218},{258,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,670},{272,216}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,218},{272,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,450},{288,222}}</string>
                <key>offset</key>
                <string>{-11,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,212},{288,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,0},{298,224}}</string>
                <key>offset</key>
                <string>{-14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,209},{298,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{302,228}}</string>
                <key>offset</key>
                <string>{-15,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,205},{302,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,0},{298,226}}</string>
                <key>offset</key>
                <string>{-14,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,207},{298,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,228},{284,220}}</string>
                <key>offset</key>
                <string>{-10,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,214},{284,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{268,216}}</string>
                <key>offset</key>
                <string>{-6,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,218},{268,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,894},{262,218}}</string>
                <key>offset</key>
                <string>{-4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,217},{262,218}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,672},{266,216}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,218},{266,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{280,216}}</string>
                <key>offset</key>
                <string>{-8,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,218},{280,216}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,450},{292,222}}</string>
                <key>offset</key>
                <string>{-12,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,212},{292,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,0},{300,226}}</string>
                <key>offset</key>
                <string>{-14,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,207},{300,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{302,228}}</string>
                <key>offset</key>
                <string>{-14,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,205},{302,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{300,228}}</string>
                <key>offset</key>
                <string>{-14,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,205},{300,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,226},{294,226}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,207},{294,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,452},{280,226}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,207},{280,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,678},{264,224}}</string>
                <key>offset</key>
                <string>{-6,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,209},{264,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,224},{242,222}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,211},{242,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1112},{220,220}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,213},{220,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1318},{202,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,212},{202,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,730},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c613284d9407ab0f908b90f051efb38e:bccee823c15480ae58a9a1904a99f0da:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
