<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1464},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1684},{190,220}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,212},{190,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,234},{192,226}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,211},{192,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,472},{198,230}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,213},{198,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,472},{204,234}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,213},{204,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,0},{208,234}}</string>
                <key>offset</key>
                <string>{-9,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,213},{208,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{218,234}}</string>
                <key>offset</key>
                <string>{-15,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,213},{218,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,238},{230,234}}</string>
                <key>offset</key>
                <string>{-22,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,213},{230,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1472},{240,234}}</string>
                <key>offset</key>
                <string>{-28,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,214},{240,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,976},{238,236}}</string>
                <key>offset</key>
                <string>{-28,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,213},{238,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1478},{242,236}}</string>
                <key>offset</key>
                <string>{-29,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,213},{242,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1724},{242,238}}</string>
                <key>offset</key>
                <string>{-28,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,210},{242,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1232},{240,240}}</string>
                <key>offset</key>
                <string>{-26,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,209},{240,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1482},{242,242}}</string>
                <key>offset</key>
                <string>{-27,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,208},{242,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1236},{242,242}}</string>
                <key>offset</key>
                <string>{-28,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,209},{242,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,742},{238,242}}</string>
                <key>offset</key>
                <string>{-28,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,209},{238,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,494},{238,242}}</string>
                <key>offset</key>
                <string>{-24,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,209},{238,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,984},{238,240}}</string>
                <key>offset</key>
                <string>{-19,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,211},{238,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,238},{234,238}}</string>
                <key>offset</key>
                <string>{-13,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,213},{234,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{238,236}}</string>
                <key>offset</key>
                <string>{-10,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,214},{238,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1720},{240,236}}</string>
                <key>offset</key>
                <string>{-10,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,214},{240,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,736},{240,238}}</string>
                <key>offset</key>
                <string>{-8,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,213},{240,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,990},{240,242}}</string>
                <key>offset</key>
                <string>{-6,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,210},{240,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1724},{238,242}}</string>
                <key>offset</key>
                <string>{-3,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,211},{238,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{236,246}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,209},{236,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,990},{236,246}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,210},{236,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{236,248}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,210},{236,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,248},{240,246}}</string>
                <key>offset</key>
                <string>{-1,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,213},{240,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,496},{242,246}}</string>
                <key>offset</key>
                <string>{-2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,213},{242,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{244,246}}</string>
                <key>offset</key>
                <string>{-6,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,213},{244,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{244,248}}</string>
                <key>offset</key>
                <string>{-9,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,211},{244,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{240,248}}</string>
                <key>offset</key>
                <string>{-11,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,208},{240,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1236},{228,246}}</string>
                <key>offset</key>
                <string>{-10,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,205},{228,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1224},{216,240}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,204},{216,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,706},{200,230}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,207},{200,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,702},{196,222}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,211},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1464},{196,220}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2eb2d34c2894495882277276740fbf0:412d79bde64aa125dc7f0de4fe15308f:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
