<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3696},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,3892},{192,222}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,211},{192,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,3494},{186,224}}</string>
                <key>offset</key>
                <string>{-2,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,211},{186,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,3306},{188,232}}</string>
                <key>offset</key>
                <string>{-4,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,210},{188,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3048},{194,240}}</string>
                <key>offset</key>
                <string>{-5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,210},{194,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2610},{202,242}}</string>
                <key>offset</key>
                <string>{-4,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,211},{202,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2398},{212,242}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,210},{212,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2860},{220,240}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,210},{220,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,3080},{226,238}}</string>
                <key>offset</key>
                <string>{-6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,210},{226,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3242},{230,236}}</string>
                <key>offset</key>
                <string>{-8,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,211},{230,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1204},{246,238}}</string>
                <key>offset</key>
                <string>{-12,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,211},{246,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,242}}</string>
                <key>offset</key>
                <string>{-19,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,210},{266,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{264,238}}</string>
                <key>offset</key>
                <string>{-17,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,211},{264,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1436},{246,238}}</string>
                <key>offset</key>
                <string>{1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,209},{246,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{246,240}}</string>
                <key>offset</key>
                <string>{8,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,209},{246,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,240},{246,240}}</string>
                <key>offset</key>
                <string>{12,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,209},{246,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1904},{244,240}}</string>
                <key>offset</key>
                <string>{8,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,209},{244,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2624},{240,236}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,210},{240,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,964},{254,240}}</string>
                <key>offset</key>
                <string>{-12,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,209},{254,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,722},{260,242}}</string>
                <key>offset</key>
                <string>{-15,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,210},{260,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,480},{246,240}}</string>
                <key>offset</key>
                <string>{-10,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,209},{246,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2812},{240,236}}</string>
                <key>offset</key>
                <string>{-9,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,211},{240,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,960},{252,240}}</string>
                <key>offset</key>
                <string>{-11,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,210},{252,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{262,242}}</string>
                <key>offset</key>
                <string>{-14,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,209},{262,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1442},{246,236}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,209},{246,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2384},{242,240}}</string>
                <key>offset</key>
                <string>{9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,208},{242,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,720},{246,240}}</string>
                <key>offset</key>
                <string>{12,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,209},{246,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1920},{244,240}}</string>
                <key>offset</key>
                <string>{11,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,209},{244,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2144},{244,240}}</string>
                <key>offset</key>
                <string>{8,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,209},{244,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1678},{244,242}}</string>
                <key>offset</key>
                <string>{5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,208},{244,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2160},{244,238}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,210},{244,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1200},{252,236}}</string>
                <key>offset</key>
                <string>{-8,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,209},{252,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1674},{246,230}}</string>
                <key>offset</key>
                <string>{-10,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,210},{246,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3472},{230,224}}</string>
                <key>offset</key>
                <string>{-6,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,211},{230,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,3680},{212,222}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,211},{212,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3892},{200,222}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,211},{200,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3696},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{512,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab834b3869688bfad80637e8147e2554:5eb8ba112c69efbb64ecd47e0ccb71e3:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
