<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{188,208}}</string>
                <key>offset</key>
                <string>{14,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,241},{188,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{190,208}}</string>
                <key>offset</key>
                <string>{14,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,241},{190,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,792},{192,206}}</string>
                <key>offset</key>
                <string>{15,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,243},{192,206}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{192,206}}</string>
                <key>offset</key>
                <string>{17,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,244},{192,206}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,586},{194,206}}</string>
                <key>offset</key>
                <string>{17,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,244},{194,206}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,210}}</string>
                <key>offset</key>
                <string>{12,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,238},{188,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{190,208}}</string>
                <key>offset</key>
                <string>{17,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,240},{190,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{190,208}}</string>
                <key>offset</key>
                <string>{14,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,240},{190,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,190},{188,208}}</string>
                <key>offset</key>
                <string>{12,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,240},{188,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,398},{188,208}}</string>
                <key>offset</key>
                <string>{13,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,240},{188,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{188,208}}</string>
                <key>offset</key>
                <string>{14,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,241},{188,208}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggIdle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb000f8566c85afeefd6c0cbecdf0215:7e9ff320445f46db38c48a3bad7366fd:5fe1c8f2c7fd33eabd49e5faa65fc238$</string>
            <key>textureFileName</key>
            <string>eggIdle.png</string>
        </dict>
    </dict>
</plist>
