<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1786},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1356},{196,222}}</string>
                <key>offset</key>
                <string>{3,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1786},{196,224}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,214},{196,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1472},{200,228}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,214},{200,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1378},{210,234}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,211},{210,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1054},{220,240}}</string>
                <key>offset</key>
                <string>{-9,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,204},{220,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,894},{222,240}}</string>
                <key>offset</key>
                <string>{-11,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,202},{222,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{220,234}}</string>
                <key>offset</key>
                <string>{-10,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,206},{220,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1116},{202,236}}</string>
                <key>offset</key>
                <string>{-6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,211},{202,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,480},{176,248}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,207},{176,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,158},{158,260}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,199},{158,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{158,264}}</string>
                <key>offset</key>
                <string>{1,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,196},{158,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,318},{162,250}}</string>
                <key>offset</key>
                <string>{1,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,209},{162,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{190,246}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,205},{190,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1162},{216,240}}</string>
                <key>offset</key>
                <string>{-11,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,199},{216,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,918},{222,238}}</string>
                <key>offset</key>
                <string>{-12,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,205},{222,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1140},{216,230}}</string>
                <key>offset</key>
                <string>{-10,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,211},{216,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,656},{190,244}}</string>
                <key>offset</key>
                <string>{-6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,207},{190,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{162,260}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,199},{162,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,160},{158,258}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,203},{158,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,316},{164,252}}</string>
                <key>offset</key>
                <string>{-1,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,207},{164,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,846},{208,242}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,204},{208,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,670},{224,242}}</string>
                <key>offset</key>
                <string>{-14,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,199},{224,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1318},{216,230}}</string>
                <key>offset</key>
                <string>{-12,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,214},{216,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,976},{186,242}}</string>
                <key>offset</key>
                <string>{-7,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,211},{186,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{160,260}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,201},{160,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,266}}</string>
                <key>offset</key>
                <string>{6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,196},{154,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{152,258}}</string>
                <key>offset</key>
                <string>{6,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,204},{152,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,468},{152,252}}</string>
                <key>offset</key>
                <string>{3,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,211},{152,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,766},{152,242}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,221},{152,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,614},{152,244}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,220},{152,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{166,244}}</string>
                <key>offset</key>
                <string>{-6,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,220},{166,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,480},{190,246}}</string>
                <key>offset</key>
                <string>{-15,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,219},{190,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,414},{200,248}}</string>
                <key>offset</key>
                <string>{-17,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,216},{200,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,220},{194,246}}</string>
                <key>offset</key>
                <string>{-14,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,214},{194,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1274},{198,236}}</string>
                <key>offset</key>
                <string>{-4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,213},{198,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1588},{198,224}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,212},{198,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1786},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c38acbaee112c191eb1a68ca5a3e7dec:3f3369d55da1ae2eeeae2ce0c495ad5b:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
