<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1842},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1646},{196,226}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,211},{196,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1354},{196,228}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,214},{196,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1450},{196,232}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,214},{196,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1110},{200,238}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,210},{200,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,362},{204,244}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,204},{204,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,534},{204,244}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,202},{204,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,738},{206,242}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,206},{206,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1324},{202,232}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,209},{202,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,196},{190,246}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,203},{190,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,160},{180,252}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,198},{180,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,176},{186,248}}</string>
                <key>offset</key>
                <string>{6,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,202},{186,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1156},{198,236}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,208},{198,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,954},{202,240}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,204},{202,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{196,252}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,198},{196,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{192,244}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,208},{192,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1122},{202,240}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,207},{202,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,386},{192,244}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,204},{192,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{176,254}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,198},{176,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1066},{190,242}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,207},{190,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,918},{204,242}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,203},{204,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{200,250}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,198},{200,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,748},{206,242}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,204},{206,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1310},{200,228}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,216},{200,228}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,738},{180,244}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,208},{180,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,258}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,197},{164,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{160,258}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,201},{160,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{158,252}}</string>
                <key>offset</key>
                <string>{5,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,210},{158,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,906},{160,244}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,219},{160,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,578},{160,244}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,219},{160,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,944},{166,242}}</string>
                <key>offset</key>
                <string>{-1,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,221},{166,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,566},{182,244}}</string>
                <key>offset</key>
                <string>{-8,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,219},{182,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,340},{194,246}}</string>
                <key>offset</key>
                <string>{-13,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,215},{194,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,522},{192,246}}</string>
                <key>offset</key>
                <string>{-12,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,213},{192,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1256},{194,240}}</string>
                <key>offset</key>
                <string>{-6,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,213},{194,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1526},{200,226}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,212},{200,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1842},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03534187f113ff448135f0575486c364:7fcab2db4b04ae30dca7e92ec6d23df4:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
