<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1730},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1682},{196,224}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,212},{196,224}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1360},{194,230}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,213},{194,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1490},{192,232}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,214},{192,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,556},{188,244}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,209},{188,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,178},{186,250}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,205},{186,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{184,252}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,202},{184,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,178},{188,250}}</string>
                <key>offset</key>
                <string>{9,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,205},{188,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1092},{198,236}}</string>
                <key>offset</key>
                <string>{11,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,209},{198,236}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,950},{206,238}}</string>
                <key>offset</key>
                <string>{12,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,204},{206,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,536},{204,246}}</string>
                <key>offset</key>
                <string>{12,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,197},{204,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,744},{206,240}}</string>
                <key>offset</key>
                <string>{12,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,202},{206,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1328},{202,232}}</string>
                <key>offset</key>
                <string>{12,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,208},{202,232}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,358},{192,248}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,203},{192,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,262}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,195},{176,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{168,252}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,208},{168,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,550},{190,246}}</string>
                <key>offset</key>
                <string>{9,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,207},{190,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1124},{204,238}}</string>
                <key>offset</key>
                <string>{12,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,202},{204,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{202,246}}</string>
                <key>offset</key>
                <string>{10,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,199},{202,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1156},{204,234}}</string>
                <key>offset</key>
                <string>{13,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,207},{204,234}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,364},{192,248}}</string>
                <key>offset</key>
                <string>{10,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,204},{192,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{178,258}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,198},{178,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{188,250}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,203},{188,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1290},{200,230}}</string>
                <key>offset</key>
                <string>{9,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,214},{200,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1288},{202,238}}</string>
                <key>offset</key>
                <string>{9,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,207},{202,238}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,168},{190,250}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,198},{190,250}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{178,252}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,201},{178,252}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,366},{170,248}}</string>
                <key>offset</key>
                <string>{1,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,210},{170,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,924},{168,240}}</string>
                <key>offset</key>
                <string>{2,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,219},{168,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1116},{172,240}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,219},{172,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,938},{178,240}}</string>
                <key>offset</key>
                <string>{-3,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,219},{178,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,740},{184,242}}</string>
                <key>offset</key>
                <string>{-7,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,217},{184,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,740},{188,244}}</string>
                <key>offset</key>
                <string>{-9,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,214},{188,244}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{188,242}}</string>
                <key>offset</key>
                <string>{-8,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,214},{188,242}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,928},{196,240}}</string>
                <key>offset</key>
                <string>{-2,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,211},{196,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1530},{200,226}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,212},{200,226}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1730},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f890c3cab412bd3f6f1d602f38257add:79b16ebed495708e3a25705884cd04e6:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
