<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{188,222}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,210},{188,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{180,222}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,210},{180,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,666},{174,222}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,211},{174,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,222},{172,222}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,211},{172,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{168,222}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,211},{168,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,666},{168,222}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,211},{168,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{166,220}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,213},{166,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,444},{166,220}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,213},{166,220}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,222},{168,222}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,211},{168,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,444},{174,222}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,211},{174,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{186,222}}</string>
                <key>offset</key>
                <string>{4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,210},{186,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:497d04071248f10b300e010ace6e3637:2265d35a2eb902cf84258c31ab252d9b:36433d9218bc56245200a984765d893d$</string>
            <key>textureFileName</key>
            <string>reaction3.png</string>
        </dict>
    </dict>
</plist>
