<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,230},{198,222}}</string>
                <key>offset</key>
                <string>{5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,211},{198,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{204,230}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,212},{204,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{200,240}}</string>
                <key>offset</key>
                <string>{8,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,212},{200,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{186,246}}</string>
                <key>offset</key>
                <string>{3,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,212},{186,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,248}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,211},{176,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{172,248}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,211},{172,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{176,248}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,211},{176,248}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,496},{186,246}}</string>
                <key>offset</key>
                <string>{4,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,212},{186,246}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,742},{204,240}}</string>
                <key>offset</key>
                <string>{11,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,212},{204,240}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,240},{210,230}}</string>
                <key>offset</key>
                <string>{11,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,212},{210,230}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,470},{202,222}}</string>
                <key>offset</key>
                <string>{7,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,211},{202,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Meep0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{196,222}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,210},{196,222}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25589ca8a18e5c31aea16486217f7f6f:7b7d912b0b79a2cb460b94d3a895260f:27ef85eb9c95ff93a5a6326e38d271d1$</string>
            <key>textureFileName</key>
            <string>reaction2.png</string>
        </dict>
    </dict>
</plist>
