<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,550},{182,210}}</string>
                <key>offset</key>
                <string>{4,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,249},{182,210}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1016},{196,280}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,188},{196,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{206,318}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,157},{206,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,338},{216,338}}</string>
                <key>offset</key>
                <string>{9,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,143},{216,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,0},{244,338}}</string>
                <key>offset</key>
                <string>{14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,146},{244,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,676},{266,340}}</string>
                <key>offset</key>
                <string>{11,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,145},{266,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,206},{296,344}}</string>
                <key>offset</key>
                <string>{9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{296,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,858},{334,348}}</string>
                <key>offset</key>
                <string>{15,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,142},{334,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,672},{336,350}}</string>
                <key>offset</key>
                <string>{20,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,141},{336,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,616},{336,352}}</string>
                <key>offset</key>
                <string>{23,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,140},{336,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,522},{336,358}}</string>
                <key>offset</key>
                <string>{23,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,134},{336,358}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,336},{336,360}}</string>
                <key>offset</key>
                <string>{23,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,132},{336,360}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,280},{336,366}}</string>
                <key>offset</key>
                <string>{24,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,126},{336,366}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{338,380}}</string>
                <key>offset</key>
                <string>{23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,112},{338,380}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{338,384}}</string>
                <key>offset</key>
                <string>{23,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,109},{338,384}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{338,380}}</string>
                <key>offset</key>
                <string>{23,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,113},{338,380}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1144},{338,378}}</string>
                <key>offset</key>
                <string>{24,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,116},{338,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1522},{338,378}}</string>
                <key>offset</key>
                <string>{23,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,116},{338,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,0},{336,378}}</string>
                <key>offset</key>
                <string>{23,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,116},{336,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,0},{280,378}}</string>
                <key>offset</key>
                <string>{47,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,116},{280,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,0},{274,378}}</string>
                <key>offset</key>
                <string>{48,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,116},{274,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,274},{248,372}}</string>
                <key>offset</key>
                <string>{40,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,116},{248,372}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1900},{132,334}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,117},{132,334}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1900},{132,336}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,116},{132,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40a9b2085ed15428139197f1355d4ad3:ecbcc07ebd3e2afb95e9908f60443b97:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
