<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1526},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1120},{136,344}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,364},{138,338}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,122},{138,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,674},{152,324}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,135},{152,324}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,330},{160,316}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,143},{160,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{168,306}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,153},{168,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,998},{186,288}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,171},{186,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1674},{192,280}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,178},{192,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,282},{198,272}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,185},{198,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1566},{204,268}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,190},{204,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,0},{204,270}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,188},{204,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,590},{202,272}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,185},{202,272}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1286},{202,280}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,178},{202,280}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,306},{200,284}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,174},{200,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1380},{194,294}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,164},{194,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1870},{170,324}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,134},{170,324}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,708},{160,342}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,116},{160,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1562},{158,360}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,98},{158,360}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,796},{166,386}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,71},{166,386}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{178,396}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,61},{178,396}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,400}}</string>
                <key>offset</key>
                <string>{-27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,57},{186,400}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1182},{198,380}}</string>
                <key>offset</key>
                <string>{-32,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,77},{198,380}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1170},{200,356}}</string>
                <key>offset</key>
                <string>{-34,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,101},{200,356}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,0},{206,330}}</string>
                <key>offset</key>
                <string>{-31,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,127},{206,330}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,646},{220,286}}</string>
                <key>offset</key>
                <string>{-27,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,171},{220,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,932},{222,276}}</string>
                <key>offset</key>
                <string>{-26,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,181},{222,276}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,0},{212,282}}</string>
                <key>offset</key>
                <string>{-22,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,175},{212,282}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1050},{204,330}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,129},{204,330}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1562},{202,356}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,105},{202,356}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,400},{202,370}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,91},{202,370}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,796},{188,374}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,87},{188,374}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{178,370}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,91},{178,370}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{166,364}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,97},{166,364}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,770},{146,350}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,111},{146,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,364},{140,344}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,117},{140,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,338},{138,336}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,124},{138,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{136,338}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,122},{136,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1464},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d16f5336fd6e5dd7468add7d6362efaa:1d6445d8b76d1fb9eda04ee04e6c8352:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
