<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,688},{142,342}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,119},{142,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{150,338}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,122},{150,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1030},{162,332}}</string>
                <key>offset</key>
                <string>{-18,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,127},{162,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{190,322}}</string>
                <key>offset</key>
                <string>{-33,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,136},{190,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1680},{202,316}}</string>
                <key>offset</key>
                <string>{-40,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,141},{202,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,660},{214,312}}</string>
                <key>offset</key>
                <string>{-46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,144},{214,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,972},{226,304}}</string>
                <key>offset</key>
                <string>{-53,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,152},{226,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,310},{232,300}}</string>
                <key>offset</key>
                <string>{-56,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,156},{232,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1276},{236,298}}</string>
                <key>offset</key>
                <string>{-58,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,158},{236,298}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1232},{240,290}}</string>
                <key>offset</key>
                <string>{-61,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,165},{240,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,904},{242,288}}</string>
                <key>offset</key>
                <string>{-62,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,167},{242,288}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,292},{244,286}}</string>
                <key>offset</key>
                <string>{-62,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,170},{244,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,0},{248,284}}</string>
                <key>offset</key>
                <string>{-64,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,172},{248,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,0},{250,284}}</string>
                <key>offset</key>
                <string>{-64,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,172},{250,284}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,594},{246,286}}</string>
                <key>offset</key>
                <string>{-62,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,170},{246,286}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,0},{228,292}}</string>
                <key>offset</key>
                <string>{-51,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,165},{228,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,936},{214,296}}</string>
                <key>offset</key>
                <string>{-43,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,161},{214,296}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1586},{202,300}}</string>
                <key>offset</key>
                <string>{-36,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,157},{202,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1280},{192,306}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,150},{192,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,972},{188,308}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,148},{188,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,322},{180,312}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,145},{180,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1008},{156,316}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,143},{156,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1362},{154,318}}</string>
                <key>offset</key>
                <string>{26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,141},{154,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{166,322}}</string>
                <key>offset</key>
                <string>{31,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,137},{166,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,338},{204,322}}</string>
                <key>offset</key>
                <string>{51,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,136},{204,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{220,310}}</string>
                <key>offset</key>
                <string>{60,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,146},{220,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,634},{232,302}}</string>
                <key>offset</key>
                <string>{66,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,154},{232,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1574},{226,292}}</string>
                <key>offset</key>
                <string>{62,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,164},{226,292}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,610},{224,294}}</string>
                <key>offset</key>
                <string>{60,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,164},{224,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,300},{224,294}}</string>
                <key>offset</key>
                <string>{60,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,165},{224,294}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,0},{214,300}}</string>
                <key>offset</key>
                <string>{53,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,158},{214,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1678},{200,308}}</string>
                <key>offset</key>
                <string>{45,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,151},{200,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1362},{186,316}}</string>
                <key>offset</key>
                <string>{36,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,143},{186,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,676},{154,332}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,128},{154,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,338},{144,338}}</string>
                <key>offset</key>
                <string>{10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,122},{144,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{136,344}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce27c0ffe92f67fec2745490706ffbe4:c832f07a4c5979517c9f11c47008f473:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
