<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1042},{136,344}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,116},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1380},{150,336}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,124},{150,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1364},{164,328}}</string>
                <key>offset</key>
                <string>{10,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,131},{164,328}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1682},{178,318}}</string>
                <key>offset</key>
                <string>{15,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,141},{178,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,316},{202,290}}</string>
                <key>offset</key>
                <string>{30,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,168},{202,290}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{206,270}}</string>
                <key>offset</key>
                <string>{36,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,187},{206,270}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,606},{206,268}}</string>
                <key>offset</key>
                <string>{42,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,189},{206,268}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{220,264}}</string>
                <key>offset</key>
                <string>{50,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,192},{220,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,874},{218,264}}</string>
                <key>offset</key>
                <string>{49,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,191},{218,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1360},{218,264}}</string>
                <key>offset</key>
                <string>{48,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,191},{218,264}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,262},{214,262}}</string>
                <key>offset</key>
                <string>{47,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,192},{214,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,798},{216,262}}</string>
                <key>offset</key>
                <string>{47,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,192},{216,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,526},{216,262}}</string>
                <key>offset</key>
                <string>{48,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,192},{216,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,264},{218,262}}</string>
                <key>offset</key>
                <string>{49,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,192},{218,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,536},{220,262}}</string>
                <key>offset</key>
                <string>{50,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,193},{220,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1138},{222,262}}</string>
                <key>offset</key>
                <string>{50,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,193},{222,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{218,262}}</string>
                <key>offset</key>
                <string>{49,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,193},{218,262}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,0},{216,260}}</string>
                <key>offset</key>
                <string>{48,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,194},{216,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1060},{216,260}}</string>
                <key>offset</key>
                <string>{48,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,194},{216,260}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,788},{216,258}}</string>
                <key>offset</key>
                <string>{48,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,194},{216,258}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,524},{216,256}}</string>
                <key>offset</key>
                <string>{47,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,194},{216,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,0},{214,254}}</string>
                <key>offset</key>
                <string>{47,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,196},{214,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1624},{210,254}}</string>
                <key>offset</key>
                <string>{45,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,196},{210,254}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,260},{210,256}}</string>
                <key>offset</key>
                <string>{43,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,196},{210,256}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,270},{212,266}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,188},{212,266}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1726},{208,318}}</string>
                <key>offset</key>
                <string>{38,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,140},{208,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,698},{200,336}}</string>
                <key>offset</key>
                <string>{40,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,121},{200,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,350}}</string>
                <key>offset</key>
                <string>{39,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,109},{200,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{200,348}}</string>
                <key>offset</key>
                <string>{39,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,110},{200,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1716},{200,332}}</string>
                <key>offset</key>
                <string>{38,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,124},{200,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1364},{198,318}}</string>
                <key>offset</key>
                <string>{38,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,137},{198,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{194,316}}</string>
                <key>offset</key>
                <string>{36,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,139},{194,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1692},{182,324}}</string>
                <key>offset</key>
                <string>{31,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,132},{182,324}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1034},{172,330}}</string>
                <key>offset</key>
                <string>{26,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,127},{172,330}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1042},{154,338}}</string>
                <key>offset</key>
                <string>{17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,121},{154,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1386},{146,340}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,120},{146,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{138,344}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,117},{138,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{138,344}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,117},{138,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e28dac0c12d5b3707c6d0d5481b7c57:3917e89cbaf9e559cdd8635174566d99:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
