<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1042},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,350},{136,346}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,115},{136,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,696},{136,346}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,115},{136,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,914},{134,348}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,113},{134,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,520},{134,350}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,111},{134,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{132,352}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,109},{132,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{128,350}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,111},{128,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,392},{128,352}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,109},{128,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{130,354}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,107},{130,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1176},{134,346}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,114},{134,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,696},{136,346}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,114},{136,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{136,350}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,111},{136,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,786},{128,350}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,110},{128,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,914},{128,350}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,111},{128,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,260},{132,352}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,109},{132,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{136,348}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,113},{136,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1180},{134,346}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{134,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{132,350}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,111},{132,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,130},{130,354}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,107},{130,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{132,352}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,109},{132,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1310},{134,346}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,114},{134,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1042},{134,348}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,112},{134,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{132,354}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,107},{132,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{128,354}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,107},{128,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{130,350}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,111},{130,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1048},{132,348}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,113},{132,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,654},{132,350}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,111},{132,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,348},{136,348}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,113},{136,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1042},{136,346}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,115},{136,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1386},{136,344}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,116},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1314},{134,346}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{134,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1444},{134,346}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{134,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1448},{134,346}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{134,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1578},{134,346}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{134,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1388},{136,344}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,116},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1582},{136,344}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,116},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1712},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1718},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c655856c44b9ef548f7be8b468cac538:d9dc3bb2967a25907ca9a8cbf508129d:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
