<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{136,344}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,116},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{154,338}}</string>
                <key>offset</key>
                <string>{14,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,117},{154,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,998},{146,332}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,120},{146,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1144},{138,330}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,121},{138,330}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,848},{150,332}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,125},{150,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,306},{162,330}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,128},{162,330}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1282},{158,322}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,129},{158,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2580},{150,316}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,135},{150,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2068},{146,320}}</string>
                <key>offset</key>
                <string>{12,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,137},{146,320}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,636},{174,318}}</string>
                <key>offset</key>
                <string>{15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,139},{174,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,3454},{160,306}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,145},{160,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,3760},{150,306}}</string>
                <key>offset</key>
                <string>{14,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,145},{150,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2884},{152,314}}</string>
                <key>offset</key>
                <string>{14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,146},{152,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3544},{154,310}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,146},{154,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3218},{170,312}}</string>
                <key>offset</key>
                <string>{24,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,145},{170,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,954},{176,312}}</string>
                <key>offset</key>
                <string>{27,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,145},{176,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1266},{182,312}}</string>
                <key>offset</key>
                <string>{30,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,145},{182,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3036},{182,312}}</string>
                <key>offset</key>
                <string>{31,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,146},{182,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,3142},{182,312}}</string>
                <key>offset</key>
                <string>{31,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,146},{182,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1894},{184,312}}</string>
                <key>offset</key>
                <string>{31,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,146},{184,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2206},{184,312}}</string>
                <key>offset</key>
                <string>{31,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,146},{184,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2518},{184,312}}</string>
                <key>offset</key>
                <string>{31,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,146},{184,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2730},{154,314}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,146},{154,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3698},{154,306}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,149},{154,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3852},{154,302}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,149},{154,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2428},{152,316}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,145},{152,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{164,306}}</string>
                <key>offset</key>
                <string>{-18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,145},{164,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3388},{156,310}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,143},{156,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2214},{214,316}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,140},{214,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2830},{198,312}}</string>
                <key>offset</key>
                <string>{-19,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,139},{198,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1578},{190,316}}</string>
                <key>offset</key>
                <string>{-30,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,137},{190,316}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1860},{208,320}}</string>
                <key>offset</key>
                <string>{-39,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,137},{208,320}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1440},{210,320}}</string>
                <key>offset</key>
                <string>{-40,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,136},{210,320}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1650},{210,320}}</string>
                <key>offset</key>
                <string>{-41,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,135},{210,320}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{150,338}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,121},{150,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,408},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{512,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc87acbd51365c72c1d5c1bf5fe586fd:cac22c751ac1d25ee5bfce80ac6473f8:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
