<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,138},{136,342}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,410},{134,338}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,118},{134,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,344},{130,332}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,124},{130,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,544},{130,332}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,124},{130,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,0},{130,332}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,124},{130,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,474},{134,336}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,121},{134,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,274},{136,342}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,120},{136,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,700},{140,348}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,119},{140,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,350}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,118},{140,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{140,350}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,117},{140,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{140,348}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,118},{140,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{138,346}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,117},{138,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,344},{136,344}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,118},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,0},{136,344}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a23a4f97d9f478a9bd9c69547c9ee12:04b79c64f838a5a5918115f7b0315b49:c1cf761d005800c04dbc6a7cacdce7d7$</string>
            <key>textureFileName</key>
            <string>exit.png</string>
        </dict>
    </dict>
</plist>
