<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,842},{136,346}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{136,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,846},{136,346}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{136,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,978},{136,346}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{136,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,566},{138,348}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,113},{138,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{138,348}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,113},{138,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,704},{138,348}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,113},{138,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,354},{140,350}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,111},{140,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,286},{140,352}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,110},{140,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,144},{142,352}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,110},{142,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,354}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,109},{144,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{144,354}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,109},{144,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{144,352}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,110},{144,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,352},{144,352}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,110},{144,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{144,354}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,109},{144,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{144,352}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,110},{144,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{142,350}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,111},{142,350}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,426},{140,348}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,113},{140,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{140,348}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,113},{140,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{138,346}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,115},{138,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,704},{138,346}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,115},{138,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,982},{136,346}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{136,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,704},{136,344}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1048},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83cffdf63e2bcb12d0c67f7183e1a3ea:ed36a842effb9a50a64a35f27dd850ee:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
