<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1154},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1126},{134,334}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,126},{134,334}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1154},{134,328}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,131},{134,328}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,990},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,712},{140,372}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,89},{140,372}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{142,386}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,76},{142,386}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{144,394}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,68},{144,394}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,288},{144,392}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,70},{144,392}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,572},{140,376}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,85},{140,376}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1152},{138,356}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,105},{138,356}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1260},{134,326}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,133},{134,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1796},{134,314}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,145},{134,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1806},{132,302}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,157},{132,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1482},{134,324}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,135},{134,324}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1508},{136,336}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,124},{136,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{136,348}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,112},{136,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,432},{140,378}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,83},{140,378}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{144,398}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,64},{144,398}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,408}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,55},{144,408}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,402},{142,392}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,70},{142,392}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{140,376}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,85},{140,376}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,794},{138,358}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,103},{138,358}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1528},{134,318}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,141},{134,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1126},{132,302}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,157},{132,302}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1126},{134,314}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,145},{134,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1508},{136,336}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,124},{136,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1508},{136,348}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,113},{136,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,794},{138,360}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,101},{138,360}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,144},{144,398}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,64},{144,398}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{144,408}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,55},{144,408}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{144,402}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,60},{144,402}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{140,372}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,89},{140,372}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,852},{138,354}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,107},{138,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,990},{136,336}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,124},{136,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1662},{134,318}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,141},{134,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1394},{134,326}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,134},{134,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1856},{136,338}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,122},{136,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed784ede357ca6f7b0b2b49fed9e50e0:b9b5f1220cb32cbf52353d65875e984b:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
