<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,992},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1130},{136,340}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,120},{136,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,858},{134,332}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,127},{134,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1468},{136,340}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,118},{136,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,720},{138,356}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,103},{138,356}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{140,370}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,89},{140,370}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,294},{144,392}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,67},{144,392}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,150},{144,394}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,65},{144,394}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,388},{144,390}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,69},{144,390}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1824},{138,354}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,105},{138,354}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1470},{136,340}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,119},{136,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,858},{134,326}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,132},{134,326}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1810},{134,300}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,156},{134,300}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1662},{134,312}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,145},{134,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1128},{134,322}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,135},{134,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1468},{136,346}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,112},{136,346}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1112},{138,356}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,102},{138,356}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,438},{140,374}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,84},{140,374}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,402}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,55},{150,402}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{150,398}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,59},{150,398}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{148,388}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,69},{148,388}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,778},{144,352}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,103},{144,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,778},{140,334}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,121},{140,334}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,992},{138,314}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,141},{138,314}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1796},{136,310}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,145},{136,310}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1396},{134,320}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,135},{134,320}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1130},{136,334}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,123},{136,334}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1468},{138,356}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,102},{138,356}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,578},{140,374}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,84},{140,374}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{144,394}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,64},{144,394}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{144,398}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,60},{144,398}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{142,386}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,72},{142,386}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,718},{140,370}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,89},{140,370}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1130},{136,336}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,124},{136,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1262},{134,322}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,137},{134,322}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1530},{132,318}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,141},{132,318}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1130},{136,338}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,122},{136,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1468},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f845fce0370c7774540ffc99a793e83:a6fcd4f1eee9e0b9d509b602a471f060:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
