<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{136,344}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,116},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,352},{138,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,117},{138,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,422},{140,342}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,119},{140,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,700},{148,340}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,123},{148,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,848},{148,338}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,125},{148,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,848},{148,338}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,125},{148,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,562},{146,340}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,123},{146,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,136},{144,342}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,121},{144,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,280},{142,342}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,120},{142,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,352}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,118},{144,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{142,348}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,118},{142,348}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{136,344}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3bfd9844dc24ab6329a6283b8fc9b38:4cde5498233cdf8d115431ca1e25349a:36433d9218bc56245200a984765d893d$</string>
            <key>textureFileName</key>
            <string>reaction3.png</string>
        </dict>
    </dict>
</plist>
