<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,344},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{164,342}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,119},{164,342}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,342},{186,338}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,122},{186,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,688},{194,336}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,123},{194,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,688},{196,336}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,123},{196,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,680},{194,336}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,123},{194,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,338},{194,336}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,123},{194,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{190,336}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,123},{190,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{184,336}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,123},{184,336}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{174,338}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,122},{174,338}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,344}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,117},{148,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{138,344}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,117},{138,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146b325b75851438255363aa5e47ff42:2b85d1bc9341b115a914de75c23283a6:e154f91947ef6b31e473f0aec4f73f4e$</string>
            <key>textureFileName</key>
            <string>reaction1.png</string>
        </dict>
    </dict>
</plist>
