<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,882},{136,344}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{136,344}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,882},{136,340}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,118},{136,340}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{132,332}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,123},{132,332}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{130,324}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,131},{130,324}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,132},{126,312}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,141},{126,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,258},{126,308}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,145},{126,308}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,384},{124,306}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,147},{124,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,390},{124,304}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,151},{124,304}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,262},{128,306}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,150},{128,306}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,130},{132,312}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,146},{132,312}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,374}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,112},{150,374}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{148,368}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,111},{148,368}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>Freds0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,742},{140,352}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,115},{140,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bd3ebb1ebc464c35404b3bb15962d7c:e596474ac00b611654114a74e6ccd1e6:27ef85eb9c95ff93a5a6326e38d271d1$</string>
            <key>textureFileName</key>
            <string>reaction2.png</string>
        </dict>
    </dict>
</plist>
