<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1400},{308,404}}</string>
                <key>offset</key>
                <string>{12,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,285},{308,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1062},{338,424}}</string>
                <key>offset</key>
                <string>{19,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,265},{338,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,0},{348,448}}</string>
                <key>offset</key>
                <string>{23,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,241},{348,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1354},{352,450}}</string>
                <key>offset</key>
                <string>{28,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,239},{352,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{354,450}}</string>
                <key>offset</key>
                <string>{33,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,239},{354,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{354,450}}</string>
                <key>offset</key>
                <string>{33,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,240},{354,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{354,454}}</string>
                <key>offset</key>
                <string>{34,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,236},{354,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,738},{354,438}}</string>
                <key>offset</key>
                <string>{34,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,252},{354,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,780},{354,418}}</string>
                <key>offset</key>
                <string>{34,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,272},{354,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,0},{354,406}}</string>
                <key>offset</key>
                <string>{34,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,284},{354,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,354},{354,406}}</string>
                <key>offset</key>
                <string>{34,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,284},{354,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,708},{354,406}}</string>
                <key>offset</key>
                <string>{34,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,284},{354,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1092},{354,406}}</string>
                <key>offset</key>
                <string>{34,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,284},{354,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1134},{354,406}}</string>
                <key>offset</key>
                <string>{33,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,284},{354,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,842},{388,396}}</string>
                <key>offset</key>
                <string>{16,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,294},{388,396}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,424},{418,388}}</string>
                <key>offset</key>
                <string>{1,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,301},{418,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,348},{444,390}}</string>
                <key>offset</key>
                <string>{-15,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,300},{444,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1354},{448,390}}</string>
                <key>offset</key>
                <string>{-20,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,300},{448,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,0},{448,390}}</string>
                <key>offset</key>
                <string>{-27,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,300},{448,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,390},{444,390}}</string>
                <key>offset</key>
                <string>{-47,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,300},{444,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1446},{400,390}}</string>
                <key>offset</key>
                <string>{-80,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,300},{400,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{424,388}}</string>
                <key>offset</key>
                <string>{-82,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,301},{424,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1488},{298,378}}</string>
                <key>offset</key>
                <string>{0,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1708},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7de964b07b825c338a0f2fdd8c00a3f:b141967cbb04f4f0c85c8c85caf738b6:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
