<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1596},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,816},{302,378}}</string>
                <key>offset</key>
                <string>{2,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,301},{302,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1614},{302,380}}</string>
                <key>offset</key>
                <string>{2,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,299},{302,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1216},{298,380}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,299},{298,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,434},{268,382}}</string>
                <key>offset</key>
                <string>{-1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,299},{268,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1226},{244,388}}</string>
                <key>offset</key>
                <string>{-2,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,300},{244,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,832},{224,394}}</string>
                <key>offset</key>
                <string>{-4,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,298},{224,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,218},{216,398}}</string>
                <key>offset</key>
                <string>{-8,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,299},{216,398}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,434},{216,398}}</string>
                <key>offset</key>
                <string>{-8,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,299},{216,398}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,434},{216,394}}</string>
                <key>offset</key>
                <string>{-8,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,303},{216,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1568},{216,372}}</string>
                <key>offset</key>
                <string>{-9,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,326},{216,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1556},{214,362}}</string>
                <key>offset</key>
                <string>{-8,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,336},{214,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,792},{216,358}}</string>
                <key>offset</key>
                <string>{-9,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,340},{216,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1614},{216,382}}</string>
                <key>offset</key>
                <string>{-9,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,315},{216,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,218},{216,408}}</string>
                <key>offset</key>
                <string>{-8,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,289},{216,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,0},{218,434}}</string>
                <key>offset</key>
                <string>{-9,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,262},{218,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{220,476}}</string>
                <key>offset</key>
                <string>{-9,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,218},{220,476}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,484}}</string>
                <key>offset</key>
                <string>{-9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,210},{220,484}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{220,482}}</string>
                <key>offset</key>
                <string>{-9,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,212},{220,482}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1442},{220,472}}</string>
                <key>offset</key>
                <string>{-9,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,223},{220,472}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{218,464}}</string>
                <key>offset</key>
                <string>{-8,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,231},{218,464}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{218,454}}</string>
                <key>offset</key>
                <string>{-8,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,241},{218,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,0},{218,434}}</string>
                <key>offset</key>
                <string>{-9,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,262},{218,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,218},{216,422}}</string>
                <key>offset</key>
                <string>{-8,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,274},{216,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,218},{216,412}}</string>
                <key>offset</key>
                <string>{-8,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,285},{216,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,828},{216,388}}</string>
                <key>offset</key>
                <string>{-8,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,309},{216,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,812},{216,374}}</string>
                <key>offset</key>
                <string>{-9,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,324},{216,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,434},{216,358}}</string>
                <key>offset</key>
                <string>{-9,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,340},{216,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,800},{216,360}}</string>
                <key>offset</key>
                <string>{-9,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,337},{216,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,812},{218,370}}</string>
                <key>offset</key>
                <string>{-6,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,326},{218,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,434},{230,366}}</string>
                <key>offset</key>
                <string>{-3,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,326},{230,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1008},{268,356}}</string>
                <key>offset</key>
                <string>{-1,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,326},{268,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,434},{284,358}}</string>
                <key>offset</key>
                <string>{1,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,322},{284,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1182},{296,360}}</string>
                <key>offset</key>
                <string>{1,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,320},{296,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1186},{302,370}}</string>
                <key>offset</key>
                <string>{2,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,309},{302,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1194},{302,374}}</string>
                <key>offset</key>
                <string>{1,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,305},{302,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,434},{300,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,301},{300,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd66cc4c31c2b37a34cabfcd008d9958:1a5c8e2370fa85f42966497897998482:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
