<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1268},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,578},{340,374}}</string>
                <key>offset</key>
                <string>{2,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,304},{340,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,578},{390,366}}</string>
                <key>offset</key>
                <string>{2,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,311},{390,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,0},{440,358}}</string>
                <key>offset</key>
                <string>{1,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,317},{440,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,212},{440,330}}</string>
                <key>offset</key>
                <string>{0,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,344},{440,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,846},{386,304}}</string>
                <key>offset</key>
                <string>{-1,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,370},{386,304}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2036},{318,290}}</string>
                <key>offset</key>
                <string>{0,-154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,384},{318,290}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2122},{258,286}}</string>
                <key>offset</key>
                <string>{0,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,386},{258,286}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1960},{252,286}}</string>
                <key>offset</key>
                <string>{0,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,386},{252,286}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1874},{256,308}}</string>
                <key>offset</key>
                <string>{0,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,366},{256,308}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,962},{288,378}}</string>
                <key>offset</key>
                <string>{0,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,324},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,638},{324,402}}</string>
                <key>offset</key>
                <string>{1,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,323},{324,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{282,396}}</string>
                <key>offset</key>
                <string>{-4,-152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,329},{282,396}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2162},{260,226}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,298},{260,226}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2046},{274,226}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,277},{274,226}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1874},{292,248}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,240},{292,248}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1448},{348,302}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,184},{348,302}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,952},{378,316}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,167},{378,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,542},{406,304}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,161},{406,304}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,416},{438,222}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,168},{438,222}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,0},{442,212}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,171},{442,212}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,358},{438,220}}</string>
                <key>offset</key>
                <string>{2,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,173},{438,220}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{416,470}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,132},{416,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{402,488}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,144},{402,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{402,468}}</string>
                <key>offset</key>
                <string>{6,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,190},{402,468}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,944},{376,384}}</string>
                <key>offset</key>
                <string>{7,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,300},{376,384}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1384},{356,358}}</string>
                <key>offset</key>
                <string>{6,-132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,328},{356,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1320},{338,350}}</string>
                <key>offset</key>
                <string>{6,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,335},{338,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1548},{316,340}}</string>
                <key>offset</key>
                <string>{3,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,344},{316,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1566},{308,338}}</string>
                <key>offset</key>
                <string>{2,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,344},{308,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1658},{302,334}}</string>
                <key>offset</key>
                <string>{1,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,345},{302,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1864},{298,330}}</string>
                <key>offset</key>
                <string>{1,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,345},{298,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1750},{296,332}}</string>
                <key>offset</key>
                <string>{1,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,343},{296,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1740},{296,340}}</string>
                <key>offset</key>
                <string>{1,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,335},{296,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1250},{298,360}}</string>
                <key>offset</key>
                <string>{1,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,317},{298,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1150},{298,368}}</string>
                <key>offset</key>
                <string>{1,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,310},{298,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1086},{298,376}}</string>
                <key>offset</key>
                <string>{1,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,303},{298,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a363854eb5a8dbf29995bfda6c872d2d:71341c10251f7a56908e6e45cf0ced01:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
