<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2096},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2132},{304,376}}</string>
                <key>offset</key>
                <string>{2,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,302},{304,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2394},{320,370}}</string>
                <key>offset</key>
                <string>{4,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,305},{320,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2094},{322,348}}</string>
                <key>offset</key>
                <string>{3,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,320},{322,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2416},{294,330}}</string>
                <key>offset</key>
                <string>{-3,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,335},{294,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,982},{256,310}}</string>
                <key>offset</key>
                <string>{-7,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,351},{256,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,428},{212,278}}</string>
                <key>offset</key>
                <string>{-9,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,380},{212,278}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,706},{208,276}}</string>
                <key>offset</key>
                <string>{-9,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,382},{208,276}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,706},{208,276}}</string>
                <key>offset</key>
                <string>{-9,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,382},{208,276}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2096},{364,370}}</string>
                <key>offset</key>
                <string>{-16,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,313},{364,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,418},{456,432}}</string>
                <key>offset</key>
                <string>{4,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,292},{456,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,422},{452,434}}</string>
                <key>offset</key>
                <string>{5,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,291},{452,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,850},{446,434}}</string>
                <key>offset</key>
                <string>{3,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,291},{446,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1270},{440,434}}</string>
                <key>offset</key>
                <string>{1,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,291},{440,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,856},{432,434}}</string>
                <key>offset</key>
                <string>{1,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,291},{432,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,860},{424,432}}</string>
                <key>offset</key>
                <string>{0,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,292},{424,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1704},{428,432}}</string>
                <key>offset</key>
                <string>{0,-132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,291},{428,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,428},{434,432}}</string>
                <key>offset</key>
                <string>{1,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,291},{434,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{454,432}}</string>
                <key>offset</key>
                <string>{3,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,293},{454,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,408},{458,430}}</string>
                <key>offset</key>
                <string>{4,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,294},{458,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,0},{454,428}}</string>
                <key>offset</key>
                <string>{5,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,295},{454,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1284},{428,430}}</string>
                <key>offset</key>
                <string>{4,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,293},{428,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1288},{408,428}}</string>
                <key>offset</key>
                <string>{2,-132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,293},{408,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1708},{388,426}}</string>
                <key>offset</key>
                <string>{1,-132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,294},{388,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1712},{378,424}}</string>
                <key>offset</key>
                <string>{-1,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,294},{378,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1696},{400,426}}</string>
                <key>offset</key>
                <string>{2,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,293},{400,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1284},{434,424}}</string>
                <key>offset</key>
                <string>{3,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,296},{434,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{458,422}}</string>
                <key>offset</key>
                <string>{1,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,294},{458,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{464,418}}</string>
                <key>offset</key>
                <string>{0,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,293},{464,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{472,408}}</string>
                <key>offset</key>
                <string>{-1,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,295},{472,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2090},{392,388}}</string>
                <key>offset</key>
                <string>{2,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,299},{392,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1712},{322,382}}</string>
                <key>offset</key>
                <string>{2,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,299},{322,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2096},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2096},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2096},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2096},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2096},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2096},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5774bd672aa39f4e54f43705430580f0:a6218827d1d70bc9e4ae66527844e201:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
