<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1462},{298,374}}</string>
                <key>offset</key>
                <string>{2,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,305},{298,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1528},{300,368}}</string>
                <key>offset</key>
                <string>{3,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,311},{300,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1166},{300,360}}</string>
                <key>offset</key>
                <string>{10,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,320},{300,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,0},{308,370}}</string>
                <key>offset</key>
                <string>{17,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,309},{308,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1156},{330,388}}</string>
                <key>offset</key>
                <string>{33,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,291},{330,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,388},{380,394}}</string>
                <key>offset</key>
                <string>{69,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,285},{380,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,388},{392,392}}</string>
                <key>offset</key>
                <string>{79,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,287},{392,392}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,768},{392,388}}</string>
                <key>offset</key>
                <string>{84,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,291},{392,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,780},{388,386}}</string>
                <key>offset</key>
                <string>{83,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,293},{388,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1126},{386,388}}</string>
                <key>offset</key>
                <string>{77,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,291},{386,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,782},{382,388}}</string>
                <key>offset</key>
                <string>{70,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,291},{382,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,750},{376,390}}</string>
                <key>offset</key>
                <string>{46,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,289},{376,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{382,394}}</string>
                <key>offset</key>
                <string>{28,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,285},{382,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,388},{410,394}}</string>
                <key>offset</key>
                <string>{0,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,285},{410,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{450,390}}</string>
                <key>offset</key>
                <string>{-52,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,289},{450,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{438,388}}</string>
                <key>offset</key>
                <string>{-62,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,291},{438,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,0},{422,388}}</string>
                <key>offset</key>
                <string>{-67,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,291},{422,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,0},{412,388}}</string>
                <key>offset</key>
                <string>{-63,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,291},{412,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{396,390}}</string>
                <key>offset</key>
                <string>{-49,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,289},{396,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1162},{366,388}}</string>
                <key>offset</key>
                <string>{-33,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,291},{366,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,370},{304,380}}</string>
                <key>offset</key>
                <string>{-3,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,299},{304,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1164},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fdc6c84490afdd36a5a98948dc55ad2:c165adc19086be46845a37fcfa3f89c4:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
