<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1770},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1756},{302,378}}</string>
                <key>offset</key>
                <string>{0,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,301},{302,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2106},{308,376}}</string>
                <key>offset</key>
                <string>{-1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,302},{308,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2168},{334,372}}</string>
                <key>offset</key>
                <string>{-11,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,304},{334,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2068},{344,368}}</string>
                <key>offset</key>
                <string>{-16,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,307},{344,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2254},{348,366}}</string>
                <key>offset</key>
                <string>{-19,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,309},{348,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2414},{344,366}}</string>
                <key>offset</key>
                <string>{-20,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,310},{344,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,408},{342,366}}</string>
                <key>offset</key>
                <string>{-20,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,311},{342,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2058},{352,370}}</string>
                <key>offset</key>
                <string>{-20,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,304},{352,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,770},{406,386}}</string>
                <key>offset</key>
                <string>{-32,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,286},{406,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,380},{416,388}}</string>
                <key>offset</key>
                <string>{-39,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,286},{416,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,426},{344,416}}</string>
                <key>offset</key>
                <string>{-41,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,286},{344,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,438}}</string>
                <key>offset</key>
                <string>{-36,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,287},{320,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,0},{380,424}}</string>
                <key>offset</key>
                <string>{11,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,286},{380,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{426,432}}</string>
                <key>offset</key>
                <string>{-3,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,287},{426,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{346,426}}</string>
                <key>offset</key>
                <string>{23,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,285},{346,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,328},{332,420}}</string>
                <key>offset</key>
                <string>{15,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,285},{332,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,948},{306,400}}</string>
                <key>offset</key>
                <string>{-18,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,285},{306,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,0},{326,408}}</string>
                <key>offset</key>
                <string>{-21,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,287},{326,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,660},{344,412}}</string>
                <key>offset</key>
                <string>{-29,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,287},{344,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,0},{328,426}}</string>
                <key>offset</key>
                <string>{-14,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,285},{328,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{282,414}}</string>
                <key>offset</key>
                <string>{15,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,286},{282,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,768},{278,400}}</string>
                <key>offset</key>
                <string>{18,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,287},{278,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1004},{266,398}}</string>
                <key>offset</key>
                <string>{13,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,287},{266,398}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1088},{298,390}}</string>
                <key>offset</key>
                <string>{-31,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,289},{298,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1564},{302,390}}</string>
                <key>offset</key>
                <string>{-40,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,289},{302,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1468},{308,390}}</string>
                <key>offset</key>
                <string>{-39,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,289},{308,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1254},{310,392}}</string>
                <key>offset</key>
                <string>{-38,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,288},{310,392}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1156},{312,392}}</string>
                <key>offset</key>
                <string>{-37,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,288},{312,392}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,774},{314,392}}</string>
                <key>offset</key>
                <string>{-36,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,288},{314,392}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1270},{336,390}}</string>
                <key>offset</key>
                <string>{-31,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,291},{336,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1046},{356,390}}</string>
                <key>offset</key>
                <string>{-27,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,291},{356,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1386},{370,388}}</string>
                <key>offset</key>
                <string>{-21,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,293},{370,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1402},{368,386}}</string>
                <key>offset</key>
                <string>{-10,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,296},{368,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1606},{350,382}}</string>
                <key>offset</key>
                <string>{-5,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,299},{350,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1776},{330,382}}</string>
                <key>offset</key>
                <string>{-1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,299},{330,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1866},{302,380}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,300},{302,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1956},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ced829bad66fedb68cff279a249a7b1:3258eeafcbae0980a97e706dc3778bb9:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
