<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2144},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1910},{320,386}}</string>
                <key>offset</key>
                <string>{3,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,295},{320,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1780},{364,400}}</string>
                <key>offset</key>
                <string>{7,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,285},{364,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,0},{402,414}}</string>
                <key>offset</key>
                <string>{7,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,276},{402,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{412,418}}</string>
                <key>offset</key>
                <string>{6,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,273},{412,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{400,418}}</string>
                <key>offset</key>
                <string>{7,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,272},{400,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,0},{382,416}}</string>
                <key>offset</key>
                <string>{6,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,272},{382,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,382},{342,410}}</string>
                <key>offset</key>
                <string>{3,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,273},{342,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,400},{324,408}}</string>
                <key>offset</key>
                <string>{1,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,273},{324,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{306,408}}</string>
                <key>offset</key>
                <string>{1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,272},{306,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,718},{298,406}}</string>
                <key>offset</key>
                <string>{1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,273},{298,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,402},{298,406}}</string>
                <key>offset</key>
                <string>{1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,273},{298,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,700},{298,406}}</string>
                <key>offset</key>
                <string>{1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,273},{298,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1188},{296,406}}</string>
                <key>offset</key>
                <string>{1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,273},{296,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1022},{296,406}}</string>
                <key>offset</key>
                <string>{1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,273},{296,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1314},{296,406}}</string>
                <key>offset</key>
                <string>{2,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,273},{296,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1610},{294,406}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,273},{294,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1318},{294,406}}</string>
                <key>offset</key>
                <string>{6,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,273},{294,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1592},{294,406}}</string>
                <key>offset</key>
                <string>{6,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,273},{294,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1612},{294,406}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,273},{294,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1022},{296,406}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,273},{296,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1296},{296,406}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,273},{296,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,724},{298,406}}</string>
                <key>offset</key>
                <string>{3,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,273},{298,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1016},{298,406}}</string>
                <key>offset</key>
                <string>{2,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,273},{298,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1484},{296,406}}</string>
                <key>offset</key>
                <string>{1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,273},{296,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1318},{296,406}}</string>
                <key>offset</key>
                <string>{-2,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,273},{296,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,724},{298,406}}</string>
                <key>offset</key>
                <string>{-1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,273},{298,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,998},{298,406}}</string>
                <key>offset</key>
                <string>{1,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,273},{298,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1614},{296,404}}</string>
                <key>offset</key>
                <string>{1,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,275},{296,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1904},{296,404}}</string>
                <key>offset</key>
                <string>{1,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,275},{296,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1886},{296,400}}</string>
                <key>offset</key>
                <string>{1,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,279},{296,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,596},{296,396}}</string>
                <key>offset</key>
                <string>{1,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,283},{296,396}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,892},{296,392}}</string>
                <key>offset</key>
                <string>{1,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,287},{296,392}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1906},{298,390}}</string>
                <key>offset</key>
                <string>{1,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,289},{298,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,0},{298,382}}</string>
                <key>offset</key>
                <string>{1,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,297},{298,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,298},{298,380}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,299},{298,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2200},{298,380}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,299},{298,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2200},{298,380}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,299},{298,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02e72e7741e5273ea7153aa05eb0374d:cb41a0df258306841941c961aacf8761:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
