<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{296,378}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,300},{296,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,592},{296,376}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{296,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,884},{294,374}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,302},{294,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,888},{292,374}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,301},{292,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,886},{288,372}}</string>
                <key>offset</key>
                <string>{1,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,302},{288,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1462},{288,370}}</string>
                <key>offset</key>
                <string>{0,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,302},{288,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1466},{286,368}}</string>
                <key>offset</key>
                <string>{0,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,303},{286,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1754},{286,366}}</string>
                <key>offset</key>
                <string>{-1,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,304},{286,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1750},{286,366}}</string>
                <key>offset</key>
                <string>{-1,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,304},{286,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2038},{284,366}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,305},{284,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1750},{286,366}}</string>
                <key>offset</key>
                <string>{-1,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,305},{286,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2034},{286,366}}</string>
                <key>offset</key>
                <string>{-1,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,305},{286,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1748},{286,368}}</string>
                <key>offset</key>
                <string>{-1,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,304},{286,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1468},{286,368}}</string>
                <key>offset</key>
                <string>{-1,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,304},{286,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1752},{286,368}}</string>
                <key>offset</key>
                <string>{-1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,305},{286,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1464},{284,370}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,303},{284,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1464},{286,370}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,304},{286,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1180},{286,370}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,304},{286,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1178},{286,372}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,303},{286,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1174},{288,372}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,303},{288,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1176},{288,372}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,303},{288,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1178},{290,374}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,302},{290,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{290,374}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,302},{290,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,594},{290,376}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,301},{290,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,886},{292,376}}</string>
                <key>offset</key>
                <string>{0,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,302},{292,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{292,376}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,302},{292,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,594},{292,376}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,302},{292,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,592},{294,376}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,302},{294,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,298},{294,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,301},{294,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,298},{294,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,301},{294,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,298},{296,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,301},{296,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,298},{296,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,301},{296,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b620fc65fb23c4cd55e896ef9b0519b1:4d3547278a25de9b2882811a26dc68b6:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
