<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,760},{298,378}}</string>
                <key>offset</key>
                <string>{-2,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,298},{296,378}}</string>
                <key>offset</key>
                <string>{-10,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,301},{296,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1174},{288,378}}</string>
                <key>offset</key>
                <string>{-26,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,301},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,756},{290,378}}</string>
                <key>offset</key>
                <string>{-30,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,301},{290,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1176},{288,378}}</string>
                <key>offset</key>
                <string>{-30,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,301},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1176},{288,378}}</string>
                <key>offset</key>
                <string>{-31,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,301},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1462},{288,378}}</string>
                <key>offset</key>
                <string>{-31,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,301},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1464},{288,378}}</string>
                <key>offset</key>
                <string>{-31,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,301},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{290,380}}</string>
                <key>offset</key>
                <string>{-34,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,300},{290,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,594},{290,378}}</string>
                <key>offset</key>
                <string>{-34,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,301},{290,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,760},{290,380}}</string>
                <key>offset</key>
                <string>{-35,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,300},{290,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1140},{290,380}}</string>
                <key>offset</key>
                <string>{-35,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,300},{290,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1520},{290,380}}</string>
                <key>offset</key>
                <string>{-35,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,300},{290,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,380},{290,380}}</string>
                <key>offset</key>
                <string>{-35,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,300},{290,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,884},{290,378}}</string>
                <key>offset</key>
                <string>{-33,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,301},{290,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1512},{288,378}}</string>
                <key>offset</key>
                <string>{-32,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,301},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1752},{288,378}}</string>
                <key>offset</key>
                <string>{-31,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,301},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1752},{288,378}}</string>
                <key>offset</key>
                <string>{-28,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,301},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1750},{288,378}}</string>
                <key>offset</key>
                <string>{-26,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,301},{288,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,886},{290,378}}</string>
                <key>offset</key>
                <string>{-25,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,301},{290,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1134},{290,378}}</string>
                <key>offset</key>
                <string>{-21,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,301},{290,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,886},{290,378}}</string>
                <key>offset</key>
                <string>{-18,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,301},{290,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,594},{292,378}}</string>
                <key>offset</key>
                <string>{-17,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,301},{292,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,298},{294,378}}</string>
                <key>offset</key>
                <string>{-13,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,301},{294,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,592},{294,378}}</string>
                <key>offset</key>
                <string>{-10,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,301},{294,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,298},{296,378}}</string>
                <key>offset</key>
                <string>{-9,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,301},{296,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,378},{298,378}}</string>
                <key>offset</key>
                <string>{-5,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,0},{298,378}}</string>
                <key>offset</key>
                <string>{-3,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1138},{298,378}}</string>
                <key>offset</key>
                <string>{-2,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1516},{298,378}}</string>
                <key>offset</key>
                <string>{0,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{298,380}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,300},{298,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:420e21e6ec0dd701f5c69b4d520b6987:5b2ad9b516df64e702266f590227d82d:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
