<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{298,376}}</string>
                <key>offset</key>
                <string>{1,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,304},{298,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{298,374}}</string>
                <key>offset</key>
                <string>{1,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,310},{298,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,894},{298,370}}</string>
                <key>offset</key>
                <string>{1,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,318},{298,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,894},{298,370}}</string>
                <key>offset</key>
                <string>{1,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,318},{298,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1192},{298,370}}</string>
                <key>offset</key>
                <string>{1,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,318},{298,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1562},{298,370}}</string>
                <key>offset</key>
                <string>{1,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,318},{298,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1192},{298,370}}</string>
                <key>offset</key>
                <string>{1,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,318},{298,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1192},{298,370}}</string>
                <key>offset</key>
                <string>{1,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,318},{298,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,596},{298,374}}</string>
                <key>offset</key>
                <string>{1,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,311},{298,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,298},{298,376}}</string>
                <key>offset</key>
                <string>{1,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,306},{298,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{298,378}}</string>
                <key>offset</key>
                <string>{1,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,302},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:288a29a1b369a05e3710555b792e8a96:86250b41bbdd64b95bfef5d46c3fece6:36433d9218bc56245200a984765d893d$</string>
            <key>textureFileName</key>
            <string>reaction3.png</string>
        </dict>
    </dict>
</plist>
