<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1632},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1642},{324,378}}</string>
                <key>offset</key>
                <string>{15,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,301},{324,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{376,380}}</string>
                <key>offset</key>
                <string>{43,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,299},{376,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{362,380}}</string>
                <key>offset</key>
                <string>{38,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,299},{362,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1342},{290,380}}</string>
                <key>offset</key>
                <string>{4,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,299},{290,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,740},{304,380}}</string>
                <key>offset</key>
                <string>{12,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,299},{304,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{322,380}}</string>
                <key>offset</key>
                <string>{21,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,299},{322,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1044},{298,380}}</string>
                <key>offset</key>
                <string>{8,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,299},{298,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1352},{290,380}}</string>
                <key>offset</key>
                <string>{3,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,299},{290,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1060},{292,380}}</string>
                <key>offset</key>
                <string>{4,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,299},{292,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,374},{366,380}}</string>
                <key>offset</key>
                <string>{39,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,299},{366,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{374,380}}</string>
                <key>offset</key>
                <string>{41,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,299},{374,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1642},{324,378}}</string>
                <key>offset</key>
                <string>{14,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,301},{324,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:116149dd75db21b8d8b191c248be44d0:5e49575df016831fe151015e2375f789:27ef85eb9c95ff93a5a6326e38d271d1$</string>
            <key>textureFileName</key>
            <string>reaction2.png</string>
        </dict>
    </dict>
</plist>
