<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sausalito0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{298,378}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,301},{298,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{304,378}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,300},{304,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{306,378}}</string>
                <key>offset</key>
                <string>{1,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,298},{306,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,608},{308,376}}</string>
                <key>offset</key>
                <string>{1,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,299},{308,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1514},{304,372}}</string>
                <key>offset</key>
                <string>{2,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,302},{304,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1224},{304,372}}</string>
                <key>offset</key>
                <string>{2,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,301},{304,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1514},{304,374}}</string>
                <key>offset</key>
                <string>{2,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,300},{304,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,916},{308,374}}</string>
                <key>offset</key>
                <string>{1,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,301},{308,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{308,374}}</string>
                <key>offset</key>
                <string>{1,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,301},{308,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{306,376}}</string>
                <key>offset</key>
                <string>{1,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,300},{306,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,306},{302,378}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,300},{302,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Sausalito0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{298,380}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,299},{298,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a9e28eb98bfd3b2f1e2e86b1161c5b:d62b88ef304f336cb4c516136da04e62:e154f91947ef6b31e473f0aec4f73f4e$</string>
            <key>textureFileName</key>
            <string>reaction1.png</string>
        </dict>
    </dict>
</plist>
