<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,1134},{166,226}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,201},{166,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,900},{174,234}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,195},{174,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1464},{182,254}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,181},{182,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1156},{190,276}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,169},{190,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1360},{200,286}}</string>
                <key>offset</key>
                <string>{10,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,165},{200,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1646},{208,284}}</string>
                <key>offset</key>
                <string>{14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,169},{208,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1156},{220,282}}</string>
                <key>offset</key>
                <string>{14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,170},{220,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,914},{242,284}}</string>
                <key>offset</key>
                <string>{11,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,171},{242,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1190},{274,286}}</string>
                <key>offset</key>
                <string>{10,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,172},{274,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,906},{294,288}}</string>
                <key>offset</key>
                <string>{12,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,171},{294,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,900},{304,290}}</string>
                <key>offset</key>
                <string>{17,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,170},{304,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,612},{304,294}}</string>
                <key>offset</key>
                <string>{22,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,166},{304,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,604},{304,296}}</string>
                <key>offset</key>
                <string>{24,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,164},{304,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,306},{304,298}}</string>
                <key>offset</key>
                <string>{24,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,162},{304,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,614},{304,302}}</string>
                <key>offset</key>
                <string>{24,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,158},{304,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,612},{304,306}}</string>
                <key>offset</key>
                <string>{24,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,154},{304,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,610},{304,312}}</string>
                <key>offset</key>
                <string>{24,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,148},{304,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,306},{306,318}}</string>
                <key>offset</key>
                <string>{24,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,142},{306,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,306},{304,322}}</string>
                <key>offset</key>
                <string>{24,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,138},{304,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{306,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,139},{306,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,0},{306,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,139},{306,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,0},{306,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,139},{306,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,0},{306,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,139},{306,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,306},{306,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,139},{306,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{306,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,139},{306,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{308,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,139},{308,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{308,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,139},{308,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{308,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,139},{308,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{308,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,139},{308,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1288},{308,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,139},{308,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1610},{308,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,139},{308,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{308,322}}</string>
                <key>offset</key>
                <string>{24,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,139},{308,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d2f72c51117a6b1931260ca11aa1f25:1ca6bb5c7c097b758e230d032b594da4:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
