<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0600.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{104,270}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,150},{104,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,104},{108,268}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,150},{108,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{116,266}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,151},{116,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,212},{110,264}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,151},{110,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{104,260}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,154},{104,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,330},{118,258}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,156},{118,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,218},{112,262}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,156},{112,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,322},{122,260}}</string>
                <key>offset</key>
                <string>{8,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,158},{122,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,444},{120,254}}</string>
                <key>offset</key>
                <string>{13,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,160},{120,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,448},{110,254}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,163},{110,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{110,248}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,166},{110,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{112,252}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,166},{112,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{134,250}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,168},{134,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1350},{140,242}}</string>
                <key>offset</key>
                <string>{12,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,171},{140,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1504},{122,240}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,173},{122,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1572},{116,240}}</string>
                <key>offset</key>
                <string>{11,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{116,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,930},{116,246}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{116,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,848},{118,246}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,174},{118,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0620.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1386},{120,242}}</string>
                <key>offset</key>
                <string>{12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,175},{120,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0621.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1260},{130,244}}</string>
                <key>offset</key>
                <string>{18,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{130,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0622.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1250},{136,244}}</string>
                <key>offset</key>
                <string>{20,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,174},{136,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0623.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1212},{138,244}}</string>
                <key>offset</key>
                <string>{21,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,174},{138,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0624.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,932},{140,244}}</string>
                <key>offset</key>
                <string>{22,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,174},{140,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0625.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,970},{140,244}}</string>
                <key>offset</key>
                <string>{23,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{140,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0626.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1072},{140,244}}</string>
                <key>offset</key>
                <string>{23,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{140,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0627.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1110},{140,244}}</string>
                <key>offset</key>
                <string>{23,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,175},{140,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0628.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1046},{142,244}}</string>
                <key>offset</key>
                <string>{23,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,175},{142,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0629.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1120},{140,244}}</string>
                <key>offset</key>
                <string>{23,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,175},{140,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0630.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1188},{140,244}}</string>
                <key>offset</key>
                <string>{23,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,175},{140,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0631.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,722},{136,246}}</string>
                <key>offset</key>
                <string>{21,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,174},{136,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0632.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,816},{116,246}}</string>
                <key>offset</key>
                <string>{10,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,174},{116,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0633.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1390},{114,242}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,175},{114,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0634.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1506},{118,238}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,176},{118,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0635.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1490},{132,238}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,175},{132,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0636.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,858},{112,246}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,174},{112,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0637.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1448},{124,240}}</string>
                <key>offset</key>
                <string>{-12,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,173},{124,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0638.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1328},{120,244}}</string>
                <key>offset</key>
                <string>{-10,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,171},{120,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0639.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,718},{130,248}}</string>
                <key>offset</key>
                <string>{-12,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,171},{130,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0640.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{168,248}}</string>
                <key>offset</key>
                <string>{-18,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,169},{168,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0641.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,966},{154,244}}</string>
                <key>offset</key>
                <string>{-15,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,169},{154,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0642.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,666},{150,248}}</string>
                <key>offset</key>
                <string>{-24,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,168},{150,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0643.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,564},{154,252}}</string>
                <key>offset</key>
                <string>{-27,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,167},{154,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0644.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,502},{164,252}}</string>
                <key>offset</key>
                <string>{-32,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,166},{164,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0645.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,558},{164,252}}</string>
                <key>offset</key>
                <string>{-32,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,166},{164,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0646.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,248},{166,254}}</string>
                <key>offset</key>
                <string>{-33,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,164},{166,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0647.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{146,258}}</string>
                <key>offset</key>
                <string>{-23,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,160},{146,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0648.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,104},{114,266}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,153},{114,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0649.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,0},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d7b0b2e2119be39a000c487e713b471:335efe92467e311244b1bba2244a85f3:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
