<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,0},{104,270}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,150},{104,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,104},{108,268}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,152},{108,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{116,266}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,154},{116,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,212},{126,260}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,159},{126,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,214},{138,256}}</string>
                <key>offset</key>
                <string>{-21,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,163},{138,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,352},{150,252}}</string>
                <key>offset</key>
                <string>{-27,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,166},{150,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,576},{160,248}}</string>
                <key>offset</key>
                <string>{-33,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,170},{160,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,752},{170,244}}</string>
                <key>offset</key>
                <string>{-38,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,174},{170,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,656},{176,240}}</string>
                <key>offset</key>
                <string>{-41,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,178},{176,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,922},{180,238}}</string>
                <key>offset</key>
                <string>{-44,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,180},{180,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1102},{184,234}}</string>
                <key>offset</key>
                <string>{-46,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,184},{184,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,988},{188,232}}</string>
                <key>offset</key>
                <string>{-48,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,186},{188,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1176},{190,228}}</string>
                <key>offset</key>
                <string>{-49,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,190},{190,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1506},{192,226}}</string>
                <key>offset</key>
                <string>{-50,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,192},{192,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1546},{194,224}}</string>
                <key>offset</key>
                <string>{-51,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,194},{194,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1826},{196,222}}</string>
                <key>offset</key>
                <string>{-52,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,196},{196,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1740},{198,220}}</string>
                <key>offset</key>
                <string>{-53,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,198},{198,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,0},{200,220}}</string>
                <key>offset</key>
                <string>{-53,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,198},{200,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1826},{200,220}}</string>
                <key>offset</key>
                <string>{-53,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,198},{200,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1826},{198,222}}</string>
                <key>offset</key>
                <string>{-51,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,196},{198,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1740},{190,224}}</string>
                <key>offset</key>
                <string>{-47,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,194},{190,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1304},{182,228}}</string>
                <key>offset</key>
                <string>{-42,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,190},{182,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1336},{170,230}}</string>
                <key>offset</key>
                <string>{-35,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,188},{170,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1176},{160,234}}</string>
                <key>offset</key>
                <string>{-29,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,184},{160,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,832},{156,238}}</string>
                <key>offset</key>
                <string>{-20,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,180},{156,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,798},{154,240}}</string>
                <key>offset</key>
                <string>{-12,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,178},{154,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,220},{148,242}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,176},{148,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,872},{144,244}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,174},{144,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{136,246}}</string>
                <key>offset</key>
                <string>{12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,173},{136,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,502},{122,248}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,171},{122,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,482},{124,250}}</string>
                <key>offset</key>
                <string>{22,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,169},{124,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,368},{128,252}}</string>
                <key>offset</key>
                <string>{25,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,167},{128,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,338},{144,254}}</string>
                <key>offset</key>
                <string>{34,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,165},{144,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,496},{160,250}}</string>
                <key>offset</key>
                <string>{42,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,168},{160,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,624},{174,244}}</string>
                <key>offset</key>
                <string>{49,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,174},{174,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,952},{182,236}}</string>
                <key>offset</key>
                <string>{54,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,182},{182,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1286},{186,230}}</string>
                <key>offset</key>
                <string>{55,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,188},{186,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1366},{180,226}}</string>
                <key>offset</key>
                <string>{52,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,192},{180,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1486},{178,226}}</string>
                <key>offset</key>
                <string>{50,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,192},{178,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1648},{178,226}}</string>
                <key>offset</key>
                <string>{50,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,193},{178,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1472},{176,228}}</string>
                <key>offset</key>
                <string>{48,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,191},{176,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1134},{170,232}}</string>
                <key>offset</key>
                <string>{43,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,187},{170,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1016},{160,238}}</string>
                <key>offset</key>
                <string>{37,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,181},{160,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,606},{146,246}}</string>
                <key>offset</key>
                <string>{30,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,173},{146,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{132,254}}</string>
                <key>offset</key>
                <string>{22,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,165},{132,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{120,260}}</string>
                <key>offset</key>
                <string>{14,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,160},{120,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,104},{110,266}}</string>
                <key>offset</key>
                <string>{8,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,154},{110,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{104,270}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,150},{104,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a104c56554a1e61639580e752d7323d:626aeecadf3523eda22c293745978133:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
