<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,822},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,850},{104,270}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,150},{104,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,286},{106,266}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,154},{106,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1092},{112,260}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,160},{112,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1190},{118,254}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,165},{118,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1308},{126,246}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,173},{126,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1460},{134,238}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,181},{134,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,552},{140,230}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,189},{140,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1012},{148,222}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,197},{148,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1756},{154,214}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,204},{154,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1476},{158,210}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,208},{158,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1774},{160,206}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,212},{160,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1774},{162,206}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,212},{162,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1774},{162,206}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,212},{162,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1612},{162,208}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,210},{162,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1756},{164,214}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,205},{164,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1594},{162,216}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,203},{162,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1160},{160,224}}</string>
                <key>offset</key>
                <string>{-5,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,195},{160,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1320},{156,236}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,183},{156,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1314},{146,246}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,172},{146,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1058},{132,260}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,158},{132,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,696},{126,276}}</string>
                <key>offset</key>
                <string>{-12,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,143},{126,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{126,292}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,127},{126,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,154},{122,306}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,113},{122,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,0},{130,316}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,102},{130,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{142,324}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,94},{142,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,330}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,88},{148,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{154,326}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,92},{154,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,130},{156,312}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,106},{156,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,566},{158,290}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,128},{158,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,926},{166,268}}</string>
                <key>offset</key>
                <string>{-25,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,150},{166,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1204},{174,248}}</string>
                <key>offset</key>
                <string>{-23,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,170},{174,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,782},{178,230}}</string>
                <key>offset</key>
                <string>{-21,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,188},{178,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1434},{178,220}}</string>
                <key>offset</key>
                <string>{-20,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,198},{178,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1546},{172,220}}</string>
                <key>offset</key>
                <string>{-17,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,198},{172,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1378},{168,238}}</string>
                <key>offset</key>
                <string>{-16,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,181},{168,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1150},{164,258}}</string>
                <key>offset</key>
                <string>{-15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,161},{164,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,578},{164,280}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,140},{164,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,286},{162,294}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,126},{162,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,276},{158,300}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,121},{158,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{150,298}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,123},{150,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,434},{140,294}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,127},{140,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,448},{130,288}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,132},{130,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,574},{122,282}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,138},{122,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{112,276}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,144},{112,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,742},{108,272}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,148},{108,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,940},{106,266}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,154},{106,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,954},{104,262}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,158},{104,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1046},{104,266}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,154},{104,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,836},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e548660d99757c2bd5793afd6ad75e0:8cf1dba038456345c8c06b900c76b475:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
