<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0650.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0651.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,158},{106,270}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,150},{106,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0652.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,374},{116,264}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,156},{116,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0653.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,582},{128,256}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,163},{128,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0654.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,710},{140,248}}</string>
                <key>offset</key>
                <string>{12,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,171},{140,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0655.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{150,236}}</string>
                <key>offset</key>
                <string>{18,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,183},{150,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0656.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,384},{160,222}}</string>
                <key>offset</key>
                <string>{24,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,196},{160,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0657.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{166,216}}</string>
                <key>offset</key>
                <string>{29,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,202},{166,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0658.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,860},{166,214}}</string>
                <key>offset</key>
                <string>{34,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,203},{166,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0659.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,212},{172,212}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,205},{172,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0660.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,0},{178,212}}</string>
                <key>offset</key>
                <string>{42,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,205},{178,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0661.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1194},{174,210}}</string>
                <key>offset</key>
                <string>{41,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,206},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0662.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1252},{174,210}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,206},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0663.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1290},{172,210}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,206},{172,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0664.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1368},{172,210}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,206},{172,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0665.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1540},{172,208}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,207},{172,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0666.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1202},{174,210}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,206},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0667.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1202},{174,210}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,206},{174,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0668.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1018},{176,210}}</string>
                <key>offset</key>
                <string>{41,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,206},{176,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0669.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1076},{176,210}}</string>
                <key>offset</key>
                <string>{42,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,206},{176,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0670.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,936},{178,210}}</string>
                <key>offset</key>
                <string>{42,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,206},{178,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0671.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1026},{176,210}}</string>
                <key>offset</key>
                <string>{42,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,206},{176,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0672.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1114},{176,210}}</string>
                <key>offset</key>
                <string>{41,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,206},{176,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0673.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1426},{174,208}}</string>
                <key>offset</key>
                <string>{41,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,208},{174,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0674.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1376},{174,208}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,207},{174,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0675.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1462},{174,208}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,207},{174,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0676.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1600},{174,206}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,208},{174,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0677.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1412},{172,206}}</string>
                <key>offset</key>
                <string>{40,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,207},{172,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0678.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1550},{172,206}}</string>
                <key>offset</key>
                <string>{39,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,207},{172,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0679.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1618},{170,202}}</string>
                <key>offset</key>
                <string>{38,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,211},{170,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0680.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1774},{168,204}}</string>
                <key>offset</key>
                <string>{38,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,210},{168,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0681.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1636},{170,206}}</string>
                <key>offset</key>
                <string>{35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,209},{170,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0682.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1712},{170,206}}</string>
                <key>offset</key>
                <string>{33,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,210},{170,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0683.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,850},{168,228}}</string>
                <key>offset</key>
                <string>{31,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,191},{168,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0684.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,694},{166,248}}</string>
                <key>offset</key>
                <string>{31,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,171},{166,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0685.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,264},{160,264}}</string>
                <key>offset</key>
                <string>{32,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,154},{160,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0686.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{158,276}}</string>
                <key>offset</key>
                <string>{32,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,143},{158,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0687.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,280}}</string>
                <key>offset</key>
                <string>{32,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,139},{158,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0688.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{158,274}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,144},{158,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0689.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,424},{158,262}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,155},{158,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0690.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,624},{156,250}}</string>
                <key>offset</key>
                <string>{31,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,166},{156,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0691.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,780},{156,242}}</string>
                <key>offset</key>
                <string>{32,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,173},{156,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0692.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,758},{152,246}}</string>
                <key>offset</key>
                <string>{29,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,170},{152,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0693.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{144,254}}</string>
                <key>offset</key>
                <string>{25,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,163},{144,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0694.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,490},{134,260}}</string>
                <key>offset</key>
                <string>{21,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,158},{134,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0695.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{126,262}}</string>
                <key>offset</key>
                <string>{17,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{126,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0696.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{120,264}}</string>
                <key>offset</key>
                <string>{13,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,155},{120,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0697.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,262},{112,268}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,152},{112,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0698.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{106,270}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,150},{106,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0699.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,158},{104,270}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,150},{104,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:469633e5fb7beba25d6f8bbb77df9e6b:f8dcb55c728c1740fa70398061440959:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
