<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1076},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1076},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1076},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1076},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1164},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1158},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1052},{106,274}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,146},{106,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,834},{112,278}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,144},{112,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,716},{118,282}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,141},{118,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,598},{120,284}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,140},{120,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,818},{118,282}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,141},{118,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{112,286}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,141},{112,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,242},{116,292}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,142},{116,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{122,296}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,143},{122,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,298}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,144},{124,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{122,296}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,143},{122,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,122},{120,296}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,138},{120,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{124,292}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,135},{124,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,360},{126,290}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,133},{126,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,474},{124,288}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,135},{124,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,486},{120,286}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,137},{120,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,834},{114,280}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,142},{114,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1058},{106,276}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,145},{106,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1180},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1268},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1262},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,946},{106,278}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,143},{106,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,606},{110,284}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,138},{110,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0528.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{116,290}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,133},{116,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0529.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,242},{118,294}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,130},{118,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0530.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,122},{120,296}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,128},{120,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0531.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{120,296}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,128},{120,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0532.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,358},{116,292}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,131},{116,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0533.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{112,290}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,133},{112,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0534.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{110,284}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,137},{110,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0535.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,718},{116,280}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,140},{116,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0536.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,936},{122,278}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,144},{122,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0537.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,948},{128,276}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,148},{128,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0538.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,820},{132,276}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,150},{132,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0539.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,272},{136,274}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,153},{136,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0540.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,546},{136,274}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,154},{136,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0541.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,0},{134,272}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,155},{134,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0542.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1096},{132,270}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,155},{132,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0543.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1366},{128,268}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,155},{128,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0544.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1388},{122,268}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,153},{122,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0545.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1476},{118,268}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,152},{118,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0546.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1366},{112,268}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,151},{112,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0547.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1494},{108,268}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,151},{108,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0548.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1372},{104,270}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,150},{104,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0549.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1284},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ddcd98fae321bd94e8307d3b02eebe0:b857b2b1061533bd3c21644ab1f1984e:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
