<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,838},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,946},{104,266}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,154},{104,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1268},{104,262}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,158},{104,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1050},{104,258}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,161},{104,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,838},{104,268}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,152},{104,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{104,282}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,138},{104,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,526},{104,296}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,125},{104,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,318},{104,306}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,115},{104,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{106,314}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,107},{106,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{106,318}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,103},{106,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,212},{106,312}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,109},{106,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,422},{104,298}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,123},{104,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,630},{104,282}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,138},{104,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,942},{104,268}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,152},{104,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1154},{104,256}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,163},{104,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1154},{104,246}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,173},{104,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1046},{104,236}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,183},{104,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1050},{104,244}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,175},{104,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1794},{104,254}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,165},{104,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1002},{104,264}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,156},{104,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{104,274}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,146},{104,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,526},{104,284}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,136},{104,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,422},{104,300}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,121},{104,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,106},{106,316}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,105},{106,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{106,324}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,97},{106,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,0},{106,322}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,99},{106,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,318},{104,312}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,109},{104,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{104,300}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,121},{104,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,720},{104,282}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,138},{104,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,942},{104,266}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,154},{104,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1530},{104,250}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,169},{104,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1150},{102,236}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,183},{102,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1780},{104,244}}</string>
                <key>offset</key>
                <string>{2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,175},{104,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1530},{104,256}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,164},{104,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1266},{104,264}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,156},{104,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,734},{104,274}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,146},{104,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,630},{104,284}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,136},{104,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,422},{104,300}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,121},{104,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,212},{106,316}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,105},{106,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,324}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,97},{108,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,106},{106,320}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,101},{106,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{106,310}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,111},{106,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{104,294}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,126},{104,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,734},{104,278}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,142},{104,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1530},{104,264}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,156},{104,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1786},{104,252}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,167},{104,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1268},{104,248}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,171},{104,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1268},{104,254}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,165},{104,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1002},{104,266}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,154},{104,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80b9ff488af7af969dec53114e59a6dd:f3d54d46f07c3bec43fc06ac3d43b323:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
