<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,752},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,856},{104,266}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,154},{104,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1064},{104,262}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,157},{104,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1168},{104,256}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,162},{104,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,956},{104,266}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,152},{104,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,646},{106,280}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,138},{106,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{106,294}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,125},{106,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,328},{106,304}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,115},{106,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{106,312}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,107},{106,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{106,316}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,103},{106,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,222},{106,310}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,109},{106,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,434},{106,296}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,123},{106,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,748},{104,280}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,139},{104,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,958},{104,266}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,153},{104,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1268},{104,256}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,163},{104,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1376},{104,244}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,174},{104,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1480},{104,234}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,183},{104,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1476},{104,242}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,175},{104,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1272},{104,254}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,164},{104,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1164},{104,262}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,156},{104,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,714},{106,272}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,146},{106,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,642},{106,282}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,137},{106,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,430},{106,298}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,121},{106,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,112},{110,314}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,104},{110,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,322}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,96},{112,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,0},{112,318}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,100},{112,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,320},{110,308}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,109},{110,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{108,296}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,121},{108,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,434},{108,280}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,137},{108,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{106,262}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,154},{106,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,986},{106,246}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,170},{106,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1238},{106,232}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,184},{106,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1232},{106,242}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,174},{106,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,986},{106,252}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,164},{106,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1168},{104,262}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,155},{104,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,852},{104,272}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,146},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{104,282}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,136},{104,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,536},{106,296}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,122},{106,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,212},{108,314}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,104},{108,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{106,322}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,96},{106,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,106},{106,318}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,100},{106,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{108,308}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,111},{108,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,540},{106,294}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,125},{106,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{104,278}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,142},{104,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1060},{104,264}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,156},{104,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1372},{104,252}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,167},{104,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1376},{104,248}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,171},{104,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1272},{104,254}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,165},{104,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,960},{104,266}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,154},{104,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9300f11693282ff0aee51a524041417b:2c223ecedb91f9233436cbeedbba90ea:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
