<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,554},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,270},{102,270}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,150},{102,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{104,270}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{104,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,266},{106,266}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,155},{106,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,268},{108,266}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,156},{108,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,820},{110,264}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,158},{110,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,828},{110,266}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,156},{110,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{108,266}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,156},{108,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,534},{108,266}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,155},{108,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{106,266}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,155},{106,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{106,268}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,153},{106,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{110,274}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,152},{110,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,278}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,150},{114,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{112,276}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,149},{112,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,550},{108,270}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,150},{108,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,278},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46158416d098ed29a59340c61b2baf08:8ceecb261413c3e744807aea3cd5690a:36433d9218bc56245200a984765d893d$</string>
            <key>textureFileName</key>
            <string>reaction3.png</string>
        </dict>
    </dict>
</plist>
