<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{110,270}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,150},{110,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,540},{128,268}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,152},{128,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{146,266}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,154},{146,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{156,264}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,155},{156,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,266},{156,264}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,155},{156,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{154,264}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,155},{154,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,804},{154,264}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,155},{154,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,530},{154,264}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,155},{154,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,264},{152,264}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,155},{152,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{150,264}}</string>
                <key>offset</key>
                <string>{-6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,155},{150,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,794},{146,264}}</string>
                <key>offset</key>
                <string>{-6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,155},{146,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,538},{136,266}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,154},{136,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,270},{126,268}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,152},{126,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{114,270}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,150},{114,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,270},{106,270}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,150},{106,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Freds0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{104,272}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,148},{104,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e1f409ce475190aa839f4e63e6fce80:2a87dc9c7228a7bec5e6f65d6426e4f5:e154f91947ef6b31e473f0aec4f73f4e$</string>
            <key>textureFileName</key>
            <string>reaction1.png</string>
        </dict>
    </dict>
</plist>
