<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1666},{170,232}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,203},{170,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1424},{174,242}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,198},{174,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1948},{188,258}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,186},{188,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1714},{234,270}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,174},{234,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1700},{282,272}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,171},{282,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1424},{322,276}}</string>
                <key>offset</key>
                <string>{10,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,168},{322,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1424},{342,290}}</string>
                <key>offset</key>
                <string>{12,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,165},{342,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1772},{356,322}}</string>
                <key>offset</key>
                <string>{9,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,161},{356,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1770},{364,342}}</string>
                <key>offset</key>
                <string>{8,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,158},{364,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1424},{368,346}}</string>
                <key>offset</key>
                <string>{7,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,154},{368,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1422},{370,350}}</string>
                <key>offset</key>
                <string>{7,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,150},{370,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1068},{378,352}}</string>
                <key>offset</key>
                <string>{9,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,148},{378,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,712},{388,354}}</string>
                <key>offset</key>
                <string>{12,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,146},{388,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,712},{382,356}}</string>
                <key>offset</key>
                <string>{17,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,144},{382,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1420},{374,356}}</string>
                <key>offset</key>
                <string>{19,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,144},{374,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1066},{382,356}}</string>
                <key>offset</key>
                <string>{12,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,144},{382,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,712},{390,356}}</string>
                <key>offset</key>
                <string>{5,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,144},{390,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,356},{398,356}}</string>
                <key>offset</key>
                <string>{-3,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,144},{398,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{406,356}}</string>
                <key>offset</key>
                <string>{-10,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,144},{406,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,0},{412,356}}</string>
                <key>offset</key>
                <string>{-16,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,144},{412,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{418,356}}</string>
                <key>offset</key>
                <string>{-20,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,144},{418,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{422,356}}</string>
                <key>offset</key>
                <string>{-23,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,144},{422,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{416,356}}</string>
                <key>offset</key>
                <string>{-28,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,144},{416,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,356},{404,356}}</string>
                <key>offset</key>
                <string>{-33,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,144},{404,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,356},{402,356}}</string>
                <key>offset</key>
                <string>{-35,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,144},{402,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,356},{400,356}}</string>
                <key>offset</key>
                <string>{-35,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,144},{400,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{396,356}}</string>
                <key>offset</key>
                <string>{-37,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,144},{396,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,712},{390,356}}</string>
                <key>offset</key>
                <string>{-41,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,144},{390,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,0},{378,356}}</string>
                <key>offset</key>
                <string>{-47,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,144},{378,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1068},{378,356}}</string>
                <key>offset</key>
                <string>{-47,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,144},{378,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1068},{378,356}}</string>
                <key>offset</key>
                <string>{-47,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,144},{378,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1068},{378,356}}</string>
                <key>offset</key>
                <string>{-47,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,144},{378,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8176e35d1240a31dfde92aabdaf2e83e:702f3821348b93e47182189e68795479:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
