<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1472},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1438},{276,300}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,144},{276,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1140},{300,302}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,144},{300,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,0},{328,304}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,142},{328,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,0},{348,300}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,143},{348,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{350,296}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,142},{350,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,0},{332,306}}</string>
                <key>offset</key>
                <string>{-36,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,126},{332,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,306},{302,310}}</string>
                <key>offset</key>
                <string>{-52,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,116},{302,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,582},{280,310}}</string>
                <key>offset</key>
                <string>{-62,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,112},{280,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,868},{272,310}}</string>
                <key>offset</key>
                <string>{-63,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,110},{272,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,580},{282,312}}</string>
                <key>offset</key>
                <string>{-44,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,109},{282,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1154},{286,302}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,118},{286,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1726},{262,298}}</string>
                <key>offset</key>
                <string>{75,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,122},{262,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2244},{266,288}}</string>
                <key>offset</key>
                <string>{85,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,131},{266,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1732},{264,294}}</string>
                <key>offset</key>
                <string>{81,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,126},{264,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1440},{276,300}}</string>
                <key>offset</key>
                <string>{56,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,120},{276,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1434},{292,302}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,118},{292,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,588},{292,310}}</string>
                <key>offset</key>
                <string>{-31,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,110},{292,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,596},{278,310}}</string>
                <key>offset</key>
                <string>{-57,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,110},{278,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,608},{272,310}}</string>
                <key>offset</key>
                <string>{-63,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,111},{272,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,294},{286,312}}</string>
                <key>offset</key>
                <string>{-46,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,109},{286,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,880},{292,302}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,118},{292,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1714},{264,298}}</string>
                <key>offset</key>
                <string>{73,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,122},{264,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2256},{266,288}}</string>
                <key>offset</key>
                <string>{85,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,131},{266,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1980},{264,290}}</string>
                <key>offset</key>
                <string>{84,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,129},{264,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1738},{264,294}}</string>
                <key>offset</key>
                <string>{81,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,126},{264,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1716},{264,298}}</string>
                <key>offset</key>
                <string>{73,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,122},{264,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1440},{276,300}}</string>
                <key>offset</key>
                <string>{56,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,120},{276,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1170},{286,302}}</string>
                <key>offset</key>
                <string>{35,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,118},{286,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1146},{292,302}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,118},{292,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1140},{294,306}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,114},{294,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,862},{292,310}}</string>
                <key>offset</key>
                <string>{-31,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,110},{292,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,582},{286,310}}</string>
                <key>offset</key>
                <string>{-46,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,110},{286,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,862},{278,310}}</string>
                <key>offset</key>
                <string>{-57,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,110},{278,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,874},{272,310}}</string>
                <key>offset</key>
                <string>{-62,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,110},{272,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,868},{272,310}}</string>
                <key>offset</key>
                <string>{-63,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,110},{272,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,304},{284,312}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,109},{284,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,880},{290,302}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,118},{290,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1716},{262,298}}</string>
                <key>offset</key>
                <string>{72,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,122},{262,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1978},{266,288}}</string>
                <key>offset</key>
                <string>{85,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,131},{266,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1988},{268,288}}</string>
                <key>offset</key>
                <string>{86,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,131},{268,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1978},{280,290}}</string>
                <key>offset</key>
                <string>{83,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,130},{280,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,0},{312,294}}</string>
                <key>offset</key>
                <string>{66,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,131},{312,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,292},{344,290}}</string>
                <key>offset</key>
                <string>{45,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,140},{344,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{362,286}}</string>
                <key>offset</key>
                <string>{25,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,149},{362,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{356,292}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,147},{356,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,300},{332,296}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,146},{332,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1172},{300,300}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,144},{300,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1456},{276,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,144},{276,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1472},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f434e9382819e4e72aee458958201b4a:d6e7b2933eb4f140be27046b858d674f:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
