<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0550.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{260,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,144},{260,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1200},{242,300}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,146},{242,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0553.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1500},{214,300}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,147},{214,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0554.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,900},{184,298}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,149},{184,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0555.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{162,296}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,150},{162,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0556.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1480},{150,292}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,152},{150,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0557.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1480},{142,290}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,150},{142,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0558.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1468},{136,288}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,151},{136,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0559.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1156},{132,286}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,150},{132,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0560.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{130,284}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,150},{130,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0561.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,0},{130,282}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,151},{130,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0562.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,284},{130,284}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,151},{130,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0563.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1756},{134,288}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,151},{134,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0564.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,886},{144,292}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,150},{144,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0565.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{174,292}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,151},{174,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0566.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,592},{210,294}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,152},{210,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0567.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1800},{222,294}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,152},{222,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0568.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,894},{214,294}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,152},{214,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0569.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,590},{192,290}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,154},{192,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0570.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,292},{166,290}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,154},{166,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0571.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1772},{152,288}}</string>
                <key>offset</key>
                <string>{6,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,155},{152,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0572.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1458},{148,286}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,154},{148,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0573.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1744},{142,284}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,153},{142,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0574.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1134},{136,282}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,153},{136,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0575.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1416},{132,282}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,152},{132,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0576.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,568},{128,284}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,151},{128,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0577.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1170},{132,288}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,149},{132,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0578.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,880},{136,290}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,150},{136,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0579.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1188},{146,292}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,150},{146,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0580.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1188},{166,292}}</string>
                <key>offset</key>
                <string>{11,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,150},{166,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0581.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,296},{188,296}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,149},{188,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0582.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{210,296}}</string>
                <key>offset</key>
                <string>{12,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,150},{210,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0583.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1800},{218,296}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,150},{218,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0584.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,598},{210,296}}</string>
                <key>offset</key>
                <string>{8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,150},{210,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0585.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,296},{184,294}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,150},{184,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0586.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1480},{148,292}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,151},{148,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0587.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1178},{140,290}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,151},{140,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0588.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,870},{136,286}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,152},{136,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0589.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,852},{138,282}}</string>
                <key>offset</key>
                <string>{9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,153},{138,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0590.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,282},{138,280}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,153},{138,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0591.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1744},{140,284}}</string>
                <key>offset</key>
                <string>{11,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,152},{140,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0592.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,582},{140,288}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,152},{140,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0593.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{150,294}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,150},{150,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0594.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,300},{164,298}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,149},{164,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0595.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1200},{190,300}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,148},{190,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0596.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1500},{218,300}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,148},{218,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0597.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{244,300}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,146},{244,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0598.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{260,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,144},{260,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0599.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d61c4c62afdeef804f45c6a48e246c5b:b82af9126009e5e10f0def21c084d6b7:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
