<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,846},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1112},{268,298}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,145},{268,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1438},{272,296}}</string>
                <key>offset</key>
                <string>{21,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,145},{272,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1380},{270,294}}</string>
                <key>offset</key>
                <string>{44,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,146},{270,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1684},{276,290}}</string>
                <key>offset</key>
                <string>{56,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,148},{276,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1960},{276,286}}</string>
                <key>offset</key>
                <string>{62,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,148},{276,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2236},{272,280}}</string>
                <key>offset</key>
                <string>{63,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,150},{272,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1662},{270,278}}</string>
                <key>offset</key>
                <string>{62,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,149},{270,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2010},{274,280}}</string>
                <key>offset</key>
                <string>{61,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,148},{274,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1730},{286,280}}</string>
                <key>offset</key>
                <string>{55,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,148},{286,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,830},{300,280}}</string>
                <key>offset</key>
                <string>{49,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,146},{300,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,278},{308,278}}</string>
                <key>offset</key>
                <string>{45,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,145},{308,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,302},{308,276}}</string>
                <key>offset</key>
                <string>{45,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,145},{308,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,276},{314,276}}</string>
                <key>offset</key>
                <string>{46,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,145},{314,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{320,276}}</string>
                <key>offset</key>
                <string>{46,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,145},{320,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{326,290}}</string>
                <key>offset</key>
                <string>{32,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,145},{326,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,0},{318,302}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,146},{318,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,578},{286,304}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,147},{286,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1108},{270,298}}</string>
                <key>offset</key>
                <string>{-51,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,148},{270,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1650},{272,288}}</string>
                <key>offset</key>
                <string>{-56,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,149},{272,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1656},{270,282}}</string>
                <key>offset</key>
                <string>{-56,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,150},{270,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1390},{272,282}}</string>
                <key>offset</key>
                <string>{-55,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,148},{272,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1922},{280,280}}</string>
                <key>offset</key>
                <string>{-52,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,147},{280,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1710},{288,280}}</string>
                <key>offset</key>
                <string>{-49,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,145},{288,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1110},{294,280}}</string>
                <key>offset</key>
                <string>{-46,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,145},{294,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,556},{300,284}}</string>
                <key>offset</key>
                <string>{-45,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,144},{300,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0526.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,556},{304,290}}</string>
                <key>offset</key>
                <string>{-42,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,144},{304,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0527.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{306,292}}</string>
                <key>offset</key>
                <string>{-26,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,146},{306,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0528.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{312,296}}</string>
                <key>offset</key>
                <string>{10,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,147},{312,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0529.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1156},{292,296}}</string>
                <key>offset</key>
                <string>{45,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,148},{292,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0530.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1448},{282,290}}</string>
                <key>offset</key>
                <string>{61,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,149},{282,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0531.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1990},{274,282}}</string>
                <key>offset</key>
                <string>{63,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,150},{274,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0532.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1926},{270,278}}</string>
                <key>offset</key>
                <string>{63,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,149},{270,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0533.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2264},{276,278}}</string>
                <key>offset</key>
                <string>{60,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,149},{276,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0534.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1378},{294,278}}</string>
                <key>offset</key>
                <string>{52,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,148},{294,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0535.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,552},{306,278}}</string>
                <key>offset</key>
                <string>{46,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,145},{306,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0536.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,552},{308,276}}</string>
                <key>offset</key>
                <string>{45,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,145},{308,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0537.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,0},{310,276}}</string>
                <key>offset</key>
                <string>{45,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,145},{310,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0538.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,276},{310,276}}</string>
                <key>offset</key>
                <string>{46,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,145},{310,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0539.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,0},{312,278}}</string>
                <key>offset</key>
                <string>{46,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,144},{312,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0540.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,0},{312,278}}</string>
                <key>offset</key>
                <string>{46,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,144},{312,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,278},{308,278}}</string>
                <key>offset</key>
                <string>{45,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,145},{308,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0542.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,828},{304,284}}</string>
                <key>offset</key>
                <string>{39,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,144},{304,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0543.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,878},{302,288}}</string>
                <key>offset</key>
                <string>{33,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,145},{302,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0544.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,864},{298,292}}</string>
                <key>offset</key>
                <string>{25,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,145},{298,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0545.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1394},{290,296}}</string>
                <key>offset</key>
                <string>{17,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,144},{290,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0546.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1112},{282,298}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,144},{282,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0547.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1166},{272,298}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,145},{272,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0548.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,840},{268,300}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,144},{268,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0549.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,846},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faf6e88b9475b7ac55fce7223a73626e:1f1ef3ae97fd6384687537020ede120b:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
