<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,874},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,784},{268,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,144},{268,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1052},{274,298}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,146},{274,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1338},{284,296}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,148},{284,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1042},{298,296}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,147},{298,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,580},{316,294}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,146},{316,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{334,292}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,145},{334,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,292},{350,288}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,145},{350,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,0},{362,290}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,143},{362,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,0},{372,292}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,142},{372,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{376,292}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,142},{376,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{376,294}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,141},{376,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,0},{370,296}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,142},{370,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,290},{352,304}}</string>
                <key>offset</key>
                <string>{-12,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,142},{352,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,468},{318,316}}</string>
                <key>offset</key>
                <string>{-18,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,142},{318,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,296},{290,330}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{290,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{208,344}}</string>
                <key>offset</key>
                <string>{46,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,145},{208,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,292},{176,334}}</string>
                <key>offset</key>
                <string>{43,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,146},{176,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,754},{308,288}}</string>
                <key>offset</key>
                <string>{45,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,146},{308,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{310,272}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,144},{310,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,924},{246,286}}</string>
                <key>offset</key>
                <string>{-56,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,143},{246,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,0},{192,318}}</string>
                <key>offset</key>
                <string>{-40,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,141},{192,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,586},{168,310}}</string>
                <key>offset</key>
                <string>{16,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,141},{168,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1670},{160,276}}</string>
                <key>offset</key>
                <string>{34,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,145},{160,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1402},{130,270}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,145},{130,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,860},{132,288}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,142},{132,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1742},{128,276}}</string>
                <key>offset</key>
                <string>{16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,146},{128,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1770},{142,278}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,143},{142,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,586},{134,274}}</string>
                <key>offset</key>
                <string>{23,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,147},{134,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1592},{150,280}}</string>
                <key>offset</key>
                <string>{-20,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,142},{150,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1830},{142,276}}</string>
                <key>offset</key>
                <string>{25,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,146},{142,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1148},{162,282}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,142},{162,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1742},{158,274}}</string>
                <key>offset</key>
                <string>{35,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,147},{158,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1742},{152,276}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,144},{152,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1598},{172,298}}</string>
                <key>offset</key>
                <string>{23,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,145},{172,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1256},{146,270}}</string>
                <key>offset</key>
                <string>{13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,147},{146,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1770},{170,278}}</string>
                <key>offset</key>
                <string>{-33,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,143},{170,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,318},{198,304}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,143},{198,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1052},{204,304}}</string>
                <key>offset</key>
                <string>{-26,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,144},{204,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,832},{220,304}}</string>
                <key>offset</key>
                <string>{-19,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{220,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,594},{238,304}}</string>
                <key>offset</key>
                <string>{-13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,143},{238,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,622},{250,302}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,143},{250,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1210},{260,300}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,144},{260,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1406},{264,298}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,145},{264,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1140},{266,298}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,145},{266,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1332},{266,298}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,145},{266,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1326},{266,298}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,145},{266,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1066},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1066},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1066},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf11f35e83b1c01178d5236bd83c187c:f7331043bfad3259437161c45421118b:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
