<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0600.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1182},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1114},{264,300}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,145},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1136},{256,302}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,145},{256,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,754},{242,306}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,144},{242,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,632},{220,306}}</string>
                <key>offset</key>
                <string>{8,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,146},{220,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,604},{194,308}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,145},{194,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,782},{176,306}}</string>
                <key>offset</key>
                <string>{8,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,147},{176,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,852},{166,306}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,147},{166,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,958},{156,304}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,148},{156,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1018},{150,302}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,149},{150,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1082},{144,302}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,148},{144,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1226},{142,300}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,149},{142,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1448},{140,298}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,150},{140,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1728},{138,296}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,151},{138,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1728},{138,296}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,151},{138,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1076},{138,294}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,152},{138,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1588},{140,298}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,149},{140,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,920},{162,306}}</string>
                <key>offset</key>
                <string>{9,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,143},{162,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,294},{194,310}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,139},{194,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,294},{242,314}}</string>
                <key>offset</key>
                <string>{26,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,135},{242,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0620.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,616},{304,318}}</string>
                <key>offset</key>
                <string>{21,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,132},{304,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0621.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,292},{356,316}}</string>
                <key>offset</key>
                <string>{13,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,130},{356,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0622.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,308},{390,308}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,130},{390,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0623.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{398,300}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,129},{398,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0624.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{392,294}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,127},{392,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0625.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,0},{386,294}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,127},{386,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0626.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,0},{388,292}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,128},{388,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0627.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{388,294}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,128},{388,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0628.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{394,308}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,129},{394,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0629.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,0},{390,316}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,129},{390,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0630.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,316},{356,316}}</string>
                <key>offset</key>
                <string>{14,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,131},{356,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0631.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,888},{294,316}}</string>
                <key>offset</key>
                <string>{25,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,133},{294,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0632.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,536},{218,314}}</string>
                <key>offset</key>
                <string>{31,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,135},{218,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0633.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,608},{174,312}}</string>
                <key>offset</key>
                <string>{19,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,139},{174,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0634.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,996},{140,304}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,145},{140,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0635.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,958},{134,296}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,151},{134,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0636.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1378},{134,292}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,154},{134,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0637.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1712},{136,290}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,155},{136,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0638.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1574},{138,290}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,154},{138,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0639.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1728},{140,292}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,152},{140,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0640.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1512},{142,290}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,154},{142,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0641.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1426},{148,290}}</string>
                <key>offset</key>
                <string>{6,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,154},{148,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0642.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1886},{154,288}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,155},{154,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0643.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1598},{158,288}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,155},{158,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0644.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1254},{162,288}}</string>
                <key>offset</key>
                <string>{10,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,155},{162,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0645.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,912},{164,292}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,153},{164,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0646.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,1214},{188,296}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,149},{188,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0647.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1368},{230,298}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,146},{230,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0648.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1168},{258,300}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,144},{258,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0649.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1182},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:712c549628be45659f42c4552777f8e1:e92e2cbd2ea7257705eb607deb74c3a3:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
