<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,328},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,0},{266,300}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,974},{268,298}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,146},{268,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,628},{268,298}}</string>
                <key>offset</key>
                <string>{-12,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,146},{268,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,0},{264,296}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,148},{264,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1272},{254,294}}</string>
                <key>offset</key>
                <string>{-18,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,150},{254,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,892},{242,292}}</string>
                <key>offset</key>
                <string>{-18,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,151},{242,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1818},{226,290}}</string>
                <key>offset</key>
                <string>{-17,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,153},{226,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,296},{216,290}}</string>
                <key>offset</key>
                <string>{-19,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,153},{216,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,0},{216,290}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,152},{216,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,598},{218,290}}</string>
                <key>offset</key>
                <string>{-30,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,151},{218,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1362},{214,314}}</string>
                <key>offset</key>
                <string>{-27,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,126},{214,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,710},{198,330}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,108},{198,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1096},{190,338}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,100},{190,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{204,328}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,110},{204,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,300},{218,298}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,140},{218,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,566},{210,284}}</string>
                <key>offset</key>
                <string>{-24,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,154},{210,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,982},{202,282}}</string>
                <key>offset</key>
                <string>{-17,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,156},{202,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1566},{202,282}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,155},{202,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,776},{206,282}}</string>
                <key>offset</key>
                <string>{-17,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,156},{206,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,354},{212,286}}</string>
                <key>offset</key>
                <string>{-23,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,155},{212,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1818},{218,312}}</string>
                <key>offset</key>
                <string>{-23,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,131},{218,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1434},{206,336}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,104},{206,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1476},{196,342}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,96},{196,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{196,344}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,97},{196,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1476},{200,342}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,103},{200,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,710},{202,336}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,113},{202,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1046},{204,330}}</string>
                <key>offset</key>
                <string>{-9,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,124},{204,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1702},{200,316}}</string>
                <key>offset</key>
                <string>{-7,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,140},{200,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,672},{190,302}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,155},{190,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1272},{184,296}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,159},{184,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,926},{178,294}}</string>
                <key>offset</key>
                <string>{8,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,159},{178,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,0},{178,290}}</string>
                <key>offset</key>
                <string>{11,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,161},{178,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,178},{176,290}}</string>
                <key>offset</key>
                <string>{13,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,161},{176,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,598},{178,294}}</string>
                <key>offset</key>
                <string>{13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,161},{178,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1676},{178,300}}</string>
                <key>offset</key>
                <string>{13,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,162},{178,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1376},{176,326}}</string>
                <key>offset</key>
                <string>{11,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,142},{176,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,742},{176,354}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,115},{176,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,374},{172,368}}</string>
                <key>offset</key>
                <string>{13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,97},{172,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{174,374}}</string>
                <key>offset</key>
                <string>{12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,90},{174,374}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{180,376}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,88},{180,376}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{188,374}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,88},{188,374}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{202,370}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,88},{202,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{222,364}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,89},{222,364}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{246,356}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,93},{246,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,364},{268,346}}</string>
                <key>offset</key>
                <string>{-9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,99},{268,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,344},{308,328}}</string>
                <key>offset</key>
                <string>{-25,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,119},{308,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1040},{322,302}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,146},{322,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1676},{288,298}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,144},{288,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,328},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5027934d7c213df8260c9b265efd8ff9:627dda69f69efdd8a16d57e05cbc4c3f:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
