<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0650.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,292},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0651.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,0},{292,302}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,145},{292,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0652.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{334,302}}</string>
                <key>offset</key>
                <string>{-7,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,147},{334,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0653.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,0},{320,298}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,148},{320,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0654.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,300},{238,288}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,145},{238,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0655.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1020},{194,274}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,152},{194,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0656.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1046},{184,274}}</string>
                <key>offset</key>
                <string>{24,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,152},{184,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0657.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,750},{184,278}}</string>
                <key>offset</key>
                <string>{19,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,150},{184,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0658.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,862},{184,278}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,151},{184,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0659.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,518},{184,280}}</string>
                <key>offset</key>
                <string>{15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,150},{184,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0660.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,572},{186,278}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,151},{186,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0661.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,702},{190,278}}</string>
                <key>offset</key>
                <string>{19,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,150},{190,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0662.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,558},{192,278}}</string>
                <key>offset</key>
                <string>{24,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,150},{192,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0663.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,758},{194,274}}</string>
                <key>offset</key>
                <string>{27,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,152},{194,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0664.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1020},{194,274}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,152},{194,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0665.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,572},{194,276}}</string>
                <key>offset</key>
                <string>{27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,151},{194,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0666.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,670},{192,278}}</string>
                <key>offset</key>
                <string>{21,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,150},{192,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0667.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,832},{188,278}}</string>
                <key>offset</key>
                <string>{17,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,150},{188,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0668.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,538},{184,280}}</string>
                <key>offset</key>
                <string>{15,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,149},{184,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0669.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,298},{186,280}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,149},{186,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0670.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,722},{190,278}}</string>
                <key>offset</key>
                <string>{20,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,150},{190,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0671.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,912},{192,276}}</string>
                <key>offset</key>
                <string>{24,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,151},{192,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0672.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,848},{194,274}}</string>
                <key>offset</key>
                <string>{28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,152},{194,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0673.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,934},{194,274}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,152},{194,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0674.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1076},{192,272}}</string>
                <key>offset</key>
                <string>{23,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,151},{192,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0675.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,892},{184,278}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,142},{184,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0676.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{174,286}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,135},{174,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0677.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{182,288}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,133},{182,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0678.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,484},{186,280}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,139},{186,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0679.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,952},{192,264}}</string>
                <key>offset</key>
                <string>{-15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,151},{192,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0680.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1128},{192,264}}</string>
                <key>offset</key>
                <string>{-14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,151},{192,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0681.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1104},{188,270}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,146},{188,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0682.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{182,288}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,133},{182,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0683.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,484},{186,280}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,139},{186,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0684.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,952},{192,264}}</string>
                <key>offset</key>
                <string>{-15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,151},{192,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0685.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1128},{192,264}}</string>
                <key>offset</key>
                <string>{-14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,151},{192,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0686.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,952},{192,264}}</string>
                <key>offset</key>
                <string>{-15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,151},{192,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0687.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,484},{186,280}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,139},{186,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0688.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{182,288}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,133},{182,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0689.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1104},{188,270}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,146},{188,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0690.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1128},{192,264}}</string>
                <key>offset</key>
                <string>{-14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,151},{192,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0691.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1214},{186,266}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,150},{186,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0692.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{174,280}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,141},{174,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0693.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{182,288}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,133},{182,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0694.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,298},{220,298}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,130},{220,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0695.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,0},{286,302}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,138},{286,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0696.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{334,300}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,147},{334,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0697.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{322,298}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,146},{322,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0698.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,286},{286,300}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,144},{286,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0699.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,292},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17932c5a39821eafd5708ad64918ee71:9511e477f9dfacd18dd4da23f713101f:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
