<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,798},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1648},{276,314}}</string>
                <key>offset</key>
                <string>{-30,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,143},{276,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,940},{294,306}}</string>
                <key>offset</key>
                <string>{-59,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,144},{294,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,498},{300,300}}</string>
                <key>offset</key>
                <string>{-61,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{300,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1272},{306,300}}</string>
                <key>offset</key>
                <string>{-53,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,133},{306,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1590},{306,302}}</string>
                <key>offset</key>
                <string>{-44,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,133},{306,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1282},{292,308}}</string>
                <key>offset</key>
                <string>{-38,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,133},{292,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1302},{270,314}}</string>
                <key>offset</key>
                <string>{-34,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,135},{270,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1722},{246,324}}</string>
                <key>offset</key>
                <string>{-29,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,135},{246,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,672},{228,330}}</string>
                <key>offset</key>
                <string>{-20,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,136},{228,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{262,330}}</string>
                <key>offset</key>
                <string>{-21,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,137},{262,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,330},{300,322}}</string>
                <key>offset</key>
                <string>{-36,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,137},{300,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,0},{304,320}}</string>
                <key>offset</key>
                <string>{-44,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,138},{304,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1046},{284,334}}</string>
                <key>offset</key>
                <string>{-20,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,140},{284,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,706},{208,340}}</string>
                <key>offset</key>
                <string>{25,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,145},{208,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,684},{182,332}}</string>
                <key>offset</key>
                <string>{28,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,145},{182,332}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1714},{184,334}}</string>
                <key>offset</key>
                <string>{28,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,145},{184,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{178,344}}</string>
                <key>offset</key>
                <string>{25,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,145},{178,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{170,352}}</string>
                <key>offset</key>
                <string>{22,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,146},{170,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,354}}</string>
                <key>offset</key>
                <string>{19,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,146},{166,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1384},{176,338}}</string>
                <key>offset</key>
                <string>{25,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,146},{176,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,652},{216,316}}</string>
                <key>offset</key>
                <string>{45,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,146},{216,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,984},{210,318}}</string>
                <key>offset</key>
                <string>{43,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,146},{210,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{202,322}}</string>
                <key>offset</key>
                <string>{37,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,145},{202,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,660},{188,324}}</string>
                <key>offset</key>
                <string>{30,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,146},{188,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1002},{180,328}}</string>
                <key>offset</key>
                <string>{26,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,145},{180,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,340},{180,332}}</string>
                <key>offset</key>
                <string>{27,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,145},{180,332}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1384},{178,338}}</string>
                <key>offset</key>
                <string>{28,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,142},{178,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{176,340}}</string>
                <key>offset</key>
                <string>{27,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,140},{176,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,344},{184,340}}</string>
                <key>offset</key>
                <string>{18,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{184,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1046},{200,338}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,138},{200,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1380},{212,334}}</string>
                <key>offset</key>
                <string>{-12,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,136},{212,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,330},{220,330}}</string>
                <key>offset</key>
                <string>{-26,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,134},{220,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1722},{224,324}}</string>
                <key>offset</key>
                <string>{-38,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,134},{224,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1330},{226,318}}</string>
                <key>offset</key>
                <string>{-47,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{226,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,968},{230,314}}</string>
                <key>offset</key>
                <string>{-50,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,133},{230,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1616},{234,310}}</string>
                <key>offset</key>
                <string>{-52,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,133},{234,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,320},{234,308}}</string>
                <key>offset</key>
                <string>{-53,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,132},{234,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,632},{236,308}}</string>
                <key>offset</key>
                <string>{-54,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,132},{236,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,628},{236,306}}</string>
                <key>offset</key>
                <string>{-53,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,134},{236,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,0},{236,304}}</string>
                <key>offset</key>
                <string>{-53,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,137},{236,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1298},{236,298}}</string>
                <key>offset</key>
                <string>{-52,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,144},{236,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1064},{234,300}}</string>
                <key>offset</key>
                <string>{-51,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,143},{234,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1534},{228,298}}</string>
                <key>offset</key>
                <string>{-49,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,144},{228,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,0},{224,308}}</string>
                <key>offset</key>
                <string>{-47,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,143},{224,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,320},{224,312}}</string>
                <key>offset</key>
                <string>{-41,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,144},{224,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,652},{232,312}}</string>
                <key>offset</key>
                <string>{-31,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,143},{232,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,964},{252,308}}</string>
                <key>offset</key>
                <string>{-15,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,143},{252,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,236},{262,302}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,144},{262,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,798},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f5b0ce06bf562c997b3e93d9e00fbf:4056c1149ebaf073b8eb74f8d603ed69:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
