<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,228},{172,224}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,204},{172,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{170,226}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,203},{170,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{174,228}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,203},{174,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggCrack.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5541233d1d1b0c6ab769d9129404a29b:e0caff93a8c2cc645ebe9a050dd11a12:9b9a4458a058f694d21d1a70a0dea311$</string>
            <key>textureFileName</key>
            <string>eggCrack.png</string>
        </dict>
    </dict>
</plist>
