<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{170,222}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{170,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,172},{170,222}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,206},{170,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{172,222}}</string>
                <key>offset</key>
                <string>{-1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,172},{170,222}}</string>
                <key>offset</key>
                <string>{-2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,206},{170,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{172,222}}</string>
                <key>offset</key>
                <string>{-3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,206},{172,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{172,224}}</string>
                <key>offset</key>
                <string>{-4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,205},{172,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{172,224}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,205},{172,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{172,224}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{172,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,226}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,204},{172,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{172,224}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,205},{172,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,172},{170,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,206},{170,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,222},{170,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,206},{170,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,444},{170,222}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,206},{170,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,666},{170,222}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{170,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,342},{170,222}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,206},{170,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggIdle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8987a9ba8a75bc85c840f35c10933331:ae28f72bf81c42e7485d5c0b5089172f:5fe1c8f2c7fd33eabd49e5faa65fc238$</string>
            <key>textureFileName</key>
            <string>eggIdle.png</string>
        </dict>
    </dict>
</plist>
