<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{264,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,144},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{260,300}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,144},{260,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,260},{252,298}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,146},{252,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,264},{244,296}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,147},{244,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{232,294}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,148},{232,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{218,290}}</string>
                <key>offset</key>
                <string>{-11,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,151},{218,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,508},{206,286}}</string>
                <key>offset</key>
                <string>{-14,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,153},{206,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,512},{192,282}}</string>
                <key>offset</key>
                <string>{-17,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,155},{192,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,704},{186,276}}</string>
                <key>offset</key>
                <string>{-16,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,159},{186,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,714},{178,272}}</string>
                <key>offset</key>
                <string>{-15,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,163},{178,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,772},{172,268}}</string>
                <key>offset</key>
                <string>{-14,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,169},{172,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,890},{168,264}}</string>
                <key>offset</key>
                <string>{-13,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,174},{168,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,512},{164,260}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,180},{164,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{160,254}}</string>
                <key>offset</key>
                <string>{-13,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,186},{160,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1040},{158,250}}</string>
                <key>offset</key>
                <string>{-13,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,191},{158,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{156,246}}</string>
                <key>offset</key>
                <string>{-12,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,195},{156,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,892},{154,244}}</string>
                <key>offset</key>
                <string>{-12,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,198},{154,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1032},{154,242}}</string>
                <key>offset</key>
                <string>{-12,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,200},{154,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1046},{154,240}}</string>
                <key>offset</key>
                <string>{-13,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,202},{154,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d97b1c4f13b600965efbe5b47041b5d:22f76a79bbf797c325f5cfed58c88379:c1cf761d005800c04dbc6a7cacdce7d7$</string>
            <key>textureFileName</key>
            <string>exit.png</string>
        </dict>
    </dict>
</plist>
