<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,604},{266,300}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,300},{266,300}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,143},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{266,300}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,143},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1208},{266,300}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,143},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,302}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,141},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{264,302}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,141},{264,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,300},{264,300}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,142},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{262,302}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,140},{262,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,906},{262,302}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,140},{262,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1208},{262,302}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,140},{262,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,900},{260,300}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,141},{260,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1510},{260,302}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,139},{260,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1510},{260,302}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,139},{260,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,302},{258,302}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,139},{258,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{258,302}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,139},{258,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,906},{258,302}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,139},{258,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1208},{258,302}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,139},{258,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,906},{258,302}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,139},{258,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,302},{258,302}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,139},{258,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,300},{258,300}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,141},{258,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,604},{260,302}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,140},{260,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,600},{260,300}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,142},{260,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1204},{262,300}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,142},{262,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,0},{264,300}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,143},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1508},{264,300}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,143},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1508},{264,300}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,143},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,904},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,600},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d153e80e90eb20157ebc275f828b8b7c:fd8e715dba921d659ca28110400a7516:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
