<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1300},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1300},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1510},{266,298}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,145},{266,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1996},{266,292}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,148},{266,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2018},{266,286}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,150},{266,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1836},{262,276}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,154},{262,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,804},{254,276}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,156},{254,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1810},{242,278}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,159},{242,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1580},{230,282}}</string>
                <key>offset</key>
                <string>{-17,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,159},{230,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1778},{218,296}}</string>
                <key>offset</key>
                <string>{-16,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,153},{218,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,488},{208,316}}</string>
                <key>offset</key>
                <string>{-14,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,143},{208,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,772},{202,344}}</string>
                <key>offset</key>
                <string>{-12,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,128},{202,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,428},{202,368}}</string>
                <key>offset</key>
                <string>{-10,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,115},{202,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,202},{202,382}}</string>
                <key>offset</key>
                <string>{-10,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,107},{202,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{202,384}}</string>
                <key>offset</key>
                <string>{-10,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,105},{202,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,384}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,104},{204,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{206,382}}</string>
                <key>offset</key>
                <string>{-14,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,104},{206,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{212,378}}</string>
                <key>offset</key>
                <string>{-14,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{212,378}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,0},{218,376}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,106},{218,376}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,206},{222,372}}</string>
                <key>offset</key>
                <string>{-15,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,108},{222,372}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,404},{224,370}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,108},{224,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,218},{224,368}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,109},{224,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,0},{226,368}}</string>
                <key>offset</key>
                <string>{-15,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,108},{226,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{234,368}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,107},{234,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,650},{240,366}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,108},{240,366}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,628},{248,366}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,107},{248,366}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,442},{256,364}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,108},{256,364}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,226},{262,364}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,107},{262,364}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,876},{268,360}}</string>
                <key>offset</key>
                <string>{14,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,109},{268,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,630},{274,360}}</string>
                <key>offset</key>
                <string>{15,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,108},{274,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,890},{278,358}}</string>
                <key>offset</key>
                <string>{14,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,109},{278,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,488},{284,356}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,110},{284,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,698},{290,354}}</string>
                <key>offset</key>
                <string>{9,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,110},{290,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,904},{294,352}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,111},{294,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1144},{298,350}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,112},{298,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1168},{304,346}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,113},{304,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,974},{308,340}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,117},{308,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,988},{312,334}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,119},{312,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1198},{312,326}}</string>
                <key>offset</key>
                <string>{-15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,123},{312,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1442},{312,320}}</string>
                <key>offset</key>
                <string>{-16,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,126},{312,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1472},{306,312}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,130},{306,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1282},{298,308}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,136},{298,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1364},{284,300}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,145},{284,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1566},{270,290}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,154},{270,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1080},{260,284}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,159},{260,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1648},{258,280}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,162},{258,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2262},{258,282}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,160},{258,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1776},{262,290}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,153},{262,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1754},{264,296}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,147},{264,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1300},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b7b54fdc0563c10ee37bab9a6c496e0:0d1bea3595c4646922d0b5e6d642a42e:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
