<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1744},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1744},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,934},{266,298}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,145},{266,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1708},{266,294}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,147},{266,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1622},{264,288}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,150},{264,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1332},{258,280}}</string>
                <key>offset</key>
                <string>{-13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,153},{258,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1612},{248,276}}</string>
                <key>offset</key>
                <string>{-14,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,157},{248,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1052},{234,280}}</string>
                <key>offset</key>
                <string>{-13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,158},{234,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1214},{218,284}}</string>
                <key>offset</key>
                <string>{-9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,159},{218,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1010},{204,296}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,154},{204,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1368},{192,320}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,141},{192,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1040},{182,346}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,127},{182,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,264},{186,370}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,114},{186,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,632},{192,382}}</string>
                <key>offset</key>
                <string>{-15,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,107},{192,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,440},{192,384}}</string>
                <key>offset</key>
                <string>{-18,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,105},{192,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,246},{194,384}}</string>
                <key>offset</key>
                <string>{-22,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,103},{194,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1036},{192,382}}</string>
                <key>offset</key>
                <string>{-24,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,103},{192,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,676},{190,380}}</string>
                <key>offset</key>
                <string>{-26,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,103},{190,380}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,666},{186,376}}</string>
                <key>offset</key>
                <string>{-27,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,104},{186,376}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,824},{186,376}}</string>
                <key>offset</key>
                <string>{-27,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,103},{186,376}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,866},{186,372}}</string>
                <key>offset</key>
                <string>{-27,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,105},{186,372}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,852},{188,370}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,105},{188,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,246},{194,368}}</string>
                <key>offset</key>
                <string>{-23,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{194,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,250},{204,366}}</string>
                <key>offset</key>
                <string>{-21,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,107},{204,366}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,450},{216,364}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,107},{216,364}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,454},{228,362}}</string>
                <key>offset</key>
                <string>{-19,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,108},{228,362}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,440},{236,360}}</string>
                <key>offset</key>
                <string>{-16,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,109},{236,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,0},{246,358}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,110},{246,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{250,356}}</string>
                <key>offset</key>
                <string>{-11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,111},{250,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1036},{252,354}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,112},{252,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1390},{250,354}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,111},{250,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,0},{246,352}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,112},{246,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,682},{252,352}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,112},{252,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{260,350}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,113},{260,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{264,348}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,114},{264,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{270,346}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,114},{270,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,340}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,117},{278,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{282,336}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,118},{282,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1040},{284,328}}</string>
                <key>offset</key>
                <string>{-11,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,123},{284,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1418},{286,322}}</string>
                <key>offset</key>
                <string>{-16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,125},{286,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1386},{286,322}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,129},{286,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,336},{282,318}}</string>
                <key>offset</key>
                <string>{-19,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,135},{282,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1740},{276,308}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,144},{276,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1708},{268,294}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,154},{268,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1316},{260,284}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,160},{260,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1576},{258,280}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,162},{258,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,686},{258,282}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,160},{258,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1332},{262,290}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,153},{262,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1052},{264,296}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,147},{264,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1744},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac5a9382267e48bf39fb707bfb749175:72fbbe948673a8b802c544dbc3b4eea8:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
