<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pom0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1470},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1470},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1690},{266,298}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1752},{268,292}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,147},{268,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1736},{266,282}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,151},{266,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2002},{264,276}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,153},{264,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2214},{256,274}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,156},{256,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,566},{246,276}}</string>
                <key>offset</key>
                <string>{-20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,158},{246,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2020},{232,280}}</string>
                <key>offset</key>
                <string>{-25,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,158},{232,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,0},{222,290}}</string>
                <key>offset</key>
                <string>{-28,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,155},{222,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1742},{230,310}}</string>
                <key>offset</key>
                <string>{-22,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,144},{230,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1420},{244,334}}</string>
                <key>offset</key>
                <string>{-13,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,130},{244,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,0},{258,356}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,117},{258,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{268,368}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,110},{268,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{274,368}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,109},{274,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,368}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,108},{280,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,0},{290,366}}</string>
                <key>offset</key>
                <string>{19,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,108},{290,366}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,268},{298,362}}</string>
                <key>offset</key>
                <string>{24,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,110},{298,362}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,274},{302,360}}</string>
                <key>offset</key>
                <string>{29,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,110},{302,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{306,356}}</string>
                <key>offset</key>
                <string>{31,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,112},{306,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,258},{308,354}}</string>
                <key>offset</key>
                <string>{31,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,113},{308,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,290},{308,352}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,113},{308,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,566},{304,352}}</string>
                <key>offset</key>
                <string>{24,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,112},{304,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,576},{298,352}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,111},{298,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{290,352}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,110},{290,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,598},{280,350}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,111},{280,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,566},{272,352}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,109},{272,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,870},{264,350}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,110},{264,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,874},{260,350}}</string>
                <key>offset</key>
                <string>{-11,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,109},{260,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{262,348}}</string>
                <key>offset</key>
                <string>{-12,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,110},{262,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,878},{268,346}}</string>
                <key>offset</key>
                <string>{-14,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,111},{268,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,838},{274,346}}</string>
                <key>offset</key>
                <string>{-16,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,110},{274,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1112},{280,344}}</string>
                <key>offset</key>
                <string>{-18,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,111},{280,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1134},{286,342}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,113},{286,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1138},{292,340}}</string>
                <key>offset</key>
                <string>{-21,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,114},{292,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1132},{300,338}}</string>
                <key>offset</key>
                <string>{-22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,115},{300,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1134},{306,334}}</string>
                <key>offset</key>
                <string>{-21,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,117},{306,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1430},{312,328}}</string>
                <key>offset</key>
                <string>{-21,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,121},{312,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1146},{314,322}}</string>
                <key>offset</key>
                <string>{-19,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,124},{314,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1440},{312,318}}</string>
                <key>offset</key>
                <string>{-16,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,126},{312,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1664},{306,312}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,130},{306,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1392},{298,308}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,136},{298,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1460},{284,300}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,145},{284,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,842},{270,290}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,154},{270,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1972},{260,284}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,159},{260,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2008},{258,280}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,162},{258,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1956},{258,282}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,160},{258,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1970},{262,290}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,153},{262,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1744},{264,296}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,147},{264,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Pom0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1470},{266,300}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,144},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc679e0c13ec2db3e6dc21683886c00:bd2d17bd66a77d639e554f4b4db9d89a:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
