<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1096},{378,420}}</string>
                <key>offset</key>
                <string>{7,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,238},{378,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1418},{374,396}}</string>
                <key>offset</key>
                <string>{7,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,260},{374,396}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2072},{364,368}}</string>
                <key>offset</key>
                <string>{7,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,287},{364,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1406},{352,308}}</string>
                <key>offset</key>
                <string>{6,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,344},{352,308}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2818},{346,272}}</string>
                <key>offset</key>
                <string>{6,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,379},{346,272}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2124},{358,340}}</string>
                <key>offset</key>
                <string>{7,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,314},{358,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1426},{364,406}}</string>
                <key>offset</key>
                <string>{7,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,250},{364,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,692},{366,432}}</string>
                <key>offset</key>
                <string>{7,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,224},{366,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{364,454}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,203},{364,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,330},{362,456}}</string>
                <key>offset</key>
                <string>{8,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,201},{362,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,656},{364,442}}</string>
                <key>offset</key>
                <string>{8,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,214},{364,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1054},{364,420}}</string>
                <key>offset</key>
                <string>{8,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,236},{364,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2184},{360,368}}</string>
                <key>offset</key>
                <string>{8,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,286},{360,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2436},{356,340}}</string>
                <key>offset</key>
                <string>{8,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,313},{356,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2464},{346,272}}</string>
                <key>offset</key>
                <string>{7,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,378},{346,272}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,2118},{362,364}}</string>
                <key>offset</key>
                <string>{6,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,292},{362,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1824},{360,386}}</string>
                <key>offset</key>
                <string>{4,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,271},{360,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1474},{350,406}}</string>
                <key>offset</key>
                <string>{2,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,249},{350,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,346},{328,452}}</string>
                <key>offset</key>
                <string>{7,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,209},{328,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,326},{330,466}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,193},{330,466}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,0},{346,476}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,180},{346,476}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{350,490}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,166},{350,490}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{330,488}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,172},{330,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,0},{326,478}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,185},{326,478}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1020},{344,424}}</string>
                <key>offset</key>
                <string>{9,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,232},{344,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1714},{358,396}}</string>
                <key>offset</key>
                <string>{8,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,258},{358,396}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2154},{362,368}}</string>
                <key>offset</key>
                <string>{7,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,286},{362,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2544},{346,274}}</string>
                <key>offset</key>
                <string>{6,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,378},{346,274}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1054},{352,312}}</string>
                <key>offset</key>
                <string>{7,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,340},{352,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2516},{350,340}}</string>
                <key>offset</key>
                <string>{8,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,313},{350,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1792},{332,372}}</string>
                <key>offset</key>
                <string>{0,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,287},{332,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1758},{360,380}}</string>
                <key>offset</key>
                <string>{-1,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,273},{360,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1790},{364,390}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,262},{364,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1364},{350,420}}</string>
                <key>offset</key>
                <string>{5,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,240},{350,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1058},{368,422}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,234},{368,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,674},{380,428}}</string>
                <key>offset</key>
                <string>{6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,230},{380,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e622b9243abb557b08d1e45a7fdf13:03bf8575130420b6b43cef544316304c:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
