<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{382,430}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,0},{378,420}}</string>
                <key>offset</key>
                <string>{7,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,238},{378,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{376,414}}</string>
                <key>offset</key>
                <string>{7,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,243},{376,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,382},{376,406}}</string>
                <key>offset</key>
                <string>{7,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,250},{376,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,756},{372,390}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,266},{372,390}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,754},{370,384}}</string>
                <key>offset</key>
                <string>{7,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,272},{370,384}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1124},{368,376}}</string>
                <key>offset</key>
                <string>{7,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,279},{368,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,758},{366,368}}</string>
                <key>offset</key>
                <string>{7,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,287},{366,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1124},{364,366}}</string>
                <key>offset</key>
                <string>{7,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,288},{364,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1486},{364,366}}</string>
                <key>offset</key>
                <string>{7,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,288},{364,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1852},{364,360}}</string>
                <key>offset</key>
                <string>{7,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,289},{364,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1128},{364,366}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,281},{364,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1126},{364,376}}</string>
                <key>offset</key>
                <string>{6,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,272},{364,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1124},{362,368}}</string>
                <key>offset</key>
                <string>{6,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,279},{362,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1854},{360,362}}</string>
                <key>offset</key>
                <string>{6,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,286},{360,362}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2214},{360,352}}</string>
                <key>offset</key>
                <string>{5,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,296},{360,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2916},{356,350}}</string>
                <key>offset</key>
                <string>{5,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,298},{356,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2566},{356,354}}</string>
                <key>offset</key>
                <string>{5,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,295},{356,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2564},{358,352}}</string>
                <key>offset</key>
                <string>{4,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,298},{358,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2214},{360,356}}</string>
                <key>offset</key>
                <string>{5,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,296},{360,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1856},{362,358}}</string>
                <key>offset</key>
                <string>{6,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,294},{362,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1492},{364,356}}</string>
                <key>offset</key>
                <string>{6,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,294},{364,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1850},{364,364}}</string>
                <key>offset</key>
                <string>{7,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,290},{364,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1488},{364,366}}</string>
                <key>offset</key>
                <string>{7,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,291},{364,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1490},{364,364}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,293},{364,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1848},{362,360}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,295},{362,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2212},{362,358}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,296},{362,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2208},{362,356}}</string>
                <key>offset</key>
                <string>{7,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,298},{362,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2214},{362,358}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,296},{362,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1492},{364,364}}</string>
                <key>offset</key>
                <string>{7,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,290},{364,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,758},{366,372}}</string>
                <key>offset</key>
                <string>{7,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,282},{366,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,754},{372,394}}</string>
                <key>offset</key>
                <string>{7,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,262},{372,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,382},{374,404}}</string>
                <key>offset</key>
                <string>{7,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,253},{374,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,378},{376,416}}</string>
                <key>offset</key>
                <string>{7,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,242},{376,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,0},{382,430}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0fc9bf41d3103596974cc47ccc91ad7:c0743fa008e1cc47fc1d1401c6e644e7:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
