<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2322},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2692},{382,432}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2310},{382,434}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,224},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1544},{382,442}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,216},{382,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1162},{382,446}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,211},{382,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,390},{384,448}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,209},{384,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,774},{384,448}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,209},{384,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,778},{384,448}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,210},{384,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1164},{382,444}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,215},{382,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1930},{382,436}}</string>
                <key>offset</key>
                <string>{8,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,223},{382,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2312},{382,434}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,225},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2314},{382,434}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,225},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1938},{384,436}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,223},{384,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1546},{384,438}}</string>
                <key>offset</key>
                <string>{7,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,221},{384,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1544},{386,442}}</string>
                <key>offset</key>
                <string>{6,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,216},{386,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,778},{386,446}}</string>
                <key>offset</key>
                <string>{6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,210},{386,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{386,446}}</string>
                <key>offset</key>
                <string>{6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,210},{386,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1552},{386,442}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,214},{386,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2696},{380,424}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,230},{380,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,3074},{378,420}}</string>
                <key>offset</key>
                <string>{8,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,234},{378,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2704},{380,422}}</string>
                <key>offset</key>
                <string>{8,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,234},{380,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2694},{382,432}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1926},{384,438}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,222},{384,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1166},{386,444}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,216},{386,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,390},{388,452}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,208},{388,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,0},{390,454}}</string>
                <key>offset</key>
                <string>{7,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,206},{390,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{392,458}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,202},{392,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,0},{390,458}}</string>
                <key>offset</key>
                <string>{9,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,198},{390,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{390,462}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,192},{390,462}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{388,464}}</string>
                <key>offset</key>
                <string>{10,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,190},{388,464}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,390},{388,452}}</string>
                <key>offset</key>
                <string>{9,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,203},{388,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1158},{386,444}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,212},{386,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1930},{384,438}}</string>
                <key>offset</key>
                <string>{8,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,220},{384,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2322},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2322},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2322},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2322},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2322},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba0609cd475bed5ee36494e75fe18aba:16e2bd5a5ba2b96129bcd389027d30bf:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
