<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2984},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2602},{382,432}}</string>
                <key>offset</key>
                <string>{6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3020},{380,432}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,225},{380,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,3400},{378,432}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,224},{378,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2614},{362,440}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,219},{362,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2246},{356,444}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,217},{356,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2258},{356,450}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,213},{356,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1948},{352,454}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,206},{352,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1900},{368,456}}</string>
                <key>offset</key>
                <string>{9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,203},{368,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1568},{380,458}}</string>
                <key>offset</key>
                <string>{8,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,199},{380,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1512},{388,464}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,192},{388,464}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1190},{378,470}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,189},{378,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1150},{362,478}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,184},{362,478}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,788},{364,488}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,179},{364,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,400},{368,490}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,176},{368,490}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,400},{374,490}}</string>
                <key>offset</key>
                <string>{8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,174},{374,490}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{390,486}}</string>
                <key>offset</key>
                <string>{10,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,173},{390,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{398,488}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,171},{398,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,0},{400,490}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,170},{400,490}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{402,492}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,169},{402,492}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{402,492}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,169},{402,492}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,0},{400,490}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,171},{400,490}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,402},{386,488}}</string>
                <key>offset</key>
                <string>{10,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,172},{386,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,774},{376,488}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,174},{376,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,768},{368,490}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,176},{368,490}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1136},{356,486}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,180},{356,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1152},{366,476}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,185},{366,476}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1492},{382,468}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,190},{382,468}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1518},{384,458}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,198},{384,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1874},{372,456}}</string>
                <key>offset</key>
                <string>{9,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,202},{372,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1902},{356,456}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,205},{356,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2300},{356,448}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,214},{356,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2268},{358,442}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,218},{358,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2656},{364,438}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,220},{364,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3400},{380,432}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,224},{380,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2626},{382,432}}</string>
                <key>offset</key>
                <string>{6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2976},{382,432}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2976},{382,432}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89e97dd5ce592475db6521dd3dd04aeb:70072a5784e4c24c50cca02cfa69c1b1:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
