<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1226},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1228},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1228},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1580},{382,430}}</string>
                <key>offset</key>
                <string>{8,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1608},{382,430}}</string>
                <key>offset</key>
                <string>{9,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2752},{382,428}}</string>
                <key>offset</key>
                <string>{9,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,230},{382,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2790},{382,428}}</string>
                <key>offset</key>
                <string>{10,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,231},{382,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2790},{382,428}}</string>
                <key>offset</key>
                <string>{12,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,230},{382,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,3134},{382,428}}</string>
                <key>offset</key>
                <string>{13,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,230},{382,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3172},{382,428}}</string>
                <key>offset</key>
                <string>{15,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,230},{382,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,3554},{392,426}}</string>
                <key>offset</key>
                <string>{27,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,232},{392,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,0},{450,426}}</string>
                <key>offset</key>
                <string>{60,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,232},{450,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{460,428}}</string>
                <key>offset</key>
                <string>{67,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,230},{460,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2726},{408,428}}</string>
                <key>offset</key>
                <string>{41,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,230},{408,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,3134},{382,428}}</string>
                <key>offset</key>
                <string>{24,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,231},{382,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1610},{382,430}}</string>
                <key>offset</key>
                <string>{19,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2372},{380,430}}</string>
                <key>offset</key>
                <string>{9,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,229},{380,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1192},{388,430}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,228},{388,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,428},{396,432}}</string>
                <key>offset</key>
                <string>{-8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,226},{396,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,836},{392,430}}</string>
                <key>offset</key>
                <string>{-11,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,227},{392,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,428},{382,432}}</string>
                <key>offset</key>
                <string>{-4,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1610},{382,430}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1962},{382,430}}</string>
                <key>offset</key>
                <string>{11,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3554},{382,428}}</string>
                <key>offset</key>
                <string>{18,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,230},{382,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2374},{416,428}}</string>
                <key>offset</key>
                <string>{41,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,230},{416,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{460,428}}</string>
                <key>offset</key>
                <string>{67,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,230},{460,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,0},{460,428}}</string>
                <key>offset</key>
                <string>{66,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,230},{460,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2374},{416,428}}</string>
                <key>offset</key>
                <string>{41,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,230},{416,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1990},{382,430}}</string>
                <key>offset</key>
                <string>{14,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1992},{382,430}}</string>
                <key>offset</key>
                <string>{8,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1992},{382,430}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,824},{402,430}}</string>
                <key>offset</key>
                <string>{-15,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,227},{402,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,830},{398,430}}</string>
                <key>offset</key>
                <string>{-14,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,227},{398,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,426},{410,432}}</string>
                <key>offset</key>
                <string>{-19,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,226},{410,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{402,432}}</string>
                <key>offset</key>
                <string>{-9,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,226},{402,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,810},{382,432}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2344},{382,430}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a12edb5744e1566fb037617de14e7af5:0e292fb38df43aa5635de83335c422f3:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
