<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{236,270}}</string>
                <key>offset</key>
                <string>{3,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,363},{236,270}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{236,270}}</string>
                <key>offset</key>
                <string>{3,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,363},{236,270}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,270},{234,270}}</string>
                <key>offset</key>
                <string>{3,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,363},{234,270}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,540},{234,268}}</string>
                <key>offset</key>
                <string>{3,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,363},{234,268}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,472},{234,268}}</string>
                <key>offset</key>
                <string>{3,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,364},{234,268}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{236,270}}</string>
                <key>offset</key>
                <string>{2,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,364},{236,270}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{236,270}}</string>
                <key>offset</key>
                <string>{-1,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,363},{236,270}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{236,270}}</string>
                <key>offset</key>
                <string>{1,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,363},{236,270}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,0},{236,270}}</string>
                <key>offset</key>
                <string>{3,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,364},{236,270}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,236},{236,270}}</string>
                <key>offset</key>
                <string>{3,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,363},{236,270}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,236},{236,270}}</string>
                <key>offset</key>
                <string>{3,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,363},{236,270}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggIdle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4ca7a09dc20f31e76a5f3050ecf1d72:8dc872b51aee0bc38d3e6b15ab5c8d32:5fe1c8f2c7fd33eabd49e5faa65fc238$</string>
            <key>textureFileName</key>
            <string>eggIdle.png</string>
        </dict>
    </dict>
</plist>
