<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,864},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1296},{382,430}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{382,430}}</string>
                <key>offset</key>
                <string>{7,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,230},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,0},{380,428}}</string>
                <key>offset</key>
                <string>{8,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,231},{380,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,0},{380,428}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,232},{380,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,0},{380,426}}</string>
                <key>offset</key>
                <string>{7,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,234},{380,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,380},{380,426}}</string>
                <key>offset</key>
                <string>{7,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,235},{380,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,382},{378,422}}</string>
                <key>offset</key>
                <string>{8,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,239},{378,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,380},{378,420}}</string>
                <key>offset</key>
                <string>{8,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,240},{378,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,426},{376,420}}</string>
                <key>offset</key>
                <string>{8,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,240},{376,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,758},{376,416}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,244},{376,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,846},{376,412}}</string>
                <key>offset</key>
                <string>{7,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,248},{376,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1258},{374,410}}</string>
                <key>offset</key>
                <string>{8,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,250},{374,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9b7e3b2c269a9f2a173f8ab7d8de467:1c945e44c7628ae181953604a3a9d192:c1cf761d005800c04dbc6a7cacdce7d7$</string>
            <key>textureFileName</key>
            <string>exit.png</string>
        </dict>
    </dict>
</plist>
