<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1550},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1552},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1932},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1166},{384,432}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,226},{384,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1168},{384,432}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,226},{384,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1164},{384,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,225},{384,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,390},{388,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,225},{388,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,390},{388,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,225},{388,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,390},{388,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,225},{388,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{390,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,225},{390,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{390,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,225},{390,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{390,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,225},{390,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,0},{390,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,225},{390,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{390,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,225},{390,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,778},{388,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,225},{388,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{388,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,225},{388,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,778},{386,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,225},{386,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,778},{386,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,225},{386,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1164},{384,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,227},{384,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1548},{384,432}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,226},{384,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1548},{382,432}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1930},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1550},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:387b1fd224b26a638ada8cb9dbd35832:aa0e556fbb694793332c0d75e4ac26b5:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
