<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1158},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1540},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2302},{382,430}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2684},{380,430}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,228},{380,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2304},{382,430}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,227},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2304},{382,430}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,227},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1540},{382,432}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,225},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1158},{382,434}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,223},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1156},{384,438}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,219},{384,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,388},{386,444}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{386,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{384,440}}</string>
                <key>offset</key>
                <string>{6,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,217},{384,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1540},{382,432}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,224},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,3064},{380,426}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,230},{380,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,774},{384,440}}</string>
                <key>offset</key>
                <string>{6,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,217},{384,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{388,450}}</string>
                <key>offset</key>
                <string>{5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,208},{388,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{388,454}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,204},{388,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,774},{384,440}}</string>
                <key>offset</key>
                <string>{5,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,217},{384,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1540},{382,432}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,225},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,3444},{380,426}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,230},{380,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{386,448}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,210},{386,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{388,454}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,204},{388,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,0},{388,450}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,209},{388,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1922},{382,432}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,225},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2686},{380,428}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,229},{380,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1922},{382,432}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,388},{384,444}}</string>
                <key>offset</key>
                <string>{6,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,215},{384,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,388},{386,446}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,212},{386,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,772},{384,444}}</string>
                <key>offset</key>
                <string>{6,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,215},{384,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1922},{382,432}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3064},{380,430}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,228},{380,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1922},{380,432}}</string>
                <key>offset</key>
                <string>{6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,226},{380,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1158},{382,436}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,222},{382,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3494},{380,430}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,228},{380,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2686},{378,424}}</string>
                <key>offset</key>
                <string>{6,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,233},{378,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,3066},{380,426}}</string>
                <key>offset</key>
                <string>{6,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,232},{380,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2686},{380,430}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,229},{380,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2304},{382,430}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,229},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3655adccad7c68bbbe1d15f01bc96c36:feb68da4fbe07c6ab4aa7e0341cda5a5:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
