<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2684},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,3446},{382,430}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,228},{382,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2688},{382,432}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,3066},{380,432}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,226},{380,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3070},{380,432}}</string>
                <key>offset</key>
                <string>{9,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,224},{380,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2308},{380,436}}</string>
                <key>offset</key>
                <string>{9,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,221},{380,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1544},{382,444}}</string>
                <key>offset</key>
                <string>{9,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,213},{382,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{388,464}}</string>
                <key>offset</key>
                <string>{9,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,195},{388,464}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{388,466}}</string>
                <key>offset</key>
                <string>{9,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,192},{388,466}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,0},{388,464}}</string>
                <key>offset</key>
                <string>{9,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,195},{388,464}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,774},{384,448}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,209},{384,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1924},{382,440}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,217},{382,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2304},{380,436}}</string>
                <key>offset</key>
                <string>{9,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,221},{380,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,388},{386,456}}</string>
                <key>offset</key>
                <string>{9,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,202},{386,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,0},{388,462}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,197},{388,462}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{386,458}}</string>
                <key>offset</key>
                <string>{9,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,200},{386,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1542},{382,446}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,211},{382,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1926},{382,440}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,217},{382,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2308},{380,436}}</string>
                <key>offset</key>
                <string>{9,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,221},{380,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,774},{384,452}}</string>
                <key>offset</key>
                <string>{9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,206},{384,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,388},{386,458}}</string>
                <key>offset</key>
                <string>{9,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,200},{386,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,388},{386,454}}</string>
                <key>offset</key>
                <string>{9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,204},{386,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1542},{382,440}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,217},{382,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2686},{380,436}}</string>
                <key>offset</key>
                <string>{9,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,221},{380,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1924},{380,440}}</string>
                <key>offset</key>
                <string>{9,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,217},{380,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,774},{384,452}}</string>
                <key>offset</key>
                <string>{9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,206},{384,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{386,454}}</string>
                <key>offset</key>
                <string>{9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,204},{386,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1158},{384,448}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,210},{384,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,3450},{378,432}}</string>
                <key>offset</key>
                <string>{9,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,224},{378,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3450},{380,432}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,224},{380,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2306},{380,438}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,219},{380,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1158},{384,446}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,211},{384,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{384,448}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,210},{384,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1158},{384,448}}</string>
                <key>offset</key>
                <string>{9,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,209},{384,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1542},{384,442}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,216},{384,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1926},{382,438}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,221},{382,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2688},{382,434}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,225},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2120cc9c31a2874f021b9c6715fca6c:6a9e251099ebc194bc585f6e7555e705:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
