<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2690},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2690},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,3070},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3452},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,3072},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1926},{382,434}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,224},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,772},{384,446}}</string>
                <key>offset</key>
                <string>{8,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,213},{384,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,386},{384,448}}</string>
                <key>offset</key>
                <string>{9,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,211},{384,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,388},{384,448}}</string>
                <key>offset</key>
                <string>{9,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,211},{384,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1540},{382,440}}</string>
                <key>offset</key>
                <string>{8,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,219},{382,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1928},{382,436}}</string>
                <key>offset</key>
                <string>{8,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,223},{382,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1926},{382,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,225},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2306},{382,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,225},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1158},{386,440}}</string>
                <key>offset</key>
                <string>{6,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,219},{386,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,770},{388,446}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,213},{388,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{388,448}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,211},{388,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,774},{386,442}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,217},{386,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1544},{384,438}}</string>
                <key>offset</key>
                <string>{7,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,221},{384,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,3454},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2310},{382,434}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,224},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1544},{382,438}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,221},{382,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1544},{382,438}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,221},{382,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2308},{382,434}}</string>
                <key>offset</key>
                <string>{8,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,224},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2308},{382,434}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,225},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2688},{382,434}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,224},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{384,440}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,218},{384,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,0},{388,448}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,211},{388,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{388,448}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,211},{388,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1160},{384,440}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,219},{384,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2692},{382,434}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,224},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1922},{384,436}}</string>
                <key>offset</key>
                <string>{7,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,222},{384,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{386,446}}</string>
                <key>offset</key>
                <string>{8,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,213},{386,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,454}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,206},{386,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{386,450}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,209},{386,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,388},{386,446}}</string>
                <key>offset</key>
                <string>{7,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,213},{386,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1156},{384,442}}</string>
                <key>offset</key>
                <string>{8,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,217},{384,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2690},{382,434}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,224},{382,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,3454},{382,432}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,226},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e1e61d1b6130c5ba89a26396123e9e3:de72fe01615c0632457abc6103f788d6:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
