<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{382,432}}</string>
                <key>offset</key>
                <string>{7,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,227},{382,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{376,426}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,229},{376,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,862},{372,420}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,232},{372,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,432},{366,414}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,234},{366,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{356,404}}</string>
                <key>offset</key>
                <string>{6,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,238},{356,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,0},{352,400}}</string>
                <key>offset</key>
                <string>{6,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,239},{352,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,352},{350,400}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,238},{350,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,0},{354,404}}</string>
                <key>offset</key>
                <string>{7,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,238},{354,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,414},{360,410}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,234},{360,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{366,414}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,234},{366,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1288},{376,426}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,229},{376,426}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Guac0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{380,430}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,227},{380,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e44ae7357fa12b0610dd58d5309b8c8:8208254dc21d8e847fd919bcc78a2274:e154f91947ef6b31e473f0aec4f73f4e$</string>
            <key>textureFileName</key>
            <string>reaction1.png</string>
        </dict>
    </dict>
</plist>
