<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,664},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1178},{216,270}}</string>
                <key>offset</key>
                <string>{-11,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,157},{216,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1006},{228,270}}</string>
                <key>offset</key>
                <string>{-19,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,157},{228,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,948},{242,270}}</string>
                <key>offset</key>
                <string>{-28,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,157},{242,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,876},{258,270}}</string>
                <key>offset</key>
                <string>{-38,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,157},{258,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{270,272}}</string>
                <key>offset</key>
                <string>{-46,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,156},{270,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,252},{278,270}}</string>
                <key>offset</key>
                <string>{-50,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,158},{278,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,0},{284,268}}</string>
                <key>offset</key>
                <string>{-50,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,159},{284,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,472},{292,262}}</string>
                <key>offset</key>
                <string>{-44,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,162},{292,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,0},{298,252}}</string>
                <key>offset</key>
                <string>{-33,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,168},{298,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,250},{294,250}}</string>
                <key>offset</key>
                <string>{-27,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,173},{294,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,204},{284,246}}</string>
                <key>offset</key>
                <string>{-25,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,179},{284,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,500},{276,238}}</string>
                <key>offset</key>
                <string>{-26,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,181},{276,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,950},{270,236}}</string>
                <key>offset</key>
                <string>{-25,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,181},{270,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,728},{264,234}}</string>
                <key>offset</key>
                <string>{-18,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,183},{264,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1792},{244,236}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,184},{244,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1792},{208,246}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,186},{208,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,0},{166,244}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,189},{166,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1600},{192,250}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,189},{192,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1404},{258,242}}</string>
                <key>offset</key>
                <string>{12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,191},{258,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{308,228}}</string>
                <key>offset</key>
                <string>{20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,190},{308,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,226},{314,246}}</string>
                <key>offset</key>
                <string>{32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,189},{314,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,728},{268,270}}</string>
                <key>offset</key>
                <string>{39,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,190},{268,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,694},{214,288}}</string>
                <key>offset</key>
                <string>{19,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,190},{214,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,0},{204,288}}</string>
                <key>offset</key>
                <string>{-29,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,193},{204,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,734},{274,272}}</string>
                <key>offset</key>
                <string>{-48,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,197},{274,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,0},{330,250}}</string>
                <key>offset</key>
                <string>{-48,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,200},{330,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{346,232}}</string>
                <key>offset</key>
                <string>{-44,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,203},{346,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{334,226}}</string>
                <key>offset</key>
                <string>{-39,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,195},{334,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,460},{304,234}}</string>
                <key>offset</key>
                <string>{-31,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,183},{304,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,268},{272,246}}</string>
                <key>offset</key>
                <string>{-25,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,173},{272,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,996},{260,254}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,166},{260,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1134},{238,260}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,158},{238,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1450},{234,258}}</string>
                <key>offset</key>
                <string>{-21,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,155},{234,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1190},{218,260}}</string>
                <key>offset</key>
                <string>{-15,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,155},{218,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,962},{210,262}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,156},{210,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1394},{206,266}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,156},{206,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,664},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1234},{216,268}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,158},{216,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1186},{218,268}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,158},{218,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,664},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,736},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,450},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,522},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,514},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,738},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,514},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,736},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,664},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,664},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdd53c6793f42b6f36d87e9042a35b58:b29f446d242b37ca59f26329b5b61449:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
