<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0650.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1734},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0651.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1734},{222,260}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,158},{222,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0652.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2310},{270,242}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,171},{270,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0653.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1402},{300,222}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,189},{300,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0654.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1624},{300,214}}</string>
                <key>offset</key>
                <string>{-8,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,197},{300,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0655.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1110},{316,238}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,175},{316,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0656.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1100},{336,322}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,126},{336,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0657.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{418,400}}</string>
                <key>offset</key>
                <string>{-24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,100},{418,400}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0658.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{412,396}}</string>
                <key>offset</key>
                <string>{-23,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,102},{412,396}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0659.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,0},{408,394}}</string>
                <key>offset</key>
                <string>{-23,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,103},{408,394}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0660.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,0},{402,388}}</string>
                <key>offset</key>
                <string>{-23,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,107},{402,388}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0661.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,0},{396,384}}</string>
                <key>offset</key>
                <string>{-22,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,108},{396,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0662.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,384},{388,380}}</string>
                <key>offset</key>
                <string>{-21,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,110},{388,380}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0663.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,388},{382,376}}</string>
                <key>offset</key>
                <string>{-21,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,112},{382,376}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0664.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,394},{374,370}}</string>
                <key>offset</key>
                <string>{-20,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,116},{374,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0665.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,396},{368,366}}</string>
                <key>offset</key>
                <string>{-20,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,118},{368,366}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0666.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{360,362}}</string>
                <key>offset</key>
                <string>{-19,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,119},{360,362}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0667.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,760},{354,358}}</string>
                <key>offset</key>
                <string>{-19,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,122},{354,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0668.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,762},{348,352}}</string>
                <key>offset</key>
                <string>{-18,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,125},{348,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0669.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,764},{342,348}}</string>
                <key>offset</key>
                <string>{-18,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,127},{342,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0670.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,764},{336,344}}</string>
                <key>offset</key>
                <string>{-18,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,129},{336,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0671.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,764},{328,342}}</string>
                <key>offset</key>
                <string>{-17,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,130},{328,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0672.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1092},{324,338}}</string>
                <key>offset</key>
                <string>{-17,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,132},{324,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0673.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1416},{318,334}}</string>
                <key>offset</key>
                <string>{-16,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,135},{318,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0674.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1106},{312,330}}</string>
                <key>offset</key>
                <string>{-16,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,137},{312,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0675.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1358},{308,326}}</string>
                <key>offset</key>
                <string>{-16,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,139},{308,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0676.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1034},{302,324}}</string>
                <key>offset</key>
                <string>{-15,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,140},{302,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0677.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1684},{294,320}}</string>
                <key>offset</key>
                <string>{-15,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,142},{294,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0678.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1114},{288,314}}</string>
                <key>offset</key>
                <string>{-15,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,145},{288,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0679.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1348},{278,308}}</string>
                <key>offset</key>
                <string>{-14,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,148},{278,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0680.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,764},{270,304}}</string>
                <key>offset</key>
                <string>{-14,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,149},{270,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0681.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1418},{260,298}}</string>
                <key>offset</key>
                <string>{-14,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,152},{260,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0682.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1626},{250,292}}</string>
                <key>offset</key>
                <string>{-14,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,155},{250,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0683.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1838},{240,286}}</string>
                <key>offset</key>
                <string>{-13,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,157},{240,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0684.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1422},{230,278}}</string>
                <key>offset</key>
                <string>{-13,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,160},{230,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0685.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1652},{226,274}}</string>
                <key>offset</key>
                <string>{-8,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,159},{226,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0686.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1678},{224,272}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,158},{224,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0687.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2508},{222,270}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,159},{222,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0688.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1876},{220,272}}</string>
                <key>offset</key>
                <string>{-7,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,157},{220,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0689.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1956},{218,270}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,158},{218,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0690.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2078},{216,272}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,156},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0691.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1878},{214,272}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,156},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0692.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2162},{214,270}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,157},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0693.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2306},{214,270}}</string>
                <key>offset</key>
                <string>{-9,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,157},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0694.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1902},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0695.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2096},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0696.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2294},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0697.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1948},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0698.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2116},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0699.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2092},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf8b7ac5748253c000b980de665ce1a9:0009c25f2fb800d4064ed257fa6455be:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
