<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1412},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,0},{212,270}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,157},{212,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,492},{216,268}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,158},{216,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1428},{220,274}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,153},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1160},{230,284}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,144},{230,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{238,290}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,139},{238,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,290},{246,288}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,140},{246,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{252,288}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,140},{252,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1162},{258,286}}</string>
                <key>offset</key>
                <string>{-10,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,142},{258,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1448},{260,284}}</string>
                <key>offset</key>
                <string>{-11,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,144},{260,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,288},{266,282}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,145},{266,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1444},{270,280}}</string>
                <key>offset</key>
                <string>{-13,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,147},{270,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,570},{278,276}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,150},{278,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,578},{282,272}}</string>
                <key>offset</key>
                <string>{-12,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,153},{282,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1732},{280,272}}</string>
                <key>offset</key>
                <string>{-12,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,153},{280,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,282},{276,272}}</string>
                <key>offset</key>
                <string>{-12,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,153},{276,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1140},{272,272}}</string>
                <key>offset</key>
                <string>{-12,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,153},{272,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,274},{262,272}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,154},{262,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{220,290}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,151},{220,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,296}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,149},{198,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,860},{220,280}}</string>
                <key>offset</key>
                <string>{17,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,149},{220,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,0},{234,270}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,150},{234,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,270},{222,270}}</string>
                <key>offset</key>
                <string>{-15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,151},{222,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{184,282}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,151},{184,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,578},{178,286}}</string>
                <key>offset</key>
                <string>{-14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,152},{178,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,874},{186,288}}</string>
                <key>offset</key>
                <string>{-14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,152},{186,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{192,288}}</string>
                <key>offset</key>
                <string>{-11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,153},{192,288}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,874},{200,286}}</string>
                <key>offset</key>
                <string>{-9,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,153},{200,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,864},{226,284}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,153},{226,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1148},{244,280}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,153},{244,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1724},{260,274}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,154},{260,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1120},{270,270}}</string>
                <key>offset</key>
                <string>{11,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,154},{270,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{274,272}}</string>
                <key>offset</key>
                <string>{13,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,153},{274,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,848},{270,272}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,154},{270,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,558},{264,272}}</string>
                <key>offset</key>
                <string>{11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,154},{264,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1702},{254,272}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,154},{254,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1100},{246,270}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,155},{246,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,270},{244,270}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{244,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,816},{246,270}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,155},{246,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,542},{246,270}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,155},{246,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1684},{248,270}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,155},{248,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1390},{248,270}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,155},{248,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,546},{250,270}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,156},{250,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,272},{250,270}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,156},{250,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,0},{250,270}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,156},{250,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,830},{256,270}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,156},{256,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,0},{258,272}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,155},{258,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1412},{236,272}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,155},{236,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1684},{218,272}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1412},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44f3140c15940cfb6c9e428593ceda1e:b1d406d77a56a21311efdecb58e7e6e0:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
