<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0600.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1286},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1706},{214,266}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,160},{214,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1758},{212,258}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,167},{212,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1754},{240,248}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,176},{240,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1736},{266,236}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,182},{266,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1814},{246,234}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,183},{246,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1314},{220,234}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,185},{220,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1744},{266,242}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,176},{266,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,834},{274,252}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,167},{274,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1500},{222,254}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,165},{222,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1500},{214,258}}</string>
                <key>offset</key>
                <string>{-11,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,160},{214,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0611.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1054},{210,260}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,156},{210,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0612.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1548},{212,266}}</string>
                <key>offset</key>
                <string>{-15,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,151},{212,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0613.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1054},{232,272}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,145},{232,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0614.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1036},{290,278}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,140},{290,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0615.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,612},{220,282}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,136},{220,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0616.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,606},{228,286}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,132},{228,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0617.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,340},{266,290}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,128},{266,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0618.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,598},{300,294}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,125},{300,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0619.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,0},{246,296}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,123},{246,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0620.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,824},{230,300}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,120},{230,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0621.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,792},{244,304}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,118},{244,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0622.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,484},{300,308}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,115},{300,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0623.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{346,312}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,113},{346,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0624.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,332},{280,316}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,110},{280,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0625.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,330},{268,322}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,107},{268,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0626.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,0},{280,328}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,105},{280,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0627.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{338,332}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,104},{338,332}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0628.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{382,336}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,103},{382,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0629.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{366,340}}</string>
                <key>offset</key>
                <string>{-17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,101},{366,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0630.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,0},{330,336}}</string>
                <key>offset</key>
                <string>{-9,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,104},{330,336}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0631.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,280},{284,326}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,112},{284,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0632.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,564},{260,312}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,123},{260,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0633.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,246},{238,296}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,135},{238,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0634.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,648},{222,284}}</string>
                <key>offset</key>
                <string>{-11,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,145},{222,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0635.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,832},{220,276}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,151},{220,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0636.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,870},{224,274}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,153},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0637.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,892},{224,274}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,153},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0638.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1052},{222,274}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,153},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0639.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1086},{220,274}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,153},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0640.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1094},{220,274}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,153},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0641.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1116},{218,272}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,155},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0642.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1274},{218,272}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0643.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1306},{216,272}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,155},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0644.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1314},{216,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0645.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1334},{214,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0646.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1492},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0647.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1522},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0648.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1530},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0649.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1744},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce11ae3e28b0841ca9fe82af8dee491c:4c08c168ac8189171559f99d86bb0e9b:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
