<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0550.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,0},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,214},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,216},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0553.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,0},{218,272}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,155},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0554.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1116},{258,270}}</string>
                <key>offset</key>
                <string>{10,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,156},{258,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0555.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{278,268}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,158},{278,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0556.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{284,268}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,158},{284,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0557.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{268,266}}</string>
                <key>offset</key>
                <string>{17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,160},{268,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0558.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1370},{258,266}}</string>
                <key>offset</key>
                <string>{29,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,160},{258,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0559.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1628},{264,262}}</string>
                <key>offset</key>
                <string>{40,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,163},{264,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0560.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1640},{262,264}}</string>
                <key>offset</key>
                <string>{37,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,162},{262,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0561.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1384},{256,266}}</string>
                <key>offset</key>
                <string>{29,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,160},{256,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0562.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1570},{252,266}}</string>
                <key>offset</key>
                <string>{24,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,160},{252,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0563.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1464},{256,266}}</string>
                <key>offset</key>
                <string>{23,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,160},{256,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0564.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1572},{252,266}}</string>
                <key>offset</key>
                <string>{24,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,160},{252,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0565.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1310},{260,266}}</string>
                <key>offset</key>
                <string>{33,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,160},{260,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0566.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1374},{264,264}}</string>
                <key>offset</key>
                <string>{37,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{264,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0567.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1312},{260,266}}</string>
                <key>offset</key>
                <string>{32,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,160},{260,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0568.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1060},{252,268}}</string>
                <key>offset</key>
                <string>{21,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,158},{252,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0569.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{256,268}}</string>
                <key>offset</key>
                <string>{21,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,158},{256,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0570.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,878},{256,268}}</string>
                <key>offset</key>
                <string>{21,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,158},{256,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0571.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1056},{254,268}}</string>
                <key>offset</key>
                <string>{22,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,158},{254,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0572.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1134},{250,268}}</string>
                <key>offset</key>
                <string>{24,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,158},{250,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0573.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1214},{250,268}}</string>
                <key>offset</key>
                <string>{25,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,158},{250,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0574.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1118},{252,268}}</string>
                <key>offset</key>
                <string>{22,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,158},{252,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0575.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,958},{256,268}}</string>
                <key>offset</key>
                <string>{20,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,158},{256,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0576.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,798},{258,268}}</string>
                <key>offset</key>
                <string>{18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,158},{258,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0577.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,538},{260,268}}</string>
                <key>offset</key>
                <string>{17,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,158},{260,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0578.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,698},{260,268}}</string>
                <key>offset</key>
                <string>{18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,158},{260,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0579.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,856},{260,270}}</string>
                <key>offset</key>
                <string>{21,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,156},{260,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0580.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,858},{260,270}}</string>
                <key>offset</key>
                <string>{24,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{260,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0581.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,854},{266,270}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,156},{266,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0582.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{272,270}}</string>
                <key>offset</key>
                <string>{15,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,156},{272,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0583.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{276,270}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,156},{276,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0584.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,268},{272,270}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,156},{272,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0585.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1120},{258,270}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,156},{258,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0586.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,0},{238,272}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,155},{238,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0587.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,0},{216,272}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,155},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0588.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,642},{212,272}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0589.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,218},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0590.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,238},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0591.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,270},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0592.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,644},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0593.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,646},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0594.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,428},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0595.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,430},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0596.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,432},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0597.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,452},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0598.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,484},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0599.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,666},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43768672b1182c4e1e8bc65148caf1dd:6bcc3b3c2421f86c63b1d4cd2319337d:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
