<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,272},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,0},{220,270}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,156},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,542},{236,268}}</string>
                <key>offset</key>
                <string>{-22,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,158},{236,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,986},{248,264}}</string>
                <key>offset</key>
                <string>{-31,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,162},{248,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,736},{250,264}}</string>
                <key>offset</key>
                <string>{-34,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,163},{250,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1626},{250,266}}</string>
                <key>offset</key>
                <string>{-35,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,162},{250,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1350},{250,266}}</string>
                <key>offset</key>
                <string>{-35,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,162},{250,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1636},{250,268}}</string>
                <key>offset</key>
                <string>{-34,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,161},{250,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1090},{248,268}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,161},{248,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,544},{244,270}}</string>
                <key>offset</key>
                <string>{-30,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,159},{244,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,820},{246,270}}</string>
                <key>offset</key>
                <string>{-30,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,158},{246,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1092},{250,270}}</string>
                <key>offset</key>
                <string>{-31,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,158},{250,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1638},{252,270}}</string>
                <key>offset</key>
                <string>{-30,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,158},{252,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1366},{252,270}}</string>
                <key>offset</key>
                <string>{-29,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,157},{252,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{248,272}}</string>
                <key>offset</key>
                <string>{-26,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,156},{248,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,548},{244,272}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,156},{244,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,272},{236,270}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,158},{236,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{228,270}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,158},{228,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,268},{224,268}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,159},{224,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,0},{224,268}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,159},{224,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,0},{228,268}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,160},{228,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,270},{236,268}}</string>
                <key>offset</key>
                <string>{18,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,160},{236,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,814},{242,268}}</string>
                <key>offset</key>
                <string>{23,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,160},{242,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,0},{248,266}}</string>
                <key>offset</key>
                <string>{25,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,161},{248,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1074},{250,266}}</string>
                <key>offset</key>
                <string>{28,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,161},{250,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1616},{250,266}}</string>
                <key>offset</key>
                <string>{28,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,161},{250,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1340},{250,266}}</string>
                <key>offset</key>
                <string>{27,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,161},{250,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,248},{248,266}}</string>
                <key>offset</key>
                <string>{26,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,161},{248,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,268},{244,266}}</string>
                <key>offset</key>
                <string>{24,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,161},{244,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,496},{240,266}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,161},{240,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,512},{234,266}}</string>
                <key>offset</key>
                <string>{18,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,161},{234,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,746},{228,266}}</string>
                <key>offset</key>
                <string>{16,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,161},{228,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,538},{226,268}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,159},{226,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1358},{224,268}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,159},{224,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1626},{224,268}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,159},{224,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1358},{224,268}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,159},{224,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1082},{224,268}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,159},{224,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,806},{224,268}}</string>
                <key>offset</key>
                <string>{10,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,159},{224,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{222,272}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,158},{222,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,274}}</string>
                <key>offset</key>
                <string>{9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,158},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{222,274}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,158},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{220,274}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,157},{220,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,272},{218,272}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,158},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{214,272}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,157},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1366},{212,272}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,156},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,820},{210,272}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,156},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1638},{212,272}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1366},{212,272}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1094},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1094},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54ba09e907e374dc9ffdc749519c237c:6000f8d7698dfc94129610be036da5d8:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
