<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,226},{188,222}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,210},{188,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{188,224}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,209},{188,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{190,226}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,208},{190,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggCrack.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fbdf6033adcce1addee74d62b8f2d89:0bc7ea5c66bbc2eea39772a504aadebf:9b9a4458a058f694d21d1a70a0dea311$</string>
            <key>textureFileName</key>
            <string>eggCrack.png</string>
        </dict>
    </dict>
</plist>
