<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1652},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,272},{212,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,272},{212,272}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1378},{212,274}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,154},{212,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,276},{212,276}}</string>
                <key>offset</key>
                <string>{-17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,153},{212,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,552},{212,276}}</string>
                <key>offset</key>
                <string>{-20,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,154},{212,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1404},{216,278}}</string>
                <key>offset</key>
                <string>{-23,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,152},{216,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1126},{218,278}}</string>
                <key>offset</key>
                <string>{-25,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,153},{218,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1412},{220,280}}</string>
                <key>offset</key>
                <string>{-26,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,152},{220,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1412},{222,280}}</string>
                <key>offset</key>
                <string>{-27,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,152},{222,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1692},{222,280}}</string>
                <key>offset</key>
                <string>{-26,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,152},{222,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1692},{220,278}}</string>
                <key>offset</key>
                <string>{-23,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,154},{220,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,284},{218,278}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,154},{218,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{214,276}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,155},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,832},{214,276}}</string>
                <key>offset</key>
                <string>{-12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,155},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,832},{214,276}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,554},{214,276}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,155},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1108},{214,276}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,154},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,830},{214,276}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,154},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1106},{214,276}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,154},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1404},{216,278}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,152},{216,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1682},{216,278}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,152},{216,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1382},{214,276}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,154},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,276},{212,276}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,155},{212,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,0},{212,276}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,552},{212,276}}</string>
                <key>offset</key>
                <string>{-13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,155},{212,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,278},{214,278}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,154},{214,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,848},{220,278}}</string>
                <key>offset</key>
                <string>{-26,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,154},{220,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,848},{224,282}}</string>
                <key>offset</key>
                <string>{-31,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,151},{224,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{226,282}}</string>
                <key>offset</key>
                <string>{-34,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,151},{226,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,284}}</string>
                <key>offset</key>
                <string>{-35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,149},{228,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,566},{226,282}}</string>
                <key>offset</key>
                <string>{-34,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,151},{226,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1130},{224,282}}</string>
                <key>offset</key>
                <string>{-31,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,151},{224,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1692},{218,280}}</string>
                <key>offset</key>
                <string>{-25,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,152},{218,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{214,278}}</string>
                <key>offset</key>
                <string>{-18,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,154},{214,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,828},{212,276}}</string>
                <key>offset</key>
                <string>{-12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{212,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1658},{214,276}}</string>
                <key>offset</key>
                <string>{-7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,0},{214,276}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,154},{214,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,556},{216,276}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,154},{216,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{218,278}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,152},{218,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,562},{218,278}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,152},{218,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1126},{218,278}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,152},{218,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,278},{216,276}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,153},{216,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1104},{216,274}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,155},{216,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1378},{214,272}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,156},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1650},{214,272}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,156},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,0},{214,272}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,156},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,0},{214,272}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,0},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,214},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5097a29bffe55fa722a53a47c8615a8:9b6e7fe3dd50a6f42fe254ce69e745d0:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
