<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1366},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,820},{212,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1638},{212,272}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1638},{212,272}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1366},{212,272}}</string>
                <key>offset</key>
                <string>{-17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1638},{212,272}}</string>
                <key>offset</key>
                <string>{-21,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,154},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,820},{212,272}}</string>
                <key>offset</key>
                <string>{-22,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,154},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1092},{212,272}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,154},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,270},{212,270}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,155},{212,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,0},{214,270}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,155},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,270},{214,270}}</string>
                <key>offset</key>
                <string>{-23,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,155},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,540},{214,270}}</string>
                <key>offset</key>
                <string>{-22,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,155},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1350},{216,270}}</string>
                <key>offset</key>
                <string>{-20,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,155},{216,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1620},{216,270}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,155},{216,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,0},{218,270}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,156},{218,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,270},{218,270}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,156},{218,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,540},{218,270}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,156},{218,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1088},{220,270}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,156},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1358},{220,270}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,156},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{222,272}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,155},{222,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{222,274}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,153},{222,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,272},{222,272}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,155},{222,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1366},{220,272}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,154},{220,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,810},{218,270}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,156},{218,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,810},{214,270}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,156},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,216},{214,268}}</string>
                <key>offset</key>
                <string>{-15,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,157},{214,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,270},{210,268}}</string>
                <key>offset</key>
                <string>{-19,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,157},{210,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,430},{210,270}}</string>
                <key>offset</key>
                <string>{-23,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,155},{210,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1364},{210,272}}</string>
                <key>offset</key>
                <string>{-27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,153},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{210,272}}</string>
                <key>offset</key>
                <string>{-30,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,153},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,272},{210,272}}</string>
                <key>offset</key>
                <string>{-31,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,153},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,544},{210,272}}</string>
                <key>offset</key>
                <string>{-30,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,153},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,816},{210,272}}</string>
                <key>offset</key>
                <string>{-27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,153},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,540},{212,270}}</string>
                <key>offset</key>
                <string>{-23,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,155},{212,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,810},{212,270}}</string>
                <key>offset</key>
                <string>{-18,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,155},{212,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1080},{214,270}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,156},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,0},{216,270}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,156},{216,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1628},{220,270}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,156},{220,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1094},{222,272}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,155},{222,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{224,274}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,153},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{224,274}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,153},{224,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{224,272}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,155},{224,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,548},{224,272}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,155},{224,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1638},{220,272}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,155},{220,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1080},{218,270}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,157},{218,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,0},{216,270}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,157},{216,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,0},{216,270}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,157},{216,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,216},{214,270}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,157},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1094},{214,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1366},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveLeft.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c10369932168f903c6254b0dbe26ab39:0ef21c26cfc157b9af79b4456f8cc9fc:e5abb181ccb115c182e8b26ac0e1a84a$</string>
            <key>textureFileName</key>
            <string>moveLeft.png</string>
        </dict>
    </dict>
</plist>
