<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeBlob0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1360},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,0},{212,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{212,272}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,0},{212,272}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,212},{212,272}}</string>
                <key>offset</key>
                <string>{-17,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1650},{210,274}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,153},{210,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1650},{212,274}}</string>
                <key>offset</key>
                <string>{-22,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,153},{212,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1376},{216,274}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,153},{216,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1650},{216,274}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,153},{216,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,828},{218,272}}</string>
                <key>offset</key>
                <string>{-25,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,155},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,544},{216,272}}</string>
                <key>offset</key>
                <string>{-23,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,155},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,544},{216,272}}</string>
                <key>offset</key>
                <string>{-21,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,155},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{216,272}}</string>
                <key>offset</key>
                <string>{-18,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,155},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1632},{214,272}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,544},{214,272}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{214,272}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,272},{214,272}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,270},{214,270}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,156},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,540},{214,270}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,156},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,272},{216,272}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,155},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1376},{216,274}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,153},{216,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,816},{216,272}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,155},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,816},{214,272}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1088},{214,272}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,424},{210,272}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,155},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,634},{210,272}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,155},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,636},{210,272}}</string>
                <key>offset</key>
                <string>{-17,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,155},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1360},{214,272}}</string>
                <key>offset</key>
                <string>{-24,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,828},{218,274}}</string>
                <key>offset</key>
                <string>{-29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,153},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,276}}</string>
                <key>offset</key>
                <string>{-33,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,152},{220,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{220,276}}</string>
                <key>offset</key>
                <string>{-34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,152},{220,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{220,276}}</string>
                <key>offset</key>
                <string>{-33,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,152},{220,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1102},{218,274}}</string>
                <key>offset</key>
                <string>{-29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,153},{218,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1632},{214,272}}</string>
                <key>offset</key>
                <string>{-23,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,844},{210,272}}</string>
                <key>offset</key>
                <string>{-16,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,155},{210,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,212},{212,272}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,212},{212,272}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1088},{216,272}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,155},{216,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1100},{218,272}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,154},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1372},{218,272}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,154},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1644},{218,272}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,154},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{218,272}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,154},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,272},{218,272}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,154},{218,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,0},{216,270}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,156},{216,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,810},{214,270}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,156},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,846},{214,270}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,156},{214,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1054},{212,270}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,156},{212,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1060},{212,270}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,157},{212,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,424},{212,272}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,155},{212,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>LeBlob0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1360},{214,272}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,155},{214,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d017b945e527aff554eb648c54cbbf8d:a556fa95bb560d36eac37ae056f7cb29:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
