<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1400},{836,436}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,16},{836,436}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1837},{836,436}}</string>
                <key>offset</key>
                <string>{12,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{836,436}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2274},{836,434}}</string>
                <key>offset</key>
                <string>{12,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,16},{836,434}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,3144},{836,428}}</string>
                <key>offset</key>
                <string>{12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{836,428}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,3573},{836,428}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,16},{836,428}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2709},{836,434}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{836,434}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1},{876,478}}</string>
                <key>offset</key>
                <string>{31,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,15},{876,478}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1624},{960,524}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{960,524}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2674},{960,504}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,504}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3444},{960,238}}</string>
                <key>offset</key>
                <string>{0,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,238}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3683},{960,132}}</string>
                <key>offset</key>
                <string>{0,204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,132}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3949},{960,124}}</string>
                <key>offset</key>
                <string>{0,208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,124}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3816},{960,132}}</string>
                <key>offset</key>
                <string>{0,204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,132}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3179},{960,264}}</string>
                <key>offset</key>
                <string>{0,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,264}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,542},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1083},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2149},{960,524}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{960,524}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,480},{872,476}}</string>
                <key>offset</key>
                <string>{30,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,16},{872,476}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,957},{836,442}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{836,442}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>light0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2709},{836,434}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{836,434}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0f611d91bf79c0b02caf7bf5689749c:8d19a8eebb5dd8e10ad1b5247d5ae708:b2addeb3122b9af095fd97312ef00a86$</string>
            <key>textureFileName</key>
            <string>light.png</string>
        </dict>
    </dict>
</plist>
