<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1232},{182,228}}</string>
                <key>offset</key>
                <string>{-4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,201},{182,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1034},{198,230}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,198},{198,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1718},{220,242}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,189},{220,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1766},{238,256}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,178},{238,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1770},{254,268}}</string>
                <key>offset</key>
                <string>{13,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,168},{254,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1770},{260,280}}</string>
                <key>offset</key>
                <string>{15,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,156},{260,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1770},{278,292}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,142},{278,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1034},{316,304}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,131},{316,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1360},{358,314}}</string>
                <key>offset</key>
                <string>{-35,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,124},{358,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1036},{388,324}}</string>
                <key>offset</key>
                <string>{-39,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,117},{388,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1374},{392,332}}</string>
                <key>offset</key>
                <string>{-35,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,110},{392,332}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1036},{390,338}}</string>
                <key>offset</key>
                <string>{-31,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,105},{390,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1378},{392,342}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,103},{392,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1378},{392,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,102},{392,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,688},{392,346}}</string>
                <key>offset</key>
                <string>{-29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,100},{392,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,690},{392,346}}</string>
                <key>offset</key>
                <string>{-29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,100},{392,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1032},{392,346}}</string>
                <key>offset</key>
                <string>{-29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,100},{392,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,688},{392,346}}</string>
                <key>offset</key>
                <string>{-29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,100},{392,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,344},{394,346}}</string>
                <key>offset</key>
                <string>{-30,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,100},{394,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,688},{394,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,102},{394,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,344},{394,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,102},{394,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,344},{394,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,102},{394,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,0},{396,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,102},{396,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,0},{396,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,102},{396,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{396,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,102},{396,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,740},{396,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,102},{396,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1136},{396,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,102},{396,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1532},{396,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,102},{396,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,344},{396,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,102},{396,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{398,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,102},{398,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{398,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,102},{398,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,0},{398,344}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,102},{398,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ebc603db7a72a552888f6dda6f9c121:1f74c293d34adedbd3f8fbe11ac4ec28:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
