<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{266,300}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,146},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1506},{264,296}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,150},{264,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1208},{264,292}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,154},{264,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1500},{262,286}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,159},{262,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,0},{260,280}}</string>
                <key>offset</key>
                <string>{4,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,165},{260,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{258,274}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,170},{258,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,510},{258,270}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,174},{258,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1792},{256,266}}</string>
                <key>offset</key>
                <string>{4,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,178},{256,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,256},{254,260}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,183},{254,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,0},{252,258}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,185},{252,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,252},{252,258}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,185},{252,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,0},{254,258}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,185},{254,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,506},{252,256}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,186},{252,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1522},{252,252}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,187},{252,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,254},{252,258}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,180},{252,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,510},{252,264}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,174},{252,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,774},{252,264}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,174},{252,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1038},{250,260}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,178},{250,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,764},{250,252}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,186},{250,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1768},{248,248}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,190},{248,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1802},{248,246}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,191},{248,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1802},{248,246}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,192},{248,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1518},{248,250}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,189},{248,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1518},{248,248}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,192},{248,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,758},{248,248}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,193},{248,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1268},{250,250}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,191},{250,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,764},{252,252}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,189},{252,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1016},{252,252}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,188},{252,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,512},{254,252}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,187},{254,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,504},{254,256}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,187},{254,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,260},{252,258}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,187},{252,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,274},{252,258}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,188},{252,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1014},{252,254}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,190},{252,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1268},{252,254}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,190},{252,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1268},{252,252}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,191},{252,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1520},{252,252}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,191},{252,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1016},{250,252}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,191},{250,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1772},{252,252}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,191},{252,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,758},{254,256}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,187},{254,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{256,262}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,181},{256,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,780},{258,270}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,174},{258,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{260,278}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,167},{260,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1786},{262,284}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,161},{262,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1500},{262,292}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,154},{262,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1208},{264,298}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,148},{264,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,606},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6329973b2852feac6d6235f4c88cbf44:494c6946503b090263541bd44b0820ca:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
