<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,572},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,576},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,578},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,584},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{266,302}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,838},{266,302}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1104},{266,302}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1116},{266,302}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1940},{266,300}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,146},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1650},{266,300}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,146},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1914},{266,300}}</string>
                <key>offset</key>
                <string>{7,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,146},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1916},{266,300}}</string>
                <key>offset</key>
                <string>{8,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,146},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1936},{266,300}}</string>
                <key>offset</key>
                <string>{9,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,146},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1948},{266,300}}</string>
                <key>offset</key>
                <string>{12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,146},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1676},{272,300}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,146},{272,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,0},{312,300}}</string>
                <key>offset</key>
                <string>{40,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,146},{312,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,300}}</string>
                <key>offset</key>
                <string>{45,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,146},{320,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{318,300}}</string>
                <key>offset</key>
                <string>{45,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,146},{318,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1650},{286,300}}</string>
                <key>offset</key>
                <string>{28,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,146},{286,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2206},{266,300}}</string>
                <key>offset</key>
                <string>{16,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,146},{266,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1370},{266,302}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1118},{266,302}}</string>
                <key>offset</key>
                <string>{9,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1118},{266,302}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,850},{270,302}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,144},{270,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,844},{274,302}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,144},{274,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,300},{272,304}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,142},{272,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,300},{272,304}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,142},{272,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{266,304}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,142},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1902},{264,302}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,144},{264,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1382},{266,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1636},{266,302}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{266,302}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1386},{290,300}}</string>
                <key>offset</key>
                <string>{28,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,146},{290,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{320,300}}</string>
                <key>offset</key>
                <string>{45,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,146},{320,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,0},{318,300}}</string>
                <key>offset</key>
                <string>{45,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,146},{318,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{320,300}}</string>
                <key>offset</key>
                <string>{45,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,146},{320,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1650},{290,300}}</string>
                <key>offset</key>
                <string>{28,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,146},{290,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1120},{266,302}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1384},{266,302}}</string>
                <key>offset</key>
                <string>{9,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1384},{266,302}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1648},{266,302}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,842},{276,302}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,144},{276,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,300},{278,304}}</string>
                <key>offset</key>
                <string>{-11,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,142},{278,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,300},{276,304}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,142},{276,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,300},{284,304}}</string>
                <key>offset</key>
                <string>{-13,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,142},{284,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{288,304}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,142},{288,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,838},{278,302}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,144},{278,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1386},{264,302}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,144},{264,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,572},{266,304}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,572},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694d7cffcc35f05b37e1466519067a08:117dd4024f87bb8ea2cf55dabd3656f8:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
