<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0550.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1002},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0551.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,654},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0552.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1306},{264,296}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,150},{264,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0553.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1254},{260,280}}</string>
                <key>offset</key>
                <string>{4,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,165},{260,280}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0554.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,560},{252,258}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,186},{252,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0555.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1460},{248,240}}</string>
                <key>offset</key>
                <string>{4,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,202},{248,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0556.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,730},{244,218}}</string>
                <key>offset</key>
                <string>{4,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,224},{244,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0557.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,948},{240,194}}</string>
                <key>offset</key>
                <string>{4,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,247},{240,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0558.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1130},{248,240}}</string>
                <key>offset</key>
                <string>{4,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,202},{248,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0559.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,868},{252,262}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,181},{252,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0560.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,0},{254,284}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,160},{254,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0561.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1350},{254,306}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,139},{254,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0562.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{252,318}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,127},{252,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0563.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1358},{252,324}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,121},{252,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0564.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,682},{252,320}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,125},{252,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0565.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1682},{252,310}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,135},{252,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0566.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,958},{252,296}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,148},{252,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0567.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,918},{252,278}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,165},{252,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0568.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,0},{250,258}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,185},{250,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0569.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,818},{248,240}}</string>
                <key>offset</key>
                <string>{5,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,202},{248,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0570.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1708},{240,192}}</string>
                <key>offset</key>
                <string>{4,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,248},{240,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0571.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,530},{248,240}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,203},{248,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0572.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,0},{252,256}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,188},{252,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0573.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,0},{250,272}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,173},{250,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0574.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1602},{242,284}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,159},{242,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0575.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,318},{234,304}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,143},{234,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0576.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,334},{228,320}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,129},{228,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0577.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1028},{230,330}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,118},{230,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0578.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{240,334}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,110},{240,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0579.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,688},{248,340}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,103},{248,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0580.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{244,344}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,101},{244,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0581.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{230,344}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,104},{230,344}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0582.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,344},{226,338}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,113},{226,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0583.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1028},{232,322}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,127},{232,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0584.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1656},{240,300}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,145},{240,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0585.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,284},{248,276}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,166},{248,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0586.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,272},{252,258}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,185},{252,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0587.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,490},{248,240}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,203},{248,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0588.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1066},{240,194}}</string>
                <key>offset</key>
                <string>{3,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,248},{240,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0589.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1802},{244,220}}</string>
                <key>offset</key>
                <string>{4,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,222},{244,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0590.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1802},{244,240}}</string>
                <key>offset</key>
                <string>{5,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,202},{244,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0591.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,252},{238,252}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,194},{238,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0592.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1196},{230,264}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,183},{230,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0593.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1534},{250,268}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,174},{250,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0594.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,592},{252,276}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,166},{252,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0595.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,302},{236,290}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,158},{236,290}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0596.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,622},{244,296}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,152},{244,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0597.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1656},{256,298}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,147},{256,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0598.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,0},{266,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0599.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1002},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f884bf88cd607308e2c3a9c67e5974a:36ee136fd48ea7ca61bb2a0b9924cc52:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
