<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,316},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,314},{266,304}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,142},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,618},{266,306}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,140},{266,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1576},{266,308}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,138},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,582},{266,312}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,134},{266,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,316},{266,314}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,132},{266,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1298},{266,316}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,129},{266,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,0},{266,316}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,129},{266,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1614},{266,316}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,129},{266,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,314},{266,314}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,132},{266,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1298},{266,312}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,135},{266,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,884},{266,310}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{266,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,886},{266,306}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,141},{266,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1152},{266,306}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,141},{266,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1150},{266,304}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1384},{266,306}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,141},{266,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,580},{268,306}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,141},{268,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,618},{268,308}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,139},{268,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,886},{268,310}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,136},{268,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1610},{268,312}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,133},{268,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,0},{268,314}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,131},{268,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,0},{268,314}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,130},{268,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,958},{268,310}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,134},{268,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1154},{266,304}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,140},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1690},{264,298}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,145},{264,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1682},{264,296}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,147},{264,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1420},{264,296}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,148},{264,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1686},{264,300}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,145},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1416},{266,304}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1268},{268,308}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,139},{268,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,646},{268,312}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,136},{268,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{270,316}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,132},{270,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,646},{270,318}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,130},{270,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,978},{270,320}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,128},{270,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,324},{272,322}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,126},{272,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,0},{272,322}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,125},{272,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{272,324}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,121},{272,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{272,326}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,117},{272,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{272,328}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,115},{272,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,654},{272,324}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,119},{272,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,322},{270,318}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,125},{270,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,848},{268,312}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,133},{268,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1116},{268,308}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,138},{268,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1420},{266,304}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,142},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,316},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,316},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,316},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,316},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,316},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,316},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a593534844d2459811405ae94454027c:e286e27425f37ce60a7f660df35b923d:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
