<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1070},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1070},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1334},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1334},{266,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1602},{264,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{264,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1334},{266,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1336},{266,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1600},{266,302}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,143},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1336},{266,302}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,143},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1070},{264,304}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,141},{264,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{266,304}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,141},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{266,308}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,137},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{268,312}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,133},{268,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,0},{268,314}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,131},{268,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,536},{266,310}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,135},{266,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1070},{264,304}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,141},{264,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1866},{264,300}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,804},{266,304}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,141},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,270},{268,310}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,135},{268,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{270,316}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,130},{270,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,320}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,126},{270,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,0},{270,316}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,130},{270,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,536},{268,310}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,136},{268,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,804},{266,304}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,141},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1866},{264,300}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,145},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,804},{266,304}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,141},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,268},{268,314}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,132},{268,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{270,320}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,127},{270,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,0},{268,316}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,130},{268,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,802},{266,310}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,136},{266,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,804},{266,304}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,142},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1602},{264,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{264,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1068},{266,304}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,142},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,538},{266,308}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,138},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,270},{268,312}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,134},{268,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,268},{268,314}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,133},{268,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,270},{268,312}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,134},{268,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,538},{266,308}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,138},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1070},{266,304}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,142},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1602},{264,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{264,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1336},{266,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1070},{266,304}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,142},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,538},{266,306}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,140},{266,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1600},{266,302}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1866},{264,298}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,148},{264,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1866},{264,300}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,146},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1866},{264,300}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,146},{264,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1866},{264,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,144},{264,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1600},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1070},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveForward.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8088e1e790b047955831b30d49cc51dd:83c7b7b1d640f80ccdcc4fcc0f0da7a8:162feceb0406bf6740e5a2819b475f6e$</string>
            <key>textureFileName</key>
            <string>moveForward.png</string>
        </dict>
    </dict>
</plist>
