<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1872},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1872},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1872},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2134},{266,302}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,144},{266,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1606},{266,304}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,142},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1606},{266,304}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,141},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1870},{264,304}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,141},{264,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1074},{266,308}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,806},{266,312}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,133},{266,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,270},{268,318}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,128},{268,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{270,324}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,122},{270,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,328}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,119},{270,328}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{270,326}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,120},{270,326}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,268},{268,320}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,126},{268,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,538},{268,314}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,132},{268,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1336},{266,310}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,135},{266,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1338},{266,308}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1070},{266,312}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,133},{266,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{268,320}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,126},{268,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,0},{270,324}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,122},{270,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,0},{270,322}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,124},{270,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,270},{268,318}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,128},{268,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,804},{266,314}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,132},{266,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1338},{266,308}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1338},{266,308}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1072},{266,310}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,135},{266,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,536},{268,318}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,128},{268,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,0},{268,322}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,124},{268,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,270},{268,320}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,126},{268,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{266,314}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,132},{266,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1072},{266,310}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,135},{266,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1340},{266,308}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1340},{266,308}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,806},{266,314}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,132},{266,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{268,318}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,128},{268,318}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,270},{268,320}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,126},{268,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,538},{268,316}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,130},{268,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1602},{266,308}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1870},{264,304}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,141},{264,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1870},{264,304}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,141},{264,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1604},{266,308}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1072},{266,310}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,135},{266,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,806},{266,314}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,132},{266,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,538},{268,316}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,130},{268,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,538},{268,314}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,132},{268,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,806},{268,312}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,134},{268,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1072},{268,310}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,136},{268,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1604},{266,308}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,138},{266,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1604},{266,306}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,140},{266,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1868},{266,304}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,142},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a525663f5f05e8e8e1eb20ffae451b9:fba1c0d90a58e81c232218c5eb84508d:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
