<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guac0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1724},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1420},{268,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,143},{268,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,844},{272,306}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,141},{272,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{274,308}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,140},{274,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,566},{278,308}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,140},{278,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,284},{280,310}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,138},{280,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,284},{282,310}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,138},{282,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{284,312}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,137},{284,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{286,312}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,137},{286,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{284,312}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,137},{284,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{282,310}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,138},{282,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,564},{280,310}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,138},{280,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{274,308}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,140},{274,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,844},{272,306}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,141},{272,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1116},{270,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,143},{270,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>Guac0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1724},{266,304}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,143},{266,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:864ea476424ec5c8d0e8b7b8ebc3b798:acf118d42de0bdbe843090673b60cbaa:36433d9218bc56245200a984765d893d$</string>
            <key>textureFileName</key>
            <string>reaction3.png</string>
        </dict>
    </dict>
</plist>
