<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,0},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1590},{324,318}}</string>
                <key>offset</key>
                <string>{26,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{324,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1270},{370,316}}</string>
                <key>offset</key>
                <string>{51,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,307},{370,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1264},{376,316}}</string>
                <key>offset</key>
                <string>{55,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,307},{376,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,956},{372,318}}</string>
                <key>offset</key>
                <string>{56,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,305},{372,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1894},{354,318}}</string>
                <key>offset</key>
                <string>{49,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,305},{354,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1914},{320,320}}</string>
                <key>offset</key>
                <string>{34,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,303},{320,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2212},{312,320}}</string>
                <key>offset</key>
                <string>{29,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,303},{312,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1660},{312,320}}</string>
                <key>offset</key>
                <string>{29,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,304},{312,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2216},{316,318}}</string>
                <key>offset</key>
                <string>{29,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,305},{316,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1908},{318,316}}</string>
                <key>offset</key>
                <string>{29,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,306},{318,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1900},{322,316}}</string>
                <key>offset</key>
                <string>{29,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,306},{322,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1344},{352,316}}</string>
                <key>offset</key>
                <string>{16,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,306},{352,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,318},{402,316}}</string>
                <key>offset</key>
                <string>{-8,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,306},{402,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{432,318}}</string>
                <key>offset</key>
                <string>{-22,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,304},{432,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{442,320}}</string>
                <key>offset</key>
                <string>{-23,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,303},{442,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{440,320}}</string>
                <key>offset</key>
                <string>{-19,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,302},{440,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,320},{404,322}}</string>
                <key>offset</key>
                <string>{1,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,301},{404,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,318},{388,322}}</string>
                <key>offset</key>
                <string>{10,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,300},{388,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,634},{388,322}}</string>
                <key>offset</key>
                <string>{9,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,301},{388,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,956},{378,322}}</string>
                <key>offset</key>
                <string>{9,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,300},{378,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1024},{364,320}}</string>
                <key>offset</key>
                <string>{9,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,302},{364,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1594},{358,320}}</string>
                <key>offset</key>
                <string>{10,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,302},{358,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,706},{380,318}}</string>
                <key>offset</key>
                <string>{2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,304},{380,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,0},{408,318}}</string>
                <key>offset</key>
                <string>{-5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,304},{408,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,952},{380,318}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,304},{380,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1274},{362,316}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,306},{362,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1278},{370,316}}</string>
                <key>offset</key>
                <string>{3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,306},{370,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,642},{392,314}}</string>
                <key>offset</key>
                <string>{-4,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,306},{392,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{404,314}}</string>
                <key>offset</key>
                <string>{-6,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,307},{404,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1586},{360,314}}</string>
                <key>offset</key>
                <string>{6,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,306},{360,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1580},{366,314}}</string>
                <key>offset</key>
                <string>{3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,306},{366,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,950},{390,314}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,307},{390,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,318},{406,316}}</string>
                <key>offset</key>
                <string>{-7,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,306},{406,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{476,316}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,306},{476,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,634},{396,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,305},{396,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,0},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,0},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb2257e88b83673b5261dc3f9275eb5b:7d56d29018274048386468f4a850cc41:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
