<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1984},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2044},{276,320}}</string>
                <key>offset</key>
                <string>{2,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,304},{276,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2030},{268,324}}</string>
                <key>offset</key>
                <string>{-3,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,304},{268,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1680},{272,334}}</string>
                <key>offset</key>
                <string>{-6,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,304},{272,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1724},{278,344}}</string>
                <key>offset</key>
                <string>{-6,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,304},{278,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1034},{290,350}}</string>
                <key>offset</key>
                <string>{-5,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,304},{290,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1374},{306,348}}</string>
                <key>offset</key>
                <string>{-4,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,304},{306,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1712},{318,344}}</string>
                <key>offset</key>
                <string>{-5,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,305},{318,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1664},{326,340}}</string>
                <key>offset</key>
                <string>{-8,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,305},{326,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2002},{334,340}}</string>
                <key>offset</key>
                <string>{-12,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,305},{334,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,348},{356,342}}</string>
                <key>offset</key>
                <string>{-17,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,305},{356,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,346}}</string>
                <key>offset</key>
                <string>{-28,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,305},{386,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{380,344}}</string>
                <key>offset</key>
                <string>{-24,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,303},{380,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,346},{356,342}}</string>
                <key>offset</key>
                <string>{1,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,303},{356,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,690},{354,344}}</string>
                <key>offset</key>
                <string>{12,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,303},{354,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,0},{356,346}}</string>
                <key>offset</key>
                <string>{16,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,302},{356,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1030},{352,344}}</string>
                <key>offset</key>
                <string>{12,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,303},{352,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1378},{346,342}}</string>
                <key>offset</key>
                <string>{4,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,302},{346,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{366,344}}</string>
                <key>offset</key>
                <string>{-17,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,303},{366,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,344},{374,348}}</string>
                <key>offset</key>
                <string>{-21,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,303},{374,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,340},{356,344}}</string>
                <key>offset</key>
                <string>{-14,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,303},{356,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1324},{348,340}}</string>
                <key>offset</key>
                <string>{-14,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,304},{348,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{362,344}}</string>
                <key>offset</key>
                <string>{-15,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,304},{362,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{376,348}}</string>
                <key>offset</key>
                <string>{-20,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,303},{376,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,692},{354,340}}</string>
                <key>offset</key>
                <string>{0,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,302},{354,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1380},{350,344}}</string>
                <key>offset</key>
                <string>{12,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,302},{350,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,684},{354,346}}</string>
                <key>offset</key>
                <string>{17,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,301},{354,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1034},{352,346}}</string>
                <key>offset</key>
                <string>{16,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,301},{352,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,688},{352,346}}</string>
                <key>offset</key>
                <string>{12,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,302},{352,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1364},{350,348}}</string>
                <key>offset</key>
                <string>{8,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,301},{350,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1034},{352,344}}</string>
                <key>offset</key>
                <string>{1,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,302},{352,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,0},{362,340}}</string>
                <key>offset</key>
                <string>{-11,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,302},{362,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1032},{354,332}}</string>
                <key>offset</key>
                <string>{-14,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,303},{354,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1720},{332,324}}</string>
                <key>offset</key>
                <string>{-9,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,304},{332,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1952},{306,320}}</string>
                <key>offset</key>
                <string>{-2,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,305},{306,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1664},{288,320}}</string>
                <key>offset</key>
                <string>{3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,304},{288,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1984},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:260c602263a930cf1d1c570730258e96:5eb8ba112c69efbb64ecd47e0ccb71e3:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
