<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1702},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0226.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1882},{306,322}}</string>
                <key>offset</key>
                <string>{-9,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,305},{306,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0227.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1214},{356,342}}</string>
                <key>offset</key>
                <string>{-29,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,306},{356,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0228.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,328},{384,360}}</string>
                <key>offset</key>
                <string>{-29,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,303},{384,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0229.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1540},{342,352}}</string>
                <key>offset</key>
                <string>{-7,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,302},{342,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0230.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,942},{272,352}}</string>
                <key>offset</key>
                <string>{3,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,282},{272,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1290},{250,354}}</string>
                <key>offset</key>
                <string>{5,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,275},{250,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1110},{266,350}}</string>
                <key>offset</key>
                <string>{4,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,279},{266,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1376},{338,336}}</string>
                <key>offset</key>
                <string>{8,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,294},{338,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,654},{448,320}}</string>
                <key>offset</key>
                <string>{2,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,306},{448,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0235.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{462,328}}</string>
                <key>offset</key>
                <string>{-13,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,307},{462,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,974},{316,376}}</string>
                <key>offset</key>
                <string>{2,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,310},{316,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1020},{270,366}}</string>
                <key>offset</key>
                <string>{48,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,312},{270,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1530},{266,316}}</string>
                <key>offset</key>
                <string>{26,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,314},{266,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0239.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1712},{226,312}}</string>
                <key>offset</key>
                <string>{7,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,314},{226,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0240.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1214},{244,316}}</string>
                <key>offset</key>
                <string>{-13,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,315},{244,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0241.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1460},{242,320}}</string>
                <key>offset</key>
                <string>{-32,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,315},{242,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0242.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1556},{316,342}}</string>
                <key>offset</key>
                <string>{-43,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,314},{316,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,778},{366,332}}</string>
                <key>offset</key>
                <string>{-27,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,301},{366,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,640},{302,358}}</string>
                <key>offset</key>
                <string>{10,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,270},{302,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0245.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,334},{186,374}}</string>
                <key>offset</key>
                <string>{5,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,259},{186,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0246.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,0},{204,370}}</string>
                <key>offset</key>
                <string>{6,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,263},{204,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0247.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,370},{270,354}}</string>
                <key>offset</key>
                <string>{22,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,272},{270,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0248.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1290},{328,342}}</string>
                <key>offset</key>
                <string>{-10,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,284},{328,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0249.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1618},{318,334}}</string>
                <key>offset</key>
                <string>{-42,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,298},{318,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0250.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1214},{246,342}}</string>
                <key>offset</key>
                <string>{-36,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,307},{246,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0251.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1014},{200,368}}</string>
                <key>offset</key>
                <string>{8,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,307},{200,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0252.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,520},{258,370}}</string>
                <key>offset</key>
                <string>{-9,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,307},{258,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0253.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,660},{382,354}}</string>
                <key>offset</key>
                <string>{-7,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,308},{382,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0254.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,322},{458,338}}</string>
                <key>offset</key>
                <string>{-5,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,307},{458,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{478,324}}</string>
                <key>offset</key>
                <string>{-6,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,305},{478,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0256.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,0},{470,322}}</string>
                <key>offset</key>
                <string>{-6,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,304},{470,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0257.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{448,330}}</string>
                <key>offset</key>
                <string>{-5,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,303},{448,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0258.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,0},{414,334}}</string>
                <key>offset</key>
                <string>{-2,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,303},{414,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0259.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,688},{368,332}}</string>
                <key>offset</key>
                <string>{1,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,304},{368,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0260.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1872},{326,326}}</string>
                <key>offset</key>
                <string>{3,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,304},{326,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0261.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2188},{294,320}}</string>
                <key>offset</key>
                <string>{4,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,304},{294,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0262.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1796},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance1.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf0caf05c786310e8ce503a42533854:d93ed15418c2e9a1d57d30ce47645844:9d057c2776f19316f41e4d9c0ccb1ce4$</string>
            <key>textureFileName</key>
            <string>dance1.png</string>
        </dict>
    </dict>
</plist>
