<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,316},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,1012},{356,322}}</string>
                <key>offset</key>
                <string>{-5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,302},{356,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,972},{412,328}}</string>
                <key>offset</key>
                <string>{-15,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,297},{412,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,978},{408,326}}</string>
                <key>offset</key>
                <string>{-14,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,298},{408,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1290},{400,324}}</string>
                <key>offset</key>
                <string>{-11,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,302},{400,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1334},{390,316}}</string>
                <key>offset</key>
                <string>{-8,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,310},{390,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1926},{380,312}}</string>
                <key>offset</key>
                <string>{-5,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,314},{380,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1926},{372,314}}</string>
                <key>offset</key>
                <string>{-2,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,313},{372,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1936},{366,314}}</string>
                <key>offset</key>
                <string>{-1,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,313},{366,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1650},{388,310}}</string>
                <key>offset</key>
                <string>{-5,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,316},{388,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,652},{422,322}}</string>
                <key>offset</key>
                <string>{-17,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,304},{422,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{436,326}}</string>
                <key>offset</key>
                <string>{-21,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,299},{436,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,328},{428,326}}</string>
                <key>offset</key>
                <string>{-19,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,299},{428,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,974},{406,316}}</string>
                <key>offset</key>
                <string>{-11,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,310},{406,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1614},{378,312}}</string>
                <key>offset</key>
                <string>{-3,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,314},{378,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2238},{364,314}}</string>
                <key>offset</key>
                <string>{0,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,313},{364,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1922},{374,312}}</string>
                <key>offset</key>
                <string>{-3,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,315},{374,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1300},{394,310}}</string>
                <key>offset</key>
                <string>{-7,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,316},{394,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,654},{416,318}}</string>
                <key>offset</key>
                <string>{-16,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,308},{416,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{430,324}}</string>
                <key>offset</key>
                <string>{-21,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,301},{430,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{436,328}}</string>
                <key>offset</key>
                <string>{-22,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,297},{436,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,328},{430,326}}</string>
                <key>offset</key>
                <string>{-20,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,299},{430,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,974},{412,316}}</string>
                <key>offset</key>
                <string>{-15,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,310},{412,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1610},{388,312}}</string>
                <key>offset</key>
                <string>{-9,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,314},{388,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,634},{378,314}}</string>
                <key>offset</key>
                <string>{-7,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,313},{378,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1614},{386,312}}</string>
                <key>offset</key>
                <string>{-8,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,315},{386,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1304},{402,310}}</string>
                <key>offset</key>
                <string>{-11,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,316},{402,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,654},{420,320}}</string>
                <key>offset</key>
                <string>{-17,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,306},{420,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,326},{432,326}}</string>
                <key>offset</key>
                <string>{-21,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,299},{432,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{436,328}}</string>
                <key>offset</key>
                <string>{-21,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,297},{436,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,0},{432,328}}</string>
                <key>offset</key>
                <string>{-20,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,297},{432,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{424,326}}</string>
                <key>offset</key>
                <string>{-19,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,298},{424,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1290},{404,324}}</string>
                <key>offset</key>
                <string>{-14,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,300},{404,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1614},{380,322}}</string>
                <key>offset</key>
                <string>{-9,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,302},{380,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1960},{348,320}}</string>
                <key>offset</key>
                <string>{-4,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,304},{348,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2234},{316,318}}</string>
                <key>offset</key>
                <string>{1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,306},{316,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,0},{292,316}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,307},{292,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,316},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e42cfc97bb4fa143be3b8009a27e2f98:bccee823c15480ae58a9a1904a99f0da:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
