<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2080},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2074},{268,312}}</string>
                <key>offset</key>
                <string>{2,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,315},{268,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2110},{256,308}}</string>
                <key>offset</key>
                <string>{5,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,334},{256,308}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2366},{258,290}}</string>
                <key>offset</key>
                <string>{5,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,359},{258,290}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1792},{270,282}}</string>
                <key>offset</key>
                <string>{4,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,368},{270,282}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2362},{286,290}}</string>
                <key>offset</key>
                <string>{4,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,359},{286,290}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2072},{308,310}}</string>
                <key>offset</key>
                <string>{4,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,340},{308,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1448},{328,338}}</string>
                <key>offset</key>
                <string>{6,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,311},{328,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1402},{348,370}}</string>
                <key>offset</key>
                <string>{7,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,278},{348,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1126},{366,400}}</string>
                <key>offset</key>
                <string>{8,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,245},{366,400}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1374},{386,428}}</string>
                <key>offset</key>
                <string>{8,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,214},{386,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,994},{408,444}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,193},{408,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{432,446}}</string>
                <key>offset</key>
                <string>{8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,184},{432,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,690},{454,436}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,189},{454,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,408},{464,424}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,199},{464,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,0},{466,408}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,215},{466,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,306},{468,388}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,234},{468,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,324},{466,366}}</string>
                <key>offset</key>
                <string>{13,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,255},{466,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{468,346}}</string>
                <key>offset</key>
                <string>{17,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,276},{468,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,0},{482,324}}</string>
                <key>offset</key>
                <string>{16,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,300},{482,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{496,306}}</string>
                <key>offset</key>
                <string>{11,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,319},{496,306}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{502,298}}</string>
                <key>offset</key>
                <string>{1,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,330},{502,298}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{486,298}}</string>
                <key>offset</key>
                <string>{-4,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,332},{486,298}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,694},{450,300}}</string>
                <key>offset</key>
                <string>{-4,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,330},{450,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,832},{402,306}}</string>
                <key>offset</key>
                <string>{0,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,326},{402,306}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1138},{352,310}}</string>
                <key>offset</key>
                <string>{4,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,319},{352,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2072},{314,314}}</string>
                <key>offset</key>
                <string>{6,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,313},{314,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2080},{290,316}}</string>
                <key>offset</key>
                <string>{5,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,308},{290,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2080},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1818},{292,318}}</string>
                <key>offset</key>
                <string>{6,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,307},{292,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1760},{312,322}}</string>
                <key>offset</key>
                <string>{9,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,311},{312,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1492},{336,326}}</string>
                <key>offset</key>
                <string>{8,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,316},{336,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1138},{344,328}}</string>
                <key>offset</key>
                <string>{8,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,317},{344,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1466},{338,326}}</string>
                <key>offset</key>
                <string>{8,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,317},{338,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1750},{322,324}}</string>
                <key>offset</key>
                <string>{9,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,313},{322,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1776},{304,318}}</string>
                <key>offset</key>
                <string>{8,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,310},{304,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1792},{288,318}}</string>
                <key>offset</key>
                <string>{6,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,306},{288,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2080},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2317a929fe7ace0e983544288b901078:8d3f1ee71de44eb7a120dcd43654db38:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
