<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1014},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,968},{270,312}}</string>
                <key>offset</key>
                <string>{3,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,312},{270,312}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,0},{276,306}}</string>
                <key>offset</key>
                <string>{5,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,318},{276,306}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1280},{288,310}}</string>
                <key>offset</key>
                <string>{4,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,315},{288,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,654},{298,314}}</string>
                <key>offset</key>
                <string>{3,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,309},{298,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1700},{300,320}}</string>
                <key>offset</key>
                <string>{3,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,302},{300,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,688},{300,326}}</string>
                <key>offset</key>
                <string>{4,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,295},{300,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1048},{302,330}}</string>
                <key>offset</key>
                <string>{3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,292},{302,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1646},{298,310}}</string>
                <key>offset</key>
                <string>{3,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,317},{298,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1590},{298,304}}</string>
                <key>offset</key>
                <string>{3,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,323},{298,304}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,924},{298,300}}</string>
                <key>offset</key>
                <string>{4,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,327},{298,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1222},{298,300}}</string>
                <key>offset</key>
                <string>{3,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,327},{298,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,944},{298,302}}</string>
                <key>offset</key>
                <string>{3,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,327},{298,302}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,636},{298,308}}</string>
                <key>offset</key>
                <string>{4,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,324},{298,308}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,322},{298,314}}</string>
                <key>offset</key>
                <string>{4,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,321},{298,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1378},{300,320}}</string>
                <key>offset</key>
                <string>{3,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,317},{300,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{296,322}}</string>
                <key>offset</key>
                <string>{4,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,315},{296,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1378},{296,322}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,315},{296,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,332},{298,322}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,314},{298,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,0},{298,314}}</string>
                <key>offset</key>
                <string>{4,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,319},{298,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,314},{298,308}}</string>
                <key>offset</key>
                <string>{4,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,322},{298,308}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,622},{298,302}}</string>
                <key>offset</key>
                <string>{4,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,325},{298,302}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1582},{298,300}}</string>
                <key>offset</key>
                <string>{3,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,327},{298,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1698},{298,318}}</string>
                <key>offset</key>
                <string>{3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,325},{298,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,346},{300,342}}</string>
                <key>offset</key>
                <string>{3,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,319},{300,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,700},{296,348}}</string>
                <key>offset</key>
                <string>{3,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,314},{296,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{292,346}}</string>
                <key>offset</key>
                <string>{2,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,311},{292,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,350}}</string>
                <key>offset</key>
                <string>{2,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,312},{292,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{292,350}}</string>
                <key>offset</key>
                <string>{3,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,315},{292,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{296,332}}</string>
                <key>offset</key>
                <string>{4,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,318},{296,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1332},{298,314}}</string>
                <key>offset</key>
                <string>{4,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,322},{298,314}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,0},{298,306}}</string>
                <key>offset</key>
                <string>{3,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,324},{298,306}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1278},{298,304}}</string>
                <key>offset</key>
                <string>{3,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,326},{298,304}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1520},{298,300}}</string>
                <key>offset</key>
                <string>{3,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,327},{298,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,306},{294,302}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,324},{294,302}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,968},{284,310}}</string>
                <key>offset</key>
                <string>{5,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,316},{284,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,654},{268,316}}</string>
                <key>offset</key>
                <string>{5,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,308},{268,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1014},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d5954b386d4aae9bf5bc9e433c9096:5b038cb90d553aef610529f8ead25da2:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
