<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3750},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,3774},{274,318}}</string>
                <key>offset</key>
                <string>{1,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{274,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,3754},{276,324}}</string>
                <key>offset</key>
                <string>{-2,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,306},{276,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3464},{286,332}}</string>
                <key>offset</key>
                <string>{-5,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,307},{286,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1022},{294,338}}</string>
                <key>offset</key>
                <string>{-9,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,307},{294,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,346},{300,338}}</string>
                <key>offset</key>
                <string>{-14,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,307},{300,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,684},{314,338}}</string>
                <key>offset</key>
                <string>{-22,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,306},{314,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3132},{332,336}}</string>
                <key>offset</key>
                <string>{-32,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,309},{332,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2392},{346,338}}</string>
                <key>offset</key>
                <string>{-40,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,308},{346,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,3130},{342,338}}</string>
                <key>offset</key>
                <string>{-39,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,309},{342,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2044},{348,340}}</string>
                <key>offset</key>
                <string>{-42,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,307},{348,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2782},{350,342}}</string>
                <key>offset</key>
                <string>{-41,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,304},{350,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2434},{348,344}}</string>
                <key>offset</key>
                <string>{-38,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,303},{348,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,698},{348,348}}</string>
                <key>offset</key>
                <string>{-39,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,301},{348,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1042},{348,348}}</string>
                <key>offset</key>
                <string>{-40,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,302},{348,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2086},{344,348}}</string>
                <key>offset</key>
                <string>{-40,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,302},{344,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2738},{342,348}}</string>
                <key>offset</key>
                <string>{-35,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,302},{342,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,3432},{342,344}}</string>
                <key>offset</key>
                <string>{-27,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,306},{342,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2788},{338,342}}</string>
                <key>offset</key>
                <string>{-19,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,308},{338,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2444},{344,338}}</string>
                <key>offset</key>
                <string>{-15,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,311},{344,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2098},{346,340}}</string>
                <key>offset</key>
                <string>{-14,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,309},{346,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,3086},{346,344}}</string>
                <key>offset</key>
                <string>{-11,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,306},{346,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1390},{346,348}}</string>
                <key>offset</key>
                <string>{-8,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,304},{346,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1736},{344,350}}</string>
                <key>offset</key>
                <string>{-5,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,303},{344,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1046},{342,354}}</string>
                <key>offset</key>
                <string>{-2,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,302},{342,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1744},{340,354}}</string>
                <key>offset</key>
                <string>{0,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,304},{340,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1388},{340,356}}</string>
                <key>offset</key>
                <string>{0,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,304},{340,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{344,356}}</string>
                <key>offset</key>
                <string>{-1,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,306},{344,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,352},{346,354}}</string>
                <key>offset</key>
                <string>{-2,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,308},{346,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{352,356}}</string>
                <key>offset</key>
                <string>{-9,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,306},{352,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{352,356}}</string>
                <key>offset</key>
                <string>{-13,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,305},{352,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{346,356}}</string>
                <key>offset</key>
                <string>{-16,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,302},{346,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1690},{328,354}}</string>
                <key>offset</key>
                <string>{-14,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,297},{328,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{312,346}}</string>
                <key>offset</key>
                <string>{-6,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,295},{312,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1360},{288,330}}</string>
                <key>offset</key>
                <string>{-2,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,300},{288,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,3472},{282,320}}</string>
                <key>offset</key>
                <string>{3,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,305},{282,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3750},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60ec72b6d90cee9567551a8be0d513fc:412d79bde64aa125dc7f0de4fe15308f:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
