<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,310}}</string>
                <key>offset</key>
                <string>{10,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,339},{252,310}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggCrack1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:414697127a84d6b7eb5f2c0af5e7115a:3f4c4beac302ea8a2b4b2ac0442ba55b:247589ac5f015b9eccf612e6cee399ad$</string>
            <key>textureFileName</key>
            <string>eggCrack1.png</string>
        </dict>
    </dict>
</plist>
