<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{272,300}}</string>
                <key>offset</key>
                <string>{19,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,347},{272,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,544},{274,298}}</string>
                <key>offset</key>
                <string>{20,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,349},{274,298}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,546},{276,296}}</string>
                <key>offset</key>
                <string>{22,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,351},{276,296}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,542},{278,298}}</string>
                <key>offset</key>
                <string>{24,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,351},{278,298}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{278,294}}</string>
                <key>offset</key>
                <string>{25,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,354},{278,294}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,302}}</string>
                <key>offset</key>
                <string>{18,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,344},{270,302}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{276,300}}</string>
                <key>offset</key>
                <string>{24,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,346},{276,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{272,300}}</string>
                <key>offset</key>
                <string>{21,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,346},{272,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,276},{270,300}}</string>
                <key>offset</key>
                <string>{17,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,346},{270,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,272},{272,300}}</string>
                <key>offset</key>
                <string>{18,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,346},{272,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{272,300}}</string>
                <key>offset</key>
                <string>{19,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,347},{272,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggIdle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94b05cdf0b5987ce88ea23eb535f7cef:7e9ff320445f46db38c48a3bad7366fd:5fe1c8f2c7fd33eabd49e5faa65fc238$</string>
            <key>textureFileName</key>
            <string>eggIdle.png</string>
        </dict>
    </dict>
</plist>
