<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,694},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1012},{282,318}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1330},{290,322}}</string>
                <key>offset</key>
                <string>{15,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,304},{290,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1716},{298,328}}</string>
                <key>offset</key>
                <string>{26,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,305},{298,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1652},{310,340}}</string>
                <key>offset</key>
                <string>{37,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,303},{310,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1388},{328,348}}</string>
                <key>offset</key>
                <string>{46,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,303},{328,348}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1330},{344,354}}</string>
                <key>offset</key>
                <string>{53,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,302},{344,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0157.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1032},{362,356}}</string>
                <key>offset</key>
                <string>{56,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,301},{362,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,342},{376,352}}</string>
                <key>offset</key>
                <string>{57,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,301},{376,352}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0159.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{384,342}}</string>
                <key>offset</key>
                <string>{53,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,300},{384,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,328}}</string>
                <key>offset</key>
                <string>{45,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,301},{386,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0161.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{380,328}}</string>
                <key>offset</key>
                <string>{38,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,297},{380,328}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{374,336}}</string>
                <key>offset</key>
                <string>{30,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,289},{374,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0163.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,694},{368,338}}</string>
                <key>offset</key>
                <string>{25,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,286},{368,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,992},{366,338}}</string>
                <key>offset</key>
                <string>{25,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,286},{366,338}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4815f091a5e9e33c8b1221e8a4361574:0f9ffcb2dcdc5b751d50d83910a7f6e0:c1cf761d005800c04dbc6a7cacdce7d7$</string>
            <key>textureFileName</key>
            <string>exit.png</string>
        </dict>
    </dict>
</plist>
