<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0165.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,636},{280,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,305},{280,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0167.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1272},{278,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,305},{278,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1590},{278,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,305},{278,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1272},{278,318}}</string>
                <key>offset</key>
                <string>{4,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,305},{278,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1590},{276,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,305},{276,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1286},{276,320}}</string>
                <key>offset</key>
                <string>{4,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,303},{276,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1606},{274,320}}</string>
                <key>offset</key>
                <string>{5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,303},{274,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1606},{274,320}}</string>
                <key>offset</key>
                <string>{5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,303},{274,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{274,320}}</string>
                <key>offset</key>
                <string>{5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,303},{274,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,320},{274,320}}</string>
                <key>offset</key>
                <string>{5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,303},{274,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{274,322}}</string>
                <key>offset</key>
                <string>{5,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,301},{274,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{274,322}}</string>
                <key>offset</key>
                <string>{5,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,301},{274,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{274,322}}</string>
                <key>offset</key>
                <string>{5,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,301},{274,322}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,640},{274,320}}</string>
                <key>offset</key>
                <string>{6,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,303},{274,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,960},{274,320}}</string>
                <key>offset</key>
                <string>{6,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,303},{274,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1606},{276,320}}</string>
                <key>offset</key>
                <string>{5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,303},{276,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1286},{276,320}}</string>
                <key>offset</key>
                <string>{5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,303},{276,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{278,320}}</string>
                <key>offset</key>
                <string>{5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,303},{278,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,954},{278,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,305},{278,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,954},{280,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,305},{280,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,636},{280,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,305},{280,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,318},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b32a12e31adac31293c4c15623555c42:08131c4bedac3d2744657aa47382fabe:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
