<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,0},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1134},{280,324}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,305},{280,324}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,854},{280,330}}</string>
                <key>offset</key>
                <string>{3,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,309},{280,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,286},{276,334}}</string>
                <key>offset</key>
                <string>{2,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,310},{276,334}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,716},{270,350}}</string>
                <key>offset</key>
                <string>{4,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,303},{270,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{268,360}}</string>
                <key>offset</key>
                <string>{7,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,296},{268,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{264,364}}</string>
                <key>offset</key>
                <string>{10,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,291},{264,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,728},{272,360}}</string>
                <key>offset</key>
                <string>{13,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,296},{272,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,0},{286,340}}</string>
                <key>offset</key>
                <string>{16,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,302},{286,340}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1062},{296,342}}</string>
                <key>offset</key>
                <string>{17,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,295},{296,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1446},{296,354}}</string>
                <key>offset</key>
                <string>{16,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,285},{296,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1066},{298,346}}</string>
                <key>offset</key>
                <string>{17,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,292},{298,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,562},{292,332}}</string>
                <key>offset</key>
                <string>{17,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,302},{292,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1088},{276,358}}</string>
                <key>offset</key>
                <string>{14,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,292},{276,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,376}}</string>
                <key>offset</key>
                <string>{10,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,283},{252,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,364},{242,364}}</string>
                <key>offset</key>
                <string>{9,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,299},{242,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{272,356}}</string>
                <key>offset</key>
                <string>{14,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,298},{272,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1404},{294,342}}</string>
                <key>offset</key>
                <string>{17,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,292},{294,342}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,360},{290,356}}</string>
                <key>offset</key>
                <string>{15,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,286},{290,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,282},{294,336}}</string>
                <key>offset</key>
                <string>{19,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,300},{294,336}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1474},{278,358}}</string>
                <key>offset</key>
                <string>{14,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,294},{278,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{254,374}}</string>
                <key>offset</key>
                <string>{7,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,284},{254,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,364},{270,360}}</string>
                <key>offset</key>
                <string>{9,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,294},{270,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1758},{290,330}}</string>
                <key>offset</key>
                <string>{13,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,311},{290,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1758},{290,344}}</string>
                <key>offset</key>
                <string>{14,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,298},{290,344}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1114},{274,360}}</string>
                <key>offset</key>
                <string>{9,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,286},{274,360}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{256,364}}</string>
                <key>offset</key>
                <string>{3,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,289},{256,364}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,724},{244,358}}</string>
                <key>offset</key>
                <string>{2,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,302},{244,358}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1412},{242,346}}</string>
                <key>offset</key>
                <string>{2,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,315},{242,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1800},{246,346}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,316},{246,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1412},{254,346}}</string>
                <key>offset</key>
                <string>{-4,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,316},{254,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1782},{264,346}}</string>
                <key>offset</key>
                <string>{-10,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,315},{264,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1432},{270,350}}</string>
                <key>offset</key>
                <string>{-13,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,310},{270,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1082},{272,350}}</string>
                <key>offset</key>
                <string>{-12,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,308},{272,350}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,716},{284,346}}</string>
                <key>offset</key>
                <string>{-3,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,305},{284,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,618},{288,326}}</string>
                <key>offset</key>
                <string>{5,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,306},{288,326}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,0},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveRight.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fc27d49f6c3c4321e02c8059c4033fa:79b16ebed495708e3a25705884cd04e6:a5885ecbfd06de90366f95055667f1d9$</string>
            <key>textureFileName</key>
            <string>moveRight.png</string>
        </dict>
    </dict>
</plist>
