<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,810},{286,320}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{286,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{294,332}}</string>
                <key>offset</key>
                <string>{13,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,306},{294,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,522},{288,346}}</string>
                <key>offset</key>
                <string>{12,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,306},{288,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{266,354}}</string>
                <key>offset</key>
                <string>{5,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,306},{266,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,356}}</string>
                <key>offset</key>
                <string>{0,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,306},{254,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{248,356}}</string>
                <key>offset</key>
                <string>{-2,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,306},{248,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{254,356}}</string>
                <key>offset</key>
                <string>{1,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,306},{254,356}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,254},{268,354}}</string>
                <key>offset</key>
                <string>{6,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,306},{268,354}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,332},{294,346}}</string>
                <key>offset</key>
                <string>{16,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,306},{294,346}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{302,332}}</string>
                <key>offset</key>
                <string>{16,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,306},{302,332}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,678},{292,320}}</string>
                <key>offset</key>
                <string>{10,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{292,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f684d315dbe11c050c55c2449fa176c:7b7d912b0b79a2cb460b94d3a895260f:27ef85eb9c95ff93a5a6326e38d271d1$</string>
            <key>textureFileName</key>
            <string>reaction2.png</string>
        </dict>
    </dict>
</plist>
