<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meep0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,320},{272,318}}</string>
                <key>offset</key>
                <string>{2,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,305},{272,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0214.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,638},{258,318}}</string>
                <key>offset</key>
                <string>{2,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,305},{258,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,320}}</string>
                <key>offset</key>
                <string>{4,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,304},{250,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{246,318}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,306},{246,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0217.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{244,320}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,305},{244,320}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{244,318}}</string>
                <key>offset</key>
                <string>{5,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,306},{244,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0219.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,636},{240,318}}</string>
                <key>offset</key>
                <string>{6,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,307},{240,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,636},{240,318}}</string>
                <key>offset</key>
                <string>{6,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,307},{240,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0221.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,318},{244,318}}</string>
                <key>offset</key>
                <string>{6,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,306},{244,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,318},{250,318}}</string>
                <key>offset</key>
                <string>{6,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,306},{250,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{268,318}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,305},{268,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Meep0224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{282,318}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,305},{282,318}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reaction3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bd0d9ee3040be6898cf62da27933cd3:2265d35a2eb902cf84258c31ab252d9b:36433d9218bc56245200a984765d893d$</string>
            <key>textureFileName</key>
            <string>reaction3.png</string>
        </dict>
    </dict>
</plist>
