<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2428},{260,300}}</string>
                <key>offset</key>
                <string>{6,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,361},{260,300}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,544},{284,402}}</string>
                <key>offset</key>
                <string>{-2,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,272},{284,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2296},{296,460}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,226},{296,460}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1804},{312,486}}</string>
                <key>offset</key>
                <string>{13,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,207},{312,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1316},{350,488}}</string>
                <key>offset</key>
                <string>{20,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,210},{350,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,828},{384,488}}</string>
                <key>offset</key>
                <string>{16,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,211},{384,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1858},{428,496}}</string>
                <key>offset</key>
                <string>{12,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,206},{428,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1814},{482,502}}</string>
                <key>offset</key>
                <string>{22,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,205},{482,502}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1946},{482,502}}</string>
                <key>offset</key>
                <string>{30,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,205},{482,502}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1374},{484,506}}</string>
                <key>offset</key>
                <string>{33,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,203},{484,506}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1462},{484,514}}</string>
                <key>offset</key>
                <string>{34,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,195},{484,514}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1330},{484,518}}</string>
                <key>offset</key>
                <string>{34,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,191},{484,518}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,976},{486,530}}</string>
                <key>offset</key>
                <string>{34,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,180},{486,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,0},{486,548}}</string>
                <key>offset</key>
                <string>{34,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,162},{486,548}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{488,552}}</string>
                <key>offset</key>
                <string>{34,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,158},{488,552}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{488,548}}</string>
                <key>offset</key>
                <string>{34,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,162},{488,548}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{488,544}}</string>
                <key>offset</key>
                <string>{34,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,168},{488,544}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,488},{486,544}}</string>
                <key>offset</key>
                <string>{33,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,168},{486,544}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,890},{484,544}}</string>
                <key>offset</key>
                <string>{33,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,168},{484,544}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,486},{404,546}}</string>
                <key>offset</key>
                <string>{68,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,167},{404,546}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,0},{396,544}}</string>
                <key>offset</key>
                <string>{69,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,168},{396,544}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,974},{356,536}}</string>
                <key>offset</key>
                <string>{58,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,168},{356,536}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2116},{188,484}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,167},{188,484}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2286},{188,484}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,167},{188,484}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crackEntrance.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:232b4cf9df23ce80df120ad5feca0f4c:ecbcc07ebd3e2afb95e9908f60443b97:a1f3c149030e451dff56a2b507cd5503$</string>
            <key>textureFileName</key>
            <string>crackEntrance.png</string>
        </dict>
    </dict>
</plist>
