<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1094},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1058},{196,494}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,170},{196,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1240},{200,486}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,177},{200,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1638},{218,466}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,196},{218,466}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1746},{230,454}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,208},{230,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1586},{242,440}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,221},{242,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1856},{268,414}}</string>
                <key>offset</key>
                <string>{-3,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,247},{268,414}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1828},{276,402}}</string>
                <key>offset</key>
                <string>{-4,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,258},{276,402}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,810},{284,394}}</string>
                <key>offset</key>
                <string>{-6,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,266},{284,394}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2132},{292,386}}</string>
                <key>offset</key>
                <string>{-7,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,274},{292,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2264},{292,388}}</string>
                <key>offset</key>
                <string>{-6,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,272},{292,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2124},{292,392}}</string>
                <key>offset</key>
                <string>{-6,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,268},{292,392}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1980},{290,404}}</string>
                <key>offset</key>
                <string>{-5,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,256},{290,404}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1976},{288,408}}</string>
                <key>offset</key>
                <string>{-6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,252},{288,408}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1700},{280,422}}</string>
                <key>offset</key>
                <string>{-7,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,238},{280,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1456},{244,466}}</string>
                <key>offset</key>
                <string>{-17,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,194},{244,466}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1226},{230,492}}</string>
                <key>offset</key>
                <string>{-21,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,168},{230,492}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,528},{228,518}}</string>
                <key>offset</key>
                <string>{-20,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,142},{228,518}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0318.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,0},{240,556}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,104},{240,556}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0319.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,0},{256,570}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,90},{256,570}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,578}}</string>
                <key>offset</key>
                <string>{-39,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,81},{270,578}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,240},{284,548}}</string>
                <key>offset</key>
                <string>{-46,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,111},{284,548}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,756},{288,514}}</string>
                <key>offset</key>
                <string>{-49,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,145},{288,514}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1448},{298,476}}</string>
                <key>offset</key>
                <string>{-45,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,183},{298,476}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,398},{316,412}}</string>
                <key>offset</key>
                <string>{-38,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,247},{316,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,0},{318,398}}</string>
                <key>offset</key>
                <string>{-37,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,261},{318,398}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1828},{304,406}}</string>
                <key>offset</key>
                <string>{-31,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,254},{304,406}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1290},{296,476}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,186},{296,476}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,766},{292,512}}</string>
                <key>offset</key>
                <string>{-26,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,152},{292,512}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0329.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,524},{290,534}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,131},{290,534}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0330.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,256},{272,540}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,125},{272,540}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{256,532}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,133},{256,532}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{240,524}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,140},{240,524}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,814},{210,504}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,160},{210,504}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1024},{202,496}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{202,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0335.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1440},{198,484}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,179},{198,484}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1254},{194,486}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,177},{194,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1044},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance3.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5378d6c5113511d55ee7b9cb3701ea4a:1d6445d8b76d1fb9eda04ee04e6c8352:fb71922e8ab7de3eefe8ad9cff7d704d$</string>
            <key>textureFileName</key>
            <string>dance3.png</string>
        </dict>
    </dict>
</plist>
