<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0450.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0451.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0452.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,0},{196,496}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,167},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0453.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,196},{222,486}}</string>
                <key>offset</key>
                <string>{20,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,170},{222,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0454.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,196},{212,478}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,173},{212,478}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0455.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,408},{198,474}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,177},{198,474}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0456.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{218,478}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,181},{218,478}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0457.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,196},{234,476}}</string>
                <key>offset</key>
                <string>{17,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,184},{234,476}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0458.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,418},{228,464}}</string>
                <key>offset</key>
                <string>{26,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,187},{228,464}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0459.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1042},{216,456}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,194},{216,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0460.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,606},{210,462}}</string>
                <key>offset</key>
                <string>{17,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,197},{210,462}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0461.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{252,460}}</string>
                <key>offset</key>
                <string>{21,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,199},{252,460}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0462.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1894},{230,440}}</string>
                <key>offset</key>
                <string>{15,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,210},{230,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0463.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1996},{218,440}}</string>
                <key>offset</key>
                <string>{20,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,210},{218,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0464.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1090},{216,454}}</string>
                <key>offset</key>
                <string>{21,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,209},{216,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0465.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1786},{222,448}}</string>
                <key>offset</key>
                <string>{24,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,210},{222,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0466.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1650},{244,450}}</string>
                <key>offset</key>
                <string>{35,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,209},{244,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0467.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1570},{254,450}}</string>
                <key>offset</key>
                <string>{39,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,209},{254,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0468.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1734},{262,448}}</string>
                <key>offset</key>
                <string>{43,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,211},{262,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0469.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1258},{264,450}}</string>
                <key>offset</key>
                <string>{44,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,210},{264,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0470.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1306},{264,450}}</string>
                <key>offset</key>
                <string>{45,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,210},{264,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0471.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1522},{264,450}}</string>
                <key>offset</key>
                <string>{45,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,210},{264,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0472.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1386},{264,450}}</string>
                <key>offset</key>
                <string>{45,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,210},{264,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0473.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1470},{264,450}}</string>
                <key>offset</key>
                <string>{45,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,210},{264,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0474.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1164},{222,452}}</string>
                <key>offset</key>
                <string>{16,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,211},{222,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0475.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1824},{222,442}}</string>
                <key>offset</key>
                <string>{8,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,214},{222,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0476.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,2008},{222,436}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,214},{222,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0477.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,946},{218,456}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,209},{218,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0478.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1704},{236,440}}</string>
                <key>offset</key>
                <string>{-25,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,210},{236,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0479.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1258},{224,446}}</string>
                <key>offset</key>
                <string>{-19,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,207},{224,446}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0480.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,732},{310,456}}</string>
                <key>offset</key>
                <string>{-34,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,202},{310,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0481.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1184},{286,450}}</string>
                <key>offset</key>
                <string>{-27,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,200},{286,450}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0482.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,816},{274,456}}</string>
                <key>offset</key>
                <string>{-43,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,198},{274,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0483.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,646},{300,460}}</string>
                <key>offset</key>
                <string>{-57,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,198},{300,460}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0484.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,430},{302,462}}</string>
                <key>offset</key>
                <string>{-58,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,196},{302,462}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0485.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,628},{304,462}}</string>
                <key>offset</key>
                <string>{-59,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,195},{304,462}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0486.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{214,488}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,174},{214,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0487.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,0},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance7.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca1a3da67add8352bed32bcb12645ba:cac22c751ac1d25ee5bfce80ac6473f8:5497fb02b4256c988789c49a00a4e3ff$</string>
            <key>textureFileName</key>
            <string>dance7.png</string>
        </dict>
    </dict>
</plist>
