<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0413.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1684},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0414.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1880},{194,474}}</string>
                <key>offset</key>
                <string>{3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,189},{194,474}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0415.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2136},{192,458}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,204},{192,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0416.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2098},{194,452}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,210},{194,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0417.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1936},{200,472}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,191},{200,472}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0418.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1730},{206,494}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,170},{206,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0419.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1422},{206,512}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,152},{206,512}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0420.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1216},{206,532}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,132},{206,532}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0421.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1272},{206,526}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,138},{206,526}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0422.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1478},{206,508}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,156},{206,508}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0423.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2074},{198,470}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,193},{198,470}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0424.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1908},{190,458}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,204},{190,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0425.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2098},{190,448}}</string>
                <key>offset</key>
                <string>{3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,214},{190,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2328},{190,436}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,226},{190,436}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0427.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2272},{190,438}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,224},{190,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0428.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2266},{190,452}}</string>
                <key>offset</key>
                <string>{4,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,210},{190,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0429.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1526},{204,502}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,164},{204,502}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,982},{234,544}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,129},{234,544}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0431.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,668},{274,588}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,91},{274,588}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0432.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{332,646}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,42},{332,646}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,0},{334,644}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,44},{334,644}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0434.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{336,638}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,50},{336,638}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,0},{334,628}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,63},{334,628}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0436.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,334},{332,624}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,69},{332,624}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0437.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,334},{328,618}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,76},{328,618}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0438.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,662},{320,602}}</string>
                <key>offset</key>
                <string>{20,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,91},{320,602}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0439.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,666},{316,594}}</string>
                <key>offset</key>
                <string>{20,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,98},{316,594}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0440.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{312,586}}</string>
                <key>offset</key>
                <string>{20,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,105},{312,586}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,982},{290,564}}</string>
                <key>offset</key>
                <string>{15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,123},{290,564}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0442.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1254},{272,548}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,134},{272,548}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0443.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,982},{256,532}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,146},{256,532}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1628},{232,506}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,165},{232,506}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0445.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1860},{216,492}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,175},{216,492}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0446.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,1706},{202,480}}</string>
                <key>offset</key>
                <string>{6,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,184},{202,480}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0447.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2076},{190,456}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,206},{190,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0448.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2292},{190,448}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,214},{190,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0449.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1514},{192,460}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,203},{192,460}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance6.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:863e6ade381c6be697ce42fd3ebe9efd:6c16d68b6d13734206596e66477436c0:f23f7b5f4e5ed9f3a05b8dfffc1a9028$</string>
            <key>textureFileName</key>
            <string>dance6.png</string>
        </dict>
    </dict>
</plist>
