<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0375.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2126},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0376.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2126},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0377.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2126},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0378.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,3610},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0379.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3608},{196,498}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,166},{196,498}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0380.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2520},{196,500}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,164},{196,500}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0381.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3390},{218,512}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,155},{218,512}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0382.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2950},{222,514}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,154},{222,514}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0383.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3172},{218,514}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,154},{218,514}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0384.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1388},{212,534}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,155},{212,534}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0385.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,460},{222,544}}</string>
                <key>offset</key>
                <string>{4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,154},{222,544}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0386.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,548}}</string>
                <key>offset</key>
                <string>{4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,155},{228,548}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0387.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{232,544}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,146},{232,544}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0388.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{242,536}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,141},{242,536}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0389.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1600},{246,530}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,140},{246,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0390.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2290},{232,524}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,147},{232,524}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0391.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2730},{220,516}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,153},{220,516}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0392.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2716},{208,506}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,161},{208,506}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0393.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3804},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0394.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2322},{198,500}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,165},{198,500}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0395.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2924},{206,508}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,159},{206,508}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0396.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1846},{226,530}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,141},{226,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0397.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,504},{232,538}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,134},{232,538}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0398.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{236,542}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,130},{236,542}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0399.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{228,536}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,135},{228,536}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0400.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2072},{218,528}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,141},{218,528}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2522},{208,518}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,148},{208,518}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{224,504}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,162},{224,504}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,3130},{236,504}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,167},{236,504}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,3366},{244,502}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,172},{244,502}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{252,500}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,178},{252,500}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,500},{248,498}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,179},{248,498}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1688},{244,494}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,180},{244,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1042},{226,488}}</string>
                <key>offset</key>
                <string>{2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,178},{226,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1268},{214,488}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,175},{214,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1482},{206,488}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,172},{206,488}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0411.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1932},{194,494}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,169},{194,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0412.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,3806},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance5.png</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aebe6e9fddf29e899a936efd31a3cf3:570cc9bf2b35162b6c80656339bfd4d5:ef38141984a258e04fa9aae526aca201$</string>
            <key>textureFileName</key>
            <string>dance5.png</string>
        </dict>
    </dict>
</plist>
