<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0338.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0339.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,0},{204,492}}</string>
                <key>offset</key>
                <string>{-7,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,172},{204,492}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,0},{216,486}}</string>
                <key>offset</key>
                <string>{-17,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,177},{216,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,196},{234,480}}</string>
                <key>offset</key>
                <string>{-27,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,182},{234,480}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,204},{272,464}}</string>
                <key>offset</key>
                <string>{-47,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,196},{272,464}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0343.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,438},{292,456}}</string>
                <key>offset</key>
                <string>{-58,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,203},{292,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0344.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,702},{308,448}}</string>
                <key>offset</key>
                <string>{-66,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,210},{308,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0345.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1194},{326,438}}</string>
                <key>offset</key>
                <string>{-76,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,220},{326,438}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1286},{332,434}}</string>
                <key>offset</key>
                <string>{-80,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,224},{332,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1288},{338,428}}</string>
                <key>offset</key>
                <string>{-83,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,230},{338,428}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0348.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1926},{346,418}}</string>
                <key>offset</key>
                <string>{-87,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,239},{346,418}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0349.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2132},{350,416}}</string>
                <key>offset</key>
                <string>{-89,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,241},{350,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0350.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1954},{352,412}}</string>
                <key>offset</key>
                <string>{-90,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,246},{352,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2272},{358,410}}</string>
                <key>offset</key>
                <string>{-92,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,248},{358,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2046},{360,410}}</string>
                <key>offset</key>
                <string>{-92,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,248},{360,410}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0353.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2202},{356,412}}</string>
                <key>offset</key>
                <string>{-89,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,246},{356,412}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1626},{328,420}}</string>
                <key>offset</key>
                <string>{-73,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,238},{328,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0355.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1618},{308,424}}</string>
                <key>offset</key>
                <string>{-62,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,234},{308,424}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1520},{290,432}}</string>
                <key>offset</key>
                <string>{-51,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,226},{290,432}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1010},{276,440}}</string>
                <key>offset</key>
                <string>{-22,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,218},{276,440}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0358.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,730},{270,444}}</string>
                <key>offset</key>
                <string>{-9,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,214},{270,444}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0359.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,934},{260,448}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,211},{260,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0360.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,476},{226,456}}</string>
                <key>offset</key>
                <string>{31,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,206},{226,456}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,216},{222,460}}</string>
                <key>offset</key>
                <string>{37,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,202},{222,460}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,430},{238,464}}</string>
                <key>offset</key>
                <string>{45,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,198},{238,464}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0363.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{294,462}}</string>
                <key>offset</key>
                <string>{74,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,198},{294,462}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0364.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,920},{318,448}}</string>
                <key>offset</key>
                <string>{86,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,210},{318,448}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0365.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1238},{334,434}}</string>
                <key>offset</key>
                <string>{95,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,224},{334,434}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1626},{326,420}}</string>
                <key>offset</key>
                <string>{90,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,238},{326,420}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1810},{322,422}}</string>
                <key>offset</key>
                <string>{87,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,238},{322,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0368.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1880},{322,422}}</string>
                <key>offset</key>
                <string>{87,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,239},{322,422}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0369.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1572},{308,430}}</string>
                <key>offset</key>
                <string>{76,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,230},{308,430}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0370.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1000},{288,442}}</string>
                <key>offset</key>
                <string>{66,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,220},{288,442}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,668},{266,452}}</string>
                <key>offset</key>
                <string>{53,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,209},{266,452}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{222,480}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,183},{222,480}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0373.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{208,486}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,177},{208,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0374.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{196,494}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,170},{196,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance4.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a1c07d4e90c4873d98dcc9f860f3a29:c832f07a4c5979517c9f11c47008f473:82ab17668a92542e4ba4b0334dd94d59$</string>
            <key>textureFileName</key>
            <string>dance4.png</string>
        </dict>
    </dict>
</plist>
