<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0488.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,0},{196,496}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0489.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,200},{216,484}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,179},{216,484}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0490.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{236,472}}</string>
                <key>offset</key>
                <string>{15,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,190},{236,472}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0491.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,758},{256,458}}</string>
                <key>offset</key>
                <string>{22,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,204},{256,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0492.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,964},{292,416}}</string>
                <key>offset</key>
                <string>{43,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,244},{292,416}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0493.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,992},{298,388}}</string>
                <key>offset</key>
                <string>{52,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,271},{298,388}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0494.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1014},{298,386}}</string>
                <key>offset</key>
                <string>{60,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,273},{298,386}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0495.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1094},{318,382}}</string>
                <key>offset</key>
                <string>{72,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,276},{318,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0496.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1290},{314,380}}</string>
                <key>offset</key>
                <string>{70,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,276},{314,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0497.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1312},{312,380}}</string>
                <key>offset</key>
                <string>{70,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,276},{312,380}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0498.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1560},{308,378}}</string>
                <key>offset</key>
                <string>{68,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,277},{308,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0499.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1730},{310,376}}</string>
                <key>offset</key>
                <string>{69,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,278},{310,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1868},{310,376}}</string>
                <key>offset</key>
                <string>{69,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,279},{310,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1634},{314,376}}</string>
                <key>offset</key>
                <string>{71,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,279},{314,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1412},{318,378}}</string>
                <key>offset</key>
                <string>{71,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,278},{318,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1256},{320,378}}</string>
                <key>offset</key>
                <string>{72,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,278},{320,378}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1604},{314,376}}</string>
                <key>offset</key>
                <string>{71,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,280},{314,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1918},{312,374}}</string>
                <key>offset</key>
                <string>{69,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,280},{312,374}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1624},{312,376}}</string>
                <key>offset</key>
                <string>{69,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,279},{312,376}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1936},{310,372}}</string>
                <key>offset</key>
                <string>{69,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,279},{310,372}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1948},{310,368}}</string>
                <key>offset</key>
                <string>{69,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,281},{310,368}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2178},{308,366}}</string>
                <key>offset</key>
                <string>{68,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,283},{308,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2230},{304,366}}</string>
                <key>offset</key>
                <string>{65,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,283},{304,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2040},{304,370}}</string>
                <key>offset</key>
                <string>{62,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,282},{304,370}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1256},{304,382}}</string>
                <key>offset</key>
                <string>{58,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,273},{304,382}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0513.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,692},{300,458}}</string>
                <key>offset</key>
                <string>{55,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,202},{300,458}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0514.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{290,484}}</string>
                <key>offset</key>
                <string>{57,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,176},{290,484}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0515.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{290,504}}</string>
                <key>offset</key>
                <string>{56,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,157},{290,504}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0516.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{288,500}}</string>
                <key>offset</key>
                <string>{56,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,160},{288,500}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0517.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,406},{286,480}}</string>
                <key>offset</key>
                <string>{55,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,178},{286,480}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0518.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,680},{284,460}}</string>
                <key>offset</key>
                <string>{55,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,196},{284,460}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0519.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,816},{278,454}}</string>
                <key>offset</key>
                <string>{53,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,202},{278,454}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0520.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,416},{264,466}}</string>
                <key>offset</key>
                <string>{45,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,192},{264,466}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0521.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,510},{248,476}}</string>
                <key>offset</key>
                <string>{38,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,183},{248,476}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0522.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,288},{222,486}}</string>
                <key>offset</key>
                <string>{24,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,176},{222,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0523.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,196},{210,490}}</string>
                <key>offset</key>
                <string>{18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,173},{210,490}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0524.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,0},{200,494}}</string>
                <key>offset</key>
                <string>{12,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,170},{200,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0525.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,0},{200,494}}</string>
                <key>offset</key>
                <string>{12,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,170},{200,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance8.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff8a496175e6c55e16df0313d6b3bc6e:3917e89cbaf9e559cdd8635174566d99:316cd57c35e5d880213ea3dc3a0c779d$</string>
            <key>textureFileName</key>
            <string>dance8.png</string>
        </dict>
    </dict>
</plist>
