<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Freds0263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0264.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1008},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0265.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,496},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0266.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,0},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0267.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1504},{196,496}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,167},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0268.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,494},{196,492}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,492}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0269.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,0},{196,490}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,490}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0270.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,0},{196,492}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,167},{196,492}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0271.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1488},{196,494}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,167},{196,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0272.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,992},{196,494}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0273.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,992},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0274.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,510},{196,498}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,166},{196,498}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1540},{196,500}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,164},{196,500}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0276.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,518},{198,512}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,152},{198,512}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0277.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{198,518}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,146},{198,518}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0278.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1662},{200,526}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,139},{200,526}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0279.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,578},{200,538}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,127},{200,538}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0280.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,578},{202,542}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,123},{202,542}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0281.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1120},{202,542}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,123},{202,542}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0282.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1170},{204,562}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,104},{204,562}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0283.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1170},{206,574}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,93},{206,574}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0284.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{216,578}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,89},{216,578}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0285.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{214,592}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,75},{214,592}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0286.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{206,578}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,88},{206,578}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0287.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1744},{210,562}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,103},{210,562}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0288.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{206,534}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,131},{206,534}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0289.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,534},{198,522}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,142},{198,522}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0290.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1030},{196,510}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,154},{196,510}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0291.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,496},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0292.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,490},{196,486}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,178},{196,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0293.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,0},{198,494}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,170},{198,494}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0294.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1056},{200,516}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,149},{200,516}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0295.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1116},{200,522}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,143},{200,522}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0296.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{198,510}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,154},{198,510}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0297.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0298.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>Freds0299.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{196,496}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,168},{196,496}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dance2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4d76f3d2ebb476f421abe097ebc3ca5:c36f906c6f8faa7e266aa650bcfbd9cb:c74a71f42ce7b2d884f8044408a93256$</string>
            <key>textureFileName</key>
            <string>dance2.png</string>
        </dict>
    </dict>
</plist>
